.modal:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 100;
}
.dialog {
    position: absolute;
    color: #fdc728;
    border-radius: 6px;
    z-index: 1000;
    background: #FFFFEF;
    overflow: hidden;
}
.modal-guide {
	height: auto !important;
}
.modal .btn-close {
    position: absolute;
    background: url(../images/icon-close.png) no-repeat 3px 3px;
    background-size: 17px auto;
    display: block;
    width: 20px;
    height: 25px;
    z-index: 10000;
}

.lottery-close{
    top: -15px!important;
    right:-15px!important;
}

.lottery-dialog{
    overflow: inherit;
}

.rule-dialog {
    padding-top: 10%;
    color: #333333;
    height: 90%;
    background: #fff9cd;
    border: 1px solid #ff6600;
    border-radius: 0px;
}
.rule-dialog h2 {
    height: 32px;
    text-align: center;
    color: #ff5e1d;
    font-size: 19px;
}
.rule-dialog .content {
	overflow-y: scroll;
    margin: 0% 6% 0;
    height: 70%;
    color: #ff5e1d;
}
.rule-dialog .rule {
    padding: 6% 0;
	
    font-size: 14px;
    line-height: 24px;
    max-height: 100%;
	min-height: 100%;
    overflow-y: auto;
}
.rule-dialog p {
	
}
.rule-dialog h3 {
    margin-top: 22px;

    font-size: 16px;
}
.rule li{
    font-size:12px;
    border-top: 1px solid #999999;
    padding-top: 10px;
    margin-bottom:10px;
}
.rule li span{
    color: #333333;
    margin: 5px 5px 0;
    line-height: 16px;
}
.rule li i{
    display: inline-block;
    margin-top: 4px;
    font-style: normal;
    width: 28px;
    height:28px;
    border-radius:14px;
    -webkit-border-radius:14px;
    background:#CE0A09;
    color:#fff;
    text-align:center;
    line-height: 28px;
}
.rule li label{
    color: #999999;
    float:right;
    margin-top: 5px;
}
/*.record-con:before,.record-con:after{
    content: '';
    border-top:none;
}*/
.dialog-copyright {
    position: absolute;
    bottom: 0px;
    left: -5px;
    right: -5px;
    font-size: 12px;
    transform: scale(0.7);
    text-align: center;
    color: #655B5B;
}

.guide-dialog .title{
    height: 20%;
    text-align: center;
    line-height: 70px;
    background: #ff8300;
    color: #fff;

}
.guide-dialog .guide-content {
    height: 80%;
    background: #fff;

}
.guide-dialog .guide-content .ellipsis{
    height: 20%;
    border-bottom: 1px solid #522900;
    line-height: 57px;
    margin: 0 20px;
    color: #ab5900;

}
.guide-dialog .guide-content .btn-try{
    background: url(../images/try-btn.png) 0 0 no-repeat;
    background-size: 100% auto;
    display: block;
    width: 56%;
    height: 20%;
    margin-top: 10%;
}

/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
}
/* iPhone5 */
@media screen
and (min-device-width : 320px)
and (min-device-height : 500px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
}
/*加载按钮 -s*/
.loader{
    margin: 0 auto;
    width: 72px;
}
.loader span{
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    background: #F26C0D;
    border-radius: 50px;
    margin: 0 2px;
    -webkit-animation: loader 1s infinite alternate;
    -moz-animation: loader 1s infinite alternate;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
}
.loader span:nth-of-type(4) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
.loader span:nth-of-type(5) {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
}
@-webkit-keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}
@-moz-keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

/*加载按钮 -e*/