body {
	overflow: hidden;
}
header a {
    color: #fc8e00;
    display: block;
    border: 1px solid #fc8e00;
    font-size: 14px;
    text-align: center;
    width: 70px;
    height: 26px;
    line-height: 24px;
    border-radius: 20px;
    margin: 6px auto 0;
    position: absolute;
    right: 9px;
    top: 5px;
}
.main {
	margin: 0 auto;
	color: #fff;
	overflow: hidden;
	padding-top: 80px;
}
.main a {
	display: block;
	margin: 0 auto;
	color: #fff;
}

.main .logo {
    display: block;
    width: 60%;
    margin: 5% auto 5%;
}
.main .city-logo {
    width: 32.5%;
    margin-left: 17.5%;
    margin-top: 3%;
    position: absolute;
}
.slideInDown {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slide;
    animation-name: slide;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
@-webkit-keyframes slide {
    0% {
        -webkit-transform: translate3d(-18%, -18%, 0);
        transform: translate3d(-18%, -18%, 0);
        visibility: visible;
        opacity: 0;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
.main .border {
    border: 1px solid #fc8e00;
    border-radius: 30px;
    width: 55%;
    height: 46px;
    line-height: 46px;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}
.main .border:hover {
	background: rgba(255, 255, 255, 0.3);	
}
.dst-logo{
    background: url(../images/logo.png) no-repeat 0 0;
    background-size: 100% auto;
    width: 18%;
    height: 57px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.tab {
    text-align: center;
    height: 35px;
    line-height: 35px;
    background: rgba(255, 255, 255,0.4);
    position: relative;
    left: 0;
    right: 0;
	-webkit-transform-style: preserve-3d !important;
	-webkit-backface-visibility: hidden;
}
.tab span {
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	height: 16px;
	line-height: 16px;
	margin: 0 10px;
	color: #fff;
	-webkit-backface-visibility: hidden;
}
.tab a {
	display: inline-block;
	vertical-align: middle;
	color: #DD9215;
	text-align: center;
	height: 16px;
	line-height: 16px;
	-webkit-backface-visibility: hidden;
}
.tab a:hover {
	text-decoration: underline;
}
.tab .jifen {
	position: relative;
}
.tab .jifen.news:after {
	content: '';
	display: block;
	width: 11px;
	height: 11px;
	background: #FFEF00;
	border-radius: 10px;
	position: absolute;
	right: -12px;
	top: -5px;
}
.main .apply{
	background: #fc8e00;
    margin-top: 7%;
}
.main .apply:after{
    content: '';
    background: url(../images/activity.png) 0 0 no-repeat;
    background-size: 100% auto;
    height: 100%;
    width: 50%;
    display: block;
    position: relative;
    margin: 7% auto;
}
.main .baoliao{
    background: #fc8e00;
    margin-top: 5%;
}
.main .baoliao:after{
    content: '';
    background: url(../images/baoliao.png) 0 0 no-repeat;
    background-size: 100% auto;
    height: 100%;
    width: 50%;
    display: block;
    position: relative;
    margin: 7% auto;
}
.main .photo {
  color: #FF6600;
    border: 1px solid #FF6600;
  border-radius: 30px;
  /* width: 180px; */
  width: 42%;
  height: 46px;
  line-height: 46px;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}
.copyright {
    color: #fc8e00;
    position: static;
    height: 30px;
}
#div_subscribe_area {
	width: 100%;
	height: 50px;
	overflow: hidden;
	position: relative;
	z-index: 9999;
}

.copyright2 {
	font-size: 10px;
	/*position: absolute;*/
	position: relative;
	color: #cc9900;
	height: 20px;
	line-height: 20px;
	/*一键关注调整*/
	/*bottom: 86px;*/
	text-align: center;
	clear: both;
	width: 100%;
}
.follow-box {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	zoom: 1;
	clear: both;
}

@media screen 
and (min-device-width : 360px) 
and (min-device-height : 1100px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
}

@media screen 
and (min-device-width : 360px) 
and (min-device-height : 1200px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
}
/* iPhone6 */
@media screen
and (min-device-width : 360px)
and (max-device-width : 667px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {

    .main .logo {
        width: 50%;
        margin: 0% auto 0%;
    }
    .main .apply {
        margin-top: 1%;
    }
    .main .baoliao {
        margin-top: 1%;
    }

    .main .city-logo {
        width: 27%;
        margin-left: 23.5%;
        margin-top: -5px;
        position: absolute;
    }
}
/* iPhone5 */
@media screen
and (min-device-width : 320px)
and (min-device-height : 570px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
}
/* mi2*/
@media screen
and (min-device-width : 720px)
and (max-device-height : 1280px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
    .main .city-logo {
        width: 32.5%;
        margin-left: 17.5%;
        margin-top: 2%;
        position: absolute;
    }
    .dst-logo {
        height: 63px;
    }
}

@media screen
and (min-device-width:1000px)
and (min-device-height:1000px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:3) {
    .dst-logo {
        height: 62px;
    }
    .main .logo {
        width: 55%;
    }
    .main .apply:after {
        margin: 5.5% auto;
    }
    .main .baoliao:after {
        margin: 5.5% auto;
    }
    .main .city-logo {
        width: 30%;
        margin-left: 21%;
        margin-top: 2.5%;
        position: absolute;
    }

}