body {
	background: url(../images/bg-body.jpg) repeat-y center 0;
	background-size: cover;
}

.main {
	margin: 0 auto;
	padding-top: 70px;
}

h2 {
    text-align: center;
	
    color: #FF6600;
    font-size: 20px;
}
h2:before {
	content: '';
display: inline-block;
vertical-align: middle;
background: url(../images/succ-yes.png) no-repeat 0 0;
background-size: 37px auto;
width: 38px;
height: 38px;
margin-right: 10px;
}
p {
    padding: 0 50px;
	margin-left: 15px;
    font-size: 14px;
    margin-top: 28px;
    line-height: 25px;
    color: #333333;
}
.jf-tip {
	line-height: 25px;
	margin-top: 3px;
}
.dst-logo{
background: url(../images/logo.png) no-repeat 0 0;
background-size: 58px auto;
width: 68px;
height: 58px;
position: absolute;
top: 10px;
left: 6px;
}
