body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 { 
	font-family: 'Microsoft YaHei','宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
html{
	height: 100%;
	min-height: 100%;
}
body{
	height: auto;
	min-height: 100%;
	background: url(../images/bg.jpg) no-repeat;
	background-size: cover;
	position: relative;
}
a,a:focus {
	outline: 0 none;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.ellipsis {
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
}
.noscroll {
	overflow: hidden !important;
}
.none {
	display: none !important;
}
.hidden {
	visibility: hidden !important;
}
.btn-red {
	display: block;
	width: 66%;
	height: 50px;
	line-height: 50px;
	background: #2B96DE;
	border-radius: 30px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
.btn-back {
    display: block;
    width: 66%;
    height: 50px;
    line-height: 50px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 20px auto;
    background: #ff6600;
}
.btn-back:hover {
	background: #FA0000;
}
.btn-back-simple {
    display: block;
    height: 43px;
    line-height: 43px;
    border-radius: 10px;
    color: #FF6600;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 18px auto 20px;
    background: none;
}
.btn-back-simple:hover {
    text-decoration: underline;
}

.btn-loadmore {
	height: 50px;
	line-height: 50px;
	color: #666666;
	font-size: 12px;
	display: block;
	border-radius: 30px;
	margin-top: 20px;
	text-align: center;
	margin: 20px auto 10px;
	width: 66%;
}
.btn-loadmore i {
	visibility: hidden;
}
.btn-loadmore.loading i {
	visibility: visible;
	display: inline-block;
	vertical-align: middle;
	background: url(http://yao.holdfun.cn/portal/resources/news/images/loading.png) no-repeat 0 -1px;
	background-size: 15px auto;
	width: 15px;
	height: 16px;
	margin-right: 6px;
	-webkit-animation-name: loading;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes loading {
	0%   {-webkit-transform: rotate3d(0, 0, 1, 0deg);}
	100%   {-webkit-transform:rotate3d(0, 0, 1, 360deg);}
}

.share-box {
	width: 100%;
	height: 100%;
	position: fixed;
	background: url(http://yao.holdfun.cn/portal/resources/news/images/sharebg.png) no-repeat right 4px rgba(0,0,0,0.5);
	z-index: 9999999;
	background-size: 320px auto;
	top: 0;
	left: 0;
}
.share-box .back_btn {
	position: absolute;
	left: 10px;
	top: auto;
	bottom: 5px;
	border: 0;
	width: 31px;
	height: 31px;
	background: url(http://yao.holdfun.cn/portal/resources/news/images/back.png) no-repeat center center;
	display: block;
}
.share-box .refresh_btn {
	width: 31px;
	height: 31px;
	background: url(http://yao.holdfun.cn/portal/resources/news/images/ref.png) no-repeat center center;
	display: block;
	position: absolute;
	top: auto;
	right: 10px;
	bottom: 5px;
}

.spinner {
	position: fixed;
	max-width: 360px;
	margin: 0 auto;
	text-align: center;
}
.spinner .spinner-wrapper {
	width: 50px;
	height: 50px;
	position: relative;
	margin: 0 auto;
}
 
.container1 > div, .container2 > div, .container3 > div {
  width: 10px;
  height: 10px;
  background-color: #888;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
 
.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
 
.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
 
.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }
 
.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
 
.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
 
.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
 
.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
 
.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
 
.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
 
.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
 
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
	0%, 80%, 100% { 
    	transform: scale(0.0);
    	-webkit-transform: scale(0.0);
  	} 
  	40% { 
    	transform: scale(1.0);
    	-webkit-transform: scale(1.0);
  	}
}

.spinner-loading {
	height: 20px;
	width: 20px;
	margin: 0px auto;
	position: relative;
	-webkit-animation: loading-rotation 1s infinite linear;
	animation: loading-rotation 1s infinite linear;
	border-left: 4px solid rgba(243, 81, 114, 0.15);
	border-right: 4px solid rgba(243, 81, 114, 0.15);
	border-bottom: 4px solid rgba(243, 81, 114, 0.15);
	border-top: 4px solid rgba(239, 0, 48, 0.8);
	border-radius: 100%;
}

@-webkit-keyframes loading-rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@keyframes loading-rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

.copyright {
	font-size: 10px;
	position: absolute;
	color: #cc9900;
	height: 20px;
	line-height: 20px;
	bottom: 0px;
	text-align: center;
	clear: both;
	width: 100%;
	
}
.btn {
	display: block;
	vertical-align: middle;
	width: 240px;
	height: 45px;
	line-height: 44px;
	border-radius: 38px;
	background: #FF6600;
	color: #fff;
	font-size: 16px;
	text-align: center;
	margin: 0 auto;
}

/*sign-button star*/
.butt-loading .butt-wrapper {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto;
}

.butt-loading .butt-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*sign-button end*/

.lodd{
    position:static;
    margin-top: 20px;
}
/*新loading_S 2015年6月25日14:36:51*/
.new-spinner {
	position:fixed;
	z-index:9999;
	width:146px;
	overflow:hidden;
	min-height:146px;
	left:50%;
	top: calc((100% - 146px)/2);
	top: -webkit-calc((100% - 146px)/2);
	margin-left:-73px;
	color:#686868;
	font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","黑体",Arial,sans-serif;
	font-size:14px;
	line-height:19.6px
}
.new-spinner .new-overlay {
	position:absolute;
	width:100%;
	height:100%;
	background:#000;
	background:rgba(0,0,0,.5);
	top:0;
	left:0;
	text-align:center;
	display:none;
	cursor:default
}
.new-spinner .new-overlay {
	display:block;
	-webkit-border-radius:12px;
	border-radius:12px;
	-webkit-background-clip:padding-box;
	background-clip:padding-box
}
.new-spinner .new-spinner-inner {
	position:relative;
	overflow:hidden;
	z-index:999;
	text-align:center
}
.new-spinner .new-spinner-spinner {
	height:0;
	padding-top:35px;
	width:35px;
	overflow:hidden;
	margin:30px auto;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEMAAABDCAMAAADwFEhBAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAI3UExURQAAAP///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////2m75XIAAAC9dFJOUwBeR49GdshFFkwmqj3mAUiCAkngHgMEEQYIRA8ZGjZCEwkFMOc0PpBDrCkHXyUsOmJgHBcNOx8SlT8zYSCvMlaNITUtXSKRT5MbEI60Qa6D320OFCpjKDdqkgpLTXCBrUCY6n/y7B0r5X2+4XfRC1cuXJY5FVNZs5RKUrGEZFDteus88HP17rWnqeiy8cDVdHvFylqIoVExJFWjL4o4bid5DGW92lR4v5txGKhs3ZcjzGaMfKKZt/bcyW+61tDThioAAASeSURBVFjD3ZflXxtJGIB3NwtLdJtt3N2VBBI8OBQrbbHSoqVQKFd3b68ud+25u7vrH3czs5BNQpLNJXy4372fZnZmn3113lkMKyqyYOqvVFCGVSL60Wd/PxvVV8SwP12vXn9qr4gh2V1dXb1b8i/f0s7hdjnH2AkYOzmGTHL9jJUPER/13rt/QFWAobmysub4Uc3DuClu8Q7fFxVgtK7ccCyt9PIw6F+9YvHDqg/yMvS/3JJKHb/hPIzQ/EOxWDw4kZdBPJJKpXe+D/M5JHIXKDIr0OdhWD5bAGrcXuSNy3epc0CRc6/mYUwCS6SHPurkD+7F4VkAeSW2haH4GCAWbkyWkCCWmUHAGB7dwkgtQDW++rKULHO92QIg4n1ovAYYay44nAAE6dI3F0vKVFXVJeBW72VbVq7bhh3AodfmNYVe29/oEnEz3+eXAEMMv768+uSPJ6vLYHTVARh31p3ctoTCYMuokRMD8zOfHE7Pf/ACRcSXwcja9vj3x22wQloA4oFjJL1nz7iLoULposBMgj73+ZOfEns25qeTwCOzA8gwk9CENq4+kEqvVfdvFk53mCYogjKmGVdTboHAnex5952NB2TL3cHB6Sxzmx4dur10dmNidJI0BUTHeWB8YEoApCf59pUg61bzT4sX/Nkui977uY21X2330CREkLq96XXl3MB5CBFM9Y0cYys7YZHn+F1uYNNOu6+BICABmFKfsUnV/OHJHkTpcy/elBc7pGslJEsgabs+e6f1rfeTCOLumzpVDEESJKtEXY1qy2qcfJlV5dvJXQUZ/kaGVcLcnjfZ5Hu7BG4QoOTXhRlaJ4oHFbLKCnakg4CSbCjck2T1MCKmoieqvOOL63OaIhuUijqTsbK+9x8X7WERJ0GjkvcF+a6aDFGDLIl5XtiRlpEdB50aHoRSYRYeEKZFJ4pjbUdfrMqQI8838523HjbNNoQmW7E/jxzNZFTNHOdh1E6TmQyKGdoWPbbDH9sRl/+vyLsv9PqUFdVtjMHxQJOv/PNDFpd0BXAcjxDPlXuOaTvPQgKOj1H7yztPNYreCCIEotFgWee68rQnwirRFDjzXln9Rb7c1YQI0aZjp1hn+LW5Bsu0/mJ9ztgVRWZEXjIbWGh/o1OhzAmqs7GffSXxWp5+23ECIiJRYtMTtSRD04oshoKmGbK2cN9/HY8GImO9x7WbjVMClCXRVVZm6bcgq8Lgy4TEyt0/mOz7h02Cj70xYeEuUxRU1cQW+rQZWWWCulM+7h7ky74HYf7ucQM3Uzcgn8EnejNDMWZ4aTYgLzaoC93HcmrGDhGkCTqwRgiGwhr41AR1I+zykurO4EFqoC9yDEyNFPEYSkH4O2A6k+ytPIOBdUJFmA5/CYx2Eu4dsm5hWIcgm2wv4W80DCNPb5zumQysGa2E+f9UfciSOk0ehqYOWePjQyRc0KF0DMvDwGJQEcKV4GEoGBRBVV6GCkWdUfAFFiQwqUubnM3A9DoSrPOF1xaidFS9rABDVg9WQzY+hyiNIgt3dOQwQAmKSuiE2ZLLKEfUOpqideqKGDYRxVAiW0UMLN461Brn2fMPQf3HLhmDwEUAAAAASUVORK5CYII=);
	background-size:35px;
	background-repeat:no-repeat;
	-webkit-animation-name:spinner_rotate;
	-webkit-animation-duration:1.8s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear
}
.new-spinner .new-spinner-text {
	color:#fff;
	font-size:16px;
	padding:0 5px 5px
}
@-webkit-keyframes spinner_rotate {
	from {
		-webkit-transform:rotate(0deg)
	}
	to {
		-webkit-transform:rotate(360deg)
	}
}
/*新loading_E 2015年6月25日14:36:51*/