*{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    /*background: url(../images/talk-bg.jpg) no-repeat;*/
    /*background-size: 100% auto;*/
    /*background-position: 0 0;*/
    /*background-attachment: fixed;*/
    overflow: hidden;
}
.talkbg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: url("../images/index-bg.jpg") no-repeat;
    background-size: 100% 100%;
}

.back-btn{
    display: block;
    background: url(../images/talk-back.png) 0 0 no-repeat;
    background-size: 100%;
    width: 20%;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.chkbox{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    z-index: 1300;
}
.chkbox>div{
    position: relative;
    height: 100%;
    width: 50%;
    float: left;
    background-color: #652d15;
    text-align: center;
    line-height: 45px;
    color: #ffffff;
}
.handimg{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 5px;
    left: 10px;
    border-radius: 35px;
}
.chkbox>.r{
    /*text-align: center;*/
    background-color: #d3b466;
    border-top: 1px solid #652d15;
}
.chkbox>.l{
}
.chkbox>img{
    position: absolute;
    width: 50%;
    top: -5px;
    height: 5px;
    left: 0;
}
.r>img,.l>img{
    position: absolute;
    width: 35px;
    height: 25px;
    top: 10px;
}

/*.footer{*/
    /*display: block;*/
    /*position: fixed;*/
    /*width: 100%;*/
    /*background: #d3b466;*/
    /*height: 45px;*/
    /*padding-top: 5px;*/
    /*float: left;*/
    /*bottom: 45px;*/
    /*z-index: 1200;*/
/*}*/
/*.footer input{*/
    /*width: 66%;*/
    /*margin-left: 55px;*/
    /*background: #652d15;*/
    /*color: #ffffff;*/
    /*border: none;*/
    /*height: 35px;*/
    /*border-radius: 7px;*/
    /*display: inline-block;*/
    /*float: left;*/
    /*padding-left: 5px;*/
/*}*/
/*.footer a{*/
    /*display: inline-block;*/
    /*/!*background: #00a4b4;*!/*/
    /*width: 18%;*/
    /*margin-left: 10px;*/
    /*height: 35px;*/
    /*position:absolute;*/
    /*right: 1%;*/
    /*line-height: 33px;*/
    /*padding-left: 10px;*/
    /*/!*border-bottom-right-radius: 7px;*!/*/
    /*/!*border-top-right-radius: 7px;*!/*/
    /*/!*color: #fff;*!/*/
/*}*/
/*.footer a>img{*/
    /*width: 90%;*/
    /*height: 100%;*/
/*}*/
.talkroom{
    margin-top: 38px;
}

.talkroom .talk-title{
    background: #fff;
    border: 5px solid #00a4b4;
    margin-left: 5%;
    width: 90%;
    border-radius: 10px;
}
.talkroom .talk-title img{
    display: inline-block;
    width: 20%;
    border-radius: 35px;
    border: 3px solid #d4d4d4;
    margin-top: 2%;
    margin-left: 5%;
}
.talkroom .talk-title .content{
    display: inline-block;
    max-width: 70%;
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 5%;
}
.talkroom .talk-title .content .per{
    color: #00464d;
    font-size: 14px;
}
.talkroom .talk-title .content .que{
    color: #007a86;
}

.topic{
    position: absolute;
    width: 90%;
    left: 5%;
    text-align: left;
    bottom: 61%;
    font-size: 15px;
    color: #666666;
    z-index: 3;
}
.body{
    position: absolute;
    width: 90%;
    left: 50%;
    margin-left: -45%;
    /*margin-left: 5%;*/
    /*float: left;*/
    /*border: 1px solid #00aff0;*/
    /*margin-top: 3%;*/
    height: 50%;
    bottom: 55px;
    overflow-y: auto;
    z-index: 1000;
}
.content{
    width: 100%;
}
.content li{
    position: relative;
    margin-bottom: 8px;
    overflow: hidden;
}
.content .welcome{
    display: inline-block;
    width: auto;
    margin-top: 8px;
    height: 26px;
    padding: 0 15px 0 15px;
    line-height: 26px;
    border-radius: 15px;
    background-color: #e0e0e0;
    color: #c0719a;
    text-align: center;
    font-size: 14px;
}
.content .DATE{
    display: inline-block;
    width: auto;
    margin-top: 15px;
    height: 26px;
    padding: 0 15px 0 15px;
    line-height: 26px;
    border-radius: 15px;
    background-color: #c6c6c6;
    color: #666666;
    text-align: center;
    font-size: 14px;
}
.content li .ron{
    position: relative;
    display: inline-block;
    width: 75%;
    font-size: 14px;
}
.content li .ron p{
    color: #666666;
    font-size: 13px;
    margin-left: 15px;
}
.content li .ron .tar{
    width: 100%;
    text-align: right;
    color: #a01d61;
    margin-left: 0;
    padding-right: 15px;
}
.content li img{
    position: relative;
    width: 44px;
    border-radius: 30px;
    display: inline-block;
}
.content li .triangle {
    position: relative;
    display: inline-block;
    float: left;
    margin-top: 7px;
    margin-left: 5px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-left: none;
    border-right: 8px solid #dadada;
}
.content li .triangle-top{
    position: relative;
    display: inline-block;
    float: left;
    margin-top: 23%;
    margin-left: -13%;
    width: 0;
    height: 0;
    overflow: hidden;
    border-bottom: 8px solid #fff;
    border-top: none;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.content li .triangle-right{
    position: relative;
    display: inline-block;
    float: right;
    margin-top: 7px;
    margin-right: 2%;
    width: 0;
    height: 0;
    overflow: hidden;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right: none;
    border-left: 8px solid #a01d61;
}
.content li .article {
    max-width: 85%;
    display: inline-block;
    zoom: 1;
    padding: 5px 10px;
    background: #dadada;
    border-radius: 5px;
    color: #666666;
    word-break: break-all;
}
.me{
    float: right;
    /*margin-right: 2%;*/
}
.container{
    position: absolute;
    width: 100%;
    top: 30%;
    text-align: center;
    z-index: 5555;
}
.container p{
    margin: 20% auto 0;
}
.content li .article-right {
    max-width: 85%;
    display: inline-block;
    zoom: 1;
    padding: 5px 10px;
    background: #a01d61;
    border-radius: 5px;
    color: #fff;
    word-break: break-all;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.mesg-tip{
    display: block;
    position: absolute;
    bottom: 45px;
    color: #000000;
    /*background: rgba(0,0,0,.7);*/
    background-color: #ffffff;
    border-radius: 8px;
    width: 80px;
    right: 5%;
    height: 36px;
    line-height: 36px;
    /*background: url("../images/talk-havenew.png") no-repeat;*/
    /*background-size: 100% 100%;*/
    text-align: center;
    opacity: 0;
    z-index: 1600;
}
.btn-tolottery{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    background: url("../images/talk-tolottery.png") no-repeat;
    background-size: 100% 100%;
}
.btn-rank{
    position: relative;
    display: inline-block;
    float: right;
    margin: 5px;
    width: 60px;
    height: 40px;
    background: url("../images/btn-rank.png") no-repeat;
    background-size: 100% 100%;
}
.queshow{
    position: fixed;
    width: 100%;
    top: 68px;
    height: 100px;
    z-index: 50;
    /*background-color: #00aff0;*/
}
.queshow>img{
    width: 100%;
}
.queshow>.queshow-que{
    position: absolute;
    top: 20px;
    height: 30px;
    line-height: 30px;
    color: #652d15;
    width: 40%;
    left: 30%;
    overflow-x: hidden;
}
.queshow>.goque{
    position: absolute;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    top: 20px;
    right: 10%;
    display: none;
    color: #f5f5f5;
    background-color: #652d15;
}
.linkout{
    position: absolute;
    height: 26px;
    top: 15px;
    right: 40px;
    z-index: 1290;
    width: 20px;
    background: url("../images/linkout.png") no-repeat;
    background-size: 100% 100%;
}
.footer{
    display: block;
    position: fixed;
    width: 100%;
    background: transparent;
    height: 45px;
    padding-top: 5px;
    float: left;
    bottom: 0;
    z-index: 1200;
}
.footer input{
    width: 65%;
    margin-left: 55px;
    background: #FFF;
    color: black;
    border: none;
    height: 35px;
    border-radius: 7px;
    display: inline-block;
    float: left;
    padding-left: 5px;
}
.footer ::-webkit-input-placeholder{
    color: #acacac;
}
.footer a{
    display: inline-block;
    /*background: #00a4b4;*/
    width: 40px;
    margin-left: 10px;
    height: 35px;
    position:relative;
    line-height: 33px;
    float: left;
    /*padding-left: 10px;*/
    /*border-bottom-right-radius: 7px;*/
    /*border-top-right-radius: 7px;*/
    /*color: #fff;*/
}
.footer a>img{
    width: 100%;
    height: 100%;
}
.handimg{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 5px;
    left: 10px;
    border-radius: 35px;
}
@-webkit-keyframes picshake {
    0%{

    }
    20% {
        -webkit-transform: rotate(45deg);
    }
    10%,30% {
        -webkit-transform: rotate(-45deg);
    }
    40%{
        -webkit-transform: rotate(0deg);
    }
}
/* iPhone4 */
@media screen
and (min-device-width:320px)
and (max-device-height:500px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:2) {
    .body {
        height: 46%;
    }
    .topic{
        bottom: 59%;
    }
    .mesg-tip{
        z-index: 1600;
    }
}

