body {
    background: url(../images/bg.jpg) repeat-y center 0;
    background-size: cover;
}

.main {
    margin: 0 auto;
    padding: 20px 12px 0;
    color: #fff;
    overflow: hidden;
}
.lottery {
    position: relative;

    width: 296px;
    height: 296px;
    margin: 0 auto;
    overflow: hidden;
}
.btn-lottery {
    position: absolute;

    left: 84px;
    top: 84px;
    width: 128px;
    height: 128px;
}
.box {
    margin-top: 25px;

}
.box h2 {
    color: #ec0707;

    text-align: center;
    font-size: 20px;
}
.box h3 {
    color: #333;

    font-size: 14px;
    margin-top: 22px;
}
.box p {

}
.box input {
    margin-top: 6px;

    width: 100%;
    height: 46px;
    border: 1px solid #CCCCCC;
    padding: 0 3px;
}
.btn-red {
    margin: 30px auto 0;
}
.win_prize_tip{
    color: #3e3e3e;
    font-size: 12px;
}

.loading-btn{
    background: #ccc;
    color: #fff;
}
.address{
    color: #333;
    font-size: 14px;
    margin: 10px 0 0 10px;
    line-height: 20px;
}