body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    background: url(../images/bg.jpg) no-repeat;
    background-size: 100% 100%;
}
.logo{
    margin: 2vh 0 0 3vw;
}
.ctrls {
    position: absolute;
    top: 3.5vh;
    right: 3vw;
}
.fadeInDown {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.theme{
    margin: 15vh auto;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.zoomIn{
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}
@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}
.btn-go{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 14%;
    margin: 0 auto;
    width: 320px;
    height: 86px;
    line-height: 87px;
    background: url(../images/go.png) no-repeat;
    background-size: 320px 87px;
    font-size: 40px;
    color: #FFF!important;
    text-align: right;
    font-weight: bold;
    padding-right: 9%;
}
.btn-go:before{
    content: '';
    display: inline-block;
    background: url(../images/bottle.png) no-repeat;
    background-size: 40px 152px;
    width: 40px;
    height: 152px;
    position: absolute;
    top: -89%;
    left: 17%;
    -webkit-transform-origin: center bottom;
    animation: move 2s ease infinite;
    -webkit-animation: move 2s ease infinite alternate;
}
@-webkit-keyframes move {
    0%{
        -webkit-transform: rotateZ(10deg);
    }
    100%{
        -webkit-transform: rotateZ(-10deg);
    }
}