body {
}
header{
    position: absolute;
    top: 8px;
    left: 10px;
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
    z-index: 1;
}
header .logo{
    width: 85px;
    float: left;
}
header .sign{
    margin-top: 5px;
    width: 82px;
    float: right;
}
.wait{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../images/wait-bg.jpg) no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.wait .item{
    margin-top: 40%;
    width: 84%;
}
@keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.wait .detai{
    width: 65%;

}
.vote-info{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../images/vote-info-bg.jpg) no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
.group{
    background: url(../images/hj.png) no-repeat;
    background-size: 100% 100%;
    width: 80%;
    margin: 18% auto 0;
    padding: 10px 7%;
    padding-top: 8%;
    position: relative;
}
.group:after{
    display: block;
    content: '';
    background: url(../images/big-hua.png) no-repeat;
    background-size: 100% auto;
    width: 80px;
    height: 78px;
    position: absolute;
    top: -4%;
    right: -13%;
}
.group .xw-headimgurl{
    width: 80px;
    height: 80px;
    border: 1px solid #111618;
    border-radius: 40px;
    margin-left: 10px;
    float: left;
}
.group .xw-name{
    color: #9C0000;
    display: inline-block;
    font-size: 15px;
    width: 55%;
    vertical-align: top;
    margin: 15% 0 0;
    text-align: left;
    padding-left: 5px;
    text-overflow: ellipsis;
    display : -webkit-inline-box;
    -webkit-line-clamp : 1;
    -webkit-box-orient : vertical;
    overflow : hidden;
}
.group .bw-img{
    clear: both;
    max-height: 200px;
    max-width: 80%;
    margin: 0 auto;
    display: block;
    padding-top: 5%;
    padding-bottom: 5%;
}
.group .bw-name{
    font-size: 17px;
    color: #9C0000;
    font-weight: bold;
}
.button{
    width: 65%;
    margin: 0 auto;
    -webkit-column-count: 2;
}
h2{
    font-size: 12px;
    color: #463B3B;
    margin: 2px auto;
}
.num{
    color: #463B3B;
    font-size: 17px;
}
.num label{
    font-size: 18px;
    color: #DC0000;
    position: relative;
}
.zc,.not-zc{
    display: inline-block;
}
.zc img{
    width: 85px;
}
.not-zc img{
    width: 82px;
}
.vote-info .num label.zan:before{
    content: "+1";
    display: block;
    color: #DC0000;
    position: absolute;
    font-weight: bold;
    top: -22px;
    left: 12px;
    -webkit-animation-name:zan;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count:1;
    -webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes zan {
    from {
        opacity:0;
        -webkit-transform:scale(0.5);
        transform:scale(0.5);
    }
    to {
        opacity:1;
        -webkit-transform:scale(1.5);
        transform:scale(1.5);
    }
}
.cz-hb{
    width: 9%;
}
footer {
    position: absolute;
    bottom: 0;
    max-height: 84px;
    width: 100%;
}
#div_subscribe_area {
    height: 50px;
    overflow:hidden;
}
.copyright {
    padding: 5px 0 3px;
    height: auto;
    position: static;
}
.wait-copy{
    background: rgba(0, 0, 0, .8);
}
.vote-copy{
    color: #145699;
}
@media screen and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .group {
        margin: 15% auto 0;
    }
    .group .bw-img {
        max-height: 120px;
        padding-top: 1%;
        padding-bottom: 2%;
    }
}
/* iPhone5 */
@media screen and (min-device-height : 500px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
    .group .bw-img {
        max-height: 160px;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .group .xw-headimgurl {
        width: 70px;
        height: 70px;
        border-radius: 35px;
    }
}
/* iPhone6 */
@media screen and (min-device-width : 360px)
and (max-device-width : 667px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
}
/* luo */
@media screen and (min-device-width : 1000px)
and (min-device-height : 1000px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .group {
        margin: 15% auto 0;
    }
    .group .bw-img {
        max-height: 160px;
        padding-top: 1%;
        padding-bottom: 2%;
    }
}
/* mi2*/
@media screen and (min-device-width : 720px)
and (max-device-height : 1280px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
}
/* iPhone6plus */
@media screen and (min-device-width : 400px)
and (max-device-width : 740px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
}