body{
    overflow: hidden;
}
header{
    background: url(../images/hbdanmu-top.jpg) repeat-x;
    background-size: cover;
    color: #fff;
    font-size: 12px;
    padding: 5% 3%;
}
header a{
    display: inline-block;
    float: right;
}
article {
    background-image: url(../images/hbcomment-bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    position: relative;
}
article .comments {

}
article .ctrls {
    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-top: 1px solid rgba(255,255,255,0.8);
    background: rgba(0,0,0,0.2);
}
.ctrls p {
    margin: 8px 60px 0 8px;
}
.ctrls p input {
    width: 100%;
    height: 33px;
    border: none;
    border-radius: 4px;
    padding: 0 3px;
    background: url(../images/hbctrl-bg.png) no-repeat;
    background-size: 100% 100%;
    color: #fff;
    outline: none;
}
.ctrls p input.error {
    border: 1px solid #f00;
}
.ctrls a {
    display: inline-block;
    vertical-align: middle;
    width: 44px;
    height: 33px;
    line-height: 33px;
    background: rgba(255,255,255,0.3);
    border: 1px solid #fff;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    position: absolute;
    right: 12px;
    bottom: 10px;
}
