body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 { 
	font-family: 'Microsoft YaHei','宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
a,a:focus {
	outline: 0 none;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.ellipsis {
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
}
.noscroll {
	overflow: hidden !important;
	height: 100%;
}
.none {
	display: none !important;
}
.hidden {
	visibility: hidden !important;
}
.hide {
	opacity: 0 !important;
}
.zlow {
	z-index: -1 !important;
}

.share-box {
	width: 100%;
	height: 100%;
	position: fixed;
	background: url(http://yao.holdfun.cn/portal/resources/news/images/sharebg.png) no-repeat right 4px rgba(0,0,0,0.5);
	z-index: 9999999;
	background-size: 320px auto;
	top: 0;
	left: 0;
}

.spinner {
	position: absolute;
	max-width: 360px;
	margin: 0 auto;
	text-align: center;
	z-index: 1000;
}
.spinner .spinner-wrapper {
	width: 50px;
	height: 50px;
	position: relative;
	margin: 0 auto;
}
 
.container1 > div, .container2 > div, .container3 > div {
	width: 10px;
	height: 10px;
	background-color: #999;
	border-radius: 100%;
	position: absolute;
	-webkit-animation: bouncedelay 1.2s infinite ease-in-out;
	animation: bouncedelay 1.2s infinite ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 
.spinner .spinner-container {
	position: absolute;
	width: 100%;
	height: 100%;
}
 
.container2 {
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}
 
.container3 {
	-webkit-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
}
 
.circle1 { 
	top: 0; 
	left: 0;
}
.circle2 { 
	top: 0; 
	right: 0;
}
.circle3 { 
	right: 0; 
	bottom: 0;
}
.circle4 { 
	left: 0; 
	bottom: 0;
}
 
.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
 
.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
 
.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
 
.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
 
.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
 
.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
 
.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
 
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
	0%, 80%, 100% { 
    	transform: scale(0.0);
    	-webkit-transform: scale(0.0);
  	} 
  	40% { 
    	transform: scale(1.0);
    	-webkit-transform: scale(1.0);
  	}
}

.spinner-loading {
	height: 20px;
	width: 20px;
	margin: 0px auto;
	position: relative;
	-webkit-animation: loading-rotation 1s infinite linear;
	animation: loading-rotation 1s infinite linear;
	border-left: 4px solid rgba(243, 81, 114, 0.15);
	border-right: 4px solid rgba(243, 81, 114, 0.15);
	border-bottom: 4px solid rgba(243, 81, 114, 0.15);
	border-top: 4px solid rgba(239, 0, 48, 0.8);
	border-radius: 100%;
}

@-webkit-keyframes loading-rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@keyframes loading-rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

.copyright {
	font-size: 10px;
	bottom: 0px;
	width: 100%;
	color: #fff;
	height: 28px;
	line-height: 13px;
	text-align: center;
	position: absolute;
	-webkit-transform: scale(0.9);
	opacity: 0.6;
}

.btn {
	display: block;
	vertical-align: middle;
	width: 95px;
	height: 22px;
	line-height: 22px;
	background: url(../images/hb-btn.png) no-repeat;
	background-size: cover;
	color: #FCD761;
	font-size: 12px;
	text-align: center;
}

.vote a.btn-disabled {
	background: #858585!important;
}
