.dialog {
    position: absolute;
    color: #fdc728;
    border-radius: 6px;
    z-index: 1000;
    background: url(../images/hbrule.png) no-repeat 0 0;
    background-size: 100% 100%;
}
/*.dialog .border:before {
	content: '';
	display: block;
	width: 110%;
	height: 2px;
	margin: 0 -5%;
	background-image: -webkit-linear-gradient(left, transparent 0%, #561817 40%, #561817 60%, transparent 100%);
	background-image: linear-gradient(to right, transparent 0%, #561817 40%, #561817 60%, transparent 100%);
}*/
.dialog-res {
    position: absolute;
    color: #fdc728;
    border-radius: 6px;
    z-index: 1000;
    background: url(http://cdn.holdfun.cn/ahtvcomedian/images/material/bg.jpg) no-repeat 0 0;  background-size: cover;
    overflow: hidden;
}
.dialog-inner {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	height: 100%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}
.modal-guide {
	height: auto !important;
}
.modal .btn-close {
    position: absolute;
    background: url(../images/hbicon-close.png) no-repeat 0px 3px;
    background-size: 23px auto;
    display: block;
    width: 23px;
    height: 23px;
    z-index: 10000;
}

.modal:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 100;
}


.rank-dialog {
    color: #D4C7A0;

}
.rank-dialog h2 {
    position: absolute;
    width: 48%;
    color: #FFF;
    text-indent: -9999%;
    text-align: center;
    font-size: 20px;
    padding: 6% 0;
    background: url(../images/hbrank-tlt.png) no-repeat;
    background-size: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -20px;
}
.rank-dialog .infor{
    color: #fff;
    font-size: 12px;
    -webkit-transform: scale(0.9);
    display: block;
    position: relative;
    top: 37px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 2px solid #B9A25D;
}
.rank-dialog .list {
    height: 80%;

}
.rank-dialog .border {
    margin: 0 5%;

}
.rank-dialog .list h3 {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 8px;
    border-bottom: 1px solid #B9A25D;
    text-align: center;
}
.rank-dialog .list h3 .jf {
    margin-right: 40px;

}
.rank-dialog .list .content {
	overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
	margin-top: 17%;
}
.rank-dialog .list ul {
    padding: 0 10% 0;
	text-align: center;
}
.rank-dialog .list li {
   padding: 2% 0 3%;
  border-bottom: 1px dashed #374355;
}
.rank-dialog .list span {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    border-radius: 0px;
}
.rank-dialog .r-avatar {
    width: 26%;
    text-align: center !important;
    border-radius: 100%;
	overflow: hidden;
    text-align: left;
}
.rank-dialog .r-avatar img {
    border-radius: 100%;
    margin-top: 14px;
}
.rank-dialog .r-name {
    width: 30%;
    text-align: right;
}

.rank-dialog .r-rank {
	width: 44%;
    vertical-align: text-bottom !important;
    text-align: right;
}

.rank-dialog .r-rank .jf-num {
  vertical-align: text-bottom;
  margin-right: 5px;
}

.rule-dialog {
    background: url(../images/hbrule.png) no-repeat 0 0;
    background-size: 100% 100%;
    padding-top: 15%;
    color: #fff;
    height: 90%;
    width: 290px!important;
    height: 388px!important;
    left: 0!important;
    right: 0!important;
    top: 50%!important;
    margin-top: -194px!important;
    margin: 0 auto;
}
#rule-dialog .btn-close{
    top: 11px !important;
    right: 13px !important;
}
.rule-dialog h2{
    text-align: center;
    margin-top: -20px;
}
.rule-dialog h2 img{
    width: 45%;
}
.rule-dialog .content {

    margin: 3% 6% 0;
    height: 70%;
}
.rule-dialog .rule {

    font-size: 14px;
    line-height: 24px;
    max-height: 100%;  overflow-y: auto;
    color: #561817;
    margin-top: 4%;
}
.rule-dialog p {
    line-height: 22px;
	color: #FFF;
    padding: 6px 0;
}
.rule-dialog h3 {
    margin-top: 22px;

    font-size: 16px;
}
.dialog-copyright {
	position: absolute;
	bottom: 0;
	left: -5px;
	right: -5px;
	font-size: 14px;
	text-align: center;
	color: #f00;
}

.guide-dialog {
    width: 240px;

    height: 329px;
    left: 50%;
    right: auto;
    margin-left: -120px;
    top: 50%;
    bottom: auto;
    margin-top: -150px;
    background: #F4F4E5;
    color: #333333;
}
.guide-dialog h2 {
    background: url(../images/hbshare-tlt.png) no-repeat 0 center;
    background-size: cover;
    height: 77px;
    border-radius: 5px 5px 0 0;
    color: #561817;
    text-align: center;
    padding-top: 8px;
    font-weight: bold;
}

.guide-dialog h2 strong {
    display: block;

    margin-top: 2px;
    font-size: 18px;
}

.guide-dialog p {
    font-style: italic;
    border-bottom: 1px solid #DBDBD3;
    height: 48px;
    line-height: 48px;
    margin: 0 15px;
    font-size: 13px;
}
.guide-dialog label {

    margin-right: 5px;
}
.guide-dialog label img{
    width: 7%;
}
.guide-dialog p:nth-child(2) label img{
    width: 6%;
}
.guide-dialog .btn {
    display: block;
    margin: 16px auto 0;
    width: 132px;
    height: 30px;
    line-height: 30px;
}

/** 抽奖  */
.lottery-dialog {
	width: 100%;
	height: 100%;
}
.lottery-dialog {

}
.lottery-dialog .award-none {
    height: 100%;    margin: 0 4% !important;  position: relative;
    text-align: center;

}
.lottery-dialog .award-none .btn{
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}

.lottery-dialog .award-none img{
    width: 84px;
    overflow: hidden;
    margin: 30px auto;
}
.lottery-dialog .award-none .btn-close {
    position: static;

    display: block;
    background: rgba(86, 24,23,0.8);
    width: 50%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 15px;
    color: #fff;
    margin: 10% auto 0;
}
.lottery-dialog .award-none h5 {
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    line-height: 35px;
}
.lottery-dialog .award-win{
    height: 100%;
}
.lottery-none .award-win {
	display: none;
}
.lottery-none .award-none {
    display: block !important;
    padding-top: 40%;
}
.lottery-dialog .award-win .btn-back {
   margin-top: 20px;
}

.lottery-dialog .content {
  padding-top: 10%;
  height: 100%;
  position: relative;
}
.lottery-dialog .back {
    height: 100%;
}

.lottery-dialog h3 {
    color: #D4B466;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
}
.lottery-dialog .duihuan{

}
.lottery-dialog .duihuan span{
    color: #9c9b9a;
}
.lottery-dialog .cont-tip{
    text-align: center;
    font-size: 12px;
}
.lottery-dialog .award-img {
    width: 100%;
    height: 26%;
    margin: 14px auto 0px;
    text-align: center;
    padding: 0% 6%;
	overflow: hidden;
}
.lottery-dialog .award-img img {
	/*width: 100%;*/
	max-height: 120px;
	vertical-align: top;
}
.lottery-dialog .contact {

    padding: 2% 6%;
}
.lottery-dialog .contact h4 {
    color: #9C9B9A;
    text-align: center;
    font-size: 12px;
}

.lottery-dialog .contact h4.award-tip,.lottery-dialog .contact h4 {

}
.lottery-dialog .contact h4.awarded-tip {
    display: none;

}

.lottery-awarded .contact h4 {

}
.lottery-awarded .contact h4.awarded-tip {
    display: block;

}
.lottery-dialog .contact p {
    margin-top: 6px;
    text-align: center;
}
.lottery-dialog .contact input {
    border: 1px solid #fff;
    border-radius: 4px;
    height: 38px;
    padding: 0 6px;
    width: 92%;
    outline: 0 none;
    background: transparent;
    color: #FFF;
    font-size: 12px;
}

.lottery-dialog .contact .btn,.lottery-dialog .award-none .btn{
    width: 57%;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    color: #F9CC5D;
    margin: 3% auto;
    background-size: 100% 100%;
}
.lottery-dialog .contact .btn-award {
    display: block;

}
.lottery-dialog .contact .btn-share {
    display: none;
}

.lottery-awarded .contact .btn-award {
    display: none;

}
.lottery-awarded .contact .btn-share {
    display: block;
}



.award-dialog .box {
	height: 48%;
	position: relative;
	overflow: hidden;
}
.award-dialog .prize {
    background: url(http://cdn.holdfun.cn/ahtvcomedian/images/material/bg-prize.png) no-repeat center center;
    background-size: cover;

    height: 100%;
    margin: 0 -10%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    overflow: hidden;
}
.award-dialog .prize:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.award-dialog .prize img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.award-dialog .prize.p1 img {
    max-width: 80%;
}

.award-dialog .ctrl {
    color: #fff;
    padding-top: 5%;
    text-align: center;
}
.award-dialog .ctrl h2 {
    text-align: center;
    font-size: 16px;
	margin: 0 6%;
}
.award-dialog .content {
    width: 88%;
    margin: 0 auto;
    padding-top: 8px;
}

.award-dialog .content p {
    font-size: 12px;
    text-align: left;
}
.award-dialog .content input {
    width: 100%;
    border: 0 none;
    background: #fff;
    height: 36px;
    font-size: 16px;
    padding: 0 0 0 10px;
    border-radius: 5px;
    margin-top: 8px;
    color: #979797;
    outline: none;
}
.award-dialog .ctrl .btn {
    display: inline-block;
    vertical-align: middle;
    margin: 23px 5px 0 5px;
    width: 35%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    letter-spacing: 0px;
    border-radius: 20px;
}
.award-dialog .award-succ {
	display: none;
}
.award-dialog .award-succ.ctrl {

}
.award-dialog .award-succ h2 {
    text-align: left;
    text-indent: 2em;
    padding: 0 6%;
}
.award-dialog .award-succ h3 {
    text-align: center;
    margin-top: 10%;
    color: #FDC728;
}
.award-dialog .award-succ .btn {
    margin-top: 10px;
    letter-spacing: 0;
}
.award-succ-dialog .prize img {
	display: none;
}
.award-succ-dialog .prize:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	background: url(http://cdn.holdfun.cn/ahtvcomedian/images/material/icon-ljsu.png) no-repeat center center;
	background-size: cover;
	width: 80%;
	height: 80%;
}

.award-succ-dialog .ctrl {
	display: none;
}
.award-succ-dialog .award-succ {
	display: block;
}
.award-succ-dialog .dialog-inner {
	height: 100%;
	padding-bottom: 0;
}

#confirm-dialog {
}
#confirm-dialog:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 10000;
}
.confirm-dialog {
    width: 72%;

    height: 130px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    position: absolute;
    background-size: 260px auto;
    border-radius: 6px;
    z-index: 100000;
    color: #561817;
}
.confirm-dialog .content {

    margin: 5% 8% 5%;
    font-size: 16px;
}
.confirm-dialog .ctrl {
    text-align: center;

    margin-right: -10px;
}
.confirm-dialog .ctrl .btn {
    margin-right: 10px;

    background: rgba(86, 24, 23, 0.8);
}


.tip-dialog {
    width: 220px;

    height: 200px;
    background: url(http://cdn.holdfun.cn/ahtvcomedian/images/material/bg-dialog.jpg) no-repeat 0 0;
    background-size: cover;
    left: 50%;
    right: 0;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    bottom: 0;
}
.tip-dialog h2 {
    background: url(http://cdn.holdfun.cn/ahtvcomedian/images/material/icon-tips.png) no-repeat center center;

    background-size: 170px auto;
    height: 80px;
    margin-top: 35px;
}
.tip-dialog .btn {
    display: block;

    position: static;
    width: 60%;
    height: 40px;
    line-height: 40px;
    letter-spacing: 5px;
    background: #FF3535;
    border: 1px solid #fff;
    margin: 10% auto 0;
}
.not-zhong{
    position: absolute;
    z-index: 1000;
    top: 22%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.lottery-btn{
    display: block;
    margin: 0 auto;
}

/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.result-dialog .img {
		height: 18%;
		background-size: 30%;
		margin-top: 3%;
	}
	.result-dialog li h4 {
		font-size: 24px;
	}
	.award-dialog .box {
		height: 45%;
	}
	.award-dialog .content input {
	    height: 25px;  margin-top: 6px;
	}
	.award-dialog .ctrl .btn {
	    height: 30px;
	    line-height: 30px;
	    font-size: 14px;
	    margin-top: 2%;
	}
	.lottery-dialog h2 {
		font-size: 14px;
		padding: 3% 0;
	}
	.lottery-dialog .contact input {
   		height: 26px;
	}
	.lottery-dialog .award-img {
    	height: 90px;
	}
	.lottery-dialog .award-img img {
		max-height: 90px;
	}
	.lottery-dialog .contact .btn {
	    height: 35px;
	    line-height: 35px;
	    font-size: 14px;
    }
    .lottery-dialog .award-none .btn{
            bottom: 10px;
    }
    .rank-dialog .list .content {
        margin-top: 16%;
    }
    .rank-dialog .list{
        height: 77%;
    }
    .lottery-dialog .content {
        padding-top: 6%;
    }
    .lottery-dialog .contact {
        padding: 1% 6%;
    }
}
@media screen and (min-device-width:1000px) and (min-device-height:1000px)  {
    .rank-dialog .list li {
        padding: 0 0 3%;
    }
}
/* iPhone6 */
@media screen
and (min-device-width : 360px)
and (max-device-width : 667px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {

}

.star-list{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width:100%;

}
.star-tr{
	width:100%;
	margin-left: auto;
	margin-right: auto;
	clear:both;
	padding-top:10px;
}
.star-td{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width:25%;
	float:left;
}
.star-heard{
	margin-left: auto;
	margin-right: auto;
	border:solid 2px white;
	background: url(http://yaotv-test.oss-cn-shenzhen.aliyuncs.com/ahtvcomedian/20141116/xs-wl.png) no-repeat center 0;
	background-size:contain;
	border-radius:200px;
	width:50px;
	height:50px;
	margin-bottom: 5px;
	background-color: rgba(110,67,46,1);

}
.star-heard img{
	width: 40px;
	height: 20px;
	display: inline-block;
	position: relative;
	bottom: -59%;
	right: -10px;
}

.star-heard-audio{
	margin-left: auto;
	margin-right: auto;
	border:solid 2px white;
	background-color:white;
	border-radius:200px;
	width:50px;
	height:50px;

}

.star-name{
	color:orange;
	font-size:12px;
	margin-top:-2px;
}
.star-mes{
	color:yellow;
	font-size:12px;
	margin-top:-2px;
}

.star-turn{
	margin-top:100px;
	background:url(../images/up_page.png)no-repeat center 0;
	background-size:contain;
	margin-left: auto;
	margin-right: auto;
	clear:both;
	width:30px;
	height:30px;
}
.btn-pack{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width:140px;
	background-color:rgba(195,167,116,1);
	color:white;
	font-size:18px;
	line-height:34px;
	border-radius:20px;
	border:solid 1px rgba(195,167,116,1);
	margin-top:20px;
}