/* 通用弹层样式_S */
.modal {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999999999;
    color: #FFF;
    text-align: center;
    overflow: hidden;
    overflow-y: scroll;
}
.modal:after {
    content:'';
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.75);
    z-index:99;
}
.modal-vote:after {
    content:'';
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:transparent;
    z-index:99;
}
.modal .flash-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    -webkit-animation-name: bounceIn;
    -webkit-animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    -webkit-backface-visibility:hidden;
}
.modal .flash-box .icon-flash {
    width: 100%;
    height: 50%;
}
.modal .dialog {
    position: absolute;
    width: 80%;
    height: auto;
    margin-bottom: 50px;
    z-index: 999;
    background: url(../images/dialog-bg.png) no-repeat;
    background-size: 100% 100%;
}
.modal .dialog .btn-dialog-close {
    display: block;
    position: absolute;
    top: -8px;
    right: -8px;
    width: 30px;
    height: 30px;
    background: url(../images/close.png) no-repeat;
    background-size: 100% 100%;
    z-index: 9999999999;
}
.modal .dialog .bg-dialog-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal .dialog .bg-dialog-footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.modal .dialog .global-header {
    position: relative;
    width: 100%;
    font-size: 0;
}
.modal .dialog .global-header .icon-redbag-gold, .modal .dialog .global-header .icon-redbag-prev {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.modal .dialog .global-header .icon-luckytips {
    position: absolute;
    width: 76%;
    top: 8%;
    left: 12%;
}
.modal .dialog .dialog-content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /*overflow: hidden;*/
    z-index: 999;
    text-align: center;
    border-radius: 5px;
    display: block;
}
.modal .dialog .dialog-content .info-qrcode {
    font-size: 13px;
    line-height: 16px;
    margin-top: 6px;
    text-align: center;
}
.modal .dialog .dialog-content .icon-congrats {
    width: 86%;
    margin: 0 auto 2%;
}
.modal .dialog .dialog-content .award-luckTips {
    width: 92%;
    margin: -9% auto 6%;
    font-size: 16px;
    text-align: center;
}
.modal .dialog .dialog-content .award-luckTips img{
    width: 68%;
    margin: -15px auto 10px;
}
.modal .dialog .dialog-content .award-img {
    width: 81%;
    margin: 7px auto 0;
}
.modal .dialog .dialog-content .footer{
    width: 100%;
    position: absolute;
    bottom: 12%;
}
.modal .dialog .dialog-content .award-nameTips {
    width: 80%;
    margin: 0 auto 2%;
    font-size: 26px;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
}
.modal .dialog .dialog-content .award-keyTips {
    width: 100%;
    margin: 9% auto;
    font-size: 18px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.modal .dialog .dialog-content .input-box {
    width: 100%;
    font-size: 15px;
    color: #FFF;
    margin: 5px auto 3px;
}
.modal .dialog .dialog-content .input-box h5 {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin: 3px auto;
}
.modal .dialog .dialog-content .input-box .label {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin-right: 5px;
    vertical-align: middle;
}
.modal .dialog .dialog-content .input-box p {
    /*display: inline-block;*/
    color: #9B6115;
    text-shadow: #FFF 1px 0 0,#FFF 0 1px 0,#FFF -1px 0 0,#FFF 0 -1px 0;
    -webkit-text-shadow:#FFF 1px 0 0,#FFF 0 1px 0,#FFF -1px 0 0,#FFF 0 -1px 0;
    font-size: 17px;
    font-weight: bold;
}
.modal .dialog .dialog-content .input-box span {
    display: inline-block;
}
.modal .dialog .dialog-content .input-box input {
    display: inline-block;
    width: 80%;
    padding: 3px 8px;
    line-height: 23px;
    border: 0 none;
    border-radius: 6px;
    font-size: 14px;
    color: #666666!important;
    background: #FFF;
    background-size: 100% 100%;
    margin-bottom: 7px;
    vertical-align: baseline;
}
.modal .dialog .dialog-content .input-box input::-webkit-input-placeholder {
    color: #666 !important;
}
.modal .dialog .dialog-content .info-box {
    text-align: left;
    width: 88%;
    margin: 6% auto 0;
    font-size: 15px;
    line-height: 30px;
    color: #FFF;
}
.modal .dialog .dialog-content .btn-lottery {
    display: inline-block;
    margin: 0 6px;
    background: #EA8A00;
    width: 135px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    font-weight: bold;
}
.modal .dialog .dialog-content .btn-lottery-box {
    width: 100%;
    position: absolute;
    bottom: -17%;
}
.modal .dialog .dialog-content .btn-lottery-box .btn-lottery {
    display: inline-block;
    width: 130px;
    height: 32px;
}
.modal .dialog .dialog-content .award-img-box {
    position: relative;
    width: 100%;
}
.modal .dialog .dialog-content .award-img-box .award-img {
    position: relative;
    z-index: 2;
}
.modal .dialog .dialog-content .award-img-box .icon-paper {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation-name: paper;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    z-index: 1;
}
.modal .dialog .dialog-content .icon-ok {
    width: 52%;
    margin: 0 auto 1%;
}
.modal .dialog .dialog-content .qrcode-tips {
    font-size: 15px !important;
    color: #FFF !important;
    font-weight: normal !important;
    color: #F5F5F5;
    margin-bottom: 5%;
}
.modal .dialog .dialog-content .qrcode-box {
    position: relative;
    width: 82%;
    margin: 0 auto 5%;
    padding: 0 0 36px;
    background-color: #FFF;
    overflow: hidden;
}
.modal .dialog .dialog-content .qrcode-box p {
    position: absolute;
    width: 100%;
    height: 36px;
    left: 0;
    bottom: 0;
    font-size: 13px;
    font-weight: bolder;
    color: #6b0001;
    overflow: hidden;
    text-align: center;
    padding: 0 6%;
}
/* 通用弹层样式_E */

/* 活动规则_S */
#rule-dialog .dialog .dialog-content {
    padding: 0 5%;
    margin: 0 auto;
    overflow: hidden;
    color: #FFF;
    background: url(../images/rule-bg.png) no-repeat;
    background-size: 100% 100%;
}
#rule-dialog .dialog .dialog-content h2 {
    width: 40%;
    margin: 9% auto 4%;
    font-size: 20px;
    color: #022A3F;
}
#rule-dialog .dialog .dialog-content h1 {
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    line-height: 26px;
    padding: 5px 0;
    border-bottom: 1px solid #FFF;
}
#rule-dialog .dialog .dialog-content .rule-content {
    width: 100%;
    height: 74%;
    margin-top: 5%;
    padding: 0 4%;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    overflow-y: scroll;
    word-break: break-all;
    text-align: left;
}
#rule-dialog .dialog .dialog-content .rule-content * {
    font-size: 14px !important;
    line-height: 20px !important;
}
/* 活动规则_E */

/* 实物_S */
.modal .dialog .dialog-content .info-box .info-address label{
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 75%;
    vertical-align: top;
}
/* 实物_E */

/* 卡劵_E */
/* 卡劵_E */

/* 兑奖码_S */
.modal .dhm-dialog .dialog-content .cc{
    margin-top: 40%;
}
.modal .dhm-dialog .dialog-content label{
    font-size: 22px;
    color: #FFF100;
    margin: 15px auto 0;
    font-weight: 500;
}
.modal .dhm-dialog .dialog-content .cc span{
    display: inline-block;
    font-size: 14px;
    color: #333232;
    background: #F9F9F9;
    border-radius: 5px;
    padding: 3px 8px;
    margin: 15px auto 0;
}
/* 兑奖码_E */

/*积分_S*/
#jf-dialog .dialog-content h1 {
    margin: 95px auto 5px!important;
}
/*积分_E*/


/* 谢谢参与_S */
.thanks-dialog h2{
   font-size: 20px;
    color: #fff;
    margin-top: 15px;
}
.thanks-dialog h3{
    font-size: 12px;
    color: #C8A75D;
}
.thanks-dialog img{
    width: 90%;
    display: block;
    margin: 12px auto;
}
/*.thanks-dialog .tlt img{
    width: 150px;
    margin: 0 10px;
}*/
/* 谢谢参与_E */



/* iPhone4 */
@media screen and (device-width : 320px)
and (device-height : 480px){
    .modal .dialog .dialog-content .btn-lottery-box {
        bottom: -20%;
    }
}
/* iPhone5 */
@media screen
and (min-device-height : 500px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
    .modal .dialog .dialog-content .btn-lottery-box {
        bottom: -20%;
    }
}