body {
	background: url(../images/bg-body.jpg) repeat-y center 0;
	background-size: cover;
}

.main {
	margin: 0 auto;
	padding-top: 20px;
}
.form-group:before{
	content: '';
	display: inline-block;
	background: url(../images/top.png) no-repeat;
	background-size: 300px auto;
	width: 300px;
	height: 11px;
	position: absolute;
	left: -10px;
	top: -5px;
	z-index: -1;
}
.form-group {
  	width: 280px;
	background: #EFF6FC;
    margin: 22px auto 0;
	padding: 0 12px;
	position: relative;
	padding-bottom: 20px;
}
.form-item {
	padding-top: 15px;
}
.form-item label {
    display: block;
	width: 135px;
    margin: 0 auto 10px auto;
    cursor: auto;
}
.form-item input {
    padding: 0 3px;
}
.form-item input, .form-item select, .form-item textarea{
	border: 1px solid #B0C1E2;
	height: 34px;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 8px;
	font-size: 14px;
	color: #666666;
}

.form-item textarea {
	height: 110px;
	padding: 3px;
	margin-bottom: 0;
}
.form-item .img-ctrl {
    margin-top: 8px;
    margin-bottom: 16px;
}
.upload-form {
	height: 0;
	opacity: 0;
	position: absolute;
	top: 0;
}
.input-file-upload {
    opacity: 0;
}
.icon {
	display: inline-block;
	vertical-align: top;
	width: 52px;
	height: 52px;
	line-height: 52px;
	border-radius: 10px;
	text-align: center;
}
.icon:before {
	content: '';
	display: inline-block;
	vertical-align: -2px;
	background: url(../images/icons.png) no-repeat 0 0;
	background-size: 169px auto;
}
.img-ctrl .btn-preview {
    border: 1px solid #ED192F;
	
}
.img-ctrl .img-preview {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #FF8500;
	border-radius: 10px;
	text-align: center;
	width: 52px;
	height: 52px;
	line-height: 52px;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
}
.img-ctrl .img-preview .close {
	content: '';
	display: block;
	background: url(http://yao.holdfun.cn/portal/resources/news/images/close.png) no-repeat 0 0;
	background-size: 18px auto;
	width: 18px;
	height: 18px;
	position: absolute;
	right: -6px;
	top: -8px;
	cursor: pointer;
}
.img-ctrl .img-preview .uploading {
	display: none;
}
.img-ctrl .img-preview.loading .uploading {
	height: 25px;
	width: 25px;
	margin: 0px auto;
	position: relative;
	-webkit-animation: loading-rotation .6s infinite linear;
	animation: loading-rotation .6s infinite linear;
	border-left: 3px solid rgba(255, 153, 163, 0.55);
	border-right: 3px solid rgba(255, 153, 163, 0.55);
	border-bottom: 3px solid rgba(255, 153, 163, 0.55);
	border-top: 3px solid rgba(238,26,46,.85);
	border-radius: 100%;
	display: block;      
	line-height: 0;
	font-size: 0;
}
.img-ctrl .img-preview .lc {
	position: absolute;
	left: 13px;
	top: 13px;
}
.img-ctrl .img-preview .ic {
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 10px;
}
.img-ctrl .btn-preview:before {
    width: 28px;
    height: 20px;
}
.img-ctrl .img-preview img {
	vertical-align: -11px;
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
}
.img-ctrl .btn-upload {
    border: 1px solid #2C94F4;
	
}
.img-ctrl .btn-upload:before {
    width: 28px;
	
    height: 28px;
    background-position: -79px 0px;
    vertical-align: -7px;
}

.btn-submit {
	background: #F5DB2D;
	display: block;
	width: 300px;
	height: 48px;
	line-height: 48px;
	margin: 0px auto 0;
	border-radius: 22px;
	text-align: center;
	font-size: 18px;
	color: #333333;
	position: relative;
	top: -7px;
}

.preview-box {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.8);
	z-index: 9999999;
	background-size: 320px auto;
	top: 0;
	left: 0;
}

.loading-btn{
    background: #ccc;
    color: #fff;
}

.tlt{
	font-size: 12px;
	color: #F2CC01;
	width: 290px;
	margin: 0 auto;
}
.copyright {
	position: relative;
	color: #114081;
}