html, body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
    background:#ccd1da no-repeat ;
    background-size: 100% 100%;
}
.brand-list
{
	padding:0px  10px 60px 10px;
	overflow: auto;
}
.top-box
{
	padding:10px;
	position: relative;
	overflow: hidden;
    height: 54px;
}
.top-box img
{
	position: relative;
	display: inline-block;
}
ul li
{
	margin-bottom: 5px;
}
li a
{
	position: relative;
	width: 100%;
	display: block;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.32)
}
li a img
{
    width: 100%;
}
.countdown
{
	position: absolute;
    right: 10px;
    top: 10px;
    padding: 6px 14px;
    border-radius: 14px;
    background: #bc0022;
    color: #fff;
    font-size: 16px;
    border: 1px solid #fff000;
}
.yao-hand
{
	position: absolute;
    left: -20px;
    top: 0px;
    display: block;
    height: 30px;
    width: 36px;
    background: url("../images/home-yao.png") top center no-repeat;
    background-size: 100% 100%;
}
/* 通用弹层样式_S */
.modal {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    color: #FFF;
    text-align: center;
    overflow: hidden;
    overflow-y: scroll;
}
.modal:after {
    content:'';
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.6);
}
.modal .dialog {
    position: absolute;
    width: 288px;
    height: 288px;
    z-index: 999;
    top:50%;
    left:50%;
    margin-left: -144px;
    margin-top: -144px;
    background: url(../images/pop-yao.png) no-repeat;
    background-size: 100% 100%;
    padding:4.5%;
}
.dialog-content
{
	position: relative;
	height: 100%;
	width: 100%;

}
.pop-tab-box
{
	position: absolute;
	bottom: 10px;
	padding:0px 6%; 
	width: 100%;
}
.pop-tab-box a
{
	display: inline-block;
	width: 44%;
    padding: 6px 14px;
   margin:0px 2%;
   font-weight: bold;
   border-radius:4px; 
   
}
.countdown-pop
{
    margin-top: 4%;
}
.countdown-pop .countdown-tip
{
    font-size: 16px;
    padding-bottom: 6px;
}
.btn-dialog-close
{
    background: #cfbb94;
    color:#8a0532;

}

.countdown-pop .detail-countdown1
{
    position: relative;
    margin-left: 4%;
    height: 60px;
    background: #B21F4D;
    width: 92%;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.18);
    line-height: 40px;
}
.countdown-pop .detail-countdown1 label
{
    height: 100%;
    padding:0px 8px;
    border-radius: 4px;
    display: inline-block;
    background: #F3F3F3;
    margin:0px 4px;
    font-size: 24px;
    font-weight: bolder;
    color: #000000;
}
.btn-dialog-lottery
{
    background: #ffb629;
    color:#9b2d31;
}
.small-tip
{
    font-size: 14px;
    margin-top: 5px;
}
.page-meun
{
      position: fixed;
    bottom: -2px;
    left:0px;
    padding-top: 15px;
    background: rgba(201,0,14,0.84);
   box-shadow: inset 0px 1px 1px 1.2px rgba(255,255,255,0.21);

}
.page-meun a:after
{
    content: "";
    position: absolute;
    right: -1px;
    height: 80%;
    border-right: 1px solid #fff;
    top: 2px;
}
.page-meun a
{
    width: 25%;
    display: inline-block;
    position: relative;
    float: left;
    color: #5b5b5b;
    box-sizing: border-box;
}
@media screen
and (device-width:320px)
{
    .countdown
    {
    	padding: 4px 12px;
    }
    .yao-hand
    {
    	top: 0px;
    }
}

@media screen
and (min-device-width : 1000px)
and (min-device-height : 1000px) {
   
}