body {
  background: url(../images/index-bg.jpg) no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.logo{
  width: 13%;
  margin: 3%;
}
.go {
  width: 85%;
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;}
footer {
  position: absolute;
  bottom: 0;
  width: 100%; }
#div_subscribe_area {
  height: 50px;
  overflow:hidden;
}