body{
	background-color: #fff;
	min-height: 100%;
	width: 100%;
	position: relative;
	overflow-x: hidden;
	background-image:url(../images/yao-center.jpg);
    background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center center;
	background-color: #e40b09;
}
.yao-tlt{
	margin: 10px 20px 0;
	width: 28%;
	display: block;
	position: relative;
}
.back-btn{
	display: block;
	padding-right: 80%;
}
.zx-tt{
	position: absolute;
	top: 30px;
	/*left: 80px;*/
	left: 20px;
	text-align: left;
	width: 100%;
	color: #3786e9;
	font-size: 16px;
	z-index: 3;
}
.marquee {
	color: #fff;
	font-size: 13px;
	background: rgba(176,0,2,0.7);
	height: 26px;
	line-height: 26px;
	text-align: center;
	overflow: hidden;
	top: 0;
}
.marquee ul li span{
	display: inline-block;
	padding-left: 30px;
	background: url(../images/gift.png) no-repeat left;
	background-size: 20px;
	height: 26px;
	line-height: 26px;
	overflow: hidden;
	 white-space:nowrap;
	 text-overflow: ellipsis;
}

.countdown{ 
	padding-top: 10px;
	color:#fff;
	text-align: center;
	font-size: 16px;
	border-radius:20px ;
	
}
.main-top .content-box{
	top: 40px;
}
.countdown .countdown-tip,.text-tip{
	color: #fff;
    display:block;
    font-size: 12px;
    line-height: 28px;
}	
.detail-countdown{
	display:inline-block;
	height:36px;
	line-height: 36px;
	color: #e28a00;
	background:url(../images/time-icon.png) no-repeat left,url(../images/time-bg.png) no-repeat center;
	background-size:36px, 100% 100%;
	padding: 0px 14px 0 38px;
	border-radius:16px ;

}

.detail-countdown label{
	padding: 1px 2px;
	font-size: 20px;
	color: #fffc00;
	margin: 0 4px;
}
.footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
header {
	writing-mode: lr-tb;
	writing-mode: tb-rl;
	width: 20px;
	letter-spacing: 1em;
	display: inline-block;
	word-break: break-all;
	font-size: 12px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	float: right;
}
header div.ctrls a#btn-reserve {
	border-top: none;
	display: block;
}
.red{
	position: absolute;
	width: 86%;
	margin-top: auto;
	z-index: 500;
}
/*yao-s*/
.home-box {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.main-top {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 50%;
	background-image: url('../images/yao-top.png'),url('../images/yao-bg-top.jpg');
	background-repeat: no-repeat,no-repeat;
	background-position: center bottom,center bottom;
	background-size:68% auto, cover;
	box-sizing: border-box;
	-webkit-transition: -webkit-transform .2s ease;
	text-align: center;

}
.main-foot {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50%;
	background-image:url('../images/yao-bottom.png'),url('../images/yao-bg-bottom.jpg');
	background-repeat: no-repeat,no-repeat;
	background-position: center top,center top;
	background-size: 68% auto, cover;
	box-sizing: border-box;
	-webkit-transition: -webkit-transform .2s ease;
    text-align: center;
}
.yao-text{
	width: 100%;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	color: white;
	position: absolute;
	top: 46%;

}
.yao-text p{
	position:relative;
	min-height: 30px;
	color: #ffdc7c;
	opacity:0;
}
.yao-text p.texta span{
	color: white;
	font-weight: bold;
	font-size: 17px;
}
.yao-text p:last-child span{
	position:relative;
	width:100%;
}
.yaonone-text{
	animation-name:textshow;
	-webkit-animation-name:textshow;
	animation-iteration-count:1;
	-webkit-animation-iteration-count:1;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s;
	animation-delay:0.1s;
	-webkit-animation-delay:0.1s;
	animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	display: block;
}
#test{
	/*visibility: hidden;*/
}
.nav-bottom{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 60%;
}
.nav-bottom a{
	display: inline-block;
	width: 30%;
	color: #cd0001;
	z-index: 99999;
	padding:6px;
	font-weight: 700;
	font-size: 14px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff391), to(#ff9305));    	
}
.nav-bottom a:first-child{
	 	margin-right: 5%;
}
.nav-bottom a:last-child{
	 	margin-left: 5%;
}
@keyframes textshow{
	0%{
		top:-100px;
		opacity:0;
	}
	100%{
		top:0;
		opacity:1.0;
	}
}
@-webkit-keyframes textshow{
	0%{
		top:-100px;
		opacity:0;
	}
	100%{
		top:0;
		opacity:1.0;
	}
}
/*yao-e*/
@-webkit-keyframes shake {
	0%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}

	20%, 40%, 60%, 80% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}
}

@keyframes shake {
	0%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}

	20%, 40%, 60%, 80% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}
}
.shake {
	-webkit-animation-name: shake;
	animation-name: shake;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

/*活动规则-e*/

/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.main-foot {
		background-image:url('../images/yao-bottom.png'),url('../images/yao-bg-bottom.jpg');
		background-size: 54% auto, cover;
	}
	.main-top {
		background-image: url('../images/yao-top.png'),url('../images/yao-bg-top.jpg');
		background-size:54% auto, cover;
	}
	.ddtj {
	    margin-top: 32%;
	}
}
/* iPhone5 */
@media screen
and (min-device-height : 500px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
}

@media screen
and (min-device-width:1000px)
and (min-device-height:1000px)
and (orientation : portrait){
.nav-bottom {
    top: 66%;
}
}
/* iPhone6 */
@media screen
and (min-device-width : 400px)
and (max-device-width : 740px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
	
}