/* 通用弹层样式_S */
.modal {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999999999;
    color: #FFF;
    text-align: center;
    overflow: hidden;
    overflow-y: scroll;
}
.modal:after {
    content:'';
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.6);
    z-index:99;
}
.modal .dialog {
    position: absolute;
    width: 80%;
    height: auto;
    margin-bottom: 12%;
    overflow: hidden;
    z-index: 999;
}
.modal .dialog .btn-dialog-close {
    display: none !important;
    position: absolute;
    top: 18px;
    right: 12px;
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url(../images/btn-close.png) no-repeat;
    background-size: 100% 100%;
    z-index: 9999999999;
}
.modal .dialog .bg-dialog-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal .dialog .bg-dialog-footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.modal .dialog .dialog-content {
    width: 100%;
    background: url(../images/bg-dialog-body.jpg) repeat-y;
    background-size: 100% 100%;
    padding: 0 8%;
    overflow: hidden;
}
.modal .dialog .dialog-content .icon-congrats {
    width: 86%;
    margin: 0 auto 2%;
}
.modal .dialog .dialog-content .award-luckTips {
    width: 100%;
    margin: 0 auto 8%;
    font-size: 16px;
    line-height: 20px;
    max-height: 60px;
    overflow: hidden;
    text-align: center;
    color: #fffc00;
}
.modal .dialog .dialog-content .award-keyTips {
    width: 100%;
    margin: 8% auto 2%;
    font-size: 13px;
    line-height: 20px;
    max-height: 20px;
    overflow: hidden;
    text-align: center;
}
.modal .dialog .dialog-content .input-box {
    width: 100%;
    font-size: 15px;
    color: #FFF;
}
.modal .dialog .dialog-content .input-box .label {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin-right: 5px;
    vertical-align: middle;
}
.modal .dialog .dialog-content .input-box input {
    display: inline-block;
    width: 86%;
    padding: 4px 8px;
    line-height: 24px;
    border: 0 none;
    border-radius: 3px;
    font-size: 15px;
    color: #333;
    margin: 3px 0;
}
.modal .dialog .dialog-content .btn-lottery {
    display: inline-block;
    margin: 10% auto 0;
    width: 38%;
    height: 38px;
    line-height: 38px;
    background: url(../images/btn-dialog.png) no-repeat;
    background-size: 100% 100%;
}
.modal .dialog .dialog-content .btn-lottery-box {
    width: 100%;
    margin-top: 16%;
}
.modal .dialog .dialog-content .btn-lottery-box .btn-lottery {
    display: inline-block;
    margin: 0 10px;
}
.modal .dialog .dialog-content .award-img-box {
    position: relative;
    width: 100%;
}
.modal .dialog .dialog-content .award-img-box .award-img {
    position: relative;
    z-index: 2;
}
.modal .dialog .dialog-content .award-img-box .icon-paper {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation-name: paper;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    z-index: 1;
}
.modal .dialog .dialog-content .icon-ok {
    width: 52%;
    margin: 0 auto 1%;
}
.modal .dialog .dialog-content .qrcode-tips {
    font-size: 15px !important;
    color: #FFF !important;
    font-weight: normal !important;
    color: #F5F5F5;
    margin-bottom: 5%;
}
.modal .dialog .dialog-content .qrcode-box {
    position: relative;
    width: 82%;
    margin: 0 auto 5%;
    padding: 0 0 36px;
    background-color: #FFF;
    overflow: hidden;
}
.modal .dialog .dialog-content .qrcode-box p {
    position: absolute;
    width: 100%;
    height: 36px;
    left: 0;
    bottom: 0;
    font-size: 13px;
    font-weight: bolder;
    color: #6b0001;
    overflow: hidden;
    text-align: center;
    padding: 0 6%;
}
/* 通用弹层样式_E */

/* 活动规则_S */
#rule-dialog .dialog {
    width: 80% !important;
    height: 66% !important;
    top: 17% !important;
    left: 10% !important;
    min-height: initial !important;
    margin-bottom: 0 !important;
    overflow: visible;
    background: url(../images/bg-rule.jpg) no-repeat #F5F5F5;
    background-size: 100% 100%;
    border: 1px solid #00a5ea;
    border-radius: 6px;
    overflow: hidden;
}
#rule-dialog .dialog .btn-dialog-close {
    display: block !important;
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    width: 22%;
    height: auto;
    background: transparent;
    z-index: 9999999999;
    border-top-right-radius: 6px;
    overflow: hidden;
}
#rule-dialog .dialog .btn-dialog-close img {
    border-top-right-radius: 5px;
}
#rule-dialog .dialog .dialog-content {
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 5%;
    overflow: hidden;
    color: #9d0200;
}
#rule-dialog .dialog .dialog-content h1 {
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    line-height: 26px;
    padding: 5px 0;
    border-bottom: 1px solid #9d0200;
}
#rule-dialog .dialog .dialog-content .rule-content {
    width: 100%;
    height: 90%;
    padding: 5px 0;
    font-size: 15px;
    line-height: 22px;
    overflow: hidden;
    overflow-y: scroll;
    word-break: break-all;
    text-align: left;
}
#rule-dialog .dialog .dialog-content .rule-content * {
    color: #9d0200 !important;
    font-size: 14px !important;
    line-height: 18px !important;
}
/* 活动规则_E */

/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    #link-dialog .link-dialog, #wxcard-dialog .wxcard-dialog {
        top: 2.5% !important;
    }
}