html {
    height: 100%;
}
body {
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow:hidden;
    overflow-y: scroll;
    background-color: #fafafa;
}

.swiper-pagination-bullet {
	background: url(../images/icon-black.png) no-repeat;
	background-size: 100% 100%;
}
.swiper-pagination-bullet-active {
	background: url(../images/icon-white.png) no-repeat;
	background-size: 100% 100%;
}

#J_productList {
	width: 100%;
	padding: 8px;
	margin: 0 auto 36px;
	text-align: left;
	font-size: 0;
}
#J_productList a {
	position: relative;
	display: inline-block;
	width: 48%;
	background: #FFF;
	color: #333;
	margin: 1%;
	box-shadow: 0 0 4px rgba(0,0,0,.3);
}
#J_productList a img {
	min-height: 120px;
	background: #F5F5F5;
}
#J_productList a p {
	padding: 7px 5px;
	width: 66%;
	height: 48px;
	line-height: 18px;
	font-size: 13px;
	text-align: left;
    overflow: hidden;
    word-break: break-all;
}
#J_productList a i {
	position: absolute;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	bottom: 25px;
	right: 5px;
}

.copyright {
	color: #333;
}


/* iPhone4 */
@media screen
and (min-device-width:320px)
and (max-device-height:500px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:2) {
}

/* iPhone5 */
@media screen
and (min-device-width:320px)
and (max-device-height:570px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:2) {
}

/* iPhone6 */
@media screen
and (min-device-width:360px)
and (max-device-width:667px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:2) {
}

/* iPhone6plus */
@media screen
and (min-device-width : 400px)
and (max-device-width : 740px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
}

/* HUAWEI H6 */
@media screen
and (min-device-width : 1000px)
and (min-device-height : 1000px) {
}