.dialog {
    position: absolute;
    color: #fdc728;
    border-radius: 6px;
    z-index: 1000;
    background: url(../images/bg-dialog.jpg) no-repeat 0 0;  background-size: cover;
    overflow: hidden;
}
.dialog-inner {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	height: 100%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}
.modal .btn-close {
    position: absolute;
    background: url(../images/icon-close.png) no-repeat 3px 3px;
    background-size: 22px auto;
    display: block;
    width: 30px;
    height: 30px;
    z-index: 10000;
}

.modal:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.75);
	z-index: 100;
}


.rank-dialog {
    color: #FFF;
    text-align: center;
}
.rank-dialog h2 {
      color: #FFF;
  background: url(../images/jf-bg.png) no-repeat center center;
  background-size: 60% auto;
  text-align: center;
  font-size: 22px;
  padding: 2% 0;
  margin-top: 15px;
}
.rank-dialog .list {
    height: 72%;
    
}
.rank-dialog h3 {
    text-align: center;
    margin: 8px auto;
}
.rank-dialog h3 .jf {
    margin-right: 20px;
	
}
.rank-dialog .list .content {
	overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
	/*padding-top: 4%;*/
}
.rank-dialog .list ul {
    /*padding-top: 8px;*/
	text-align: center;
}
.rank-dialog .list li {
    background-color: rgba(113,0,25,.3);
	margin: 1px 0;
      padding: 0 3%;
}
.rank-dialog .list span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
	text-align: left;
}
.rank-dialog .r-avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100%;
	border: 2px solid #bd6f80;
	overflow: hidden;
    margin: 2px 0;
}
.rank-dialog .r-avatar img {
    width: 38px;

    height: 38px;
    border-radius: 100%;
}
.rank-dialog .r-name {
    width: 50%;

    margin: 0 2%;
}

.rank-dialog .r-rank {
	width: 18%;
	text-align: right !important;
}
.rule-dialog {
    padding-top: 6%;
    color: #fff;
    height: 90%;
}
.rule-dialog h2 {
  color: #FFF;
  background: url(../images/jf-bg.png) no-repeat center center;
  background-size: 60% auto;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 16px;
}
.rule-dialog .content {
  padding: 0;
  height: 86%;
  width: 94%;
  left: 4%;
  margin: 0 auto;
}
.rank-dialog p {
    text-align: center;
  font-size: 13px;
  padding: 0 3%;
}
.rule-dialog .rule {
	
    font-size: 14px;
    line-height: 24px;
    max-height: 100%;
    overflow-y: auto;
    color: #FFF;
    margin-top: 8%;
}
.rule-dialog p {
    line-height: 22px;
	
}
.rule-dialog h3 {
    margin-top: 22px;
    font-size: 16px;
}
#fudai-dialog .btn-close {
  top: 11% !important;
  right: 8% !important;
}
#fudai-dialog .fudai {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  background: url(../images/redbg.png) no-repeat;
  background-size: 100% 100%;
  z-index: 199;
}
#fudai-dialog i {
  font-style: normal;
  color: #FFF;
  width: 74px;
  height: 74px;
  line-height: 74px;
  display: block;
  background: #ffaa3b;
  border-radius: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
  position: absolute;
  bottom: 25%;
  left: 50%;
  margin-left: -37px;
  border: 2px solid #FFD500;
}
#fudai-dialog .fudai-round {
  position: absolute;
  top: 12%;
  left: 10%;
  width: 80%;
  background: url(../images/red-tit.png) no-repeat;
  background-size: 100% auto;
  z-index: 200;
  -webkit-animation-name: fudai-zoom;
          animation-name: fudai-zoom;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes fudai-zoom {
  0% {
    opacity: 0.4;
    -webkit-transform:scale(0);
  }
  
  100% {
    opacity: 1;
    -webkit-transform:scale(1);
  }
}

@keyframes fudai-zoom {
  0% {
    opacity: 0.4;
    transform:scale(0);
  }
  
  100% {
    opacity: 1;
    transform:scale(1);
  }
}
.dialog-copyright {
	position: absolute;
	bottom: 0;
	left: -5px;
	right: -5px;
	font-size: 14px;
	text-align: center;
	color: #f00;
}

.guide-dialog {
  width: 240px;
  height: 310px;
  left: 50%;
  right: auto;
  margin-left: -120px;
  top: 50%;
  bottom: auto;
  margin-top: -150px;
}
.guide-dialog div {
height: 80px;
  border-radius: 5px 5px 0 0;
  color: #FFF;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  font-size: 26px;
  text-shadow: 2px 2px 2px rgba(0,0,0,.6);
}
.guide-dialog .guide-content {
    height: 100%;
    background-color: #EEE;
    color: #fbf1a0;
    font-weight: normal;
    text-align: left;
    font-size: 14px;
}
.guide-dialog .guide-content .ellipsis {
    position: relative;
    padding-left: 40px;
    background-color: #5e010c;
border-radius: 38px;
  height: 32px;
  line-height: 32px;
  overflow: visible;
}
.guide-dialog .guide-content .ellipsis label {
    position: absolute;
    width: 36px;
    height: 36px;
    top: -2px;
    left: -2px;
    border-radius: 100%;
    background-color: #250303;
    border: 3px solid #FFF;
    text-align: center;
}
.guide-dialog div h1 {
    font-size: 18px;
    font-weight: bold;
}

.guide-dialog p {
	
    border-bottom: 1px solid #666;
    height: 48px;
    line-height: 48px;
    margin: 10px 8px;
    font-size: 14px;
}
.guide-dialog label {
	
    margin-right: 5px;
}
.guide-dialog .btn {
  display: block;
  margin: 20px auto 0;
  width: 60%;
  max-height: 44px;
  line-height: 60px;
  font-size: 18px;
  background: url(../images/try-btn.png) no-repeat;
  border-radius: 0;
  background-size: 100% auto;
}

/** 抽奖  */
.lottery-dialog {
	width: 100%;
	height: 100%;
	color: #fdc728;
}
.lottery-dialog {

}
.lottery-dialog .award-none {
    height: 75%;    margin: 0 4% !important;  position: relative;
	
}
.lottery-dialog .award-none .btn-close {
    position: static;
	
    display: block;
    background: #ec7220;
    width: 50%;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 38px;
    color: #fff;
    margin: 60% auto 0;
}
.lottery-dialog .award-none h5 {
    color: #FFF;
	
    text-align: center;
}
.lottery-none .award-win {
	display: none;
}
.lottery-none .award-none {
    display: block !important;
    padding-top: 40%;
}
.lottery-dialog h2 {
  text-align: center;
  color: #FFF;
  padding: 8% 0;
  font-weight: bold;
  font-size: 18px;
}

.lottery-dialog .content {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  position: relative;
}
.lottery-dialog .back, .lottery-dialog .award-win {
  height: 100%;
  width: 100%;
}
.lottery-dialog .back .award-img {
  background: url(../images/awardbg.png) no-repeat bottom center;
  background-size: 100% auto;
  padding-bottom: 18%;
}
.lottery-dialog .content .cover {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}
.lottery-dialog .content .cover.zshow {
	opacity: 1;
}
.lottery-dialog .content .cover p {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #000;
	font-size: 14px;
	text-shadow: 1px 1px 10px #FF9F00;
}
.lotteried .lottery-dialog .content .cover,
.lottery-none .lottery-dialog .content .cover,
.lotteried .lottery-dialog .content .cover {
	display: none;
}
.lottery-dialog .content .cover .btn-corner {
    position: absolute;
	
    left: 0;
    bottom: 0;
    width: 45%;
    height: 25%;
    /* background: red; */
}

.lottery-dialog h3 {
color: #FFF;
  text-align: center;
  padding-top: 13%;
  font-size: 15px;
  line-height: 17px;
}
.lottery-dialog .award-img {
    width: 100%;
    height: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 2% 0;
	overflow: hidden;
}
.lottery-dialog .award-img img {
	  max-width: 70%;
  max-height: 100px;
  vertical-align: top;
  margin-top: 12%;
}
.lottery-dialog .contact {
    padding: 6%;
}
.lottery-dialog .contact h4 {
    color: #FFF;
    font-size: 12px;
}

.lottery-dialog .contact h4.award-tip {

}
.lottery-dialog .contact h4.awarded-tip {
    display: none;

}
.lottery-awarded .contact h4 {

}
.lottery-awarded .contact h4.award-tip {
    display: none;

}
.lottery-awarded .contact h4.awarded-tip {
    display: block;

}
#lottery-dialog .contact p {
     margin-top: 6px;
  color: #FFF;
  font-size: 15px;
  line-height: 18px;
  margin: 15px auto;
}

#lottery-dialog .contact input {
    background: #fff;
    border: 0 none;
    border-radius: 4px;
    height: 30px;
    padding: 0 6px;
    width: 100%;
    outline: 0 none;
}

.lottery-dialog .contact .btn {
    margin: 4% auto;

    background: #ec7220;
}
.lottery-dialog .contact .btn-award {
    display: block;
    color: #FFF;
	
}
.lottery-dialog .contact .share {
    text-align: center;
    font-size: 14px;
    color: #FFF;
}
.lottery-dialog .contact .btn-share {
    display: none;
    font-size: 13px;
    line-height: 13px;
    color: #c47e88;
    font-weight: bolder;
}

.lottery-awarded .contact .btn-award {
    display: none;

}
.lottery-awarded .contact .btn-share {
    display: block;
    margin-top: 25px;
}




.award-dialog .box {
	height: 48%;
	position: relative;
	overflow: hidden;
}
.award-dialog .prize {
    background: url(http://cdn.holdfun.cn/ahtvcomedian/images/material/bg-prize.png) no-repeat center center;
    background-size: cover;
	
    height: 100%;
    margin: 0 -10%;
    text-align: center;
    padding-top: 10%;  
    padding-bottom: 10%;
    overflow: hidden;
}
.award-dialog .prize:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.award-dialog .prize img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.award-dialog .prize.p1 img {
    max-width: 80%;
}

.award-dialog .ctrl {
    color: #fff;
    padding-top: 5%;
    text-align: center;
}
.award-dialog .ctrl h2 {
    text-align: center;
    font-size: 16px;
	margin: 0 6%;
}
.award-dialog .content {
    width: 88%;
    margin: 0 auto;
    padding-top: 8px;
}

.award-dialog .content p {
    font-size: 12px;
    text-align: left;
}
.award-dialog .content input {
    width: 100%;
    border: 0 none;
    background: #fff;
    height: 36px;
    font-size: 16px;
    padding: 0 0 0 10px;
    border-radius: 5px;
    margin-top: 8px;
    color: #979797;
    outline: none;
}
.award-dialog .ctrl .btn {
    display: inline-block;
    vertical-align: middle;
    margin: 23px 5px 0 5px;
    width: 35%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    letter-spacing: 0px;
    border-radius: 20px;
}
.award-dialog .award-succ {
	display: none;
}
.award-dialog .award-succ.ctrl {
	
}
.award-dialog .award-succ h2 {
    text-align: left;
    text-indent: 2em;
    padding: 0 6%;
}
.award-dialog .award-succ h3 {
    text-align: center;
    margin-top: 10%;
    color: #FDC728;
}
.award-dialog .award-succ .btn {
    margin-top: 10px;
    letter-spacing: 0;
}
.award-succ-dialog .prize img {
	display: none;
}
.award-succ-dialog .prize:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	background: url(http://cdn.holdfun.cn/ahtvcomedian/images/material/icon-ljsu.png) no-repeat center center;
	background-size: cover;
	width: 80%;
	height: 80%;
}

.award-succ-dialog .ctrl {
	display: none;
}
.award-succ-dialog .award-succ {
	display: block;
}
.award-succ-dialog .dialog-inner {
	height: 100%;
	padding-bottom: 0;
}

#confirm-dialog {  
}
#confirm-dialog:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 10000;
}
.confirm-dialog {
    width: 72%;
	
    height: 130px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    position: absolute;  
    background-size: 260px auto;
    border-radius: 6px;
    z-index: 100000;
    color: #FFF;
}
.confirm-dialog .content {
	
    margin: 5% 8% 5%;
    font-size: 16px;
}
.confirm-dialog .ctrl {
    text-align: center;
	
    margin-right: -10px;
}
.confirm-dialog .ctrl .btn {
    margin-right: 10px;
	
    background: rgba(86, 24, 23, 0.8);
}


.tip-dialog {
    width: 220px;
	
    height: 200px;
    background: url(http://cdn.holdfun.cn/ahtvcomedian/images/material/bg-dialog.jpg) no-repeat 0 0;
    background-size: cover;
    left: 50%;
    right: 0;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    bottom: 0;
}
.tip-dialog h2 {
    background: url(http://cdn.holdfun.cn/ahtvcomedian/images/material/icon-tips.png) no-repeat center center;
	
    background-size: 170px auto;
    height: 80px;
    margin-top: 35px;
}
.tip-dialog .btn {
    display: block;
	
    position: static;
    width: 60%;
    height: 40px;
    line-height: 40px;
    letter-spacing: 5px;
    background: #FF3535;
    border: 1px solid #fff;
    margin: 10% auto 0;
}
.btn-pack{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width:140px;
	background-color:rgba(195,167,116,1);
	color:white;
	font-size:18px;
	line-height:34px;
	border-radius:20px;
	border:solid 1px rgba(195,167,116,1);
	margin-top:20px;
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  .rank-dialog h3 {
    margin: 2px auto 4px;
  }
  .rank-dialog .list {
    height: 69%;
  }
  .lottery-dialog .award-img img {
    margin-top: 8%;
  }
  #lottery-dialog .contact p {
    margin: 8px auto;
  }
}
/* Other */
@media screen
and (min-device-height : 580px)
and (-webkit-min-device-pixel-ratio: 2) {
  .rank-dialog .list {
    height: 74%;
  }
}
