body {
	background: url(../images/bg-body.jpg) repeat-y center 0;
	background-size: cover;
}

.main {
	margin: 0 auto;
	padding: 45px 0px 30px;
}

.logo {
	background: url(../images/baoliao_logo.png) no-repeat 0 0;
	background-size: 241px auto;
	width: 242px;
	height: 92px;
	margin: 0 auto;
}
.form-group {
    padding: 0 18px;
	
    margin-top: 22px;
}
.form-item {
	
}
.form-item label {
    display: block;
	
    margin-bottom: 9px;
    cursor: auto;
}
.form-item input {
    border: 1px solid #BBBBBB;
	
    border-radius: 6px;
    width: 100%;
    height: 46px;
    padding: 0 3px;
}
.form-item textarea {
    border-radius: 5px;
	
    width: 100%;
    height: 80px;
    padding: 3px;
    border: 1px solid #BBBBBB;
}
.form-item .img-ctrl {
	
    /* height: 52px; */
    margin-top: 8px;
    margin-bottom: 26px;
}
.upload-form {
	height: 0;
	opacity: 0;
	position: absolute;
	top: 0;
}
.input-file-upload {
    opacity: 0;
}
.icon {
	display: inline-block;
	vertical-align: top;
	width: 52px;
	height: 52px;
	line-height: 52px;
	border-radius: 10px;
	text-align: center;
}
.icon:before {
	content: '';
	display: inline-block;
	vertical-align: -2px;
	background: url(../images/icons.png) no-repeat 0 0;
	background-size: 169px auto;
}
.img-ctrl .btn-preview {
    border: 1px solid #ED192F;
	
}
.img-ctrl .img-preview {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #FF8500;
	border-radius: 10px;
	text-align: center;
	width: 52px;
	height: 52px;
	line-height: 52px;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
}
.img-ctrl .img-preview .close {
	content: '';
	display: block;
	background: url(../images/close.png) no-repeat 0 0;
	background-size: 18px auto;
	width: 18px;
	height: 18px;
	position: absolute;
	right: -6px;
	top: -8px;
	cursor: pointer;
}
.img-ctrl .img-preview .uploading {
	display: none;
}
.img-ctrl .img-preview.loading .uploading {
	height: 25px;
	width: 25px;
	margin: 0px auto;
	position: relative;
	-webkit-animation: loading-rotation .6s infinite linear;
	animation: loading-rotation .6s infinite linear;
	border-left: 3px solid rgba(255, 153, 163, 0.55);
	border-right: 3px solid rgba(255, 153, 163, 0.55);
	border-bottom: 3px solid rgba(255, 153, 163, 0.55);
	border-top: 3px solid rgba(238,26,46,.85);
	border-radius: 100%;
	display: block;      
	line-height: 0;
	font-size: 0;
}
.img-ctrl .img-preview .lc {
	position: absolute;
	left: 13px;
	top: 13px;
}
.img-ctrl .img-preview .ic {
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 10px;
}
.img-ctrl .btn-preview:before {
    width: 28px;
    height: 20px;
}
.img-ctrl .img-preview img {
	vertical-align: -11px;
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
}
.img-ctrl .btn-upload {
    border: 2px dotted #5e5e5e;
	
}
.img-ctrl .btn-upload:before {
    width: 28px;
	
    height: 28px;
    background-position: -79px 0px;
    vertical-align: -7px;
}
.img-ctrl .btn-upload:after{
	content: '上传照片';
	display: block;
	color: #F8B20A;
	margin-top: -18px;
	font-size: 12px;
}

.btn-submit {
    background: #FF9307;
	
    display: block;
    width: 240px;
    height: 48px;
    line-height: 48px;
    margin: 23px auto 0;
    border-radius: 22px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.preview-box {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.8);
	z-index: 9999999;
	background-size: 320px auto;
	top: 0;
	left: 0;
}

.loading-btn{
    background: #ccc;
    color: #fff;
}