body {
  background: url(../images/vote-bg.jpg) no-repeat top center;
  background-size: 100% 100vh;
  min-height: 100%;
}

header div.ctrls a {
  display: block;
  width: 80px;
  text-align: center;
  border: 2px solid #eaff00;
  box-shadow: 0 0 2px 2px #ffffbe;
  border-radius: 15px;
  padding: 5px 3px;
  color: #fff;
  font-weight: bold;
  margin: 10px auto;
}
img.logo{
  width: 80px;
  margin: 10px;
}
div.ctrls {
  display: inline-block;
  font-size: 14px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  float: right;
  margin-right: 12px;
}
header div.ctrls a#btn-reserve {
}
section.bottom {
  position: absolute;
  top: 24%;
  left: 0;
  right: 0;
  text-align: center;
}
section.bottom img.logo {
  width: 95%;
  margin: 0 auto;
}
section.bottom img.logo.zoomIn {
  animation-duration: 0.9s;
  -webkit-animation: zoomIn 0.9s ease 600ms 1 both;
  animation-timing-function: ease;
  animation-delay: 600ms;
  animation-iteration-count: 1;
  animation-direction: initial;
  animation-fill-mode: both;
  animation-play-state: initial;
  -webkit-animation-play-state: initial;
  animation-name: zoomIn;
  -webkit-animation-name: zoomIn;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
  }
}
section.bottom footer {
  margin-top: 18%;
}
section.bottom footer a.yj {
  display: block;
  text-align: center;
  background: url(../images/index-btn.png) no-repeat;
  background-size: 260px auto;
  width: 260px;
  height: 64px;
  margin: 0 auto;
}
section.bottom footer a div.items-div{
  padding-top: 16px;
}
section.bottom footer a.yj img.iphone{
  width: 38px;
}
section.bottom footer a.yj img.iphone {
  box-sizing: border-box;
  -webkit-animation: 3s waggle;
  animation: 3s waggle;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: -1;
  animation-delay: -1;
}
@-webkit-keyframes waggle {
  0%, 7% {
    transform: rotateZ(0);
    -webkit-transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
    -webkit-transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
    -webkit-transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
    -webkit-transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
    -webkit-transform: rotateZ(0);
  }
}
section.bottom footer a.yj img.index-yao {
  width: 125px;
}
section.bottom footer a.yj.fadeInLeft {
  -webkit-animation: fadeInLeft 1s ease 900ms both;
  animation-delay: 900ms;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/*活动规则-s*/
.rule-section{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  /*width: 100%;*/
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 20% 10%;
  color: #fff;
}
.rule-section div:first-child{
  height: 100%;
  border-radius: 5px;
  background: rgba(227,12,184, .5);
  border: 2px solid #DF01E5;
  padding: 0 6% 4%;
  position: relative;
  overflow: hidden;
}
.rule-section div.con h2{
  font-size: 18px;
  margin: 3% auto 2%;
  text-align: center;
  height: 7%;
  color: #FFF;
}
.rule-section div a.close{
  display: inline-block;
  background: #fff;
  background-size: 20px auto;
  width: 50px;
  height: 50px;
  position: absolute;
  right: -15px;
  top: -15px;
  border-radius: 100%;
}
.rule-section div a.close img{
   width: 35%;
   margin: 21px auto 18px 11px;
 }
.rule-section div div.con{
  height: 88%;
  margin-bottom: 2%;
  padding-top: 2%;
}
.rule-section div div.con div.con-htm{
  height: 92%;
  margin-top: 6%;
  overflow: auto;
  border-top: 1px solid #fff;
  padding-top: 10px;
}
/*活动规则-e*/

/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  section.bottom footer {
    margin-top: 6%;
  }
}