.modal:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 100;
}
.dialog {
    position: absolute;
    color: #fdc728;
    border-radius: 6px;
    z-index: 1000;
    background: #FFFFEF;
    overflow: hidden;
}
.btn{
	background: #D40445;
}
.modal-guide {
	height: auto !important;
}
.modal .btn-close {
    position: absolute;
    background: url(../images/icon-close.png) no-repeat 3px 3px;
    background-size: 22px auto;
    display: block;
    width: 30px;
    height: 30px;
    z-index: 10000;
}

.lottery-close{
    top: -15px!important;
    right:-15px!important;
}

.lottery-dialog{
    overflow: inherit;
}

.rule-dialog {
	
    padding-top: 10%;
    color: #333333;
    height: 90%;
}
.rule-dialog h2 {
    height: 32px;
    margin: 0 6%;
}
.rule-dialog .content {
	overflow-y: scroll;
    margin: 0% 6% 0;
    height: 70%;
}
.rule-dialog .rule {
    padding: 6% 0;
	
    font-size: 14px;
    line-height: 24px;
    max-height: 100%;
	min-height: 100%;
    overflow-y: auto;
}
.rule-dialog p {
	
}
.rule-dialog h3 {
    margin-top: 22px;
	
    font-size: 16px;
}
.rule li{
    font-size:12px;
    border-top: 1px solid #999999;
    padding-top: 10px;
    margin-bottom:10px;
}
.rule li span{
    color: #333333;
    margin: 5px 5px 0;
    line-height: 16px;
}
.rule li i{
    display: inline-block;
    margin-top: 4px;
    font-style: normal;
    width: 28px;
    height:28px;
    border-radius:14px;
    -webkit-border-radius:14px;
    background:#CE0A09;
    color:#fff;
    text-align:center;
    line-height: 28px;
}
.rule li label{
    color: #999999;
    float:right;
    margin-top: 5px;
}
/*.record-con:before,.record-con:after{
    content: '';
    border-top:none;
}*/
.dialog-copyright {
    position: absolute;
    bottom: 30px;
    left: -5px;
    right: -5px;
    font-size: 12px;
    transform: scale(0.7);
    text-align: center;
    color: #655B5B;
}

/** 抽奖  */
.lottery-dialog {
	color: #fdc728;
}
.not-lott img{
    margin:15px auto 25px;
}
.not-lott h1{
    font-size: 18px;
    color: #666666;
    text-align: center;
}
.btn-share{
    display:block;
    width:190px;
    height:40px;
    line-height: 40px;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    margin: 50px auto 10px;
}
/*.da-tips{
    text-align: center;
}

.da-tips a{
    color: #EC0609;
    font-size: 16px;
    text-decoration:underline;
}*/
.da-tips a:last-child{
    text-decoration: underline;
    margin-top: 20px;
    display: inline-block;
}
::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.lott,.not-lott{
  padding:10px;
    text-align: center;
}
.lott img{
    margin:0 auto 1px;
    height: 148px;
}
.lott h1{
    font-size: 12px;
    color: #000;
    text-align: center;
}
.lott h2{
    color: #FAA105;
    width:260px;
    margin: 0 auto 20px;
    font-size: 15px;
}
.bth-aw{
    margin-top: 20px;
}

input {
    display: block;
    width: 80%;
    border: 0 none;
    border: 1px solid #D3D3D3;
    height: 30px;
    font-size: 12px;
    padding: 0 0 0 10px;
    border-radius: 5px;
    margin: 8px auto 5px;
    color: #979797;
    outline: none;
    background: #FFFFEF;
}
/*.rule-dialog h2.record-h2{
    background: url(../images/win.png) no-repeat center top;
    background-size: 130px auto;
    height: 32px;
}*/

.not-lott h2 {
    font-size: 12px;
    color: #666666;
    margin: 30px auto 60px;
}
.lott-back{
    width: 80%;
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .lott h2 {
        margin: 0 auto;
        line-height: 16px;
    }
    input {
        margin: 2px auto;
    }
    /*.da-tips a{
        font-size: 12px;
    }*/
    .not-lott img{
        margin: 8px auto 8px;
    }
    .rule li span{
        margin: 5px 0 0 4px;
    }
}

/*加载按钮 -s*/
.loader{
    margin: 0 auto;
    width: 72px;
}
.loader span{
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    background: #F26C0D;
    border-radius: 50px;
    margin: 0 2px;
    -webkit-animation: loader 1s infinite alternate;
    -moz-animation: loader 1s infinite alternate;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
}
.loader span:nth-of-type(4) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
.loader span:nth-of-type(5) {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
}
@-webkit-keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}
@-moz-keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

/*加载按钮 -e*/