header a{
    display: inline-block;
    width: 20%;
    border: 2px solid #d67b12;
    text-align: center;
    color: #d67b12;
    font-size: 14px;
    position: absolute;
}
header .reserve{
    top: 2.5%;
    right: 24%;
}
header .rule{
    top: 2.5%;
    right: 3%;
}
header .tv-logo{
    display: inline-block;
    width: 40%;
    margin: 4% 0 0 4%;
}
.door{
    display: block;
    width: 100%;
    height: 38%;
}
.logo{
    display: block;
    width: 85%;
    margin: 16% auto 0;
}
.body{
    display: block;
    margin-top: -7%;
    width: 14%;
    margin-left: 24%;
}
.head{
    display: block;
    width: 30%;
    margin-top: -50%;
    margin-left: 21%;
    z-index: 2;
}
.click-in{
    display: block;
    position: absolute;
    bottom: 16%;
    right: 5%;
    font-size: 13px;
}
.breathe-btn{
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 16.5%;
    right: 43%;
    border: 1px solid #080808;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,.8);
    overflow: hidden;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#585859), to(#050505));
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-name: breathe;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}
@-webkit-keyframes breathe {
    0% { opacity: .5; box-shadow:0 1px 2px rgba(0, 0, 0,1);}
    100% { opacity: 1; border:1px solid rgba(0,0,0,1); box-shadow:0 1px 15px rgba(0,0,0,1);}
}

@-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.3, 1.3, 1.3);
        transform: scale3d(1.3, 1.3, 1.3);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    80% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.3, 1.3, 1.3);
        transform: scale3d(1.3, 1.3, 1.3);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    80% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes wobble {
    0% {
        -webkit-transform: none;
        transform: none;
    }

    15% {
        -webkit-transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -7deg);
        transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -7deg);
    }

    30% {
        -webkit-transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
        transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
    }

    45% {
        -webkit-transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    60% {
        -webkit-transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
        transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
    }

    75% {
        -webkit-transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes wobble {
    0% {
        -webkit-transform: none;
        transform: none;
    }

    15% {
        -webkit-transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -7deg);
        transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -7deg);
    }

    30% {
        -webkit-transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
        transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
    }

    45% {
        -webkit-transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    60% {
        -webkit-transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
        transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
    }

    75% {
        -webkit-transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.wobble {
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}
@-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -200px, 0);
        transform: translate3d(0, -200px, 0);
    }

    40% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    65% {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -200px, 0);
        transform: translate3d(0, -200px, 0);
    }

    40% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    65% {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .logo {
        width: 75%;
        margin: 0% auto 0;
    }
    .body{
        margin-top: -5%;
        width: 10%;
    }
    .head{
        width: 25%;
        margin-top: -42%;
    }
    .click-in{
        bottom: 15%;
        right: 5%;
    }
}
/* iPhone6 */
@media screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 3) {
    .click-in{
        bottom: 16%;
        right: 5%;
        font-size: 15px;
    }
}
/* luo */
@media screen
and (min-device-width : 1000px)
and (min-device-height : 1000px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .logo{
        display: block;
        width: 80%;
        margin: 10% auto 0;
    }
    .click-in{
        bottom: 16%;
        right: 5%;
        font-size: 15px;
    }
}
/* mi2*/
@media screen
and (min-device-width : 720px)
and (max-device-height : 1280px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
    .click-in{
        bottom: 16%;
        right: 5%;
        font-size: 15px;
    }
}
/* yi*/
@media screen
and (min-device-width : 360px)
and (max-device-height : 519px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
    .logo{
        display: block;
        width: 80%;
        margin: 10% auto 0;
    }
}