.dialog {
    position: absolute;
    color: #fdc728;
    border-radius: 6px;
    z-index: 1000;
    background: #c00000 url(../images/bg-hua.png) repeat-y 0 0;  
    background-size: 100% auto;
    overflow: hidden;
}

.modal .btn-close {
    position: absolute;
    background: url(../images/icon-close.png) no-repeat 3px 3px;
    background-size: 22px auto;
    display: block;
    width: 30px;
    height: 30px;
    z-index: 10000;
}

.modal:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 100;
}

.dialog-copyright {
	position: absolute;
	bottom: 0;
	left: -5px;
	right: -5px;
	font-size: 14px;
	text-align: center;
}

.border:before, .border:after {
	content: '';
	display: block;
	background: url(../images/bg-border.png) no-repeat center center;
	background-size: cover;
	height: 6px;
}
.border:after {
    transform: rotate(180deg);
	
}


.rule-dialog {
	
    padding-top: 6%;
    color: #fff;
    height: 90%;
}
.rule-dialog h2 {
    background: url(../images/icon-rule.png) no-repeat center center;
	
    background-size: 130px auto;
    height: 32px;
    text-align: center;
    font-size: 20px;
}
.rule-dialog .content {
	
    margin: 6% 6% 0;
    height: 70%;
}
.rule-dialog .rule {
	
    font-size: 14px;
    line-height: 28px;
    height: 96%;  overflow-y: auto;
    color: #fff;
    margin: 3% 0;
}
.rule-dialog p {
    line-height: 28px;
	
}
.rule-dialog h3 {
    margin-top: 22px;
	
    font-size: 16px;
}


.modal-guide {
	height: auto !important;
}
.guide-dialog {
    width: 280px;
	
    height: 300px;
    left: 50%;
    right: auto;
    margin-left: -140px;
    top: 50%;
    bottom: auto;
    margin-top: -150px;
    background: #fff4db;
    color: #000000;
}
.guide-dialog h2 {
	
    height: 68px;
    background: url(../images/bg-guide.jpg) no-repeat center center;
    background-size: 280px auto;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.guide-dialog h2 strong {
    display: block;
   
    margin-top: 2px;
    font-size: 18px;
}
.guide-dialog h3 {
    padding: 10px 10px 0px;
	
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
.guide-dialog p {
	
    border-bottom: 1px solid #B4B4B4;
    height: 44px;
    line-height: 44px;
    margin: 0 12px;
    font-size: 14px;
}
.guide-dialog label {
	
    margin-right: 5px;
}
.guide-dialog .btn {
    display: block;
	
    margin: 16px auto 0;
    width: 60%;
    height: 40px;
    line-height: 40px;
    background: #c00000;
    color: #ffd74d;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
}

.modal-tips {
	height: auto !important;
	visibility: visible;
}
.tips-dialog {
    width: 236px;  
    height: 190px;  left: 50%;  right: auto;  
    margin-left: -118px;  top: 50%;  bottom: auto;  
    margin-top: -95px;  
    background: #fff4db url(../images/bg-tips.jpg) no-repeat 0 0;  
    background-size: cover;
    color: #000000;
	
}

.tips-dialog .content {
    color: #000000;
	
    margin: 30px 30px 0;
    line-height: 25px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 16px;
}
.tips-dialog .btn-now {
    display: block;
    width: 60%;
    height: 40px;
    line-height: 40px;
    color: #ffd74d;
    background: #c00000;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    margin: 20px auto 0;
}


.download-dialog iframe {
	background: #fff4db;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}



.h-speaking .modal-speak {
	display: block !important;
	height: auto !important;
}
.speak-dialog {
    width: 180px;
    height: 200px;
    left: 50%;
    right: auto;
    margin-left: -90px;
    top: 50%;
    bottom: auto;
    margin-top: -100px;
    background: #fff url(../images/icon-microphone.png) no-repeat center 30px;
    background-size: auto 80px;
    color: #000000;
    padding-top: 140px;
    overflow: hidden;
}
.speak-dialog .err-tip {
    position: absolute;
	
    left: 20px;
    right: 20px;
    top: 25%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(0,0,0,0.5);
    color: #fff;
    border-radius: 6px;
}
.speak-dialog .btn-press {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #c00000;
    color: #ffd74d;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
	border-radius: 0 0 6px 6px;
}

.confirm-dialog {
	height: 140px;
	margin-top: -70px;
}
.confirm-dialog .content {
	text-align: center;
}