body{
    background-color: #F8F8F8;
    font-size: 14px;
}
.pay-content
{
    padding-bottom: 80px;
}
.pay-content ul li
{
    position: relative;
    display: block;
    padding: 10px;
    border-bottom: solid #d5d5d5;
    border-width: 1px 0;
    background: #fff;
    min-height:40px;
    overflow: hidden;
}
.pay-content ul li:nth-child(1)
{
    padding: 10px 40px 10px 10px;
}
.pay-content .line-limit
{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-wrap:break-word;
    word-break:break-all;
    margin-right: 60px;
}
.pay-content ul .goods-times{
    position: absolute;
    right: 10px;
    top: 0;
    display: block;
    line-height: 39px;
}
.pay-submit {
   position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 0 14px;
    z-index:2;
}
.pay-pocket
{
    font-size: 12px;
    color: #cccccc;
    -webkit-user-select: none;
}
.txt-red{
    color:#f91546;
}
.pay-button
{
    width: 100%;
    padding: 0;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-radius: 4px;
    background: #f91546;
    white-space: nowrap;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    border-width: 0;
    border-style: solid;
    -webkit-appearance: button;
    text-align: center;
    cursor: pointer;
    text-decoration: none!important;
    outline: none;
}

.pay-button span
{
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
  display: inline-block;
  margin:0px 2px;
  vertical-align: middle;
}
.red-discount
{
    float:left;
}
.discount-number
{
    float:right;
}
.button-holder {
    float: left;
}
.button-holder p{
    position: relative;
    z-index: 1;
}
.regular-radio {
    display: none;
}

.regular-radio + label {
    vertical-align: middle;
    padding: 8px;
    background-color: #e9ecee;
    color: #99a1a7;
    border: 1px solid #adb8c0;
    margin: 2px 10px 4px 0px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-radio + label {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    border-radius: 50px;
    display: inline-block;
    position: relative;
    z-index: 0;
}
.big-radio + label:after {
    width: 24px;
    height: 24px;
    left: 4px;
    top: 4px;
}
.regular-radio + label:after {
    content: ' ';
    width: 8px;
    height: 8px;
    border-radius: 50px;
    position: absolute;
    top: 4px;
    background: #c2c2c2;
    box-shadow: inset 0px 0px 10px #c2c2c2;
    text-shadow: 0px;
    left: 4px;
    font-size: 32px;
}
.ischecked + label:after {
    content: ' ';
    width: 8px;
    height: 8px;
    border-radius: 50px;
    position: absolute;
    top: 4px;
    background: #B4EB7C;
    box-shadow: inset 0px 0px 10px #47ac79;
    text-shadow: 0px;
    left: 4px;
    font-size: 32px;
}
.ischecked + label {
    border: 1px solid rgba(0,0,0,.6); 
}
.timeout
{
    word-break:break-all;
}