body{
    background: url(../images/card_bg.jpg) no-repeat;
    background-size: 100% 100%;
}
header{
    padding: 0;
    position: relative;
}
header .yao{
    width: 18%;
    display: inline-block;
    margin-left: 9%;
    padding-top: 5px;
    -webkit-animation: grow 0.7s 0.4s 1 ease, lottery-move 2s 1.5s infinite ease-in-out;
    -webkit-transform-origin: bottom;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes grow {
    0% { -webkit-transform: scale(0);transform: scale(0);}
    60% {-webkit-transform: scale(1.15);transform: scale(1.15);}
    80% {-webkit-transform: scale(0.95);transform: scale(0.95);}
    100% {-webkit-transform: scale(1);transform: scale(1);}
}
@-webkit-keyframes lottery-move {
    0% { -webkit-transform: rotate(0deg);transform: rotate(0deg);}
    15% { -webkit-transform: rotate(-15deg);transform: rotate(-15deg);}
    30% { -webkit-transform: rotate(15deg);transform: rotate(15deg);}
    45% { -webkit-transform: rotate(-15deg);transform: rotate(-15deg);}
    60% { -webkit-transform: rotate(15deg);transform: rotate(15deg);}
    75% { -webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100% { -webkit-transform: rotate(0deg);transform: rotate(0deg);}
}
header .card-top{
    width: 56%;
    padding-top: 3%;
    display: inline-block;
}
header .jmd{
    width: 8%;
    position: absolute;
    right: 4%;
    z-index: 2;
}
.copyright{
    position: absolute;
    bottom: 0;
}

.swiper-container {
    overflow: inherit!important;
}
.swiper-wrapper{
    width: 88%;
}
.swiper-slide {
    text-align: center;
    font-size: 14px;

    /* Center slide text vertically */
    text-align: center;
    font-size: 14px;
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;*/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;


}
.swiper-container-horizontal>.swiper-pagination {
    bottom: -17px;
}
.swiper-slide ul{
    width: 100%;
    clear: both;
}
.swiper-slide ul li{
    background: url(../images/pack-bg.png) no-repeat;
    background-size: 100% 100%;
    float: left;
    margin:2px 2%;
}
.swiper-slide ul li.selected {
    -webkit-animation-name: horizontal-scale;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes horizontal-scale {
    0% {
        -webkit-transform: rotateY(0deg);
    }
    18% {
        -webkit-transform: rotateY(360deg);
    }
    100% {
        -webkit-transform: rotateY(360deg);
    }
}
.swiper-pagination-bullet-active {
    background: #fff;
}
.swiper-slide .headimg{
    display: block;
    width: 66%;
    margin: 0 0 0 20%;
    border-radius: 10px;
}
.swiper-slide .headout{
    width: 100%;
    margin-top: 48%;
    height: 33%;
}
.swiper-slide .name{
    display: block;
    color: #FFF;
    font-size: 12px;
    width: 75%;
    margin: 10% auto 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-transform: scale(.8);
    vertical-align: top;
}