* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input::-webkit-input-placeholder {
    color: #666666 !important;
}

input[placeholder],
[placeholder],
*[placeholder] {
    color: #666666 !important;
}

.modal {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 99999;
    color: #FFF;
    text-align: center;
}

.modal .dialog {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 3px;
}

#rule-dialog .btn-close {
    position: absolute;
    right: -5%;
    top: -15px;
    height: 38px;
    width: 36px;
    background: url(../images/rule-close.png) no-repeat top center;
    background-size: 100% 100%;
}
#list-dialog .btn-close {
    position: absolute;
    right: -5%;
    top: -15px;
    height: 38px;
    width: 36px;
    background: url(../images/rule-close.png) no-repeat top center;
    background-size: 100% 100%;
    z-index: 5;
}

.modal .rule-dialog {
    color: #FFF;
    width: 100%;
    height: 100%;
    /*background: url(../images/rule-bg.png) no-repeat top center;*/
    /*background-size: 100% 100%;*/
    background-color: #297ea1;
    border-radius: 8px;
}

.modal .list-dialog {
    color: #00495a;
    width: 100%;
    height: 100%;
    /*background: url(../images/rule-bg.png) no-repeat top center;*/
    /*background-size: 100% 100%;*/
    background-color: #1f609d;
    border-radius: 3px;
}
.gift-time{
    position: relative;
    display: inline-block;
    width: 50%;
    text-align: center;
}
.gift-info{
    width: 90%;
    line-height: 32px;
    margin: auto;
    border-bottom: 1px solid #00495a;
}
.gift-name{
    position: relative;
    display: inline-block;
    width: 50%;
    text-align: center;
}
.gift-user-info{
    position: relative;
    width: 100%;
    height: 30%;
    display: block;
}
.gift-user-info>img{
    width: 24%;
    margin: auto;
    border-radius: 100%;
}
.gift-user-info>div{
    color: white;
}

.list-dialog .content {
    position: static;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    color: #FFF;
    word-break: break-all;
    overflow-y: scroll;
    background-color: #467aab;
    padding: 5px 0 5px 0;
}
.list-dialog .border {
    height: 70%;
}

.content-record {
    height: 100%;
}

.modal .duobao-dialog {
    color: #fff;
    width: 100%;
    height: 100%;
    background: url(../images/duobao-bg.png) no-repeat top center;
    background-size: 100% 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#duobao-dialog .duobao-close {
    position: absolute;
    right: 1px;
    top: -24px;
    height: 34px;
    width: 43px;
    background: url(../images/icon-close.png) no-repeat top center;
    background-size: 100% 100%;
    margin-top: 40%;
}

#qtcode-dialog .qtcode-close {
    display: block;
    width: 65%;
    /* margin: 5% auto; */
    background: #ffc636;
    /* border: 2px solid #2c3b70; */
    border-radius: 8px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    color: #c86e02;
    text-align: center;
    margin: auto auto 8% auto;
}
#qtcode-dialog .award-luckEt {
    font-weight: bold;
}
#qtcode-dialog .t-img {
    position: relative;
    width: 50%;
    margin: auto;
}
#qtcode-dialog .award-luck {
    color: #09428f;
    margin: 15px auto;
}

#duobao-dialog .content {
    text-align: center;
}

#duobao-dialog .duobao-btn-sure {
    display: block;
    background: #ffe051;
    width: 38%;
    margin: 76% auto 0px;
    margin-right: 22%;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    color: #ff134b;
    text-align: center;
}

.rule-dialog h2 {
    height: 42px;
    line-height: 38px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #33c7f2;
}

.rule-dialog .content {
    position: static;
    margin: 0 auto;
    padding: 10% 0 20%;
    width: 88%;
    height: 100%;
    color: #FFF;
    word-break: break-all;
}

.rule-dialog .rule {
    font-size: 14px;
    line-height: 24px;
    max-height: 100%;
    overflow-y: auto;
    margin-top: 0;
    height: 90%;
    padding-bottom: 6%;
    text-align: left;
}

.rule-dialog p {
    line-height: 22px;
}

.rule-dialog h3 {
    margin-top: 22px;
    font-size: 16px;
}

.rule-dialog .content .congrate {
    color: #fffc00;
    text-align: center;
    margin-top: 50px;
    font-size: 23px;
}

.rule-dialog .content .redpack {
    color: #fffc00;
    text-align: center;
    margin-top: 20px;
    font-size: 23px;
}

.lottery-dialog {
    width: 100%;
    height: 100%;
    background: url(../images/lottery-bg.jpg) no-repeat top center;
    background-size: 100% 100%;
    border-radius: 8px;
}
.qtcode-dialog {
    width: 100%;
    height: 100%;
    background: url(../images/lottery-bg.jpg) no-repeat top center;
    background-size: 100% 100%;
    border-radius: 8px;
    padding-top: 3px;
}

.Entlottery-dialog {
    /*background: url(../images/enlottery-bg.png) no-repeat top center;*/
    /*background-size: 100% 100%;*/
    /*background-color: #3c9ad6;*/
    /*border: #09428f;*/
    /*border-radius: 8px;*/
}

p.bussiness-phone {
    font-size: 16px;
    color: #c39346;
    text-align: center;
}

p.bussiness-infor {
    font-size: 13px;
    color: #c39346;
    text-align: center;
}

.award-bottom{
    position: absolute;
    width: 60%;
    left: 20%;
    bottom: -7%;
}



.lottery-dialog .btn-close,
.redlottery-dialog .btn-close,
.thanks-dialog .btn-close {
    position: absolute;
    right: 3px;
    top: 3px;
    height: 15px;
    width: 15px;
    background: url(../images/icon-close.png) no-repeat top center;
    background-size: 100% 100%;
    z-index: 10;
}

.thanks-dialog {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.lottery-dialog .lottery-btn {
    display: block;
    width: 65%;
    /* margin: 5% auto; */
    background: #ffc636;
    /* border: 2px solid #2c3b70; */
    border-radius: 8px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    color: #c86e02;
    text-align: center;
    margin: auto auto 8% auto;
    /*box-shadow: #c29011 0 3px 2px;*/
}

#btn-getluck {
    bottom: 40px;
}

#Entlottery-dialog .lottery-dialog .lott-box {
    width: 90%;
    height: 53%;
    margin: 6% auto 0;
    color: #333;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

.lottery-dialog .lott-box {
    width: 90%;
    height: 53%;
    margin: 4% auto 4%;
    color: #333;
    font-size: 15px;
    line-height: 20px;
    text-align: center
}

.lottery-dialog .lott-box .award-tips {
    width: 80%;
    /*margin: 3% auto;*/
}

.lottery-dialog .award-luck,
.redlottery-dialog .award-luck {
    width: 100%;
    background: #fa6869;
    height: 50px;
    line-height: 50px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    /*margin: 3% auto;*/
}

.lottery-dialog .lott-box .award-img {
    width: 92%;
    margin: 4% auto;
    max-height: 120px;
}

.lottery-dialog .get-infor {
    color: #c00000;
    font-size: 13px;
}

.lottery-dialog .lott-box .award-luck {
    color: #ffca2f;
    font-size: 17px;
    font-weight: bold;
}

.lottery-dialog .lott-box .award-luckEt {
    color: #fff;
    font-size: 15px;
}

.award-luckEt {
    width: 100%;
    /*background: #fa6869;*/
    /*background: url("../images/et.png") no-repeat;*/
    /*background-size: 100% 100%;*/
    /*height: 70px;*/
    /*line-height: 110px;*/
    color: #004491;
    font-size: 18px;
    text-align: center;
    word-break: break-all;
    margin-top: 5%;
    margin-bottom: 5px;
}

.lottery-dialog #not-lott .ltp {
    font-size: 15px;
    color: #004491;
}

.lottery-dialog .duijiangma {
    font-size: 16px;
    color: #004491;
}

.lottery-dialog .lott-box .inp .ple {
    color: #004491;
    display: block;
    width: 100%;
    text-align: left;
    margin: 2% auto;
    font-size: 13px;
}

.lottery-dialog .lott-box .inp {
    color: #004491;
    text-align: left;
    padding-left: 2%;
}

.lottery-dialog .lott-box .inp p {
    display: block;
    margin: 3% auto;
    text-align: center;
}

.lottery-dialog .lott-box .inp p input {
    width: 90%;
    height: 32px;
    border-radius: 5px;
    border-style: none;
    background: #eeeeee;
}

.lottery-dialog .lott-box .code .ple {
    color: #fff;
    font-size: 12px;
}

.lottery-dialog .lott-box .code .cd {
    color: #c5092b;
    display: block;
    margin: 3% auto;
    background: #fff;
    height: 28px;
    line-height: 28px;
    width: 90%;
    border-radius: 5px;
}

.lottery-dialog .lott-box .result .ple {
    color: #666666;
    font-size: 13px;
}

.lottery-dialog .lott-box .result .cd {
    color: #666666;
    display: block;
    margin: 3% auto;
    height: 22px;
    line-height: 22px;
    width: 90%;
    text-align: left;
    padding-left: 10%;
}

.lottery-dialog .lott-box .code .prize-desc {
    background: none;
    color: #B6B4B4;
    font-size: 12px;
    line-height: 15px;
    height: auto;
}

.redlottery-dialog {
    width: 100%;
    height: 100%;
    background: url(../images/lottery-bg.png) no-repeat;
    background-size: 100% 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
    border-radius: 10px;
}

.redlottery-dialog .award-lpt {
    color: #d32430;
    display: block;
    margin-top: 3%;
    text-align: center;
}

.redlottery-dialog .bussiness-infor-img {
    max-width: 90%;
}

.redlottery-dialog .award-logo {
    display: block;
    width: 60%;
    margin: 8% auto 0;
}

.redlottery-dialog .award-img {
    display: block;
    width: 65%;
    margin: 5% auto;
    max-height: 110px;
}

.luck-infor {
    color: #c00000;
}

.redlottery-dialog .lottery-btn {
    /*display: block;
    margin: 10% auto 0;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    color: #fff;
    width: 53%;
    background: #e62c2c;
    border-radius: 20px;
    height: 42px;
    line-height: 42px;
    color: #ffeb8b;
    text-align: center*/
    display: block;
    width: 54%;
    margin: 5% auto;
    background: #e62c2c;
    /* border: 2px solid #2c3b70; */
    border-radius: 20px;
    height: 42px;
    line-height: 42px;
    color: #ffeb8b;
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 23%;
}

.redlottery-dialog .award-ly {
    display: block;
    margin-top: 5%;
    color: #fff;
    font-size: 12px;
    padding: 0px 10px;
}
.t-pic1{
    position: absolute;
    width: 50px;
    height: 30px;
    top: -20px;
    left: 60px;
}
.t-pic2{
    position: absolute;
    width: 50px;
    height: 30px;
    top: 70%;
    left: -40px;
}
.t-pic3{
    position: absolute;
    width: 50px;
    height: 30px;
    top: 40px;
    right: -40px;
}
.thanks-dialog img {
    width: 100%;
    position: absolute;
    z-index: 0;
    display: block;
}

#Entlottery-dialog {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

#Entlottery-dialog #ent-result .lottery-btn {
    display: inline-block;
    width: 140px;
}


/* iPhone4 */

@media screen and (min-device-width: 320px) and (max-device-height: 500px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    #Entlottery-dialog .lottery-dialog .lott-box {
        height: 56%;
        margin: 6% auto 0;
    }
    #Entlottery-dialog .lottery-dialog .lott-box .award-img {
        width: 66%;
        height: 40%;
        margin: 3% auto;
    }
    #lot{
        height: 55%!important;
    }
    .lottery-dialog .lott-box .inp p input {
        height: 28px;
    }
    .lottery-dialog .lott-box .inp .ple {
        margin: -1% auto 2%;
    }
    .lottery-dialog .lott-box .award-tips {
        margin: 1% auto 1%;
    }
    .lottery-dialog .lott-box {
        margin: 4% auto 0;
    }
    .lottery-dialog .lott-box .award-img {
        margin: 1% auto;
    }
    .lottery-dialog .lott-box .inp p {
        margin: 1% auto;
    }
    .lottery-dialog .lott-box .code .cd {
        margin: 1% auto;
    }
    .lottery-dialog .lott-box .result .cd {
        margin: 1% auto;
    }
    .redlottery-dialog .award-logo {
        margin: 6% auto 0;
    }
    .redlottery-dialog .award-img {
        width: 60%;
        margin: 5% auto 0;
    }
    .redlottery-dialog .lottery-btn {
        bottom: 5px;
    }
    .lottery-dialog .lottery-btn {
        bottom: 15px;
    }
    .redlottery-dialog .award-ly {
        margin-top: 5%;
    }
    #duobao-dialog .duobao-btn-sure {
        margin: 60% auto 0px;
        margin-right: 22%;
    }
    #duobao-dialog .duobao-close {
        margin-top: 36%;
    }
}


/* luo */

/*@media screen and (min-device-width: 1000px) and (min-device-height: 1000px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {*/
    /*.redlottery-dialog .award-logo {*/
        /*width: 35%;*/
        /*margin: 6% auto 0;*/
    /*}*/
    /*.redlottery-dialog .award-img {*/
        /*width: 60%;*/
        /*margin: 10% auto 0;*/
    /*}*/
    /* .redlottery-dialog .lottery-btn{*/
        /*margin: 15% auto 0;*/
    /*}*/
    /*#lottery-dialog .lottery-dialog .lott-box {*/
        /*margin: 9% auto 0;*/
    /*}*/
    /*.lottery-dialog .lott-box .inp p input {*/
        /*height: 30px;*/
    /*}*/
    /*.lottery-dialog .lott-box .inp .ple {*/
        /*margin: -1% auto 2%;*/
    /*}*/
/*}*/
