body{
	background: url(../images/bg.jpg) no-repeat;
	background-size:cover ;
}
.enter-box{
	width: 100%;
	height: 100%;
	padding-top: 8%;
	padding-bottom:90px;
	position: relative;
}
.logo{
	display: block;
	width: 100%;
}
.enter-btn{
	display: block;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: ;
	border:8px solid #fff;
	margin: -80px auto 0;
	background: #fff100 url(../images/enter-btn.png) no-repeat center;
	background-size: 60%;
	position: absolute;
	left: 50%;
	margin-left: -60px;
	bottom: 0px;
}
.rul-btn{
	display: block;
	position: absolute;
	right: 0px;
	top:0px;
	width: 24%;
}
.rul-btn img{
	display: block;
	width: 100%;
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.enter-box{
		padding: 5% 10%;
		padding-bottom: 74px;
	}
	.enter-btn {
		width: 90px;
		height: 90px;
		margin-left: -45px;
		
	}
}
/* iPhone5 */
@media screen
and (min-device-width:320px)
and (min-device-height:500px)
and (max-device-height:570px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:2) {
	.enter-btn {
		width: 110px;
		height: 110px;
		margin-left: -55px;
		
	}
}
/* luo */
@media screen
and (min-device-width:1000px)
and (min-device-height:1000px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:2) {
	.enter-box{
		padding: 4% 0 93px;
	}
}