html, body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url(../images/bg.jpg) no-repeat top center #F75413;
	background-size: 100% 100%;
}
header {
    position: relative;
    margin: 5% auto 0;
    width: 94%;
    z-index: 88;
}
header .icon-tvlogo {
    display: inline-block;
    width: 17%;
}
header .btn-wrapper {
    display: block;
    width: 26%;
    float: right;
    margin-top: -1%;
}
.container {
    width: 100%;
    text-align: center; 
    margin: 0 auto;
}
.container .icon-logo {
    width: 86%;
    margin: 3% auto 0;
}
.container p{
    width: 90%;
    line-height: 18px;
    font-size: 13px;
    text-align: center;
    margin: 15px auto 0;
    color: white;
}
#btn-go {
    display: block;
    width: 156px;
    height: 37px;
    background: url(../images/btn-go.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto 6%;
    /*-webkit-animation-name: btnflash;*/
    /*-webkit-animation-duration: 1s;*/
    /*-webkit-animation-iteration-count: infinite;*/
    /*-webkit-animation-timing-function: linear;*/
    /*-webkit-animation-timing-function: steps(1);*/
    /*-webkit-backface-visibility:hidden;*/
    z-index: 8;
}
footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 999;
}
footer .copyright {
    opacity: .5;
}
@-webkit-keyframes btnflash {
    0%, 100% {background: url(../images/btn-go.png) no-repeat;background-size: 100% 100%;}
    50% {background: url(../images/btn-go-down.png) no-repeat;background-size: 100% 100%;}
}
@keyframes btnflash {
    0%, 100% {background: url(../images/btn-go.png) no-repeat;background-size: 100% 100%;}
    50% {background: url(../images/btn-go-down.png) no-repeat;background-size: 100% 100%;}
}

@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .container .icon-logo {
        width: 75%;
        margin: -2% auto 0;
    }
}

@media screen
and (min-device-width : 1000px)
and (min-device-height : 1000px) {
    .container .icon-logo {
        width: 83%;
        margin: 3% auto 0;
    }
}