.modal:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	z-index: 100;
}
.dialog {
    position: absolute;
    color: #fdc728;
    border-radius: 6px;
    z-index: 1000;
    overflow: hidden;
}

.tip-dialog {
	width: 110px;
    
	height: 46px;
    
	line-height: 46px;
    text-align: center;
    background: rgba(223,94,176,0.8);
    border-radius: 8px;
    
	box-shadow: 1px 1px 10px rgba(33,3,33,0.8);
    color: #f2d1f0;
    font-size: 14px;
    left: 50%;
    right: 0;
    top: 50%;
	bottom: 0;
    -webkit-transform: translate(-50%, -50%);
}
