html{
  width: 100%;
  height: 100%;
}
body {
  background: url(../images/index-bg.jpg) no-repeat;
  background-size: 100% 100%;
}
header .ctrls {
  width: 95%;
  margin: 15px auto 0;
}
header .ctrls .left {
  display: inline-block;
  width: calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
}
header .ctrls .left img.tvlogo {
  text-align: left;
  vertical-align: middle;
  width: 80%;
}
header .ctrls .right {
  display: inline-block;
  text-align: right;
  width: 190px;
}
header .ctrls .right a:first-child {
  /*border: 2px solid #2fc4bb;*/
  /*background: #2fc4bb;*/
  border-radius: inherit;
  color: white;
  width: 70px;
  height: 26px;
  line-height: 25px;
  font-size: 15px;
  display: inline-block;
  margin: inherit;
  background: url("../images/btn-reserve.jpg") no-repeat;
  /*background: url("../images/btn-toinfo.jpg") no-repeat;*/
  background-size: 100% auto;
}
/*header .ctrls .right a:nth-child(2) {*/
  /*border: 2px solid #2fc4bb;*/
  /*background: #2fc4bb;*/
  /*border-radius: inherit;*/
  /*color: white;*/
  /*width: 70px;*/
  /*height: 26px;*/
  /*line-height: 25px;*/
  /*font-size: 15px;*/
  /*display: inline-block;*/
  /*margin: inherit;*/
  /*background: url("../images/btn-reserve.jpg") no-repeat;*/
  /*background-size: 100% auto;*/
/*}*/
.go {
  /*background: url(../images/go-bg.png) no-repeat;*/
  /*background-size: 217px auto;*/
  width: 187px;
  height: 35px;
  line-height: 35px;
  color: white!important;
  text-align: center;
  border-radius: 6px;
  font-size: 19px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 15%;
  background: -webkit-linear-gradient(top, #f9bc6c 0%, #f68e0b 10%,#f68e0b 90%,#ac6407 100%);
  -webkit-tap-highlight-color: transparent;
}
#div_subscribe_area {
  height: 50px;
  overflow: hidden;
}
footer {
  position: absolute;
  bottom: 0;
  max-height: 76px;
  width: 100%;
}
.copyright {
  position: static;
  color: #1a1a1a;
  height: 40px;
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  header .ctrls .right a {
    line-height: 22px;
  }
  .go {
    bottom: 15%;
  }
}
/* iPhone5 */
@media screen
and (min-device-height : 500px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
  header .ctrls .right a {
    line-height: 22px;
  }
}
/* iPhone6 */
@media screen
and (min-device-width : 320px)
and (max-device-width : 740px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
  header .ctrls .right a {
    line-height: 22px;
  }
  header .ctrls .left img.tvlogo {
    width: 70%;
  }
}