footer {
  position: absolute;
  width: 100%;
  z-index: 1;
  bottom: 0;
  left: 0;
  text-align: center;
}
html
{
  height:100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  background: url('../images/yao-bg.jpg') top center no-repeat;
  background-size:100% 100%;

}
.record-btn
{
  position:absolute;
  width:24%;
  right:10px;
  top:20px;
}
.yao-bg
{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
}
.main-top {
  position: absolute;
  width: 100%;
  height: 50%;
  top:1px;
  background: url(../images/bg-lottery-top.jpg) no-repeat bottom center;
  background-size: cover;
  box-sizing: border-box;
  z-index: 1;
  -webkit-transition: -webkit-transform .2s ease;
}
.main-foot {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50%;
  background: url(../images/bg-lottery-bottom.jpg) no-repeat top center;
  background-size: cover;
  box-sizing: border-box;
  z-index: 1;
  -webkit-transition: -webkit-transform .2s ease;
}
.info-box
{
    position: absolute;
    top:20px;
    color:#333333;
    font-size: 20px;
    width:100%;
}

.weizhongjang
{
  position: relative;
  margin:20% auto;
  text-align: center;
  color:#fff;
}
.yao-cool-tips span
{
  background:#0095c7;
  padding:5px;
  color:#fff;
  border-radius:5px;
}

/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {

}

.none-tips {
  opacity: 0;
  animation-name:nonetips;
  -webkit-animation-name:nonetips;
  animation-iteration-count:1;
  -webkit-animation-iteration-count:1;
  animation-duration:0.5s;
  -webkit-animation-duration:0.5s;
  animation-delay:0.1s;
  -webkit-animation-delay:0.1s;
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode:forwards;
  display:block;
}

@keyframes nonetips {
  0% {transform: translate(-10px,0px);opacity: 0;}
  20% {transform: translate(10px,0px);opacity: 1;}
  40% {transform: translate(-10px,0px);opacity: 1;}
  60% {transform: translate(10px,0px);opacity: 1;}
  80% {transform: translate(-10px,0px);opacity: 1;}
  100% {transform: translate(0px,0px);opacity: 1;}
}
@-webkit-keyframes nonetips {
  0% {-webkit-transform: translate(-10px,0px);opacity: 0;}
  20% {-webkit-transform: translate(10px,0px);opacity: 1;}
  40% {-webkit-transform: translate(-10px,0px);opacity: 1;}
  60% {-webkit-transform: translate(10px,0px);opacity: 1;}
  80% {-webkit-transform: translate(-10px,0px);opacity: 1;}
  100% {-webkit-transform: translate(0px,0px);opacity: 1;}
}
@media screen
and (min-device-width : 320px)
and (min-device-height : 500px)
and (max-device-height : 568px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {

}
/* luo */
@media screen
and (min-device-width : 1000px)
and (min-device-height : 1000px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
}
