@charset "utf-8";
/******************** Reset ********************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, strong, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	-webkit-text-size-adjust:none;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
}
div,a,p,ul,li,span {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
img {display:block;}
ul,ol {list-style: none;}
input, textarea, select {padding:0;}
em {font-style:normal;}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
h1,h2,h3,h4,h5,h6 {
	/*font-size:100%;*/
	font-weight:bold;
}

/* remember to define focus styles! */
:focus {outline: 0;}

/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}
i{ font-style:normal;}

/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: collapse;border-spacing: 0;}
/* Link style */
a {
	text-decoration:none;
	cursor:pointer;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	-webkit-appearance:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
a:hover {text-decoration:none;}

a {
	-moz-outline:none;
	outline:none;
	ie-dummy:expression(this.hideFocus=true);
}
html,body {
	height:100%;
}
body {
	background: #e5e5e5;
	overflow-x:hidden;
}

/******************** Global Module By Yellow 2013-12-31 ********************/

/********** Layout **********/
.db {
	display: block;
}

/********** Font **********/
.fontXS {
	font-size:12px;
}
.fontS {
	font-size:13px;
}
.fontM {
	font-size:14px;
}
.fontXM {
	font-size:16px;
}
.fontL {
	font-size:18px;
}
.fontXL {
	font-size:20px;
}
.font-arial {
	font-family: Arial;
}

/********** Color **********/
.baseOrangeColor {
	background-color:#d24726;
}
.baseBlueColor {
	background-color:#163381;
}
.baseGreenColor {
	background-color:#217346;
}
.baseGrayColor {
	background-color:#eaeaea;
}
.baseRedColor {
	background-color:#d84a5e;
}
.wbg{background:#FFF;}
.basePinkColor{background:#fcc;}
.wihtebg{background:#FFF;}

/********** Shadow & Radius & Gradient **********/
.box-shadow {
	-webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.25);
	-moz-box-shadow:1px 1px 3px rgba(0,0,0,0.25);
	-o-box-shadow:1px 1px 3px rgba(0,0,0,0.25);
	-ms-box-shadow:1px 1px 3px rgba(0,0,0,0.25);
	box-shadow:1px 1px 3px rgba(0,0,0,0.25);
}
.box-radius {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius: 5px;
}

/********** Mod Button **********/
.mod-btn {
	display: block;
	overflow: hidden;
	height:36px;
	line-height:36px;
	text-align: center;
	color:white;
	font-size:12px;

	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius: 5px;
}
.red-btn {
	background: #be0b0b;
}
.blue-btn {
	background: #142a9c;
}
.green-btn {
	background: #d24726;
}
.gray-btn {
	background: #aaa;
}

.p10{padding:10px;}
.ct{text-align:center;}
.mb10{margin-bottom:10px;}
.fd{overflow:auto;zoom:1;overflow:hidden;}

/********** Mod Top 公共头部 **********/

.btn-viewmore {
	border: 1px solid #C8C7C7;
	border-radius: 10px;
	display: block;
	text-align: center;
	color: #999999;
	background: #F2F0F0;
	line-height: 44px;
	font-size: 15px;
	margin-bottom: 20px;
	margin-top: 15px;
}
.btn-viewmore:hover {
	background: #fff;
	color: #f00;
}
