@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
body{margin:0;padding:0; font-family:"Microsoft Yahei"; font-size:14px; color:#3e3e3e; background:#e5e5e5;}
ul,ol{ list-style-type:none;padding: 0px;overflow: visible;}
h1, h2, h3, h4, h5, h6, form, div, p, i, img, ul, li, ol, table, tr, td, fieldset, label, legend,dt,dd,dl{margin:0;padding:0;}
section, article, aside, header, footer, nav, dialog, figure {display: block;}
figure {margin:0;}
a {text-decoration: none;}
a:hover {text-decoration:none;}
button{ cursor:pointer;}
img{ border:0;}
em{ font-style:normal;}
.hide{ display:none;}.red{color:#F00;}.blue{color:#357ac7;}.left{ float:left;}.right{ float:right;}.fd{ overflow:auto;zoom:1; overflow:hidden;}.ml10{margin-left:10px;}
.p17{padding:17px;}.mb15{margin-bottom:15px;}
.box-orient-h {-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;-ms-box-orient:horizontal;box-orient:horizontal;display:-webkit-box;display:-moz-box;display:box;}
.box-orient-v {-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-ms-box-orient:vertical;box-orient:vertical;display:-webkit-box;display:-moz-box;display:box;}
.box-flex {-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;-ms-box-flex:1;box-flex:1;}
.none {display: none !important;}
/*index*/
.mod_top{height:78px; background:url(http://yao.holdfun.cn/portal/resources/survey/images/ad_02.jpg) no-repeat center top #f71111;border-bottom:1px #e5e5e5 solid;background-size:320px auto;}
.nav{margin:9px 8px;height:33px;border:1px #e22121 solid;border-radius:5px;background:#FFF;}
.nav a{display:block;height:32px;line-height:30px;text-align:center;border-right:1px #e22121 solid;color:#333;}
.nav a:hover{line-height:30px;color:#e22121;}
.nav a:last-child{border-right:0;}
.nav .active{background:#e22121;color:#FFF;}
.nav .active:hover{color:#FFF;}
.nav .active:first-child{background:#e22121;color:#FFF;border-top-left-radius:3px;border-bottom-left-radius:5px;}
.nav .active:last-child{background:#e22121;color:#FFF;border-top-right-radius:3px;border-bottom-right-radius:5px;}
.mod_box{padding:8px 8px 20px;}
.question_box h2{line-height:24px;font-size:16px;color:#000;font-weight:500;border-bottom:1px #e5e5e5 solid;margin-bottom:4px;background:url(../images/r.png) no-repeat 10px 14px ; background-size:12px 12px;margin-left:10px;margin-right:10px;padding:8px 10px 5px 30px;}
.qulist{padding:0 10px 4px;}
.qulist li{color:#000;line-height:36px;border-bottom:1px #e5e5e5 dotted;padding-left:20px;}
.qulist li:last-child{border-bottom:0;}
.qulist li label{display:block;line-height:24px;padding:4px 10px;}
.qulist li input{vertical-align:-2px;margin-left:-20px;margin-right:6px;}
.send_btn{height:48px;display:block;background:#e22121;color:#FFF;text-align:center;font-size:16px;line-height:48px;border-radius:5px;margin-bottom:20px;}
.send_btn:hover{background:#bf1010;}
.send_btned,.send_btned:hover{background:#ccc;color:#333;height:48px;display:block;text-align:center;font-size:16px;line-height:48px;border-radius:5px;margin-bottom:20px;}
.active_box{padding:8px;background:#FFF;margin-bottom:8px;line-height:24px;}
.active_box img{float:left;margin-right:10px;}
.active_box h4{color:#e33030;border-bottom:1px #e5e5e5 solid;margin-bottom:5px;}
.active_box h4 span{color:#ccc;float:right;font-size:12px;font-weight:normal;}
.active_box p{color:#000;}
.details h2{font-size:15px;color:#000;line-height:32px;}
.details .d_item{background:#FFF;padding:8px;}
.details .d_item em{color:#e22121;}
.sharebtnbox{padding-bottom:10px;height:46px;line-height:44px;}
.sharebtnbox a{display:block;border:1px #e33030 solid;line-height:44px;border-radius:5px;height:44px;text-align:center;font-size:16px;color:#e33030;width:50%;}
.sharebtnbox a:hover{line-height:44px;border:1px #ce1b1b solid;}
.sharebtnbox .sharebtn{background:#e33030;color:#FFF;margin-right:8px;}
.sharebtnbox .sharebtn i{width:20px;height:20px;display:inline-block;background:url(../images/sicon.png) no-repeat;background-size:20px 20px;vertical-align:-4px;margin-right:10px;display: none;}
.sharebtnbox .sharebtn:hover,.sharebtnbox .tpbtn:hover{background: #ce1b1b;color:#FFF;}
.cjbox h2{color:#e22121;text-align:center;border-bottom:1px #e5e5e5 solid;margin-bottom:10px;line-height:24px;font-weight:500;padding-bottom:10px;}
.cjbox p{padding-bottom:10px;line-height:24px;}
.cjbox p em{color:#e22121;}
.sharebtnbox .tpbtn i{width:20px;height:20px;display:inline-block;background:url(../images/love.png) no-repeat;background-size:20px 20px;vertical-align:-4px;margin-right:8px;display:none;}
.cjbox h3{font-size:14px;color:#000;font-weight:500;line-height:30px;}
.cjbox p input{width:99%;height:30px;line-height:30px;background:#e9e8e8;border:1px #ccc solid;font-size:14px;}
.cjbox p span{clear:both;color:#999;line-height:30px;}
.share_box{width:100%;height:100%;position:fixed; background:url(../images/sharebg.png) no-repeat right 4px rgba(0,0,0,0.5);z-index:9999999;background-size:320px auto;top:0;}
.share_box .refresh_btn{width:31px;height:31px; background:url(../images/ref.png) no-repeat center center;display:block;position:absolute;right:10px;bottom:5px;}
.share_box .back_btn{position:absolute;left:10px;bottom:5px;border:0;width:31px;height:31px; background:url(../images/back.png) no-repeat center center;display:block;}
.relist li{padding-left:30px;}

/** 抽奖 */
.lottery-wrapper { padding: 6px 25px; margin: 0 auto; width: 320px; background-color: #FFF7DF;}
.lottery-container {position: relative;}
.lottery-title {margin-bottom: 10px;line-height: 20px;font-size: 15px;font-weight: bold;text-align: center;color: #ee4142;}
.lottery-tips {margin-bottom: 10px;width: 100%;}
.lottery-btn {position: absolute;left: 76px;top: 77px;display: inline-block;vertical-align: top;}
.img-gift {position: relative;left: 30px;top: -47px;width: 237px;}
.img-bg {width: 270px;}
.img-btn {width: 117px;	}
.img-tips-bg {position: absolute;left: -18px;top: -45px;}

.logo{width:100%;height:69px;background:url(../images/logo_02.jpg) no-repeat center top #f71111; background-size:320px auto;}
.toplogo{width:100%;height:69px;background:url(http://yao.holdfun.cn/portal/resources/survey/images/lg.png) no-repeat center top;background-size:320px auto;}
.viewprize{padding:0 10px;float:right;color:#f71111;}

/*图片loading效果*/
.spinner {margin: 70px auto 70px;width: 150px;text-align: center;}
.spinner > div {width:20px;height:20px;background-color: #c6c6c6;border-radius:100%;display: inline-block; -webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation: bouncedelay 1.4s infinite ease-in-out;
/* Prevent first frame from flickering when animation starts */
-webkit-animation-fill-mode: both;animation-fill-mode: both;}
.spinner .bounce1 {-webkit-animation-delay: -0.32s;animation-delay: -0.32s;}
.spinner .bounce2 {-webkit-animation-delay: -0.16s;animation-delay: -0.16s;}

@-webkit-keyframes bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
 0%, 80%, 100% { transform: scale(0.0);-webkit-transform: scale(0.0);} 40% { transform: scale(1.0);-webkit-transform: scale(1.0);}
}
.copyright{font-size:10px;position:relative;color:#fff;height:20px;line-height:20px;bottom:5px;opacity:0.6;text-align:center;clear:both;width:100%;margin-top:10px;}
.copyright2{font-size:10px;color:#333;height:20px;line-height:20px;bottom:5px;opacity:0.6;position:relative;text-align:center;clear:both;width:100%;padding-bottom:5px;margin-top:10px;}