html, body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/*background: url(../images/roundbg.jpg) no-repeat top center #FFF;*/
	/*background-size: 100% 100%;*/
    background-color: #1f2f49;
}
header {
	position: relative;
	width: 100%;
    padding: 5% 3% 0;
	/*overflow: hidden;*/
}
header .icon-tvlogo {
    width: 30%;
    margin: 2% 2%;
}
header .btn-box {
    color: #cc3333;
    float: right;
}
/*header .btn-box a {*/
    /*display: block;*/
    /*border: 1px solid #cc3333;*/
    /*font-size: 13px;*/
    /*width: 70px;*/
    /*height: 23px;*/
    /*line-height: 22px;*/
    /*font-weight: bolder;*/
    /*margin-bottom: 5px;*/
    /*text-align: center;*/
    /*overflow: hidden;*/
/*}*/
header .btn-rule label {
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 14px;
	border: 1px solid #FFF;
	border-radius: 100%;
	text-align: center;
	margin-right: 3px;
    vertical-align: text-bottom;
}
.container {
	position: relative;
	width: 100%;
    -webkit-animation: zoomIn 2s 2s 1 ease;
    -webkit-transform-origin: bottom;
    -webkit-animation-fill-mode: both;
    -webkit-backface-visibility: visible;
}
.container .icon-logo {
    width: 90%;
    margin: 12% auto 0;
    text-align: center;
}
.container .tips {
    margin: 0 auto;
    height: 18px;
    margin-top: 5%;
}
.icon-logo-tips3,.icon-logo-tips2{
    width: 40%;
    height: auto!important;
}
footer {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
    color: #FFF;
    font-size: 13px;
    font-weight: bolder;
	text-align: center;
	z-index: 9;
}
footer img, footer .qrcode-box {
    display: block;
    margin: 0 auto;
}
footer .btn-play, footer .btn-net {
    width: 56%;
    margin-bottom: 10%;
    z-index: 50;
}
.drop{
    line-height: 16px;
}
footer .btn-play{
    display: block;
    width: 230px;
    height: 50px;
    background: url("../images/btn-play.png") no-repeat;
    background-size: 100% 100%;
    margin: auto auto 20%;
    opacity: 0;
}
#btn-reserve{

}
.btn-rule {
    display: inline-block;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #d4915f!important;
    border-bottom: dotted 1px #d4915f;
    margin-bottom: 20%;
}
footer .qrcode-box {
    margin-bottom: 6%;
}
footer .qrcode-box img {
    width: 40%;
    margin-bottom: 3%;
}
footer #div_subscribe_area {
	width: 100%;
}

@-webkit-keyframes zoomIn {
    0% {opacity: 0;-webkit-transform: scale(0);transform: scale(0)}
    100% {opacity: 1;-webkit-transform: scale(1);transform: scale(1)}
}
@keyframes zoomIn {
    0% {opacity: 0;-webkit-transform: scale(0);transform: scale(0)}
    100% {opacity: 1;-webkit-transform: scale(1);transform: scale(1)}
}
@-webkit-keyframes out-pop {
    0% {-webkit-transform: translate(0,50px)}
    35% {-webkit-transform: translate(-200px,25px)}
    70% {-webkit-transform: translate(0,0)}
    100% {-webkit-transform: translate(0,0)}
}
@-webkit-keyframes in-pop {
    0% {-webkit-transform: rotate3d(0, 1, 0, 0deg) scale(.6)}
    60% {-webkit-transform: rotate3d(0, 1, 0, 720deg) scale(1.2)}
    70%,90% {-webkit-transform: scale(.8)}
    80% {-webkit-transform: scale(1.2)}
    100% {-webkit-transform: scale(1)}
}

@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    footer .qrcode-box img {
        width: 36%;
        margin-bottom: 3%;
    }
    footer .qrcode-box {
        margin-bottom: 2%;
    }
    .container .icon-logo {
        width: 78%;
        margin: 8% auto 0;
    }
    .container .tips {
        margin-top: 3%;
    }
    footer .btn-play, footer .btn-net {
        margin-bottom: 6%;
    }
}