@charset"UTF-8";
body {
  background: url(../images/card_bg.jpg) no-repeat;
  background-size: 100% 100%;
}
.not-chai {
  height: 75vh;
  margin: 5.5vh auto 0;
}
.not-chai .hdcyfs{
  width: 250px;
  margin: 0 auto;
}
.not-chai .cy {
  background: url(../images/lj-bottom.png) no-repeat;
  background-size: 100% 100%;
  color: #FFF;
  width: 250px;
  margin: -20px auto 0;
  height: 248px;
  padding: 47px 40px 10px;
}
.check .check-con {
  background: url(../images/lj-bottom.png) no-repeat;
  background-size: 100% 100%;
  color: #FFF;
  width: 100%;
  margin: -20px auto 0;
  height: 248px;
  padding: 48px 23px 10px;
}
.not-chai .cy h2 {
  font-size: 15px;
  width: 100%;
  text-align: center;
}
.not-chai .cy p {
  font-size: 12px;
  line-height: 22px;
}
.not-chai .cy-bottom {
  font-size: 15px;
  color: #AE1B30;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
  margin: 20px auto;
}
.not-chai .cy-bottom .btn {
  width: 130px;
  text-align: center;
  display: inline-block;
  margin: 0 auto 15px;
}
.not-chai .cy-bottom .btn:first-child{
  margin-right: 4%;
}
.check {
  width: 250px;
  height: 75vh;
  margin: 0 auto 0;
  padding-top: 80px;
}
.check .start {
  clear: both;
  margin: 0 auto 25px;
  height: 60px;
  width: 265px;
}
.check .start.zfy {
  height: 130px;
}
.check .start label {
  display: inline-block;
  background: url(../images/user-bg.png) no-repeat;
  background-size: 100% 100%;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  padding: 5px;
  overflow: hidden;
  margin-right: 11px;
}
.check .start label#mx-img{
  margin-right: 16px;
}
.check .start label img {
  display: block;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.check .start .triangle-right {
  height: 35px;
  border: none;
  display: inline-block;
  width: 125px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FFF;
  color: #000;
  border-radius: 5px;
  margin-top: 17px;
  position: absolute;
}
.check .start .triangle-right:before {
  content:'';
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-left: -8px;
  display: block;
  width: 8px;
  height: 11px;
  background: url(../images/left.png) no-repeat;
  background-size: 100% 100%;
}
.check .start .triangle-right i {
  background: url(../images/g3.png) no-repeat center center;
  background-size: 14px auto;
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 28px;
  float: left;
  margin: 4px 0 0 6px;
}
.check .start .triangle-right.scale i {
  -webkit-animation-name: voice-playing;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
}
.check .start .triangle-right .duri {
  color: #000;
  font-size: 12px;
  float: right;
  margin-top: 11px;
  margin-right: 10px;
}
.check .start .gx {
  height: 35px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  font-size: 13px;
  display: inline-block;
  width: 125px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FFF;
  color: #000;
  border-radius: 5px;
  margin-top: 7px;
  height: 80px;
  padding: 10px;
  position: absolute;
}
.check .start i {
  margin-top: 30px;
  margin-left: -4px;
  display: inline-block;
  width: 8px;
  height: 11px;
  background: url(../images/left.png) no-repeat;
  background-size: 100% 100%;
  top: 0;
  left: 0;
  position: relative;
}
.check .start i {
  margin-top: 30px;
  margin-left: -4px;
  display: inline-block;
  width: 8px;
  height: 11px;
  background: url(../images/left.png) no-repeat;
  background-size: 100% 100%;
  top: 0;
  left: 0;
}
.check .zfy i {
  left: -4px;
  top: -25px;
}
.check .check-bottom {
  clear: both;
  width: 130px;
  display: block;
  margin: 15px auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}
@-webkit-keyframes voice-playing {
  0% {
    background-image: url(../images/g1.png);
  }
  30% {
    background-image: url(../images/g1.png);
  }
  70% {
    background-image: url(../images/g2.png);
  }
  100% {
    background-image: url(../images/g3.png);
  }
}
@-webkit-keyframes bounceInUp {
  0%, 100%, 60%, 75%, 90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: -10;
  -webkit-animation-play-state: running;
}
@-webkit-keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
}
.bounceOutDown {
  -webkit-animation-name: bounceOutDown;
  animation-name: bounceOutDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* iPhone4 */
@media screen and (device-width: 320px)
and (device-height: 480px){
}
/* iPhone5 */
@media screen and (device-width : 320px)
and (device-height : 568px) {
}
@media screen and (min-device-width : 1000px)
and (min-device-height : 1000px) {
}