#over {
	width: 100%;
	overflow: hidden;
	min-height: 100%;
	background: url(../images/bg-over.jpg) no-repeat #950d01;
	background-size: 100% 100%;
}
#over img {
	display: block;
}
#over .icon-overtips {
	width: 65%;
	margin: 5% auto 0;
}
#over .icon-nextgift {
	margin: 3% auto 0;
}
#over .icon-nextgift p{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
#over .icon-nextgift img {
	display: block;
	margin: 2px auto 0;
	width: 10%;
}
#over .icon-surprise{
	position: absolute;
	width: 20%;
	top: 3%;
	right: 2%;
}
#over .tvlogo {
	 position: absolute;
	 width: 25%;
	 top: 10px;
	 left: 8px;
}
footer {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	text-align: center;
}
/* iPhone4 */
@media screen
 and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .main .icon-overtips {
        margin: 0 auto 2%;
    }
    .main .icon-nextgift {
        margin: 0 auto 1%;
    }
	.ddtj{
		top: 18%;
	}
}
/* luo */
@media screen
and (min-device-width : 1000px)
and (min-device-height : 1000px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
}