*{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
input::-webkit-input-placeholder { 
    color:#494949 !important;
}
input[placeholder], [placeholder], *[placeholder] {
   color:#494949 !important;
}
.modal:before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,.6);
  z-index: 100;
}
.modal .dialog{
	width: 100%;
	height: 100%;
	position: absolute;
  border-radius: 6px;
  z-index: 101;
}
/*#rule-dialog .btn-close {
    background:rgba(166,45,220,0.9);
    background-size: 100% 100%;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    position: absolute;
    top:-12px;
    right:-14px;
    font-size: 28px;
    color:#fff;
    text-align: left;
    line-height: 44px;
    padding-left:10px;
    font-weight: normal;
}*/
#rule-dialog .btn-close{
    width: 0;
    height: 0;
    position: absolute;
    top:0px;
    right:0px;
    color:#fff;
    border-top: 48px solid #b7003c;
    border-left: 48px solid transparent;
    z-index:1;
 
}
#rule-dialog .close-label
{
  display: block;
  position: absolute;
  top:2px;
  right:-5px;
  height:40px;
  width:40px;
  font-size: 22px;
  color:#fff;
  text-align: center;
  z-index:2;
}
.thank-img{
    border-radius: 5px;
}
.modal .rule-dialog {
    color: #fff;
    background:url('../images/rule-bg.jpg') top center no-repeat;
    /*border:1px solid #fff;*/
    border-radius: 5px;
    background-size: 100% 100%;
    overflow: hidden;
   
}
.rule-dialog h2 {
  color: #FFF;
  height: 32px;
  line-height: 38px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
}
.rule-dialog .content {
  position: static;
  margin: 0 auto;
  padding: 10% 0 20%;
  width: 88%;
  height: 100%;
  text-align: left;
  word-break: break-all;
}

.rule-dialog .rule {
    font-size: 14px;
    line-height: 24px;
    max-height: 100%;
    overflow-y: auto;
    color: #FFF;
    margin-top: 0;
    height: 90%;
    padding-bottom: 6%;
}
.rule-dialog p {
    line-height: 22px;
}
.rule-dialog h3 {
    margin-top: 22px;
    font-size: 16px;
}
.rule-dialog .content .congrate{
  color: #fffc00;
  text-align: center;
  margin-top: 50px;
  font-size: 23px;
}
.rule-dialog .content .redpack{
  color: #fffc00;
  text-align: center;
  margin-top: 20px;
  font-size: 23px;
}
/*红包弹层*/
.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  color: #FFF;
  text-align: center;
  overflow: hidden;
  overflow-y:scroll; 
}
/*实体奖*/
 .ple
{
    text-indent: 7%;
    text-align: left;
}   
.lottery-dialog .btn-back{
    display: block;
    position: absolute;
    max-width: 10%;
    right: -10px;
    top: -22px;
}
.lottery-dialog p input{
  width:85%;
  margin-top:2%;
  border-radius: 6px;
  border:none;
  outline:none;
  height:30px;
}
#ent-show .praytips
{
    font-size: 17px;
    width: 88%;
    text-indent: 8%;
    margin-top: 4%;
}
#ent-show p
{
  margin-top:2%;
}
.get-address
{
  font-size: 14px;
  padding: 10px 20px;
  text-align: left;
}
.lottery-dialog {
    background: url(../images/lottery-bg.png) no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
}
.lottery-dialog .award-img{
    display: block;
    max-width: 80%;
    margin: 20% auto 6%;
    position: relative;
    max-height: 100px;
}
.lottery-dialog .award-luckEt{
    color: #ef9d00;
    display: block;
    top: 12%;
    position: relative;
}
.lottery-dialog .lottery-btn
{
    display: block;
    background: #fff112;
    width: 35%;
    margin: 5% auto 0;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    color: #ff568a;
}
.lottery-dialog .praytips
{
  /*color:rgba(253,187,44,1);*/
}
.yaobai
{
    -webkit-animation:shake 1s 0.2s ease both;
}
@-webkit-keyframes shake{
  0%,100%
  {
    color:#fff;
    -webkit-transform:translateX(0);
  }
  10%,30%,50%,70%, 90%{
    color:blue;
    -webkit-transform:translateX(-10px); 
  }
  20%,40%,60%,80%
  {
    color:green;
    -webkit-transform:translateX(10px);
  }
}
/*红包*/
.redlottery-dialog {
    background: url(../images/red-bg.png) no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
}
.redlottery-dialog .award-lpt{
    color: #ef9d00;
    display: block;
    top: 17%;
    position: relative;
}
.redlottery-dialog .award-logo{
    display: block;
    width: 35%;
    margin: 8% auto 0;
}
.redlottery-dialog .award-img{
    display: block;
    width: 40%;
    margin: 25% auto 23%;
    position: relative;
}
.redlottery-dialog  .back-btn
{
   height: 30px;
  line-height: 30px;
  width:100%;
  position: absolute;
  display: block;
}
.redlottery-dialog  .btn-close
{
    display: block;
    position: absolute;
    max-width:10%;
    right:-10px;
    top:-24px;

}
.redlottery-dialog .lottery-btn{
    display: block;
    background: #fff112;
    width: 35%;
    margin: 20% auto 0;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    color: #ff568a;
}
.redlottery-dialog .award-ly{
    display: block;
    margin-top: 5%;
    color: #fff;
    font-size: 12px;
    padding: 0px 10px;
}

/*谢谢参与*/
.thanks-dialog{
    background-size:100% 100%; 
    display: block;
    position: absolute;
}
.thanks-dialog  .btn-close
{
    display: block;
    position: absolute;
    max-width:10%;
    right:-10px;
    top:-10px;
}
.bounceInDown{
  -webkit-animation-name: dispshow;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-backface-visibility:hidden;
 -webkit-animation-timing-function:linear;
}
.bounceOutDown {
  -webkit-animation-name: disphide;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-backface-visibility:hidden;
}

@-webkit-keyframes dispshow {
  0% {
    opacity: 0; -webkit-transform: scale(0.8,0.8)
  }
  100% {
    opacity: 1; -webkit-transform: scale(1,1)
  }
}

@-webkit-keyframes disphide {
  0% {
    opacity: 1; -webkit-transform: scale(1,1)
  }
  100% {
    opacity: 0; -webkit-transform: scale(0.8,0.8)
  }
}

/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .redlottery-dialog .award-img{
      margin:15% auto;
    }
    .lottery-dialog p input{
      height:26px;
    }
    .lottery-dialog .award-img {
      display: block;
      max-width: 70%;
      margin: 10% auto 2%;
      position: relative;
     }
     #ent-show p
     {
       margin-top:1%;
     }
    .lottery-dialog #btn-sure
    {
      margin: 5px auto 0;
    }
     .lottery-dialog .award-luckEt
    {
      top:8%;
    }
    .ple
    {
      font-size: 14px;
    }
    .lottery-dialog .lottery-btn
    {
      margin:2% auto;
    }
    .get-address
    {
      padding:0px 20px;
    }

}
@media screen
and (min-device-width : 320px)
and (min-device-height : 500px)
and (max-device-height : 568px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  .lottery-dialog .award-luckEt
  {
    top:8%;
  }
  .lottery-dialog .award-img
  {
    margin: 16% auto 6%;
  }

}
/* luo */
@media screen
and (min-device-width : 1000px)
and (min-device-height : 1000px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    
}