body{
    position: relative;
    width: 100%;
    min-height: 100%;
    background: url(../images/bg.jpg) no-repeat bottom center #f6efda;
    background-size: cover;
    overflow: hidden;
}
.leaf {
    position: absolute;
}
.logo {
    position: absolute;
    width: 90%;
    /*margin: 15% auto 0;*/
    top: 12%;
    left: 5%;
    opacity: 0;
    animation: blur 1.2s .5s 1 ease;
    animation-fill-mode: forwards;
    -webkit-animation: blur 1.2s .5s 1 ease;
    -webkit-animation-fill-mode: forwards;
    z-index: 1;
}
header {
    position: relative;
    width: 100%;
    z-index: 52
}
header .tvlogo {
    position: absolute;
    width: 38%;
    top: 8px;
    left: 8px;
    z-index: 999999;
}
header .leaf1 {
    position: absolute;
    width: 120px;
    top: -50px;
    right: 0;
}
footer {
	position: absolute;
    width: 100%;
    left: 0;
	bottom: 0;
    z-index: 50;
}
footer img {
    display: block;
}
footer .leaf2 {
    width: 22%;
    bottom: 28px;
    left: 0;
    z-index: -1;
}
footer .leaf3 {
    width: 15%;
    bottom: 50px;
    right: 6px;
    z-index: -1;
}
footer .tips-weixin {
    font-size: 12px;
    text-align: center;
    margin-bottom: 3px;
    color: #ff6600;
    font-weight: bolder;
}
footer .tips-weixin span:first-child {
    margin-right: 2px;
}
footer .tips-weixin span:last-child {
    margin-left: 2px;
}
footer .tips-time {
    width: 80%;
    margin: 0 auto 2%;
}
footer .menu {
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
}
footer .menu a {
    display: inline-block;
    width: 42%;
    margin: 0 5px;
}
footer .tab {
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #ce7537;
}
footer .tab a, footer .tab a:visited, footer .tab span {
    display: inline-block;
    color: #FFF;
    font-size: 15px;
    line-height: 32px;
}
footer .tab a:first-child {
    width: 49%;
    float: left;
}
footer .tab a:last-child {
    width: 49%;
    float: right;
}
footer .copyright {
    width: 100%;
    height: 26px;
    line-height: 13px;
	color: #843501;
    margin-bottom: 5px;
}
footer #div_subscribe_area {
    overflow:hidden;
}
@-webkit-keyframes blur {
    0%,20%,40%,60%,80%,100% {
        -webkit-animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
        animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000)
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    20% {
        -webkit-transform: scale3d(1.1,1.1,1.1);
        transform: scale3d(1.1,1.1,1.1)
    }

    40% {
        -webkit-transform: scale3d(.9,.9,.9);
        transform: scale3d(.9,.9,.9)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03,1.03,1.03);
        transform: scale3d(1.03,1.03,1.03)
    }

    80% {
        -webkit-transform: scale3d(.97,.97,.97);
        transform: scale3d(.97,.97,.97)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
}

@keyframes blur {
    0%,20%,40%,60%,80%,100% {
        -webkit-animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
        animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000)
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    20% {
        -webkit-transform: scale3d(1.1,1.1,1.1);
        transform: scale3d(1.1,1.1,1.1)
    }

    40% {
        -webkit-transform: scale3d(.9,.9,.9);
        transform: scale3d(.9,.9,.9)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03,1.03,1.03);
        transform: scale3d(1.03,1.03,1.03)
    }

    80% {
        -webkit-transform: scale3d(.97,.97,.97);
        transform: scale3d(.97,.97,.97)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.logo {
	    width: 80%;
	    margin: 6% auto 0;
	}
	header .tvlogo {
	    width: 28%;
	}
	footer .tips-time {
	    width: 66%;
	    margin: 0 auto 1%;
	}
	footer .menu {
	    margin-bottom: 1%;
	}
	footer .menu a {
	    width: 34%;
	}
}