.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  z-index: 9999;
  overflow: hidden;
}
.modal .btn-close {
	position: absolute;
    background:url(../images/close-icon.png) center no-repeat;
	background-size:40% auto;
    display: block;
    width: 35px;
    height: 35px;
    z-index: 10000;
    top:0px;
    right:0px;
	border-radius: 50%;
}
.dialog {
  position: absolute;
  color: #D6305A;
  border-radius: 6px;
  z-index: 1000;
  overflow: hidden;

}
.dialog-assist{
	width: 100%;
	height: 100%;	
	border-radius: 6px;
	position: relative;	
	border: 1px solid #c8a75d;
	border-top: 0px;
	padding-top: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: -2px;
}

.rule-dialog {
	position: absolute;
	color:#fff;
	width: 84%;
	height: 70%;
	left: 8%;
	top:15%;
	border: 1px solid #c8a75d;
	border-radius: 6px;
}
.rule-dialog .dialog-assist{
	border:none
	background : rgba(87,59,6,0.8);
	padding: 8% 4%;
	margin: 0;
}
.rule-dialog h1 {
	color:#fff;
	text-align:center;
	font-size:16px;
	width: 100%;
	padding-bottom:  10px;
	margin: 0 auto;
	border-bottom: 1px solid #c8a75d;
}
.rule-dialog .content {
	position:static;
	margin:0 auto;
	width:88%;
	overflow: hidden;
	padding: 6% 0 0;
}
.rule-dialog .rule {
	height: 100%;
	font-size:14px;
	line-height:24px;
	overflow-y:auto;
	color:#FFF;
}
.rule-dialog p {
	line-height:16px;
}
.btn-know{
	display: block;
	width: 60%;
	height: 32px;
	line-height: 32px;
	color: #8f010f;
	margin: 14px auto 0;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdf47b), to(#f5cd0c)); 
	text-align: center;
	box-shadow: 0 4px 0px #db9a00;  
	border-radius: 6px;
	letter-spacing: 4px;
}
.thank-dialog .btn-close,.rule-dialog .btn-close{
	border-radius: 50%;
	top: 6px;
	right: 6px;
}
.thank-dialog {
	position: absolute;
	color:#fff;
	width: 82%;
	height: 66%;
	left: 9%;
	top : 17%;
	padding: 9% 0% 0;
}
.thank-dialog h1 {
	text-align:center;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0;
}
.thank-dialog h1 img{
	display: block;
	width: 100%;
}
@-webkit-keyframes shine {
    0% {background-position: 130%;}
    100% {background-position: -50%;}
}
.thank-dialog .dialog-assist img{
	display: block;
	width: 74%;
	margin: 0 auto 6px;
}
.thank-dialog p{
	color: #c8a75d;
	font-size: 12px;
	text-align: center;
}
.thank-dialog .btn-close{
	top: -10px;
    right: -10px;
}
.thank-dialog .btn-crm {
	display: block;
	color: #fff;
	width: 50%;
	height: 36px;
	line-height: 34px;
	margin: 10px auto 0;
	text-align: center;
	border: 1px solid #c8a75d;
	border-radius: 16px;
}
.lottery-dialog{
	padding-top: 7%;
	overflow: hidden;
}
.lott-title{
	position: absolute;
	top: 0px;
	left: 0;
}
.lottery-assist{
	width: 100%;
	height: 100%;
    padding: 0% 6% 6%;
    overflow:hidden ;
    position: relative;	
}

.lottery-assist .award-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;

}
.lottery-assist .award-img img {
   display: block;
   
}
.lottery-assist .contact {
  width: 100%;
  position: absolute;
  bottom: 30px;
  padding: 0 10px;
  z-index: 9999;
  text-align: center;
  padding: 14px 6px;
}
.lottery-assist .contact h4{
	color: #fff;
	font-size: 11px;
	text-align: left;
}
.lottery-assist .contact p {
	width: 100%;
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    border-radius: 6px;
    margin: 4px auto;
    text-align: left;
}

.lottery-assist .contact input {
	display: inline-block;
	width: 100%;
    height: 30px;
    padding: 2px 10px;
    color: #4e4e4e;
    border: none;
    outline: none;
    background:#f3f0df;
    background-size: 100% 100%;
    font-size: 14px;
    border-radius: 4px; 
    border:1px solid #d0ccbc;
    -webkit-appearance: none;
    -webkit-text-fill-color:#000;
    -webkit-opacity:1;
}
.lottery-assist .btn{
	display: block;
	width: 60%;
	position: absolute;
    bottom: 6px;
    left: 20%;
	letter-spacing: 2px;
	font-size: 14px;
	border-radius: 16px;
	color: #fff;
	background: #fe952a;
	text-align: center;
	padding: 8px 24px;
}
.lottery-dialog .contact input:disabled {
    background:#f3f0df;
    color: #4e4e4e;
}
 
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #4e4e4e;
}

/* iPhone4 */
@media screen
and (min-device-width:320px)
and (max-device-height:500px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:2) {

}
/* iPhone5 */
@media screen
and (min-device-width : 320px)
and (min-device-height : 500px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {

}
/* iPhone6 */
@media screen
and (min-device-width : 360px)
and (max-device-width : 667px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
 
}
/* huawei honor-6 */
@media screen and (min-device-width:1000px) and (min-device-height:1000px) {
.lottery-assist .contact {
  bottom: 36px;
  padding: 0 10px;
}
.lottery-assist .contact input {
    height: 28px;
}
.lottery-assist .contact p {
    margin: 2px auto;
}
.lottery-assist .btn{
    bottom: 4px;
}
}
/* mi2*/
@media screen
and (min-device-width : 720px)
and (max-device-height : 1280px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {

}
@-webkit-keyframes toggle {
    0% {
        opacity: 1;
    }
    50%{
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}
