.ddtj{
	position: absolute;
	right: 4px;
	top: 4px;
	text-align: right;
	z-index: 3;
	margin-top: 0;
}
.index{
	width: 100%;
	height: 100%;
	background-image:url(../images/cctv7-logo.png), url(../images/index-bg.jpg);
    background-size: 20%,cover;
    background-repeat: no-repeat,no-repeat;
    background-position:4% 2%, 0 0;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
}
.nav{
	text-align: right;
	width: 100%;
	position: absolute;
	padding-right: 4%;
	left: 0px;
	top: 1%;
}
.btn-rule{
	display: inline-block;
	color: #cd0001;
	width: 20%; 
}
.join-box{
	text-align: center;
	padding: 34% 0 0;
}
.join-box .logo{
	display: block;
	width: 84%;
	margin: 0 auto;
	opacity: 0;
}

.join-box a {
	display: block;
	width:76%;	
	margin: 16% auto 0;
	opacity: 0;
	color: #fff;
}
.follow-box{
	position: absolute;
	bottom: 0px;
	width: 100%;
	z-index: 9999;
}
.copyright {
	position: relative;
	font-size: 12px;
	height: 28px;
	line-height: 13px;
	opacity: 0.6;
	margin: 0 auto;
}
#div_subscribe_area {
	height:50px;
	overflow:hidden;
}

.showme{
	-webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: show;
    animation-name: show;
    -webkit-animation-delay:1s;
    animation-delay: 1s;
    opacity: 0;
}
.bounceInUp {
	-webkit-animation-delay: .5s;
    animation-delay: .5s;
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	-webkit-animation-name: bounceInUp;
	animation-name: bounceInUp;
	opacity: 0;
}
@-webkit-keyframes bounceInUp {
	0%,
	100%,
	60%,
	75%,
	90% {
		-webkit-animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3000px, 0);
		transform: translate3d(0, 3000px, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0);
	}
	75% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0);
	}
	90% {
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes bounceInUp {
	0%,
	100%,
	60%,
	75%,
	90% {
		-webkit-animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3000px, 0);
		transform: translate3d(0, 3000px, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0);
	}
	75% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0);
	}
	90% {
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}


@-webkit-keyframes show{
    0% {
        -webkit-transform: scale(0.3);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(1.2);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
@keyframes show{
    0% {
        -webkit-transform: scale(0.3);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(1.2);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

.talk{
	width: 100%;
	height: 100%;
	background: url(../images/bg.jpg) center center no-repeat;
	background-size: cover;
}
.footer{
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #c00202;
    
}
.footer .cor{
	height: 50px;
	position: relative;
	padding: 4px 6px;
}
.footer .cor .input_head{
	position: absolute;
	left: 4px;
	display: block;
	width: 42px;
	height: 42px;
	border-radius:50%;
	padding: 3px;
	border: 1px solid #980101;
}
.footer .cor .input_head img{
	border-radius:50%;
	width: 100%;
}
.footer .cor .article{
	 display: inline-block;
	 width: 68%;
	 height: 34px;
	 float: left;
	 margin-left: 50px;
	 padding: 0;
	 margin-top: 6px;
	 background: #a00202;
}
.footer .cor .article::after {
    border-left: none;
    border-right: 10px solid #a00202;;
}
.footer input{
	width: 100%;
	height: 100%;
	line-height: 34px;
    background: none;
    border: none;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}
.footer a#input_submit{
    display: inline-block;
    width: 50px;
    height: 38px;
    position: absolute;
    right: 4px;
    top: 4px;
}
.footer a#input_submit img{
	display: block;
	padding: 5px 8px 0px;
}
.preme{
	width: 96%;
	padding: 4% 4% 2%;
	margin: 0 auto;
	border-bottom: 1px solid #cd0e0e;
}
.talkroom{
   position: relative;
}
.talkroom .talk-title{
	display: block;
    width: 40%;
}
.talkroom .count{
	display: inline-block;
	width: 100%;
	padding-left: 40%;
	height: 36px;
	line-height: 34px;
	color: #c00202;
	font-size: 12px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -18px;
	
}
.talkroom .topic{
	width: 100%;
	height: 100%;
	overflow: hidden;
	word-wrap: break-word;
	font-size: 12px;
}

.arrow-box {
	min-height: 70px;
    position: relative;
    background: #fff3f3;
    border: 1px solid #cd0e0e;
    padding: 14px;
    border-radius: 8px;
    width: 100%;
    color: #b40000;
    line-height: 21px;
    margin: 14px auto;
    word-wrap: break-word;
    
}
.arrow-box .star{
	position: absolute;
	display: block;
	width: 20%;
	right: -10px;
	top: -20px;
}
.arrow-box:before {
    top: 0;
    left: -50px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #cd0e0e;
    border-width: 8px;
    margin-left: 80px;
    margin-top: -16px;
}

.arrow-box:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: solid transparent;
    border-bottom-color: #fff3f3;
    border-width: 7px;
    top: 0;
    left: -50px;
    margin-left: 81px;
    margin-top: -14px;
}

.body{
     width: 100%;
     height: 71%;
     overflow-x: hidden;
     overflow-y: auto;
     position: relative;
     margin: 2% auto;
     padding: 0% 6% 3%;
}
.content{
    width: 100%;
    overflow-y: auto;
    padding: 10px 0 30px;
    -webkit-overflow-scrolling: touch;
}
.content li{
    margin-bottom: 15px;
}
.content li .ron{
    display: inline-block;
    width: 90%;
}
.content li  .tar{
	width: 100%;
	font-size: 12px;
    color: #ac3434;
    padding:4px 4px 4px 6px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow: hidden;
    text-align: left;
    padding-left: 50px;
}
.content li .head{
    width: 40px;
    height: 40px;
    display: inline-block;
    float: left;
    position: relative;
    border-radius: 100%;
}
.content li .head img{
	display: block;
	width: 40px;
	border-radius: 100%;
}
.article {
    max-width: 74%;
    display: block;
    zoom: 1;
    padding: 8px 10px;
    background: #efa9a9;
    border-radius: 5px;
    color: #fff;
    word-break: break-all;
    fon t-size: 13px;
    position: relative;
    margin-left: 12px;
    margin-top: 2px; 
    float: left;
}
.article::after {
	content: "";
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 10px solid #efa9a9;
    position: absolute;
    top: 8px;
    left: -8px;
    right: inherit;
}
.content li::after{
	content: "";
	display: block;
	width: 0px;
	height: 0px;
	clear: both;
}
.content li .head::after{
	content: "";
	display: block;
	width: 0px;
	height: 0px;
	clear: both;
}
/*profess*/
.content .profess .article {
    background: #d10b0b;
}
.content .profess .article::after {
	border-left: none;
    border-right: 10px solid #d10b0b;
}
.content .profess .head{
	border: 2px solid #e10000;
}
.content .profess .head::before{
	content: "";
	display: block;
	background: url(../images/vip.png) no-repeat top center;
	background-size: 20px;
	width: 20px;
	height: 40px;
	position: absolute;
	right: -8px;
	top: -4px;
}
/*profess*/

/*self*/
.content .self .head{
	float: right;
}
.content .self .ron{
	float: right;
}
.content .self .tar{
	text-align: right;
	padding-right: 50px;
}
.content .self .article {
	float: right;
    margin-right: 12px; 
}
.content .self .article::after {
	left: inherit;
    right: -8px;
    border-right: none;
    border-left: 10px solid #efa9a9;
}
.content .self .article::before {
	content: "";
	position: absolute;
	top: -10px;
	left: -10px;
	display: block;
	width: 20px;
	height: 50px;
	background: url(../images/star.png) no-repeat top left;
	background-size: 100%;
}
/*self*/

/*self-profess*/
.content .self-profess .head{
	border: 2px solid #e10000;
}
.content .self-profess .head::before{
	content: "";
	display: block;
	background: url(../images/vip.png) no-repeat top center;
	background-size: 20px;
	width: 20px;
	height: 40px;
	position: absolute;
	left: -8px;
	top: -4px;
}
.content .self-profess .article {
    background: #d10b0b;
}
.content .self-profess .article::after {
	border-right: none;
    border-left: 10px solid #d10b0b;
}
/*self-profess*/
.mesg-tip{
    display: inline-block;
    position: absolute;
    bottom:60px;
    right: 10px;
    color: #c00202;
    text-align: center;
    opacity: 0;
    font-size: 12px;
    border-radius: 4px;
    padding: 6px 4px 6px 8px;
    border: 1px solid #c2b6b6;
    padding-right: 30px;
    background:rgba(255,255,255,.9)
 
}
.mesg-tip::after{
	content: "";
	background:url(../images/mesg.png) no-repeat center;
    background-size: 14px;
    position: absolute;
    width: 30px;
    height: 100%;
    top: 0px;
    right: 0px;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: rgba(255,255,255,0.7);
    font-size: 14px;
}
.show {
  -webkit-animation-name: show;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-backface-visibility:hidden;
}
.hide {
  -webkit-animation-name: hide;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-backface-visibility:hidden;
}
@-webkit-keyframes show {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}

@-webkit-keyframes hide {
    0% {
        opacity: 1; 
    }
    100% {
        opacity: 0;
    }
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {

}
/* iPhone5 */
@media screen
and (min-device-width : 320px)
and (min-device-height : 550px)
and (max-device-height : 568px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
.join-box {
    padding: 30% 0 0;
}
.join-box a {
    margin: 16% auto 0;
}
}

/* mi2*/
@media screen and (min-device-width : 720px)
and (max-device-height : 1280px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
.join-box {
    padding: 30% 0 0;
}
}



/*dai*/
@media screen
and (min-device-width:1000px)
and (min-device-height:1000px)
and (orientation : portrait)
{
.join-box {
    padding: 24% 0 0;
}
.join-box a {
    margin: 16% auto 0;
}
}