#rule_dialog{
	width: 100%;
	height: 100%;
	background: white;
	position: relative;
}

#rule_dialog .dialog-header{
	width: 70%;
	margin: 0 auto;
	padding-top: 0px;
	font-size: 18px;
	color: #333;
	text-align: center;
	top: 0px;
	border-bottom: 1px solid #AAA;
}
#rule_dialog .dialog-header h2{
	width: 100%;
	margin: 0 auto;
	font-size: 22px;
	line-height: 40px;
}
#rule_dialog .dialog-content{
	width: 70%;
	margin: 0 auto;
	padding-top: 20px;
	font-size: 14px;
	color: #999;
	overflow-y: scroll;
}
#rule_dialog .dialog-close{
	display: block;
	position: absolute;
	right: -12px;
	top: -12px;
	width: 24px;
	height: 24px;
	background: url("../images/icon-close.png") no-repeat;
	background-size: cover;
}

