body{ 
	
  background-image:url(../images/cctv7-logo.png), url(../images/index-bg.jpg);
  background-size: 20%,cover;
  background-repeat: no-repeat,no-repeat;
  background-position:4% 2%, 0 0;
  overflow-y: auto;

}
.end-box{
	text-align: center;
	width: 100%;
	height: auto;
	min-height: 100%;
	position: relative;
	  padding-bottom: 40px;
}
.end-box img{
	 display: block;
}
header{
	padding-left: 70%;
	padding-right: 14px;
	padding-top: 18px;
}
.btn-reserve{
	display: block;
	width: 20%;
	position: absolute;
	top: 1%;
	right: 4%;
	
}
.end-title{
	padding: 14% 16% 4%;
}
.end-text{
	width: 50%;
	margin: 0  auto;
}
.end-card{
	width: 88%;
	margin: 6% auto 0;
}
.end-tip{
	color: #fff;
	font-size: 12px;
	margin: 20px auto 0;
	text-align: center;
}
/* iPhone4 */
@media screen and (min-device-width:320px)
and (max-device-height:500px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:2) {
	.end-box{
		padding: 0 8%;
	}
}
/* iPhone5 */
@media screen and (min-device-width : 320px)
and (min-device-height : 500px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
}
/* iPhone6 */
@media screen and (min-device-width : 360px)
and (max-device-width : 667px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
 
}
/* huawei honor-6 */
@media screen and (min-device-width:1000px) and (min-device-height:1000px) {
.end-card {
    margin: 6% auto 0;
}
}

/* mi2*/
@media screen and (min-device-width : 720px)
and (max-device-height : 1280px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
}
