@font-face {
    font-family: 'gbk';
    font-style: normal;
    font-weight: 400;
    src: url(data:font/opentype;base64,AAEAAAALAIAAAwAwT1MvMpwhY1gAAAC8AAAAYGNtYXBHOsPwAAABHAAAAdpnbHlmYnGaxwAAAvgAAB1IaGVhZOcMoR0AACBAAAAANmhoZWEB2QDPAAAgeAAAACRobXR4AccAzAAAIJwAAAAsbG9jYUfUT6wAACDIAAAALG1heHAAJgDTAAAg9AAAACBuYW1laynUmAAAIRQAAAJacG9zdP/WACEAACNwAAAAIHByZXBwAgESAAAjkAAAAAgABAEAAZAABQAIAIAAgAAAABAAgACAAAAAgAALAEAKBwMABQkAAAAAAAAAAAABEAAAAAAAAAAAAAAAQkRGWgBATgv/DADd/8cAFwDdADkABAAAAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQAAAAAA1AADAAEAAAAcAAQAuAAAACoAIAAEAApOC1GNWVZZy13yXwBiGGRHZwlnH2csZ19rIXm7e1R+043dj9iYmP8M//8AAE4LUY1ZVlnLXfJfAGIYZEdnCWcfZyxnX2shebt7VH7Tjd2P2JiY/wz//7H2rnWmraY5ohOhBp3vm8GZAJjrmN+YrZTshlOEu4E9cjRwOmd7AQgAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACABT//wAuAKYABwAPAAA3IycmOwEyDwE0NxYXBgcmJAYJAQcMCAIZDQwBAQwNLXQFBpcLAQIKCQEBAAABABn/9ADlALcALwAANxYXFgciIyYHFhcUBwYXFhcWFxYnIicmJxYHBgcmJzQ1NjUmNSYnBgcGIyY3Njc2zg8HBQwCARw9BwIBBAEXFwoCAQoDCxgMAgIBBQ0BCAEBBDUIBQMZBWc4DrcBBwsBBQcHAgICCxoCBwYLCwMIEAVGGBcBBxABAQ9IBQQlDQgDAQUHCgsDAAAAAAMAC//pAPQAvwBjAHsAlwAANzYHBgcGBxYXFgcGBzIzNjcyFwYXFBc2NzYzFgcGJyYjFBcWFQYHBicmJyInJhcWFxY3NjU0NQYHBgcGFQYHBgcGJzA3NjcGByInJjcyNzYnIjUmFxYXNjc0JwYjBicmNzY3NgciIwYHFBUwMzY3NhcWBwYHFBUUMTY3JgcGBwYxFBUUFTI3Njc0NTQ1BiciJyY3Mjc2NxavGgIDLxEKAQEPAwMBAQMUBg0MCAEBCgwLBB4FBRMPFwECAg0FBQgJAQIKEAEEDAMEFBUZDQEBAQcGBQMBCgEoCwYIBAYbJAIFAQYHBwcWCQcjBAsIBQwiPAwIAggHCwEHCQUCAgMEFCAGAS8OCgcJCQoCCgMHBAIGAgMKBQG/AQsFBQIBAQEFBQUOBAQPCBIVCwEDAgYKBAICCgsaCRANAgkNBwEIBQEBBAMDLQQEAgIDAgQJEQUZAwIVAxAXBgMHBAEGMBIBCgICAQIDEwsDAQQDAQIOAzkBARMHAgEBAwMDAwMHBw0DATsBAwEBAwMOKgECAQEMBgcCAgMBAgECAQEABAAd//EA8QDFAC0ASQBPAIMAADc2FwYHBgcWNzY3FhcGBwYHBgcGJzQ3NjcmBwYnBgcWFxYHIicGBwYnJjc2JzQHNhcGFQYXBgcmJyY3NjcGBwYnJjcwMxY3NicmBxYXFgcmFzYXFAcUFTY3NjMWFxYHBicmBxYXMhcWBwYnJicGByInJjc2NwYHBiMmJyY3Mjc2NyYnJpoSCAECCQoMEAUCEQMBAggGHCMIAgcnEQEIDwcGChAFBAkHDAoCBQEBBCQEPgwMAQUBAQYHAgECAwEXDgMBEQIBESYCCgElEgoICxU5CgoBHQ8VCQwGBAoECQ49Jz4IAQEIGBgYIxE/CAEBCDsKHRkLBAsFAgoPGhoLAQEBxQILAgIJEAEHAgEHBwICBQoqCgICAgMVKwEBAwUHCgcECQUWCAIEAgEGKxYCBQMLAgIPSg4CBgsDBQsMDgsDAQYNAhAsDwIXAgYMBwxHAgoDAQEBAwMEAggIAQEBBAQzCgMCAwUCDzI3CAECAREvAwUCAgUEAQMCAgcDAwAAAAAFABD/+wDoALkAPgBjAGwAjACWAAA3NhcWBwYVBgc3NicmNxYXFAcGBwYHBgcWFxYHBicmJyYnBic2NyYnJjUmNzY3BgcGJyYnJjcyNzY3NDc2JyY3FhcUBwYHBgcGBzcmJyYXFhUGJyYnBgcGIyY3NDc2NzY3NicmDwEGBxYXFhc2FxYXFAcGBxYXFCMGBwYHBiMmJzQnNDUmJyY3Nhc2NzYVIgcGBxc3NjU2RgoPAQMDBggbAQEBAgsGAgMBBAMKBQMKBAUEBAMEBAImDhkUBgkFAQECAggJCAMLBQMHDCADBQEBBQJiEQcEBQQECwcJPAwFBycLAgkEBSoeBQEKAQQKBgoKAwMCPRwGAQMKAQMMZhAMBAkFBgIFCw8PEgEGBAEHAgMDAQIPHRUDAxwKCQQrBAG5Ag0EBgUDEiQFBwYCAgEKAgUGBQgIHAcDDwgIBQgDBwgEIQYNFwgJBQICBAQKAwMDAQUGBAEFDSEFAwwMBAEEDgIEBQYFFAwPCQwHDhcKCg0IAwcJDAIFCwEBAwsTGQwLBVMHEgUDCwICGAkFCgMECg0DBQQCAQECCAIJBhgCAgUDBAMCBAIJAg4DAQEkCBEHBwABADEAAQDoALwAPwAANxYXBgcGBxYHBgcGFRYXFjc2NzY3NjMWFxQXFhUGBwYnJic0NzY1NicmNzYXBgcGBzY3NjcGBwYnJicmNzY3NosaBQEEEQgOASI3BAEFCTcvFw8FAQMCAQQBBmAlGhEBAwECBAEBCQ4BAQQCFCkCBxcJDQcRAwEPKRACvAQMAwQNGwYFCgYPEhAKFwIBDAkfDAEKERIIAhQGAREMGgwhCQESCwMBAhACAwgKAgwIKQUCBAIDAwQBAgwDAAIAFv/mAPMAugA4AEkAADcWFxYHBgcWFRQHBhc2NzYzFhcWBwYnJgcVBgcmNScHBgcGNzY3BgcGIyInJjc2NzYnBicmNzY3NgcGBwYHFhcWFxYHBhU3JicmrQwIBQoSFxIBAQEXEwgEDQgHBAUMGyIDBQUDJgUzFxAnCR0KBwQLCgUKKRoCBQ8MCw00HREZBQoLDQEBCAEBAQIlAQICugEGBgIFAgYFAwUGFgIFAgEGBgQEAgMDZR4CAhZrBUMhCQ4ePwcEAgYEAgUFIBACBQUCBwgFFgECAwEBAQMFBAcNDQUQDAwAAAAEABP/6ADsAM0ARQB8AIIAiQAANxQHBhcWFzY3NjcyFxYHBgcGIxYXNjc2NzY3FhcWBwYHBgcWFzY3NjMWFQYXFicmJwYHBjc2NyYnBiMmNzY3JicmJyY3NgcUBwYHMjc2NzIXFgcGJwc2NzYzFhcUBwYHFgcGJzIHFgcGJyYnJicmJyY3NhcWMzc1NCcmNzYXJhcWJyYHJgcXNjc2lQEDAQEECgcPCAsGAwkUFAYDAwgKBAMBAQIMBQEMBQQIBRIeBQcBAgIBAgIELhwVERoNGRUJAxANEg4KFAYBBAcCAQ05AQMBBA0JAwcFAwUVEgEIBgIDEgYDCgUEAQEGBDEBBQUBAQECBQIDBQMCDwECEgoDAQZ2DykPDwtlCyAFFA8HwwMFDA4VFAQCBgIFBAIFBwIVFQwHBQcEAQUJBAgFBQkDJw8DGggBBw0UFgESNg4HCAoMEhoVBgEFAwckDBUOBAEDJAMFDxUFBAEEBAIIASsBAwIGBwIDChMHAwMBBggGAgkEBBcQBAYHAgIGAQM4GBEFAgcSDQsVAQNSAQcmAwQiAAAGAAn/8ADyAMQAQQBPAFsAYwBrAMkAADcWBwYHMjM2MxYHBg8BNhcGBxQVFhUGBwYnJicmNzYXFBcWNzY3NjU2NwYHBicmNzQzFjc1BiMmNzY3NDU2JyY3NhcmFxYHBgcGBwYnNDc2FxYHBgcGNzY3NjcmBxYXFgcGJyYHFhcWBwYnJhcWBwYHFDE2NzY3MgcGBxYVBgc2NzY3FhcGIwYHBgc2NyY1JicmNzYXFhUGFwYnJjUGBwYHIicmNzYnJhcWFwYHFjcGNzQ3NDUGByY3NjcmJyIjIjEGBwYnJjc2JyZFFAIGAQEBBgQMAQsNARQCARUBAgsDBQYEBQEBBwMHAgEBAQEBIQkGCgMBBQgvEQgQBRMRAQcEAQFsAQkWCAQHIw0OAg4kJxIEERAXDwEBDwICKwkFAwUFBA4aCgUEBQQEDxcMAQIBEBQJBBMDDhoLAQEHChkHFAIDFBsWAQIcBAECAgMBAQcPAgEFBgQGBjkRBQQDBQwDAQUHAQEBAR0BAQEmDxoKOwsBAwkEBwEPCgIBBw0BAcQFBw8hAwMEBwIhDAMEDx8HCBMVCgEKCQcGAgEDAQEEAgEQCAwMDRcJAw0EAQIDHiQEAgUDBwQEJwcFAgIHBwQKBQIDDAMEAwMFDg4IBBAKDxABAhAOBQ0EBgcHBAcYDAQFBwcGBxokAwUDAgEBBgIBBQgCBgMECgECBAECCQQBAgImAwIBAgoEBAEBAQYIFAoQBAQXAgEKCAYHAgYVBQEEBRECAQUCBg8JCgEGAgIGBwMSBQMOCAIBCRQKBQAAAAABAAz/4ADzANQAYwAANzYXBgcGBzY3NjcyFxYHBicmBwYHFjc2NxYXFAcGFxYXFhUGByInJicmNzQXFDMWNzYnJicmBwYHFTYVFAcGJwc2NzIXBgcGJwYHJjc2NQYHBic0NzY3BgcGIyInJjc2NzYnJncRDAECCAYtEhQFDgkFDgQIDVIKCw4pBAEOCQEGAwIBAgIPAgQICQYBCAMHBQYCAwYGERALLBARCwIcCQoBAhISCgUMBwEOJigKAQg+Gx8MCwgKCQUKIi4NBwHUAhACAwwSBgMDAQkJAQEBBAkWDwMNAQEBCwICCx4cDhMGFQ4IEAgDAQEBAQMBATI2BwMEBAEbDAoFAgMDHwYBBAUDAwQuCAIRHkg0FQYBAQg1OwUDAgYFAQEIHw8DAAAFAAv/6gDkAMkAQgCCAJsAowCxAAA3FgcGBzIzNjMWFxYHBgcGIxQHBhUyNzYzFhcGBwYHIjUWNzY3NDc2NTAHIiMmNzI3JicmNzYXFhUGBzcwNTQnJjc2FzIXBhcWFxQHIicmJyY3NBcUMxY3Nic0NTYHIgcGIwcyNzYzFgcGJwcyNzYzFgcGJwYHBicmNzY3NicmNzYXFg8CNgcwNzYXBg8BMjc2MzYXFicHNzA3NgcWFxYHBicmBzQXFgcGBwYHBiMmNzZwEgECAQECBQUGAwIDBA0DAgMBAwMHAwwBBBAoPhEGDQwZAQEEBQMSCAUSAgMFAgEHDQEBHwQEAQFiFQMMCAEBEwIDBggGAQYBEQIEBAEOAwYJBQEIBwIBDgEMEwMECAUCDgEOEwskCgEBCh8HBwgGBAQNEUwfAQ8BAggDBRYBAwMGAwkDAx4BHwEBBgoJBgIDBh0XBhAEAgkWCBACAQ4YyQUIBxMCAQIDAgMCAQIvGQMBAgEGAgIBFQ0BAwEGASQkAwECBQQXBQMBAgEEBgUQBgIbBgQCAiIMBWwTCRgKBg0HBgEBAQEEAgV2AgETAgICKAMBAwUFASACAgIECAI5FwUBAggdOj8PBgEBAwEJBRUFAQEBBQYBFQEDAQYGARYFExU9AggICQgHHwkFAQQFAggSBQcBCxcAAAEAC//qAPcAzABNAAA3NhcUBwYVNjc2FxYHBgcGBxYXFhcWFxYjBicmJyYnFzYzFhcWBwYHFAcGByYnNDU2NwY3Njc2PwEGBwYnNDc2NwYHBiMiJyY3Njc2JyZkDg8CBh4QCQoHCQgOFBYVKRggCAECBzYHBAcnDAIOCwkEAggMFAIBAwgCAwEuDAcNBgkBIDwHAQY4IBAKCAMNBgMLFR8BCQLLAwwCBRAZBgUBBwYCAgICBCYdDwgDAgIKEAQIKxNIAwEFBQIEAR0JDAECEAICCRMBCAEDAQJGQSEDAQEFK0YCAwEEAgMDByISBQAAAAMADf/kAPYA0ABdAGcAdQAANxYHBhc2NzYzMhUGBxU2NzY3FgcGBxYVBiMGBxUWFxYXFCMGJyYnFBUUFQYnJicmNzY3NjUGBwYjJjc2NwYHBicmJyYnJjc2MzIXMjc0NTQ1BicmJyY3NjcmJyY3NhcmBwYjFBU2NzYnBgcGBwYXFhc2NzY3NnAXAgcBDAcLAg4GKSQEAwIYAQoMBAEJFBRHKwUBBC4FIx4BBQoCAQIDAgEkNAwCAQs1Iw0PAgUEAgYGBAEBBQYKChwPBw4CAgoQDgEHBAECOgIcBAQbAws0CQgUAQECAgIJCAkGAdAGBwgXAwIEBgcIHAYCAQEICgUOBwECAQMBPQEBAgILBRkmLA8PCRIBCA0EAwkLCSYxEAIBBRoxAgMIAwMMFQcBAgICBQIGEwEDAQECAwIBBRwLBAICWAIEARQIAwQMBwIBAwEBBwcLAQICAQEAAAQAGgADAPcAxQApAC8APQBZAAA3FgcGBwYHNjcwNxYXBgcGBwYjIjc2JyYHBiMGJyYxBgcGJyY3NicmNzYHFhcWJyYXNhcWBwYHBgcGJyY3MjcWBwYXFhcWFQYHBicmJyYnBgcGNTQ3NicmNzaGEwEFDAYDKQ8BFwYCBA4JDQICBwYDAxoKAQMHAgcJCgICByEIAwICTxUHBhAjKgoDAQkRDAMBBAwGBwlWEQEFASFECQEJKQoHKQMBDisNDCwBAwIBxQUIChoOBwoMAQMTAgEFBwsMDgQBCQMBAwINCwsBAQs6HQUBAisFBxsHHz8NAQIPGx0HAQYUCgE6BgUJAjcNAwMCAQUFAT0FAjwKBAMCBho8AwICAAAEAC7/7QDVAMcABwATADEApQAANzYXFgcGJyYXFgcGIyYHBgciNzYXNDMyMxYHBgcWFxYXFCcmJwYHBic0NzY3JhcWFzY3FhUGBwYHIjcGBxYXFgcGBzY3FhcGBwYHBgcGJyYnJjM0FxY3Njc2JyYHBiMGBwYzNjcmFxYXFgcGJyYnNDUGBwYHBicmNzY3BhcGFRYVBicmJyY3NicmJyYXNjc2JwYHIjc2JyY3NhcWBwYHFjc2JyY3Nm4PCQYDAwceUhoCAxERJCAaFwJBFAQCAQ0CCwYHBQUBBwcODQ0KAQgOBiYRDBALJQ0FAwQGBAIoCAECCwIGBCwVGwEIAwIBBRAEAwUECAELCQUGAgEFBTUFBAEFDAElAgkJDgUCBAQEAgUiDAICBAUDBQkKJgEBAQEFBgMBAQMBAgQGGCAJBwIYCxAFCwYEAgIFCgEDAQFWAgICAQLHAQYHCAcEFRADCgMBAwYFCgIKAwQFCwUCAwYHBAMCCQgFBAICBQcHEgIEBgoCCAYRDgwBDQYCAQIFAggHBQUEDQgYDgkSCQEICAQFAgICBAcZGQQCBgEBCBMGAhEFBgkJCQYIAQoBAQsHAQECCQgBAhoFAQIPGQkOAQMOAQQJDREICggEAxAJAwcLChgDAgICBgQIEQELHAYEAQEAAAgADf/tAPoAxwAZADMAOQA/AFsAawCJAJUAADcWFwYHMjc2MxYHBgcGJyYnBgcGJyY3Nic0BzYXBgc2NzY3NhcWBwYHBicGBwYnJjc2JyYXNhcWByYnNhcWByY3MhcGBwYHFhcWFxYHBicmJwYHBicmNzY3Njc2FzIXFgcGBwYHBicmNzY3NhcWFxQHBgcWFzIHBgciBwYnJicmJyY3NhcWNzY3Nhc2BxQXNjM2NzYzNpoOCAEJCAsKBxIFBxgLCAEBEwsIAgIGHQRRCQ8FBgkMBgMKAwELCQsKBhEUCgEBCCUGAVcFEAsLEFgMCwYGCxsICwEBAQEtSAQBAQQmCA5AJjwKAgEILBsSAQEXCgUDCQIECg8NBwUMBQcPGBgGBAkFAQEFAQESECcEBAQCBAYDAwMGBQUrDgIBBkECAgQTCw4BCMcBCAULBAMBBwUCAQMBARYGBgEBByMPAggFCQkLAQQCAQEFBAMDAQECGA4HAQEJLBACIQEFDQYFCAMFCwUCAwkBAQIBLw0CAgIBBwIFPjsVBAEBBRkgFA0EOQUEAgEBBAECBAMDAQIGHwcLAgIFCwEBBQMBBAgCAQsRDgUBAgMCAQMHAg8ECQsPAQIBAgwAAAUAFf/5AOgAxQA1AGMAgQCPAJsAADcWBwYHBhU2NzYzFgcGIyYHFAcUFTY3NhcWBwYnIgcGBwYnJjcyNzA1BgcGIyI3Njc0JyInJgcWBwYHBgcUMzI3NjU2FwYHBgcWNzYXFAcGBwYxJjc2NwYHBicmNzY3NicmNzYXFgcGBxQzFgcGByYHBicmJyYnJjc2NxYXFjcyNzYHNhcWBwYXBicmNxY3NhcmBwYjFhcWFzY3NpsZAgQBAggPDgUWAwIJCycBBwYMBg4EAgUQGBgHBQcGBw8WDQcJBhcHIhEIAQEFRhQFBwgNEAsNDA8MBAMSDhEBJQgBCCYNAQwGERQgCwUCAgUIEw0EAwICghsGCggBBwEBDA0qAQQGAgQGAwEBAwMGAwEXIgdiBgMBBj4DBAwLCQsrDWQELwQEAgMBASkIB8UGCggLCxgBBAQECAIBBAURCgEBAQQBBgUCAQMFAgIGBAEGIQMCAwkCBTIMAQgKDAYGCxETAgIUDgYUAhYQFAEKAgECAxEIAQMOCB8FBwQJCQMCHRUOBgEBggwHBRECCAICAQEECQIEChwJAgIBAQEBAQEJAggCAgEEIAQFCQsBARIFAgIGAQwQBgEFBhcABAAKAAAA8QCzAEwAUwCTAJ4AADcWFwYjJgcWBwYHBgcWFRQHFDE2NzYzMDcWBwYPARY3NhcUBwYHBicmNzY3Mjc2NyYnJjc2MxYVFBc3NicmJwcGJyYnJicmJyY3Nhc2FyYHFzY3Njc2FxYHBgcGIwc2NzY3FhcUBwYHFhcUBwYHBg8BNjc2MxYXFiciIyYHBgcGIyY1NDc2NzY1NicmJyY3NhcyNzYHJgcGIwc2NzY3NlkXAwEBAgwHAQINCAUJAgkDBAIBEAIGGwEBEw4CDkMGBg0EAQIGAwsIBAMJBAEBBRABFAEBAgMGAwMCAwIBBgQGBAMOGA4EHwUUCAZuCgUECQMKIRQBGxMEAhYGBAsGBwEGChMZCAIWGxYKCgUDCgICMR8HBgMBCQIGAgIBAQEDBAIDEQsWEAEEERQJAQcLGgQIsAUKAQEZBQIDAwEBBgUEEAQDAgEBAQUFBCcBBwUCAwYfBgIKAwIBAQQCAjMHAwIBBAcCMAcoFRYCAggCAgwDBBIGBgECAwQEAgggAwYVGAEFBgEBAgktBAoBAQUJAgMKDgQEBAECAwQBKgEFAwEJCAIEBwIEAwYJAQMIDBIbGygDBgYCBAcIBUIBBAUjAQIFAxkAAAQACv/7APcAuAAxADkAbQB3AAA3FgcGBwYHFgcGMQYHFhU0FQYHJic0NzY3NDUGFQYHBicmNzAzNjcGBwYHBicmNzY3NgcWFxYHBicmFxYXBhUGFxYHFhcWNzI3Njc2FxYHBgcmJyYnJgcGIwYnJjMyNzYXJicmNSY3NicGByY3NjcWFxYHBicmJya+GAECGBMOEwUBBgsDAgQHAwECAQEdHQgBAQcBQwIICwwJCAYECCkmCYsPCAYEBAgdFRADDQEEBgEEC0YVEhgTBQYCAQUdIAwqKxcHFwQBBQkGBwcSEQQCBwMBBAMCCwkUCA6JFg0JAgILDQwbuAEHBAQCAgoFAQYQBD8BAhsCAhUDCQcHGgsBASMNAwEBBTQqAQICAQEFAwIECwMEAwcJCwcIHj0BCw0OBgkODAIDFAIBAgEBAgIDDwUCDQ8GAQkCAQgGBAQBCw0GBAQNDQEGAQMEAwUHDAsPCA0NCxcAAAAGAAX/8gD6ALwAGABSAGEAcQCsALQAADcWFwYHBgcGJwcGJyYnJicmNzYXFjc2NzYXNhcWBwYHBgcWFQYHBgc2NzYzFhcUBwYXFgcmNzYnJgciBwYVFCciNTYnJjc0FzI3NjUGJyY3Njc2ByIHBiMXNgcGJxc3Njc2FzYXFAcGBwYnJjc2NzYnJgc2FxYHBgcGIxYVFBU2FxQjBxY3FhcUBwYnBicmJwYHBiciNzYnJjc2FxYVBgcWFzYnBgcGJyY3Njc2FyYXFgcGJyZnDAkBAQcFBgYYBQMDAgQJAgIBBgcDEQ8EYQ0GBQoIDw4HCQECBgcQBgcFEgICBQIBCAoCAwUDCAcaAQcFBQcBAQUIBQkPCQcNEwsPWAIUBwQCHAEBGQIZAwEBPgcKBQkhCwIBCRYLBwUBMQoEAQoIFAQCBxsDHgFHTwcCBicYCC8oHBEZCAMBBikCAQICAwwFAQ0HBAkREgoEGgw4HA5CCicOCQUVB7wCCgECDR0cDgQKAgMPIhADAQEBAQECBgICAQQEAwMCAwEHAwICBgwDAgMCCAIECxEoAgMMKw4EAQYEBEAGECgMAgIBAQEUDAMDAwMFAwYIAwIYCQYJARYECRQUOgIJBhUnDQQBAQYPFhcRBAcBAwMDAwQBBAwDAwwJCRkmAwEBAQEOAQEYFg8cEAMBBSQbAwEBAQgEBwIIASgHBAYEAQIHCAkENg0VDwoDGggAAQAt/94AUwAiAAwAABcnNjUiByInJjcWBwYwAxYCAgkDER0XBAgiAg8TAQQYBQIfGQAAAAEAAAABAACONv6/Xw889QAJAQAAAAAAtA86kAAAAADS4SfSAAX/3gD6ANQAAAAUAAIAAAAAAAAAAQAAAN3/xwAAAQAAAAAGAPoAAQAAAAAAAAAAAAAAAAAAAAEBAAAAABkACwAdABAAMQAWABMACQAMAAsACwANABoALgANABUACgAKAAUALQAAAB4AagFAAgoC7gNSA8YEmAXEBloHWgfSCIAJDAoGCvAL2AzEDXoOig6kAAEAAAAVAMoACAAAAAAAAQAAAAAAAAAAAAgACAAAAAAAAAAQAMYAAQAAAAAAAAAlAAAAAQAAAAAAAQAJACUAAQAAAAAAAgAHAC4AAQAAAAAAAwAZADUAAQAAAAAABAAJAE4AAQAAAAAABQAEAFcAAQAAAAAABgANAFsAAQAAAAAABwAkAGgAAwABBAkAAABKAIwAAwABBAkAAQASANYAAwABBAkAAgAOAOgAAwABBAkAAwAyAPYAAwABBAkABAASASgAAwABBAkABQAIAToAAwABBAkABgAaAUIAAwABBAkABwA4AVxDb3B5cmlnaHQoYykgRm91bmRlciBDb3Jwb3JhdGlvbi4xOTk5RlpLYWktWjAzUmVndWxhckZvdW5kZXI6RlpLYWktWjAzCVJlZ3VsYXJGWkthaS1aMDMxLjEwRlpLVEstLUdCSzEtMEJ5IEZvdW5kZXIgQ29ycG9yYXRpb24uIOWMl+Wkp+aWueatowBDAG8AcAB5AHIAaQBnAGgAdAAoAGMAKQAgAEYAbwB1AG4AZABlAHIAIABDAG8AcgBwAG8AcgBhAHQAaQBvAG4ALgAxADkAOQA5AEYAWgBLAGEAaQAtAFoAMAAzAFIAZQBnAHUAbABhAHIARgBvAHUAbgBkAGUAcgA6AEYAWgBLAGEAaQAtAFoAMAAzAAkAUgBlAGcAdQBsAGEAcgBGAFoASwBhAGkALQBaADAAMwAxAC4AMQAwAEYAWgBLAFQASwAtAC0ARwBCAEsAMQAtADAAQgB5ACAARgBvAHUAbgBkAGUAcgAgAEMAbwByAHAAbwByAGEAdABpAG8AbgAuACBTF1knZblrYwAAAAMAAAAAAAD/0wAMAAAAAAAAAAAAAAAAAAAAAAAAABW4Af+FuAABjQ==);
}
body {
    overflow: hidden;
    margin: 0 auto;
    /*background: url(../images/com-bg.jpg) top center no-repeat;*/
    /*background-size: cover;*/
}
.imgbg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.round-bg{
    position: absolute;
    width: 100%;
    height: 66%;
    bottom: 0;
    z-index: 2;
}
section {
    position: relative;
    width:100%;
}
section .answer-box {
    width: 100%;
    height: auto;
    margin-top: 5%;
}
section .answer-box .item, section .answer-box .item ul, section .answer-box .item ul li {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
section .answer-box .item ul li {
    width: 90%;
    margin: auto;
    color: #a01d61;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 50px;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);*/
    background: url("../images/que-bg.png") no-repeat;
    background-size: 100% 50px;
    overflow: visible;
}
section .answer-box .item ul li > p {
    width: 80%;
    display: inline-block;
    margin-left: 0;
    overflow: hidden;
    line-height: 20px;
    margin-top: 15px;
    word-break: break-all;
}
section .answer-box .item ul li > img {
    position: relative;
    display: inline-block;
    width: 40px;
    vertical-align: top;
    margin-right: 0;
}
section .answer-box .item ul li div {
    width: 100%;
    margin: 0 auto 0;
    text-align: center;
}
section .answer-box .item ul li .dorA,section .answer-box .item ul li .dorB{
    width: 120%;
    margin-left: -10%;
    line-height: 14px;
}
section .answer-box .item ul li .dorA a {
    display: inline-block;
    /*background: #90785e;*/
    background: url("../images/que-answer-bg.png") no-repeat;
    background-size: 100% 100%;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    padding: 8px 12px;
    margin: 10px 2px 0;
    word-break: break-all;
    vertical-align: middle!important;
}
section .answer-box .item ul li .dorB span {
    display: block;
    /*background: #90785e;*/
    background: url("../images/que-answer-bg.png") no-repeat;
    background-size: 100% 100%;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    padding: 8px 12px;
    margin: 10px 2px 0;
    word-break: break-all;
    vertical-align: middle;
}
section .answer-box .item ul li .dorB span.right {
    display: inline-block;
    /*background: #90785e;*/
    background: url("../images/que-answer-r-bg.png") no-repeat;
    background-size: 100% 100%;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    padding: 8px 12px;
    margin: 10px 2px 0;
}
section .answer-box .item ul li .dorB span.wrong {
    display: inline-block;
    /*background: #90785e;*/
    background: url("../images/que-answer-bg.png") no-repeat;
    background-size: 100% 100%;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    padding: 8px 12px;
    margin: 10px 2px 0;
}
section .answer-box .wait {
    width: 90%;
    margin: auto;
    color: #a01d61;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 50px;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);*/
    background: url("../images/que-bg.png") no-repeat;
    background-size: 100% 50px;
    overflow: visible;
}
section .answer-box .wait h1 {
    width: 80%;
    display: inline-block;
    margin-left: 0;
    overflow: hidden;
}
section .answer-box .wait img {
    position: relative;
    display: inline-block;
    width: 40px;
    vertical-align: top;
    margin-right: 0;
}
section .answer-box .hat {
    position: absolute;
    width: 30%;
    top: -20%;
    right: -10%;
}
section .time-box {
    position: absolute;
    width:65%;
    left: 15%;
    top: 10px;
    height:40px;
    line-height:18px;
    text-align:center;
    vertical-align: top;
    font-size:16px;
    border-radius:30px;
    color: #666666;
    font-family: 'gbk';
}
section .time-box span {
    font-family: 'Microsoft Yahei', Arial, sans-serif;
    font-style: normal;
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    section .answer-box {
        margin-top: 0;
    }
    section .answer-box .item ul li > p {
        line-height: 20px;
        margin-top: 15px;
    }
    section .answer-box .item ul li .dorA a{
        margin: 4px 2px 0;
    }
    section .answer-box .item ul li .dorB span{
        margin: 4px 2px 0!important;
    }
    section .answer-box .item ul li{
        font-size: 13px;
    }
    .rank-dialog .rank-self span{
        font-size: 12px;
    }
    .rank-dialog .list span{
        font-size: 12px;
    }
    .rank-dialog .list{
        height: 60%;
    }
}
/* iPhone5 */
@media screen
and (min-device-width : 320px)
and (min-device-height : 500px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
    .rank-dialog .rank-self span{
        font-size: 12px;
    }
    .rank-dialog .list span{
        font-size: 12px;
    }
    .body {
        height: 47%;
    }
    .topic{
        bottom: 59%;
    }
    section .answer-box .item ul li > p {
        line-height: 20px;
        margin-top: 15px;
    }
}
