* {
	-webkit-box-sizing: border-box;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;
}
body {
	overflow: hidden;
	background: #FFF;
	min-width: 320px;
}
a.back-btn:visited, a.back-btn:active{
	color: #FFF;
}
.swiper-slide img {
	display: block;
	margin: 0 auto;
}
.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white, .swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
	background: transparent !important;
}
.btn-goback {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 5%;
    top: 0;
    z-index: 999999999;
}
.clearfix {
	clear: both;
}
.fl-l {
	float: left;
}
.fl-r {
	float: right;
}
.swiper-slide img {
	display: block;
	margin: 0 auto;
}
.main {
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	opacity: 0;
	z-index: -1;
	padding-bottom: 50px;
}
.back-btn {
	display: block;
	width: 100%;
	height: 36px;
	line-height: 36px;
	background-color: #ffa200;
	text-align: center;
	color: #FFF;
}
.banner, .tabs {
	width: 100%;
	background: #FFF;
	overflow: hidden;
}
.banner .topic-head {
	position: relative;
	width: 100%;
	overflow: hidden;
	color: #FFF;
	font-size: 16px;
}
.banner .topic-head img {
	display: block;
	width: 100%;
	height: auto;
}
.banner .topic-head:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.6, transparent), color-stop(1, rgba(0,0,0,.5)));
    z-index: 9;
}
.banner .topic-head .topic-title {
	position: absolute;
	left: 5%;
	bottom: 10%;
	z-index: 99;
}
.banner .topic-head .topic-title .icon {
	vertical-align: middle;
	display: inline-block;
	width: 23px;
	height: 18px;
	background: url("../images/showimgs.png") 0 -96px no-repeat;
	background-size: 116px auto;
}
.banner .topic-head .topic-title .topic-name {
	margin-top: 5px;
	font-size: 30px;
	line-height: 1;
	color: #ffdd02;
	font-weight: bolder;
}
.banner .topic-content {
	width: 100%;
	padding: 10px 5%;
	color: #888;
	font-weight: bolder;
}
.banner .topic-content .topic-desc {
	font-size: 16px;
	line-height: 1.6;
}
.banner .topic-content .topic-info {
	color: #AAA;
	margin-top: 5px;
}
.banner .topic-content .topic-info * {
	font-size: 14px;
}
.banner .topic-content .topic-info label {
	font-size: 14px;
	color: rgb(255, 82, 41);
}
.tabs ul {
	width: 90%;
	margin: 10px auto;
	font-size: 0;
	color: #000000;
	text-align: center;
	list-style: none;
	word-space: no-wrap;
}
.tabs ul li {
	display: inline-block;
	width: 46%;
	height: 42px;
	line-height: 40px;
	border: 1px solid #d4d4d4;
	border-left: 0 none;
	text-align: center;
	font-size: 16px;
	overflow: hidden;
}
.tabs ul li a {
	display: block;
	color: #AAA;
	height: 40px;
	line-height: 40px;
}
.tabs ul li:first-child {
	border-left: 1px solid #d4d4d4;
	border-radius: 0;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}
.tabs ul li:last-child {
	border-radius: 0;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}
.tabs ul li.active a {
	background-color: #ffa70d;
	color: #FFF;
}
.cards {
	background-color: #DCDCDC;
}
.cards .card {
	/*width: 100%;*/
	background-color: #FFF;
	padding: 10px 0 0;
	margin-bottom: 25px;
	-webkit-box-shadow: 0 4px 3px rgba(0,0,0,.2);
	font-size: 16px;
	color: #666;
}
.cards .card .info {
	width: 90%;
	margin: 0 auto 10px;
	height: 55px;
	position: relative;
}
.cards .card .info .rank {
	position: absolute;
	width: 105px;
	height: 43px;
	top: 6px;
	right: 10px;
}
.cards .card .info .rank1 {
	background: url(../images/rank.png) no-repeat;
	background-position: 0 0;
	background-size: 100px auto;
}
.cards .card .info .rank2 {
	background: url(../images/rank.png) no-repeat;
	background-position: 0 -45px;
	background-size: 100px auto;
}
.cards .card .info .rank3 {
	background: url(../images/rank.png) no-repeat;
	background-position: 0 -90px;
	background-size: 100px auto;
}
.cards .card .info .left, .cards .card .info .right {
	display: block;
	float: left;
}
.cards .card .nhead {
	position: relative;
	width: 49px;
	height: 49px;
	border-radius: 33px;
	border: 2px solid #d5d5d5;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
	overflow: hidden;
}
.cards .card .info .left {
	margin-top: 3px;
}
.cards .card .info .nhead img {
	height: 49px;
	width: 49px;
}
.cards .card .info .ranknum {
	position: absolute;
	right: 3px;
	bottom: 15px;
	font-size: 17px;
	color: #000;
	font-weight: bolder;
}
.cards .card .info .right {
	height: 55px;
	line-height: 55px;
	font-size: 16px;
	color: #000;
	margin-left: 6px;
}
.cards .card .images {
	width: 100%;
	margin-top: 10px;
}
.cards .card .images img {
	width: 100%;
	height: auto;
}
.cards .card .text {
	width: 90%;
	margin: 0 auto;
	padding: 10px 0 15px;
	line-height: 18px;
}
.cards .card .commonts {
	width: 100%;
	font-size: 13px;
	background-color: #EEE;
	padding: 5px 0;
}
.cards .card .commonts ul, .cards .card .commonts li {
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.cards .card .commonts li {
	width: 90%;
	margin: 0 auto;
}
.cards .card .commonts .nhead, .cards .card .commonts li img {
	width: 30px;
	height: 30px;
}
.cards .card .commonts .nhead {
	margin-right: 5px;
}
.cards .card .commonts li span {
	height: 30px;
	line-height: 30px;
}
.cards .events {
	width: 100%;
	height: 50px;
	padding: 10px 0;
	overflow: hidden;
	font-size: 13px;
}
.cards .events div {
	width: 49%;
	text-align: center;
	display: inline-block;
	height: 30px;
	line-height: 30px;
}
.cards .events .sharebtn {
	border-right: 1px solid #BFBFBF;
}
.cards .events img, .cards .events span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	vertical-align: text-bottom;
	/*overflow: hidden;*/
}
.cards .events .zanbtn .icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url("../images/zan.png") no-repeat;
	background-position: 0 0;
}
.cards .events .zanbtn .icon-up {
	background-position: 0 -30px !important;
}
.main .more a {
	width: 60%;
	margin: 11px auto;
	font-size: 13px;
	display: block;
	height: 38px;
	line-height: 38px;
	border-radius: 3px;
	text-align: center;
}
.main .nomore a {
	color: #a0a0a0;
	background-color: #d8d8d8;
}
.main .hasmore a {
	color: #848484;
	border: 1px solid #ebebeb;
	background-color: #fafafa;
}
.main .show {
	position: fixed;
	bottom: 15px;
	left: 50%;
	z-index: 10;
	margin-left: -50px;
	display: inline-block;
	width: 100px;
	height: 100px;
	background: url("../images/show-btn.png") no-repeat;
	background-size: 100px 100px;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
}
.main .comments-back {
	width: 100%;
	background: #FFF;
	overflow: hidden;
}
.main .comments-back ul {
	width: 86%;
	margin: 10px auto;
}
.main .comments-back ul li {
	position: relative;
	border-left: 2px solid #f6f6f6;
	padding: 12px 0 8% 4%;
}
.main .comments-back ul li:before {
	content: '';
	display: block;
	position: absolute;
	width: 19px;
	height: 19px;
	background: url(../images/dot.png) no-repeat;
	background-position: 0 -19px;
	background-size: 100% auto;
	top: 14px;
	left: -10px;
}
.main .comments-back ul li.active:before {
	background: url(../images/dot.png) no-repeat;
	background-position: 0 0;
	background-size: 100% auto;
}
.main .comments-back ul li div {
	width: 100%;
	clear: both;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
}
.main .comments-back ul li div .his-topic-name {
	float: left;
	font-size: 18px;
	font-weight: bolder;
	color: #787878;
	width: 65%;
}
.main .comments-back ul li div .his-topic-time {
	position: absolute;
	font-size: 14px;
	color: #a3a3a3;
	padding-top: 5px;
	bottom: 0;
	right: 0;
}
.main .comments-back ul li p {
	font-size: 15px;
	color: #a3a3a3;
}
.no-history {
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	color: #CACACA;
	padding: 10% 0 20%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 1s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-timing-function: ease;
	animation-fill-mode: both;
	-webkit-animation-name: tada;
	animation-name: tada;
}
@-webkit-keyframes tada {
	0% {-webkit-transform: scale(1);}	
	10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
	100% {-webkit-transform: scale(1) rotate(0);}
}
@keyframes tada {
	0% {transform: scale(1);}	
	10%, 20% {transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
	100% {transform: scale(1) rotate(0);}
}