/* 通用弹层样式_S */
.modal {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999999999;
    color: #FFF;
    text-align: center;
    overflow: hidden;
    overflow-y: scroll;
}
.modal:after {
    content:'';
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.6);
    z-index:99;
}
.modal-vote:after {
    content:'';
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:transparent;
    z-index:99;
}
.modal .flash-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    -webkit-animation-name: bounceIn;
    -webkit-animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    -webkit-backface-visibility:hidden;
}
.modal .flash-box .icon-flash {
    width: 100%;
    height: 50%;
}
.modal .dialog {
    position: absolute;
    width: 80%;
    height: auto;
    margin-bottom: 50px;
    z-index: 999;
}
.modal .dialog .btn-dialog-close {
    display: block;
    position: absolute;
    top: -6px;
    right: -3px;
    width: 26px;
    height: 26px;
    background: url(../images/btn-close.png) no-repeat;
    background-size: 100% 100%;
    z-index: 9999999999;
}
.modal .dialog .bg-dialog-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal .dialog .bg-dialog-footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.modal .dialog .global-header {
    position: relative;
    width: 100%;
    font-size: 0;
}
.modal .dialog .global-header .icon-redbag-gold, .modal .dialog .global-header .icon-redbag-prev {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.modal .dialog .global-header .icon-luckytips {
    position: absolute;
    width: 76%;
    top: 8%;
    left: 12%;
}
.modal .dialog .dialog-content {
    background: url(../images/red-bg.png) no-repeat center center;
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    z-index: 999;
    text-align: center;
    padding: 2% 5% 5%;
}
.modal .dialog .dialog-content .info-qrcode {
    font-size: 13px;
    line-height: 16px;
    margin-top: 6px;
    text-align: center;
}
.modal .dialog .dialog-content .icon-congrats {
    width: 86%;
    margin: 0 auto 2%;
}
.modal .dialog .dialog-content .award-luckTips {
    width: 92%;
    margin: -9% auto 6%;
    font-size: 16px;
    text-align: center;
}
.modal .dialog .dialog-content .award-luckTips img{
    width: 73%;
    margin: -15px auto 10px;
}
.modal .dialog .dialog-content .award-img {
    width: 98%;
    margin: 10px auto;
}
.modal .dialog .dialog-content .award-nameTips {
    width: 80%;
    margin: 0 auto 2%;
    font-size: 26px;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
}
.modal .dialog .dialog-content .award-keyTips {
    width: 100%;
    margin: 9% auto;
    font-size: 18px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.modal .dialog .dialog-content .input-box {
    width: 100%;
    font-size: 15px;
    color: #FFF;
    margin: 5px auto 0;
}
.modal .dialog .dialog-content .input-box h5 {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin: 3px auto;
}
.modal .dialog .dialog-content .input-box .label {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin-right: 5px;
    vertical-align: middle;
}
.modal .dialog .dialog-content .input-box p {
    width: 100%;
    margin: 0 0 5px;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,.8);
    font-size: 17px;
    font-weight: bold;
}
.modal .dialog .dialog-content .input-box span {
    display: inline-block;
}
.modal .dialog .dialog-content .input-box input {
    display: inline-block;
    width: 89%;
    padding: 3px 8px;
    line-height: 23px;
    border: 0 none;
    border-radius: 3px;
    font-size: 13px;
    color: #fff!important;
    background: url(../images/input-bg.png) no-repeat;
    background-size: 100% 100%;
    margin-bottom: 15px;
}
.modal .dialog .dialog-content .input-box input::-webkit-input-placeholder {
    color: #666 !important;
}
.modal .dialog .dialog-content .info-box {
    text-align: left;
    width: 88%;
    margin: 6% auto 0;
    font-size: 15px;
    line-height: 30px;
    color: #FFF;
}
.modal .dialog .dialog-content .btn-lottery {
    width: 115px;
    height: 30px;
    line-height: 30px;
    margin: 6% auto 0;
    display: block;
    background: url(../images/dialog-btn.png) no-repeat;
    background-size: contain;
    font-size: 18px;
    color: #9F5E01;
}
.modal .dialog .dialog-content .btn-lottery-box {
    width: 100%;
    margin-top: 6%;
}
.modal .dialog .dialog-content .btn-lottery-box .btn-lottery {
    display: inline-block;
    margin: 0 6px;
}
.modal .dialog .dialog-content .award-img-box {
    position: relative;
    width: 100%;
}
.modal .dialog .dialog-content .award-img-box .award-img {
    position: relative;
    z-index: 2;
}
.modal .dialog .dialog-content .award-img-box .icon-paper {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation-name: paper;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    z-index: 1;
}
.modal .dialog .dialog-content .icon-ok {
    width: 52%;
    margin: 0 auto 1%;
}
.modal .dialog .dialog-content .qrcode-tips {
    font-size: 15px !important;
    color: #FFF !important;
    font-weight: normal !important;
    color: #F5F5F5;
    margin-bottom: 5%;
}
.modal .dialog .dialog-content .qrcode-box {
    position: relative;
    width: 82%;
    margin: 0 auto 5%;
    padding: 0 0 36px;
    background-color: #FFF;
    overflow: hidden;
}
.modal .dialog .dialog-content .qrcode-box p {
    position: absolute;
    width: 100%;
    height: 36px;
    left: 0;
    bottom: 0;
    font-size: 13px;
    font-weight: bolder;
    color: #6b0001;
    overflow: hidden;
    text-align: center;
    padding: 0 6%;
}
/* 通用弹层样式_E */

/* 活动规则_S */
#rule-dialog .dialog .dialog-content {
    padding: 0 5%;
    margin: 0 auto;
    overflow: hidden;
    color: #FFF;
}
#rule-dialog .dialog .dialog-content .icon-rule {
    width: 40%;
    margin: 10% auto 5%;
}
#rule-dialog .dialog .dialog-content h1 {
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    line-height: 26px;
    padding: 5px 0;
    border-bottom: 1px solid #FFF;
}
#rule-dialog .dialog .dialog-content .rule-content {
    width: 100%;
    height: 79%;
    margin-top: 5%;
    padding: 0 4%;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    overflow-y: scroll;
    word-break: break-all;
    text-align: left;
}
#rule-dialog .dialog .dialog-content .rule-content * {
    color: #FFF !important;
    font-size: 14px !important;
    line-height: 20px !important;
}
/* 活动规则_E */

/* 实物_S */
.modal .dialog .dialog-content .info-box .info-address label{
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 75%;
    vertical-align: top;
}
/* 实物_E */

/* 卡劵_E */
.shiwu-dialog .dialog-content .btn-lottery,.link-dialog .dialog-content .btn-lottery,.wxcard-dialog .dialog-content .btn-lottery {
    margin: 50% auto 0!important;
}
/* 卡劵_E */

/* 兑奖码_S */
.modal .dhm-dialog .dialog-content .cc{
    margin-top: 40%;
}
.modal .dhm-dialog .dialog-content label{
    font-size: 22px;
    color: #FFF100;
    margin: 15px auto 0;
    font-weight: 500;
}
.modal .dhm-dialog .dialog-content .cc span{
    display: inline-block;
    font-size: 14px;
    color: #333232;
    background: #F9F9F9;
    border-radius: 5px;
    padding: 3px 8px;
    margin: 15px auto 0;
}
/* 兑奖码_E */

/*红包_E*/
.dialog .dialog-content .award-img{
    height: 165px;
    max-height: 165px;
    max-width: 165px;
}
.redbag-dialog .dialog-content h1 span{
    font-size: 74px;
    font-weight: 500;
}
.redbag-dialog .dialog-content .btn-lottery-box {
    margin-top: 0!important;
}
.redbag-dialog .dialog-content .btn-lottery-box h2{
    color: #FFF100;
    font-size: 12px;
    margin-top: 10px;
}
.redbag-dialog .dialog-content h1 {
    margin: 90px auto 0px!important;
    color: #FFF100;
    font-size: 27px;
}

/*红包_S*/

/*积分_S*/
#jf-dialog .dialog-content h1 {
    margin: 95px auto 5px!important;
}
/*积分_E*/


/* 谢谢参与_S */
.thanks-dialog h2{
   font-size: 20px;
    color: #fff;
    margin-top: 15px;
}
.thanks-dialog h3{
    font-size: 12px;
    color: #fff;
}
.thanks-dialog img{
    width: 50%;
    display: block;
    margin: 15px auto 10px;
}
/* 谢谢参与_E */

/* 用户信息_S */
.modal .user-dialog .dialog-content{
    background: url(../images/user-bg.jpg) no-repeat center center;
    background-size: 100% 100%;
    overflow: inherit;
    border-radius: 21px;
}
.modal .user-dialog .dialog-content .btn-lottery {
    width: 125px;
    height: 34px;
    margin: 2% auto 0;
    display: block;
    font-size: 18px;
    color: #9F5E01;
}
.modal .user-dialog .dialog-content .btn-user-confirm {
    background: url(../images/user-confirm.png) no-repeat;
    background-size: contain;
}
.modal .user-dialog .dialog-content .btn-user-login {
    background: url(../images/dengru.png) no-repeat;
    background-size: contain;
}
.modal .user-dialog .btn-dialog-close img{
    border-radius: 5px;
}
.modal .user-dialog img.user-head{
    position: absolute;
    top: 25px;
    left: 15px;
    z-index: 99999999;
    width: 30px;
}
/* 用户信息_E */

@media screen and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .dialog .dialog-content .award-img{
        height: 145px;
        max-height: 145px;
        max-width: 145px;
    }
    .redbag-dialog .dialog-content h1{
        margin: 65px auto 0px!important;
    }
    .redbag-dialog .dialog-content h1 span {
        font-size: 66px;
    }

}
/* iPhone5 */
@media screen and (min-device-height : 500px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
    .dialog .dialog-content .award-img{
        height: 145px;
        max-height: 145px;
        max-width: 145px;
    }
    .redbag-dialog .dialog-content h1{
        margin: 65px auto 0px!important;
    }
    .redbag-dialog .dialog-content h1 span {
        font-size: 66px;
    }
    #jf-dialog .dialog-content h1 {
        margin: 75px auto 5px!important;
    }
}
/* iPhone6 */
@media screen and (min-device-width : 360px)
and (max-device-width : 667px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
}
/* luo */
@media screen and (min-device-width : 1000px)
and (min-device-height : 1000px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
}
/* mi2*/
@media screen and (min-device-width : 720px)
and (max-device-height : 1280px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
}
/* iPhone6plus */
@media screen and (min-device-width : 400px)
and (max-device-width : 740px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
}