body {
    background: url(../images/bg-body.jpg) repeat-y center 0;
    background-size: cover;
}
a,a:hover {
    color: #fff;
    text-decoration: none;
}
.main {
    margin: 0 auto;
    overflow-x: hidden;
    font-size: 15px;
    text-align: center;
}
.tips {
    font-size: 17px;

    color: #FA8F1B;
    line-height: 34px;
    margin-top: 60px;
}
.btn {
    margin: 75% auto 0;
    letter-spacing: 5px;
}
