body,html{
	background-color:#81001b;
	font-size:16px;
}
.program-box{
	margin:5px 5px 50px;
	background-color:#fff;
	border:2px #ff0007 solid;
	border-radius:10px;
}
.program-top{
	height:85px;
	background-image:url(../images/program/program_top.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	background-size:100% 100%;
	border-radius:10px 10px 0 0;
	text-align:center;
	overflow:hidden;
}
.program-top h2{
	height:30px;
	margin:10px 0 0;
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	background-position:top center;
	background-size:contain;
}
.program-top p{
	margin:10px 0 0;
}
.program-top p>span{
	color:#b80005;
}
.program-list{
	margin:20px 0 0;
	padding:0 0 10px;
}
.program-list li{
	position:relative;
	padding:0 10px 0 95px;
}
.program-list li.here{
	/*margin:0 -8px;*/
	padding:0 10px 0 95px;
	/*border:1px #e5e5e5 solid;*/
}
.down-bg{
	display:none;
}
.program-list li.here .down-bg{
	display:block;
	position: absolute;
	top: 0;
	left: -8px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border: 1px #e5e5e5 solid;
	border-radius: 10px;
	padding: 0 8px;
	box-sizing: initial;
}
.downbg{
	-webkit-animation-name: downbg;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function:ease-in;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes downbg {
0%{
	transform:translateY(0)
}
to{
	transform:translateY(80px)
}
}

.program-time{
	position:absolute;
	top:7px;
	left:5px;
	width:60px;
	height:60px;
	line-height:60px;
	text-align:center;
	border: 1px transparent solid;
	color:#898989;
}
.program-list li.here .program-time{
	border: 1px #e5e5e5 solid;
	border-radius: 100%;
	/*left: 12px;*/
	color:#000;
}
.program-con{
	position:relative;
	min-height:70px;
	padding:15px 0 10px 20px;
	border-left:1px #e5e5e5 solid;
}
.program-list li.here .program-con{
	border-left:transparent
}
.program-con h2{
	line-height:20px;
}
.program-con p{
	margin:5px 0 0;
	font-size:14px;
	color:#898989;
}
.program-con .p-arrow{
	position:absolute;
	top:30px;
	left:-8px;
	width:16px;
	height:16px;
	padding:2px;
	border-radius:100%;
	border:1px #e5e5e5 solid;
	background-color:#fff;
	box-sizing:border-box;
}
.program-list li.here .program-con .p-arrow{
	/*margin:-9px 0 0;*/
}
.program-con .p-arrow>i{
	display:block;
	width:100%;
	height:100%;
	border-radius:100%;
	background-color:#e5e5e5;
}
.program-list li.here .program-con .p-arrow>i{
	background-color:#ff9b9e;
}

.i-dian{
	position:absolute;
	top:31px;
	left:-33px;
	width:30px;
	height:10px;
	line-height:10px;
	text-align:center;
	overflow:hidden;
	display:none;
}
.program-list li.here .i-dian{
	display:block;
}
.i-dian>i{
	display:inline-block;
	width:2px;
	height:2px;
	margin:0 2px;
	border-radius:100%;
	background-color:#ff9b9e;
	vertical-align:middle;
	overflow:hidden;
}
.noting{
	margin:50px 0;
	text-align:center;
	color:#999;
}
.return-home{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:40px;
	padding:0 0 5px;
	/*background:rgba(0,0,0,0.3);*/
}
a.return-btn{
	display:block;
	width:35%;
	height:95%;
	line-height:2.0;
	margin:0 auto;
	border-radius:5px;
	background-color:rgba(175,0,37,0.8);
	box-shadow:1px 2px 3px #79001a;
	text-align:center;
	color:#fff;
}

