
body{
	height: 100%!important;
	text-align: center;
	overflow: auto;
}
.vote-back{
	padding-top: 10px ;
	padding-right: 78%;
	position: absolute;
	top:0px;
	left: 10px;;
	z-index: 999999;
}
.scroll{
	height: 100%;
	overflow: auto;
}
.content{
	height:100%;
	padding-bottom: 80px;
	position: relative;
}
.main {
	width: 100%;
	position: absolute;
	bottom: 0px;
	padding: 10px 0;
	overflow: hidden;
	background: rgba(252,0,255,0.3);
}

.showBox{
	padding: 16px 0 10px;
	height: 100%;
	position: relative;
	
}

.vote-box{
	width: 60px;
	height: 60px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
	-webkit-box-sizing:border-box ;
}
.selected{
	border : 1px solid #fc00ff;
}

.zan-people{
	width: 100%;
	height: 100%;
	padding: 0 17%;
	padding-bottom: 78px!important;
	overflow: hidden;
	position: relative;
}
.load-bg{
	width: 35px;
	height: 35px;
	position: absolute;
    top:30%;
    left: 50%;
    margin-left: -18px;
}
.load-bg span{
	position: relative;
	display: block;
	content: "";
	width: 35px;
	height: 35px;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEMAAABDCAMAAADwFEhBAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAI3UExURQAAAP///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////2m75XIAAAC9dFJOUwBeR49GdshFFkwmqj3mAUiCAkngHgMEEQYIRA8ZGjZCEwkFMOc0PpBDrCkHXyUsOmJgHBcNOx8SlT8zYSCvMlaNITUtXSKRT5MbEI60Qa6D320OFCpjKDdqkgpLTXCBrUCY6n/y7B0r5X2+4XfRC1cuXJY5FVNZs5RKUrGEZFDteus88HP17rWnqeiy8cDVdHvFylqIoVExJFWjL4o4bid5DGW92lR4v5txGKhs3ZcjzGaMfKKZt/bcyW+61tDThioAAASeSURBVFjD3ZflXxtJGIB3NwtLdJtt3N2VBBI8OBQrbbHSoqVQKFd3b68ud+25u7vrH3czs5BNQpLNJXy4372fZnZmn3113lkMKyqyYOqvVFCGVSL60Wd/PxvVV8SwP12vXn9qr4gh2V1dXb1b8i/f0s7hdjnH2AkYOzmGTHL9jJUPER/13rt/QFWAobmysub4Uc3DuClu8Q7fFxVgtK7ccCyt9PIw6F+9YvHDqg/yMvS/3JJKHb/hPIzQ/EOxWDw4kZdBPJJKpXe+D/M5JHIXKDIr0OdhWD5bAGrcXuSNy3epc0CRc6/mYUwCS6SHPurkD+7F4VkAeSW2haH4GCAWbkyWkCCWmUHAGB7dwkgtQDW++rKULHO92QIg4n1ovAYYay44nAAE6dI3F0vKVFXVJeBW72VbVq7bhh3AodfmNYVe29/oEnEz3+eXAEMMv768+uSPJ6vLYHTVARh31p3ctoTCYMuokRMD8zOfHE7Pf/ACRcSXwcja9vj3x22wQloA4oFjJL1nz7iLoULposBMgj73+ZOfEns25qeTwCOzA8gwk9CENq4+kEqvVfdvFk53mCYogjKmGVdTboHAnex5952NB2TL3cHB6Sxzmx4dur10dmNidJI0BUTHeWB8YEoApCf59pUg61bzT4sX/Nkui977uY21X2330CREkLq96XXl3MB5CBFM9Y0cYys7YZHn+F1uYNNOu6+BICABmFKfsUnV/OHJHkTpcy/elBc7pGslJEsgabs+e6f1rfeTCOLumzpVDEESJKtEXY1qy2qcfJlV5dvJXQUZ/kaGVcLcnjfZ5Hu7BG4QoOTXhRlaJ4oHFbLKCnakg4CSbCjck2T1MCKmoieqvOOL63OaIhuUijqTsbK+9x8X7WERJ0GjkvcF+a6aDFGDLIl5XtiRlpEdB50aHoRSYRYeEKZFJ4pjbUdfrMqQI8838523HjbNNoQmW7E/jxzNZFTNHOdh1E6TmQyKGdoWPbbDH9sRl/+vyLsv9PqUFdVtjMHxQJOv/PNDFpd0BXAcjxDPlXuOaTvPQgKOj1H7yztPNYreCCIEotFgWee68rQnwirRFDjzXln9Rb7c1YQI0aZjp1hn+LW5Bsu0/mJ9ztgVRWZEXjIbWGh/o1OhzAmqs7GffSXxWp5+23ECIiJRYtMTtSRD04oshoKmGbK2cN9/HY8GImO9x7WbjVMClCXRVVZm6bcgq8Lgy4TEyt0/mOz7h02Cj70xYeEuUxRU1cQW+rQZWWWCulM+7h7ky74HYf7ucQM3Uzcgn8EnejNDMWZ4aTYgLzaoC93HcmrGDhGkCTqwRgiGwhr41AR1I+zykurO4EFqoC9yDEyNFPEYSkH4O2A6k+ytPIOBdUJFmA5/CYx2Eu4dsm5hWIcgm2wv4W80DCNPb5zumQysGa2E+f9UfciSOk0ehqYOWePjQyRc0KF0DMvDwGJQEcKV4GEoGBRBVV6GCkWdUfAFFiQwqUubnM3A9DoSrPOF1xaidFS9rABDVg9WQzY+hyiNIgt3dOQwQAmKSuiE2ZLLKEfUOpqideqKGDYRxVAiW0UMLN461Brn2fMPQf3HLhmDwEUAAAAASUVORK5CYII=); 
    background-size:35px;
    background-repeat:no-repeat;
    -webkit-animation-name:spinner_rotate;
    -webkit-animation-duration:1.8s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}
.zan-people img{
	display: block;
	width: 100%;
	opacity: 0;
} 
.zan-info{
    padding: 0 10px;
	width: 100%;
	height: 70px;
	overflow: hidden;
	position: absolute;
	bottom: 4px;
}
.btn-act{
	font-size: 15px;
	position: absolute;
	background: url(../images/btn-bg.png) no-repeat center;
	background-size: 100% ;
	color: #fff;
	padding: 14px;
	z-index: 2;
}
.btn-hide{
	top:16px;
	left: 6px;
}
.btn-cor{
	top:16px;
	right: 6px;
}
.zan-btn{
	display: inline-block;
	padding: 0 10px;
	position: absolute;
	right :10px;
	bottom: 60px;
	z-index: 3;
	color: #fc00ff;
	margin: 30px;
	padding-left: 70px;
	padding-bottom: 10px;
	text-align: right;
}

.zan-btn img{
	display: block;
	width: 100%;
}
.join-btn{
	display:inline-block;
	width: 50px;
	height: 44px;
	margin: 0 auto;
	color: #fff;
	font-weight: 900;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.zan-btn .notVote{
	display: none;
}
.zan-num{
	display: inline-block;
	padding: 0 10px;
	min-width: 40px;
	height: 28px;
	line-height: 28px;
	z-index: 3;
	color: #fc00ff;
	background: #fff;
	position: relative;
}
.zan-num span{
	color: #930db4;
	font-size: 15px;
}
.zan-num::before{
	content: "";
	border: 14px solid transparent;
	border-bottom: 14px solid #fff;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	position: absolute;
	top:0px;
	left: -28px;
}
.zan-audio{
	width: 100%;
	color: #fff;
	margin: 0 auto;
}
.zan-audio p{
	font-size: 13px;
	padding: 4px 0;
	text-align: center;
}
.zan-audio .ui-audio{
	position: relative;
}
article {
    position: absolute;
    top:0px;
    width: 100%;
    height: 80px;
    overflow: hidden;
    z-index: -1;
}

article .ctrls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-top: 1px solid rgba(250,250,250,0.5);
}
.ctrls p {
	position: relative;
   	padding: 16px 20px 16px 10px;
    text-align: left;
}
.ctrls p::before{
	display: block;
	content: "";
	position: absolute;
	width: 20px;
	height: 38px;
	left: 66px;
	background: url(../images/input.png)no-repeat right ;
	background-size: 100% 100%;
	margin: 0;
}
.ctrls p label{
	display: inline-block;
	width: 42px;
	height: 42px;
	border:2px solid rgba(140,100,193,0.5);
    border-radius:100%;
    float: left;
    overflow: hidden;
}
.ctrls p .head_img{
	width: 100%;
	height: 100%;
	border: none;
}
.ctrls p input {
  display: inline-block;
  width: 62%;
  height: 38px;
  border: none;
  padding: 0 5px;
  background:#fc00ff;
  background-size: auto 100%;
  color: #fff;
  outline: none;
  border-radius: 4px ;
  border-bottom-left-radius: none;
  border-top-left-radius: none;
  margin-left: 30px;
}

.ctrls p input.error {
	border: 1px solid #f00;
}
.ctrls a {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 48px;
  background: url(../images/send-btn.png) no-repeat center;
  background-size: 100% auto;
  text-align: center;
  color: #fff;
  font-size: 16px;
  position: absolute;
  right: 16px;
  top: 10px;
}
.comments {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.c_head_img {
  width: 28px;
  height: 28px;
  border:2px solid rgba(140,100,193,0.5);
  border-radius: 28px;
  overflow: hidden;
  float: left;
  margin-right: 5px; 
}

.c_head_img_img {
  width: 28px;
  margin-right: 4px;
}
.comment {
   height: 28px;
   line-height: 28px;
   border-radius: 2px;
   margin-left: 30px;
   padding: 0px 6px;
}

.me-cor{
	border: 1px solid #8c64c1;
	border-radius: 30px !important;
	height: 28px!important;
    line-height: 26px!important;
}
.container1 > div, .container2 > div, .container3 > div {
  background-color: #FFF;
}

.fadein {
  -webkit-animation-name: fadein_a;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes fadein_a {
 0% {
 opacity:0;
}
 100% {
 opacity:1;
}
}
.Transparent {
  background-color: rgba(255,255,255,0.5);
}
.fadeout {
  -webkit-animation-name: fadeout_a;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes fadeout_a {
 0% {
 opacity:1;
}
 100% {
 opacity:0;
}
}
.join {
  -webkit-animation-name: zoomOutUp;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes zoomOutUp {
	40% {
		opacity: 1;
		-webkit-transform: translate(60px, -60px);
		transform: translate(60px, -60px);
		/*-webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
		animation-timing-function: cubic-bezier(0.55, .055, .675, .19)*/
	}
	100% {
		-webkit-transform: translate(80px, -28px);
		transform:  translate(80px, -28px);
		-webkit-transform-origin: center bottom;
		transform-origin: center bottom;
		/*-webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
		animation-timing-function: cubic-bezier(0.175, .885, .32, 1)*/
	}
}
@keyframes zoomOutUp {
	40% {
		opacity: 1;
		-webkit-transform: translate(60px, -60px);
		transform: translate(60px, -60px);
		/*-webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
		animation-timing-function: cubic-bezier(0.55, .055, .675, .19)*/
	}
	100% {
		-webkit-transform: translate(80px, -28px);
		transform:  translate(80px, -28px);
		-webkit-transform-origin: center bottom;
		transform-origin: center bottom;
		/*-webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
		animation-timing-function: cubic-bezier(0.175, .885, .32, 1)*/
	}
}

@-webkit-keyframes love {
	0% {
		bottom: 0px;
		left: 0;
	}
	25% {
		left: 20%;
	 	bottom: 25px;
		 
	}
	25% {
		left: 40%;
	 	bottom: 50px;
		 
	}
	100% {
	 	left: 60%;
	 	bottom: 28px;	
	}
}
@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3)
	}
	50% {
		opacity: 1
	}
}
@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3)
	}
	50% {
		opacity: 1
	}
}
@-webkit-keyframes spinner_rotate {
    from {
        -webkit-transform:rotate(0deg)
    }
    to {
        -webkit-transform:rotate(360deg)
    }
}
.zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
	-webkit-animation-duration: 1s;
  	-webkit-animation-timing-function: ease;
  	-webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.pass_barrage {
  -webkit-animation-name: pass_barrage_a;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
}
 @-webkit-keyframes pass_barrage_a {
   100% {
   -webkit-transform:translateX(-300px);
  }
}
::-webkit-input-placeholder {
  color: #FFF;
}
.hide-box{
	position: relative;
}
.copyright{
	position: relative;
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
.zan-people{
	padding: 0 26%;
}
}
/* iPhone5 */
@media screen
and (min-device-width : 320px)
and (min-device-height : 500px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
.zan-people{
	padding: 0 18%;
}
}
/* luo */
@media screen
and (min-device-width : 1000px)
and (min-device-height : 1000px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
.zan-people{
	padding: 0 20%;
}
}