body {
	width: 100%;
	height: 100%;
	background: url(../images/bg_index.jpg) no-repeat center center;
	background-size:cover;
	overflow: hidden;
}
.btn-sy{
  background: #a42421;
  width: 26%;
  right: 3%;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  position: absolute;
  top: 1%;
  color: #fff;
  border-radius: 8px;
  text-align: center;
  font-size: 15px;
  z-index: 100;
}
#btn-rule {
   margin-top:11%;
}
.btn-sy span{
	text-align: center;
	display: inline-block;
}

.tvlogo {
  position: absolute;
  width: 13%; 
  top: 10px;
  left: 10px;
  z-index: 100;
  
}
.tvlogo img
{
	max-width: 100%;
}
.jiulogo {
  position: absolute;
  width: 34%;
  top: 14px;
  left: 56px;
  z-index: 100;
}
.rou {
  position: absolute;
  width: 25%;
  top: 10%;
  left: 38%;
  z-index: 100;
}
.jiu {
position: absolute;
  width: 46%;
  top: 29%;
  left: 26%;
  z-index: 100;
}
.an-rollin{
-webkit-animation:wobble 0.9s .1s ease both;	
}

@-webkit-keyframes wobble{
0%{-webkit-transform:translateX(0%)}
15%{-webkit-transform:translateX(-25%) rotate(-5deg)}
30%{-webkit-transform:translateX(20%) rotate(3deg)}
45%{-webkit-transform:translateX(-15%) rotate(-3deg)}
60%{-webkit-transform:translateX(10%) rotate(2deg)}
75%{-webkit-transform:translateX(-5%) rotate(-1deg)}
100%{-webkit-transform:translateX(0%)}
}
.main-top marquee {
	color:#fff;
	background:rgba(0,0,0,.2);
	padding:2px 0;
}
.main-top marquee span {
	margin-left:20px;
}
.main-top .count {
	padding-right:20px;
	font-size:16px;
	color:#fff;
	line-height:26px;
	text-align:left;
}
.main-center{
color: white;
  position: absolute;
  border: 1px solid white;
  width: 100%;
  height: 20%;
  top: 40%;
}
a.hover {
	color:#fff;
}
.rednum {
	color:#fff;
	font-size:19px;
	text-align:center;
}
.rednum span {
	color:#f6ff00;
	font-size:20px;
	font-style:italic;
}
.zanzhu {
	color:#fff370;
	text-align:center;
}
.zanzhu img {
	width:58%;
	margin:0 5px;
}
.content-box {
	position: absolute;
  width: 40%;
  top: 50%;
  right: 0%;
  text-align: center;
}
.time {
	position: absolute;
  width: 40%;
  top: 47%;
  height: 15px;
  line-height: 15px;
  text-align: center;
  font-size: 12px;
  right: 0%;
  color: #fff;
}
.huan{
  width: 100%;
  height: 18px;
  line-height: 18px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  bottom: 19%;
}
.go{
  position: absolute;
  bottom: 5%;
  z-index: 7;
  width: 50%;
  left: 25%;
  /*-webkit-animation: fadeInRightBig 1.8s .2s ease both;*/

}
@-webkit-keyframes fadeInRightBig{
	0%{opacity:0;
	-webkit-transform:translateX(1000px)}
	100%{opacity:1;
	-webkit-transform:translateX(0)}
}
.countdown {
	display: block;
	margin: 0 auto 6%;
	
	font-size: 15px;
	width: 80%;
	height: 38px;
	line-height: 36px;
	text-align: center;
	border-radius: 10px;
    border: 1px solid #EAC22C;
    color:#FFFFFF;
    background: #fd9f53;
}
.hidden {
	visibility:hidden;
}
.marquee {
  width: 100px;
  font-size: 13px;
  height: 55px;
  line-height: 26px;
  text-align: center;
  overflow: hidden;
  color: #A42421;
  z-index: 5;
  position: absolute;
  left: 6%;
  /* background: url(.images/); */
  background: url(../images/jiangxin.png) no-repeat center center;
  background-size: 100% 100%;
  top: 48%;
}
.marquee .win-name {
	position: relative;
	/*margin-right: 5px;*/
	/*padding-left: 24px;*/
	padding-left: 10px;
	padding-right: 10px;
	color: white;
  word-break:break-all;
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  overflow:hidden;

}
.marquee .win-name:before {
	content: '';
	display: inline-block;
	position: absolute;
	top: -2px;
	left: -2px;
	
	background-size: 22px auto;
	height: 26px;
}
.home-box {
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
.main-top {
	position:absolute;
	top:0;
	width:100%;
	height:50%;
	background: url(../images/yao-top.jpg) no-repeat bottom center;
	background-size:cover;
	box-sizing:border-box;
}
.yao .m-t-b {
	animation-name:mtop;
	-webkit-animation-name:mtop;
	animation-iteration-count:1;
	-webkit-animation-iteration-count:1;
	animation-duration:1s;
	-webkit-animation-duration:1s;
	animation-timing-function:ease;
	-webkit-animation-timing-function:ease;
}
@-webkit-keyframes mtop {
	0%,90% {-webkit-transform:translateY(0px);}
	50%,30% {-webkit-transform:translateY(-100px);}
}
.main-foot {
	position:absolute;
	bottom:1px;
	width:100%;
	height:50%;
	background: url(../images/yao-bottom.jpg) no-repeat top center;
	background-size:cover;
	box-sizing:border-box;
}
.yao .m-f-b {
	animation-name:mfoot;
	-webkit-animation-name:mfoot;
	animation-iteration-count:1;
	-webkit-animation-iteration-count:1;
	animation-duration:1s;
	-webkit-animation-duration:1s;
	animation-timing-function:ease;
	-webkit-animation-timing-function:ease;
}
@-webkit-keyframes mfoot {
	0%,90% {-webkit-transform:translateY(0px);}
	30%,50% {-webkit-transform:translateY(100px);}
}
.yao-text {
	line-height:30px;
	text-align:center;
	font-size:16px;
	color:#000;
	margin:22% auto 0;
	font-weight: bolder;
}
.yao-text p {
	opacity: 0;
	position:relative;
	min-height:30px;
	font-weight: bolder;
}
.yao-text p span {
	font-weight: bolder;
}
.yao-text p:last-child span {
	position:relative;
	width:100%;
	font-weight: bolder;
}
.yaonone-text {
	opacity: 0;
	animation-name:nonetext;
	-webkit-animation-name:nonetext;
	animation-iteration-count:1;
	-webkit-animation-iteration-count:1;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s;
	animation-delay:0.1s;
	-webkit-animation-delay:0.1s;
	animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	display:block;
}
.copyright {
	margin-bottom: 3px;
	text-align: center;
	font-size: 12px;
	line-height: 13px;
	color: #000;
}
@keyframes nonetext {
	0% {top:-300px;opacity:0;}
	100% {top:0;opacity:1.0;}
}
@-webkit-keyframes nonetext {
	0% {top:-300px;opacity:0;}
	100% {top:0;opacity:1.0;}
}
/* iPhone4 */
@media screen
and (min-device-width:320px)
and (max-device-height:500px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:2) {
	.countdown{
		margin: 0 auto 2%;
	}
}
/* luo */
@media screen
and (min-device-width:1000px)
and (min-device-height:1000px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:2) {
	.countdown {
		width:73%;
	}

}
/* iPhone5 */
@media screen
and (min-device-width:320px)
and (min-device-height:500px)
and (max-device-height:570px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:2) {
	.marquee {
  left: 2%;
  top: 46%;
}
.content-box {
  top: 49%;
}
.time {

  top: 45%;
}
}
/* iPhone6 */
@media screen
and (min-device-width:375px)
and (min-device-height:667px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:2) {
}
/* iPhone4 */
@media screen
and (min-device-width:320px)
and (max-device-height:500px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:2) {
	.jiu {
  position: absolute;
  width: 36%;
  top: 33%;
  left: 32%;
  z-index: 100;
}
.marquee {
  left: 4%;
    top: 49%;
}
.content-box {
  top: 53%;
}
.time{
	top:48%
}
.go {
  width: 40%;
  left: 30%;
}
.huan {
  height: 12px;
  line-height: 12px;
  font-size: 12px;
}
.rou {
   
    width: 23%;
    top: 12%;
    left: 39%;
   
}
}