body {
    overflow: hidden;
    margin: 0 auto;
    /*background: url(../images/com-bg.jpg) top center no-repeat;*/
    /*background-size: cover;*/
}
.imgbg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
header {
    position: relative;
    width: 100%;
    height: 40px;
    text-align: center;
    background: -webkit-linear-gradient(top, #550f5b 0%,#29052d 100%);
}
header .total {
    position: absolute;
    left: 8px;
    top: 8px;
    color: #FFF;
    font-size: 14px;
}
header .btn-rule {
	position: absolute;
	left: 100px;
	top: 32px;
	border: 1px solid #8e8886;
	color: #8e8886;
	border-radius: 20px;
	font-size: 12px;
	padding: 0 5px;
}
/*header .ranking {
  display: none !important;
}*/
/*header .ranking span {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 20%;
  color: #FFF;
  font-size: 13px;
}
.ranking p {
    font-size: 12px;
	
    margin-top: -6px;
}*/
header h2 {
    width: 28%;
    position: relative;
}
header .hd-wrapper {
      margin-bottom: 10px;
      padding-top: 10px;
      padding-left: 10px;
}
header .hd-wrapper p{
     color: #fff;
     font-size: 16px;
     line-height: 16px;
     height: 24px;
}
header .qa-wrapper {
    height: 62%;
    text-align: center;
}
header .qa-wrapper .wrapper {
    width: 100%;
	
    display: inline-block;
    vertical-align: middle;
}
.outer{
	font-size: 13px;
	color: #ffffff;
	position: absolute;
	top: 5%;
    left: 40%;
    -webkit-animation: waggle 3s infinite;
}
.outer:hover,.outer:visited{
	color: #ffffff;
}
.qa-wrapper .c-item {
	
}
.qa-wrapper .question {
	
}
.funnyimg {
  display: inline-block;
  max-width: 100% !important;
  height: 26px !important;
}
.timer .wait-next {
    display: block;
  font-size: 14px;
    line-height: 45px;
}
.qa-wrapper .question dt {
    color: #ecc880;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    height: 50px;
    line-height: 40px;
    overflow: hidden;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    background: url("../images/que-bg.png") no-repeat;
    background-size: 100% 100%;
}
.qa-wrapper .question dt p{
    width: 60%;
    margin: auto;
    overflow: hidden;
}
.qa-wrapper .question ul {
  
}
.qa-wrapper .question li {
    text-align: center;
	
}
.qa-wrapper .question dd {
    display: inline-block;
    vertical-align: middle;
}
.qa-wrapper .question dd a {
  display: block;
  /*background: #90785e;*/
    background: url("../images/que-answer-bg.png") no-repeat;
    background-size: 100% 100%;
  color: #f6d789;
  text-align: center;
    font-size: 18px;
  padding: 4px 21px;
  margin: 10px 5px 0;
}
.qa-wrapper .answered {
    color: #970020;
    text-align: center;
    position: relative;
}

.qa-wrapper .answered .timer {
  display: inline-block;
  padding: 0 8px 8px 0;
  font-size: 13px;
}
.qa-wrapper .answered .timer .timer-tips {
	height: 50px;
    line-height: 45px;
	position: relative;
}
.qa-wrapper .answered .timer-tips h4 {
    font-size: 16px;
    color: #f6d789;
    height: 36px;
    line-height: 40px;
    display: inline;
}
.timer h5{
    display: inline;
}
.answered h3{
    font-size: 40px;
}
.qa-wrapper .answered .timer .timer-tips i{
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: url(../images/player.png) no-repeat center;
	background-size: 100%;
	position: absolute;
	top:0px;
	left: 0px;
	
}
.qa-wrapper .answered .timer .timer-tips {
	
}
.qa-wrapper .answered h3 {
    font-size: 20px;
    color: #fff;
}
.qa-wrapper .answered.error h3 {
	display: block;
}
.qa-wrapper .answered .btn-reserve {
	display: none;
	background: #ffcd02;
	color: #3b0505;
	text-align: center;
	border-radius: 20px;
	padding: 2px 15px;
	width: 40%;
	margin: 10px auto 0;
}
.qa-wrapper .answered .reserved .btn-reserve {
	display: block;
}
.qa-wrapper .answered h5 {
    font-size: 18px;
    font-weight: bold;
    color: #edc806;
}
.qa-wrapper .answered h5 span {
    display: inline-block;
    vertical-align: middle;
    /*width: 34px;*/
    font-size: 18px;
}
.qa-wrapper .answered h5 i {
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    width: 8px;
    text-align: center;
}
.timer{
    background: url("../images/que-bg.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 150%;
    width: 90%;
    left: 5%;
}
.timer-tips{
}
article {
    position: relative;
    overflow: hidden;
}

/*article:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    *//*background: -webkit-gradient(linear, left top, right top, from(rgba(250,250,250,0.1)), color-stop(0.5, rgba(250,250,250,1)), to(rgba(250,250,250,0.2)));*//*
    *//*background: url("../images/com-in-bg.png") no-repeat;*//*
    *//*background-size: 100% 100%;*//*
}*/
article .ctrls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-top: 1px solid rgba(250,250,250,0.5);
    z-index: 50;
}
.ctrls p {
	 position: relative;
    margin: 6px 70px 6px 10px;
    background-color: #336472;
    display: block;
    z-index: 50;
}
.bg{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: #336472;
    z-index: 40;
}
.ddtj{
    display: inline-block;
    color: #f4d9b4;
    font-size: 15px;
    vertical-align: super;
    white-space: nowrap;
    width: auto;
    margin-left: -50%;
    /*text-overflow: ellipsis;*/
    overflow: hidden;
}
.ddtj-before{
    background: url(../images/redenve.png) 0 0 no-repeat;
    background-size: 100% 100%;
    height: 60px;
    width: 80px;
    display: inline-block;
}
.ddtj-div{
    position: absolute;
    right: -15%;
    display: inline-block;
    /*-webkit-transform: scale(.7);*/
    vertical-align: middle;
}
.wobble {
    -webkit-animation-name: picshake;
    animation-name: picshake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}
@-webkit-keyframes wobble {
    0% { -webkit-transform: translateX(0%); }
    15% { -webkit-transform: translateX(-25%) rotate(-5deg); }
    30% { -webkit-transform: translateX(20%) rotate(3deg); }
    45% { -webkit-transform: translateX(-15%) rotate(-3deg); }
    60% { -webkit-transform: translateX(10%) rotate(2deg); }
    75% { -webkit-transform: translateX(-5%) rotate(-1deg); }
    100% { -webkit-transform: translateX(0%); }
}
@keyframes wobble {
    0% { transform: translateX(0%); }
    15% { transform: translateX(-25%) rotate(-5deg); }
    30% { transform: translateX(20%) rotate(3deg); }
    45% { transform: translateX(-15%) rotate(-3deg); }
    60% { transform: translateX(10%) rotate(2deg); }
    75% { transform: translateX(-5%) rotate(-1deg); }
    100% { transform: translateX(0%); }
}
@-webkit-keyframes picshake {
    0%{

    }
    20% {
        -webkit-transform: rotate(45deg);
    }
    10%,30% {
        -webkit-transform: rotate(-45deg);
    }
    40%{
        -webkit-transform: rotate(0deg);
    }
}
.ctrls p input {
    width: 100%;
    height: 38px;
    border: 1px solid #8a8987;
    border-radius: 5px;
    padding: 0 5px;
    background: #0e0b09;
    color: #fff;
    outline: none;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    opacity: 0.7;
    z-index: 50;
}
.ctrls p input.error {
	border: 1px solid #f00;
}
.ctrls a {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 38px;
  line-height: 38px;
  /*background: url(../images/btn-danmu.png) no-repeat;*/
  /*background-size: 60px auto;*/
  border: 1px solid #908e8c;
  border-left: none;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
  position: absolute;
  right: -60px;
  top: 0px;
}
.me {
  border: 1px solid #ffcd02!important;
  border-radius: 30px !important;
  height: 36px!important;
}
.comments {
  position: absolute;
  width: 100%;
  overflow: hidden;
    bottom: 40px;
}
.out-link{
    width: 91%;
    margin: 12px auto;
}
.out-link img{
    position: relative;
    display: inline-block;
    width: 46%;
    border-radius: 5px;
    margin: 0 1% 0 2%;
}
.c_topic {
  color: White;
  word-wrap: break-word;
  padding: 5px 5px;
  padding-left: 10px;
  min-height: 28px;
}
.me .c_head_img {
  top: 2px;
  left: 8px;
  font-size: 16px!important;
}
.c_head_img {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 26px;
  overflow: hidden;
  margin-right: 5px; 
  float: left;
}
.c_head_img_img {
  width: 28px;
  margin-right: 4px;
}
.comment_item {
   border-radius: 19px;
  /*padding: 2px 5px 0;*/
  /*margin-right: 150px !important;*/
    height: 28px !important;
    font-size: 16px!important;
    width: auto;
    padding-right: 8px;
    background-color: rgba(0,0,0,.3);
    border: 1px solid white;
}
.container1 > div, .container2 > div, .container3 > div {
  background-color: #FFF;
}
.fadein {
  -webkit-animation-name: fadein_a;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes fadein_a {
 0% {
 opacity:0;
}
 100% {
 opacity:1;
}
}
.Transparent {
  background-color: rgba(255,255,255,0.5);
}
.fadeout {
  -webkit-animation-name: fadeout_a;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes fadeout_a {
 0% {
 opacity:1;
}
 100% {
 opacity:0;
}

}
.comments .comment_item {
    background-color: rgba(0,0,0,.1);
    border: 1px solid rgba(255,255,255,.8);
    border-radius: 50px !important;
    padding: 3px 12px 3px 40px !important;
    height: auto !important;
    line-height: auto !important;
    font-size: 14px !important;
    color: rgba(255,255,255,1) !important;
    /*border: 1px solid rgba(255,255,255,.6);*/
}
.comments .comment_item .c_head_img {
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 30px;
    float: left;
    top: 2px;
    left: 3px;
    overflow: hidden;
}
.comments .comment_item .c_head_img img {
    position: relative;
    -webkit-transform: scale(1.2);
    border-radius: 30px;
}
#article .comments .dream, #article .comments .dream * {
    /*font-size: 18px !important;*/
    /*font-weight: bolder !important;*/
    color: #FFF !important;
}
.comments .dream {
    background-color: rgba(0,0,0,.5) !important;
    border: 1px solid #FFF !important;
}
.pass_barrage {
  -webkit-animation-name: pass_barrage_a;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
}
 @-webkit-keyframes pass_barrage_a {
   100% {
   -webkit-transform:translateX(-300px);
  }
}
::-webkit-input-placeholder {
  color: #c4c4c4;
}
#lottery-dialog ::-webkit-input-placeholder {
  color: #333;
}
.ctrls .funny-box {
  width: 100%;
  height: 0px;
  text-align: center;
  overflow: hidden;
    opacity: 0;
}
.ctrls .funny-box img {
  height: 70%;
  width: auto;
  display: inline-block;
  margin: 6px 10px;
}
.ctrls .funny-box img.funny1 {
  height: 80%;
}
.funnyshow {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  left: 5px;
}
.funnyshow img {
  width: auto !important;
  height: 100% !important;
  border-radius: 0 !important;
}
.me {
  border: 1px solid #ffcd02;
  border-radius: 19px;
  margin-right: 8px;
}
.footer{
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    /*background: rgba(0,0,0,.3);*/
    /*border-radius: 20px;*/
    height: 40px;
    /*padding-top: 5px;*/
    float: left;
    z-index: 1200;
    bottom: 0;
}
.footer input{
    width: 78%;
    margin-left: 5px;
    color: black;
    background-color: #ebebeb;
    border: none;
    height: 36px;
    border-radius: 4px;
    display: inline-block;
    float: left;
    padding-left: 5px;
    box-shadow: inset 2px 2px 2px #ababab,inset 0 -2px 2px #ababab,inset -2px 0 2px #ababab;
}
.footer a{
    display: inline-block;
    width: 16%;
    margin-left: 10px;
    height: 35px;
    border-radius: 3px;
    position:absolute;
    right: 5px;
    top: 0;
    line-height: 33px;
    text-align: center;
    /*border-bottom-right-radius: 7px;*/
    /*border-top-right-radius: 7px;*/
    background: -webkit-linear-gradient(top, #fcedd0 0%,#e6b482 100%);
    color: black;
}
.footer a>img{
    width: 90%;
    height: 100%;
}
.handimg{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 2px;
    left: 2px;
    border-radius: 35px;
}

.totalk{
    position: relative;
    display: inline-block;
    width: auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #FFF;
    z-index: 98;
    padding: 0 5% 0;
    margin: 5px auto 5px;
    background: url("../images/swiper-button.jpg") no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}
.tolottery{
    position: relative;
    display: inline-block;
    width: auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #fFF;
    z-index: 98;
    padding: 0 5% 0;
    margin: 5px auto 5px;
    background: url("../images/swiper-button.jpg") no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}
#div_subscribe_area img{
    margin-bottom: 40px;
}

.switch{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background: -webkit-linear-gradient(top, #550f5b 0%,#29052d 100%);
}
.switch-btn-box{
    position: relative;
    width: 90%;
    margin-left: 5%;
}
.countdown-tip{
}
.switch-btn-box>a{
    position: relative;
    width: 46%;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 14px;
    font-weight: bolder;
    font-style: oblique;
}
.switch-btn-box>a>img{
    position: relative;
    width: 15px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}
.countdown {
    position: relative;
    display: inline-block;
    width: auto;
    height: 30px;
    text-align: center;
    font-size: 14px;
    color: #e3e3e3;
    z-index: 98;
    margin: 5px 2% 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #3B0941;
    border: inset 1px #3B3B3B;
    vertical-align: middle;
    padding: 5px 5px;
}
.countdown .detail-countdown{
    display: inline-block;
    margin: auto;
}
.countdown .detail-countdown .fetal-H1{
    background: -webkit-linear-gradient(top, #2e2a29 0%,#210001 100%);
    width: 20px;
    display: inline-block;
    margin: 0 3px;
    /*padding-left: 3px;*/
    padding-right: 3px;
    border-top: 1px #484849 solid;
    border-left: 1px #484849 solid;
    color: #DAB866;
    font-family: 'DIGI';
    font-size: 18px;
}
.countdown .detail-countdown label {
}
.countdown * {
    /*text-shadow: 2px 2px 1px rgba(0,0,0,.5) !important;*/
}

.comments{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.comments .inp{
    width: 100%;
    margin-bottom: 7%;
}
.comments .inp input{
    width: 66%;
    margin-left: 10%;
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px 0px 23px #969696;
    padding: 0 10px;
    color: #352E2E;
    font-size: 12px;
}
.comments .inp a{
    background: -webkit-gradient(linear,left top,left bottom,from(#ff96f9),to(#a80d9e));
    height: 42px;
    line-height: 42px;
    display: inline-block;
    padding: 0 8px;
    border-radius: 5px;
    color: #FFF;
    border: 1px solid rgba(255, 0, 204, .5);
    font-size: 14px;
    margin-top: 2px;
}
.comments ul{
    display: block;
    width: 66%;
    margin-left: 10%;
    margin-bottom: 1%;
}
.comments ul li{
    display: block;
}
.comments ul li div{
    display: inline-block;
    background-color: #fff;
    margin: 3px auto;
    border-radius: 5px;
    padding: 8px 5px;
    word-break: break-all;
}
.comments ul li:nth-child(1){
    opacity: .2;
}
.comments ul li:nth-child(2){
    opacity: .4;
}
.comments ul li:nth-child(3){
    opacity: .6;
}
.comments ul li:nth-child(4){
    opacity: .8;
}
.comments ul li:nth-child(5){
    opacity: 1;
}
.comments ul li .ni{
    font-size: 14px;
}
.comments ul li .con{
    -webkit-text-size-adjust:none;
    font-size: 13px;
}
.pink{
    background-color: #f37df3!important;
}
.pink .ni{
    color: #ffff7f;
}
.pink .con{
    color: #c72025;
}
.green{
    background-color: #84f384!important;
}
.green .ni{
    color: #1a911a;
}
.green .con{
    color: #e04e61;
}
.blue{
    background-color: #56bcff!important;
}
.blue .ni{
    color: #076eb1;
}
.blue .con{
    color: #ffffff;
}
.red{
    background-color: #fb5479!important;
}
.red .ni{
    color: #291020;
}
.red .con{
    color: #ffffff;
}
.brown{
    background-color: #d9b57b!important;
}
.brown .ni{
    color: #291020;
}
.brown .con{
    color: #a97c4a;
}

/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  .qa-wrapper .answered .timer {
    margin-top: 0;
    /*padding: 4px 0;*/
  }
  .qa-wrapper .question dt {
	  margin-bottom: 2px;
	}
  .qa-wrapper .answered h5 {
    margin-top: 0;
  }
  .qa-wrapper .question dd a{
      font-size: 13px;
  }
    .qa-wrapper .question dt p{
        font-size: 15px;
    }
    .timer .wait-next {
        line-height: 45px;
    }
  header .hd-wrapper {
	  margin-bottom: 0px;
	  padding-top: 4px;
  }
  .qa-wrapper .answered h5 {
	  font-size: 18px;
	}

}
/* iPhone5 */
@media screen
and (min-device-width : 320px)
and (min-device-height : 570px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
  .qa-wrapper .answered .timer {
    margin-top: 2%;
  }
  .qa-wrapper .answered h5 {
    margin-top: 0;
  }

}
