body{
	overflow: hidden;
	background: url(../images/bg.jpg) no-repeat;
	background-size: 100% 100%;
}
.enter{
	width: 100%;
	position: fixed;
	bottom: 0px;
}
.logo{
	width: 80%;
	display: block;
	margin: 20px auto 0px;
}
header{
	padding: 0px 16px;
	height: 90px;
}
header nav{
	width :80px;
	height: 90px;
	padding-top: 22px;
	background: url(../images/btn.png) no-repeat center;
	background-size: 100%;
	float: right;
	margin-top: -4px;
}
header nav .hd-btn{
	display: inline-block;
	width: 100%;
	height: 32px;
	color: #fff;
	text-align: center;
	font-size: 14px;
}
header nav .hd-btn:last-child{
	line-height: 32px;
}
.enter-btn{
	display: block;
	width: 80%;
	background: url(../images/act_btn.png) no-repeat center;
	background-size: 100%%;
	font-size: 22px;
	font-weight: bold;
	color: #fff600;
	margin: 0 auto;
}
.fly-flowers span{
	position: absolute;
	top:0px;
	left: 0px;
	display: inline-block;
	opacity: 0;
	
}
.fly-flowers span:nth-child(1),.fly-flowers span:nth-child(4),.fly-flowers span:nth-child(7){
	width: 50px;
	height: 30px;
	background: url(../images/flower2.png)no-repeat;
	background-size: 100%;
}
.fly-flowers span:nth-child(2),.fly-flowers span:nth-child(5),.fly-flowers span:nth-child(8){
	width: 30px;
	height: 22px;
	background: url(../images/flower2.png)no-repeat;
	background-size: 100%;
}
.fly-flowers span:nth-child(3),.fly-flowers span:nth-child(6),.fly-flowers span:nth-child(9){
	width: 24px;
	height: 18px;
	background: url(../images/flower3.png)no-repeat;
	background-size: 100%;
}
.fly-flowers span:nth-child(1){
	transform: translate(50px,30px);
	-webkit-transform: translate(50px,30px);
	 -webkit-animation-name:f1;
    -webkit-animation-duration: 8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-fill-mode:forwards;
     -webkit-animation-delay:1s;
}
.fly-flowers span:nth-child(2){
	-webkit-transform: translate(150px,0px);
	transform: translate(150px,0px);
	 -webkit-animation-name:f2;
    -webkit-animation-duration: 6s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-fill-mode:forwards;
     -webkit-animation-delay:0.5s;
}
.fly-flowers span:nth-child(3){
	-webkit-transform: translate(200px,30px);
	transform: translate(90px,30px);
	 -webkit-animation-name:f3;
    -webkit-animation-duration: 7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-delay:1.5s;
}
.fly-flowers span:nth-child(4){
	-webkit-transform: translate(300px,0px);
	transform: translate(100px,0px);
	 -webkit-animation-name:f4;
    -webkit-animation-duration: 8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-delay:0.8s;
}
.fly-flowers span:nth-child(5){
	-webkit-transform: translate(160px,30px);
	transform: translate(120px,30px);
	 -webkit-animation-name:f5;
    -webkit-animation-duration: 8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-delay:0s;
}
.fly-flowers span:nth-child(6){
	-webkit-transform: translate(130px,0px);
	transform: translate(130px,0px);
	 -webkit-animation-name:f6;
    -webkit-animation-duration: 7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-delay:1.2s;
}
.fly-flowers span:nth-child(7){
	-webkit-transform: translate(150px,30px);
	transform: translate(150px,30px);
	 -webkit-animation-name:f7;
    -webkit-animation-duration: 6s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-delay:0.8s;
}
.fly-flowers span:nth-child(8){
	-webkit-transform: translate(180px,0px);
	transform: translate(180px,0px);
	 -webkit-animation-name:f8;
    -webkit-animation-duration: 8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-delay:1s;
}
.fly-flowers span:nth-child(9){
	-webkit-transform: translate(200px,30px);
	transform: translate(200px,30px);
	 -webkit-animation-name:f9;
    -webkit-animation-duration: 6s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-delay:0.6s;
}
@-webkit-keyframes f1 {
    0%{
    	opacity: 0;
        -webkit-transform: translate(10px,30px) ;
    }
    25%{
    	opacity: 1;
        -webkit-transform: translate(50px,160px) ;
    }
    50%{
        -webkit-transform: translate(90px,320px);
    }
    75%{
    	opacity: 1;
        -webkit-transform: translate(120px,440px) ;
    }
    100% {
    	opacity: 0;
        -webkit-transform: translate(150px,630px) ;
    }  
}
@-webkit-keyframes f2 {
    0%{
    	opacity: 0;
        -webkit-transform: translate(150px,0px) ;
    }
    20%{
    	opacity: 1;
        -webkit-transform: translate(110px,180px) rotateY(40deg) rotateZ(40deg);
    }
    40%{
        -webkit-transform: translate(90px,260px) rotateY(120deg) rotateZ(120deg);
    }
    60%{
        -webkit-transform: translate(80px,340px) rotateY(160deg) rotateZ(160deg);
    }
    80% {
    	opacity: 1;
        -webkit-transform: translate(70px,420px) rotateY(120deg) rotateZ(120deg);
    }
    100% {
    	opacity: 0;
        -webkit-transform: translate(60px,500px) rotateY(100deg) rotateZ(100deg);
    }
}
@-webkit-keyframes f3 {
    0%{
    	opacity: 0;
        -webkit-transform: translate(200px,30px) rotateY(20deg) rotateZ(20deg);
    }
    25%{
    	opacity: 1;
        -webkit-transform: translate(120px,130px) rotateY(40deg) rotateZ(40deg);
    }
    50%{
        -webkit-transform: translate(140px,230px) rotateY(60deg) rotateZ(60deg);
    }
    75%{
    	opacity: 1;
        -webkit-transform: translate(110px,330px) rotateY(120deg) rotateZ(120deg);
    }
    100% {
    	opacity: 0;
        -webkit-transform: translate(210px,430px) rotateY(210deg) rotateZ(210deg);
    }
}
@-webkit-keyframes f4 {
    0%{
    	opacity: 0;
        -webkit-transform: translate(300px,0px) rotateY(20deg) rotateZ(20deg);
    }
    20%{
    	opacity: 1;
        -webkit-transform: translate(260px,100px) rotateY(30deg) rotateZ(30deg);
    }
    40%{
        -webkit-transform: translate(270px,320px) rotateY(60deg) rotateZ(60deg);
    }
    60%{
        -webkit-transform: translate(240px,450px) rotateY(120deg) rotateZ(120deg);
    }
    80% {
    	opacity: 1;
        -webkit-transform: translate(230,600px) rotateY(210deg) rotateZ(210deg);
    }
    100% {
    	opacity: 0;
        -webkit-transform: translate(250px,700px) rotateY(210deg) rotateZ(210deg);
    }
}
@-webkit-keyframes f5 {
    0%{
    	opacity: 0;
        -webkit-transform: translate(160px,30px) rotateY(20deg) rotateZ(20deg);
    }
    25%{
    	opacity: 1;
        -webkit-transform: translate(180px,130px) rotateY(30deg) rotateZ(30deg);
    }
    50%{
        -webkit-transform: translate(200px,320px) rotateY(40deg) rotateZ(40deg);
    }
    75%{
    	opacity: 1;
        -webkit-transform: translate(160px,430px) rotateY(60deg) rotateZ(60deg);
    }
    100% {
    	opacity: 0;
        -webkit-transform: translate(140px,570px) rotateY(120deg) rotateZ(120deg);
    }
}
@-webkit-keyframes f6 {
    0%{
    	opacity: 0;
        -webkit-transform: translate(130px,0px) rotateY(20deg) rotateZ(20deg);
    }
    25%{
    	opacity: 1;
        -webkit-transform: translate(230px,190px) rotateY(80deg) rotateZ(80deg);
    }
    50%{
        -webkit-transform: translate(200px,300px) rotateY(120deg) rotateZ(120deg);
    }
    75%{
    	opacity: 1;
        -webkit-transform: translate(150px,430px) rotateY(220deg) rotateZ(220deg);
    }
    100% {
    	opacity: 0;
        -webkit-transform: translate(270px,600px) rotateY(360deg) rotateZ(360deg);
    }
}
@-webkit-keyframes f7 {
    0%{
    	opacity: 0;
        -webkit-transform: translate(150px,30px) rotateY(20deg) rotateZ(20deg);
    }
    25%{
    	opacity: 1;
        -webkit-transform: translate(50px,200px) rotateY(80deg) rotateZ(80deg);
    }
    50%{
        -webkit-transform: translate(60px,320px) rotateY(120deg) rotateZ(120deg);
    }
    75%{
    	opacity: 1;
        -webkit-transform: translate(150px,540px) rotateY(220deg) rotateZ(220deg);
    }
    100% {
    	opacity: 0;
        -webkit-transform: translate(200px,700px) rotateY(360deg) rotateZ(360deg);
    }
}
@-webkit-keyframes f8 {
    0%{
    	opacity: 0;
        -webkit-transform: translate(180px,0px) rotateY(20deg) rotateZ(20deg);
    }
    25%{
    	opacity: 1;
        -webkit-transform: translate(50px,200px) rotateY(80deg) rotateZ(80deg);
    }
    50%{
        -webkit-transform: translate(60px,320px) rotateY(120deg) rotateZ(120deg);
    }
    75%{
    	opacity: 1;
        -webkit-transform: translate(150px,440px) rotateY(220deg) rotateZ(220deg);
    }
    100% {
    	opacity: 0;
        -webkit-transform: translate(130px,580px) rotateY(360deg) rotateZ(360deg);
    }
}
@-webkit-keyframes f9 {
    0%{
    	opacity: 0;
        -webkit-transform: translate(250px,30px) rotateY(20deg) rotateZ(20deg);
    }
    20%{
    	opacity: 1;
        -webkit-transform: translate(300px,200px) rotateY(80deg) rotateZ(80deg);
    }
    40%{
        -webkit-transform: translate(260px,260px) rotateY(120deg) rotateZ(120deg);
    }
    60%{
        -webkit-transform: translate(200px,440px) rotateY(220deg) rotateZ(220deg);
    }
    80% {
    	opacity: 1;
        -webkit-transform: translate(170px,500px) rotateY(360deg) rotateZ(360deg);
    }
    100% {
    	opacity: 0;
        -webkit-transform: translate(160px,700px) rotateY(360deg) rotateZ(360deg);
    }
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.logo{
		margin: 0 auto;
	}
   .enter-btn{
   	   width: 70%;
   }
}