body{
    background:#ff9900 url('../images/show_bg01.png');
    background-repeat: repeat-y;
    background-position: center top;
    background-size: 100% auto;
}
* {     
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none; 
} 
img,a{
    border: none;
}
a:link,a:visited,a:hover{
	text-decoration:none;
	color:#fff;
}
.cctv-logo{
	position:absolute;
	top:5px;
	left:10px;
	width:20%;
}
.head-img img,
.cctv-logo img{
	width:100%;
}
.program{
	margin:0 1%;
	overflow:hidden;
}
.program li{
	float:left;
	width:50%;
	text-align:center;
	color:#fff;
	overflow:hidden;
}
.program li.hr{
	width:100%;
	height:5px;
	margin:20px -1%; 
	background:url('../images/line.png');
	background-repeat:no-repeat;
    background-position: center;
    background-size: 100%;
}
.program .act-box{
	margin:0 3%;
	text-shadow:0 1px 0 #ee8f00;
	text-align:center;
	overflow:hidden;
}
.program .act-box img{
	width:100%;
}
.program .act-box h2{
	padding:8px 0;
	font-weight:bold;
	font-size:18px;
}
.program .act-box p{
	line-height:22px;
	color:#ffebcc;
	font-size:14px;
}
.program li:nth-last-of-type(2) .act-box img{
	width:85%;
}
.program li:nth-last-of-type(2) .act-box h2,
.program li:nth-last-of-type(2) .act-box p{
	display:none;
}
.footer{
	line-height:20px; 
	margin:10px 0;
	text-align:center;
	font-size:12px; 
	color:#bb7000;
}
@media screen and (min-device-width :320px) and (max-device-width :350px) and (orientation :portrait) and (-webkit-min-device-pixel-ratio:2) {
.program .act-box h2{
	font-size:16px;
}
.program .act-box p{
	line-height:18px;
	font-size:12px;
}
}
.none{
	display:none;
}
.comeback
{
 display:block;
 text-align:center;    
}