body {
    width: 100%;
    height: 100%;
    background: url(../images/bg-yao-default.jpg) no-repeat center center #001854;
    background-size: 100% auto;
}
.ddtj{
    font-size: 13px;
    color: #fff;
    text-align: left;
    margin: 5px;
    display: inline-block;
    width: 45%;
}
.main-top .count {
    font-size: 13px;
    color: #fff;
    text-align: left;
    margin: 5px;
    display: inline-block;
    width: 45%;
}
.back{
    display: block;
    color: #fff;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    width: 25%;
    border: 1px solid #4a84ff;
    position: absolute;
    right: 8px;
    top: 5%;
    font-size: 14px;
    z-index: 99;
}
a.hover {
    color:#fff;
}
.info-box {
    position: relative;
    width: 100%;
}
.content-box {
    position: absolute;
    width: 100%;
    bottom: 20%;
    text-align: center;
}
.countdown{
    height: 52px;
    line-height: 52px;
    margin: 45% auto 0;
    border-radius: 3px;
    text-align: center;
    font-size: 15px;
    color: #fff;
}
.countdown .detail-countdown label {
    color: #fec836;
    font-weight: bolder;
    margin: 0 1px;
    padding: 2px 3px;
    border: 1px solid #000;
    border-top: 1px solid #706e6f;
    border-left: 1px solid #675151;
    border-radius: 2px;
    box-shadow: 2px 2px 1px rgba(0,0,0,.3);
    background-image: -webkit-linear-gradient(-90deg, #353334, #290b0b);
}
.hidden {
    visibility:hidden;
}

.marquee{
    color: #fff;
    font-size: 13px;
    background: rgba(1,25,84,.8);
    height: 20px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
    top: 0;
}
.home-box {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
.home-box .bg-yao {
    display: block;
    position: absolute;
    width: 90%;
    left: 5%;
    opacity: 1;
}
.home-box .yao-top {
    bottom: 0;
}
.home-box .yao-bottom {
    top: 0;
}
.main-top {
    position:absolute;
    top:1px;
    width:100%;
    height:50%;
    background: url(../images/bg-lottery-top.jpg) no-repeat bottom center;
    background-size:cover;
    box-sizing:border-box;
}
.main-foot {
    position:absolute;
    bottom:0px;
    width:100%;
    height:50%;
    background: url(../images/bg-lottery-bottom.jpg) no-repeat top center;
    background-size:cover;
    box-sizing:border-box;
}
.yao-text{
    line-height: 30px;
    margin: 10% 0 0;
    text-align: center;
    font-size: 16px;
    text-shadow: 2px 2px 3px rgba(0,0,0,.6);
    color: #fff;
}
.yao-text p{
    position:relative;
    min-height: 37px;
    z-index: 30;
}
.yao-text p span {
    font-size: 16px;
    font-weight: bolder;
}
.yao-text p span i {
    font-size: 32px;
    display: inline-block;
    font-style: normal;
    font-weight: bolder;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-iteration-count: infinite;
}
.yaonone-text{
    animation-name:nonetext;
    -webkit-animation-name:nonetext;
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-duration:0.5s;
    -webkit-animation-duration:0.5s;
    animation-delay:0.1s;
    -webkit-animation-delay:0.1s;
    animation-timing-function:linear;
    -webkit-animation-timing-function:linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    display: block;
}
@-webkit-keyframes wobble {
    0% { -webkit-transform: translateX(0%); }
    15% { -webkit-transform: translateX(-25%) rotate(-5deg); }
    30% { -webkit-transform: translateX(20%) rotate(3deg); }
    45% { -webkit-transform: translateX(-15%) rotate(-3deg); }
    60% { -webkit-transform: translateX(10%) rotate(2deg); }
    75% { -webkit-transform: translateX(-5%) rotate(-1deg); }
    100% { -webkit-transform: translateX(0%); }
}
@keyframes wobble {
    0% { transform: translateX(0%); }
    15% { transform: translateX(-25%) rotate(-5deg); }
    30% { transform: translateX(20%) rotate(3deg); }
    45% { transform: translateX(-15%) rotate(-3deg); }
    60% { transform: translateX(10%) rotate(2deg); }
    75% { transform: translateX(-5%) rotate(-1deg); }
    100% { transform: translateX(0%); }
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    z-index: 8;
}
@keyframes nonetext {
    0% {top:-300px;opacity:0;}
    100% {top:0;opacity:1.0;}
}
@-webkit-keyframes nonetext {
    0% {top:-300px;opacity:0;}
    100% {top:0;opacity:1.0;}
}

.zanzhu{
    display: block;
    width: 90%;
    margin: 3% auto 0;
}
/* iPhone4 */
@media screen
and (min-device-width:320px)
and (max-device-height:500px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:2) {
    .countdown {
        height: 46px;
        margin: 30% auto 1%;
    }
    .home-box .bg-yao {
        display: block;
        position: absolute;
        width: 70%;
        left: 15%;
    }
}