body {
    background: url(../images/user-bg.jpg) repeat-y center 0;
    background-size: cover;
}
a,a:hover {
	text-decoration: none;
}
.main {
	margin: 0 auto;
	overflow-x: hidden;
	font-size: 15px;
}
.avatar {
    text-align: center;
    height: 122px;
    padding-top: 11px;
}
.avatar .avatar-wrapper {
	width: 80px;
    height: 80px;
	margin: 0 auto;
}
.avatar img {
    max-width: 100%;
    border-radius: 50%;
}
.avatar p {
    color: #fff;
	
    margin-top: 8px;
}
.list a {
    height: 45px;  line-height: 45px;
	
    color: #fff;
    display: block;
    padding: 0 10px;
}
.list a:before, .list a.nav:after {
	content: '';
	display: inline-block;
	vertical-align: -5px;
	background: url(../images/icons1.png) no-repeat 0 0;
	background-size: 218px auto;
	width: 24px;
	height: 24px;
	margin-right: 12px;
}
.list a.ph:before {
    background-position: -192px -52px;
	
}
.list a.jf:before {
    background-position: -114px -52px;
	
}
.list a.lp:before {
    background-position: -140px -52px;
	
}
.list a.hg {
	position: relative;
}
.list a.hg:before {
    background-position: -166px -52px;
}
.list a.hg i {
	display: block;
	background: url(../images/icon_hot.png) no-repeat 0 0;
	background-size: 42px auto;
	width: 42px;
	height: 22px;
	position: absolute;
	left: 114px;
	top: 4px;
}
.list a.jm:before {
    background-position: -88px -52px;
	
}
.list a.nav:after {
    background-position: -208px 9px;
	
    width: 12px;
    height: 23px;
    float: right;
    margin-top: 8px;
    margin-right: 0;
}
.list a.ph strong {
    color: #3cc5d5;
	
}
.list a.jf strong {
    color: #FE0097;
	
}
.list a.lp strong {
    color: #FE0097;
	
}
.list a.nav {
	
}

.list ul>li {
    margin-top: 11px;
    background: rgba(255, 255, 255, 0.2);
}
.list ol>li {
    padding: 0;
	
}
.list ol>li.border {
}
a.btn-back {
    background: #AD0067;
    color: #ffffff;
}
a.btn-back:hover {
    background: #AD0067;
    color: #ffffff;
}
