.main:before {
	display: none;
}
.modal, .dialog {
	width: 100%;
	height: 100%;
}
/** 抽奖  */
.lottery-dialog {
	background: #BC0C0C url(http://cdn.holdfun.cn/resources/services/house/bg-cj.jpg) no-repeat center center;
    
	background-size: cover;
	width: 100%;
	height: 100%;
	color: #fdc728;
}
.lottery-dialog .dialog-inner {
	padding-top: 38%;
}
.lottery-dialog .hammer {
	
    height: 250px;
}
.lottery-dialog .btn-hammer {
    background: url(http://cdn.holdfun.cn/resources/services/house/icon-hammer.png) no-repeat 0 0;
	
    background-size: 112px auto;
    display: block;
    width: 115px;
    height: 158px;
    margin-left: 50%;  
    margin-top: 16px;
}

.lottery-dialog.broken .hammer:before {
	content: '';
	display: block;
	background: url(http://cdn.holdfun.cn/resources/services/house/icon-feng.png) no-repeat 0 0;
	background-size: 80px auto;
	width: 26%;
	height: 24%;
	position: absolute;
	left: 36%;
	top: 40%;
}
.lottery-dialog .btn-hammer.animated {
	-webkit-animation-name: broken;
    -webkit-animation-duration: 800ms;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	-webkit-animation-fill-mode: both;
}

@-webkit-keyframes broken {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(-42deg);
		transform: rotate(-42deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}		
}

.lottery-dialog p {
    text-align: center;
	
}
.lottery-dialog .ctrl {
    position: absolute;
	
    left: 0;
    right: 0;
    bottom: 4%;
    text-align: center;
    font-size: 14px;
}
.lottery-dialog .ctrl .btn-again {
    width: 40vw;
    height: 44px;
    line-height: 44px;
    margin-top: 10px;
    margin-bottom: 7px;
}

.lottery-dialog .light {
	display: none;
	background: rgba(255,250,166,0.58);
    width: 10px;
    height: 20px;
    position: absolute;
    left: 50%;
	margin-left: -5px;
	right: 0;
	top: 50%;
	margin-top: -10px;
	bottom: 0;
    border-radius: 100%;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 140px rgba(255,250,166,1), 0px 0px 140px rgba(255,250,166,1),0px 0px 150px rgba(255,250,166,0.9),0px 0px 160px rgba(255,250,166,0.9),0px 0px 170px rgba(255,250,166,0.8),0px 0px 180px rgba(255,250,166,0.8),0px 0px 190px rgba(255,250,166,0.7),0px 0px 200px rgba(255,250,166,0.7),0px 0px 210px rgba(255,250,166,0.6),0px 0px 220px rgba(255,250,166,0.6),0px 0px 230px rgba(255,250,166,0.5);
	box-shadow: 0px 0px 140px rgba(255,250,166,1), 0px 0px 140px rgba(255,250,166,1),0px 0px 150px rgba(255,250,166,0.9),0px 0px 160px rgba(255,250,166,0.9),0px 0px 170px rgba(255,250,166,0.8),0px 0px 180px rgba(255,250,166,0.8),0px 0px 190px rgba(255,250,166,0.7),0px 0px 200px rgba(255,250,166,0.7),0px 0px 210px rgba(255,250,166,0.6),0px 0px 220px rgba(255,250,166,0.6),0px 0px 230px rgba(255,250,166,0.5);
}

.lottery-dialog.animated .light {
	display: block;
	-webkit-animation-name:boune;
    -webkit-animation-duration: 700ms;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-iteration-count:1;
	-webkit-animation-direction: alternate;
	-webkit-animation-fill-mode: both;
}

@-webkit-keyframes boune {
	0% {
		-webkit-transform: scale(1);
		opacity: 0.1;
	}
	50% {
		-webkit-transform: scale(50);
		opacity: 0.5;
		background: rgba(255,250,166,0.8);
	}
	100% {
		-webkit-transform: scale(100);	
		opacity: 1;
		background: rgba(255,250,166,1);
	}		
}


/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.lottery-dialog .dialog-inner {
    	padding-top: 25%;
		
	}
}
