body{
	background: url(../images/bg-game.jpg) no-repeat;
	background-size: 100% 100%;
}

.time{
	width: 100%;
	color: #fff;
	padding: 10px 0 0;
	position: absolute;
}
.time-box{
	text-align: center;
}
.time span{
	font-size: 14px;
	color: #fff;
}
.game-back{
	padding-top: 10px ;
	padding-right: 78%;
	position: absolute;
	top:20px;
	left: 10px;;
	z-index: 999999;
}
.stage{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
}
.stage-item{
	position: absolute;
	top: 0px;
	left: 0px;
}
.stage_main{
	overflow: hidden;
}
#stage_loading{
	background: #0b0e1b;
	text-align: center;
}
#stage_loading .stage-loading-text{
	font-size: 14px;
	padding-top: 10px;
}
#stage_loading #loading_bar{
	position: relative;
	color: white;
}
.index-btn{
	display: block;
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,0.6);
}
.index-btn img{
	width: 38%;
	position: absolute;
	top:30%;
	left: 50%;
	margin-left:-19% ;
}
.dialog-wrapper{
	background: rgba(0,0,0,0.7);
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
#win_dialog {
 	overflow: hidden;
}
.dia-bg{
	background: url(../images/dia-bg.png) no-repeat center;
	background-size: cover;
	border-radius: 4px;
}

.lottery-box-triangle::before{
	content: "";
	position: absolute;
	top:0px;
	right: -74px;
	border-bottom: 54px solid #ffe0ff;
	border-top: 54px solid transparent;
	border-right: 74px solid transparent;
	border-left: 74px solid transparent;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.lost-content,.lottery-box {
	width: 80%;
	height: 50%;
	font-size: 20px;
    line-height: 32px;
	color: #ffe167;
	text-align: center;
	position: absolute;
	top:25%;
	left: 10%;
	padding: 20px 0;
	overflow: hidden;
}
.lost-content p,.lottery-box p{
	color: #fff;
	font-size: 20px;
}
.lost-content p.score,.lottery-box p.score{
	font-size: 35px;
	padding: 20px 30px;
	background: url(../images/score-bg.png) no-repeat center;
	background-size: 60%;
	margin-bottom: 10px;

}
.lost-content p:nth-child(4),.lottery-box p:nth-child(4){
	font-size: 15px;
}
.lost-content .btn-lottery,.lottery-box .btn-lottery{
	margin-top: 14%;
}
.award-box {
	position: absolute;
	width: 80%;
	height: 100%;
	left: 10%;
	overflow: hidden;
}

.dialog-win{
	position: absolute;
	width: 100%;
	height: 50%;
	top:25%;
	left: 0px;
	padding:16px 20px;
	overflow-x: hidden;
	overflow-y: auto;
}
.dialog-lottery {
	-webkit-transform: scale(1);
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
.dialog-lottery .award-img{
	display: block;
	width: 100%;
}
.dialog-lottery .award-tips{
	padding: 6px 24%;
}
#dialog-shiwu .input-box{
	padding: 10px 0px 12px;
}
#dialog-shiwu .input-box input{
	width: 100%;
	height: 34px;
	border:none;
	border-radius: 4px;
	background: #fff;
	margin-top: 8px;
	padding: 0 6px;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #494949;
}
input:disabled{
	text-fill-color:#494949;
    opacity:1;
	-webkit-text-fill-color:#494949;
    -webkit-opacity:1;
}
#dialog-shiwu .input-box .input-box-tips{
	text-align: left;
	color: #fff;
	font-size: 12px;
}

.dialog-shiwu{
	height: 70%;
	top:15%
}
#dialog-quan .award-img{
	margin: 6% auto 10%;
}
#dialog-thanks {
	width: 100%;
	height: 50%;
	position: absolute;
	top:25%;
	padding:24px;
	overflow: hidden;
}
#dialog-thanks p {
	padding: 14px 26%;
}
#dialog-thanks .btn-lottery{
	margin-top: 0;
}
#dialog-thanks .title{
	padding: 0 10%;
}
.btn-lottery {
	display: block;
    background-color: #9f039d;
    width: 44%;
    border-radius: 4px;
    color: #fff;
    line-height: 2em;
    white-space: nowrap;
    font-size: 19px;
    margin: 16% auto 0;
    padding: 0 6px;
    border:1px solid rgba(255,255,255,0.7);
    text-align: center;
    /*-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: color 0.2s 0.3s, width 0.3s 0s;
    -moz-transition: color 0.2s 0.3s, width 0.3s 0s;
    transition: color 0.2s 0.3s, width 0.3s 0s;*/
}
.btn-close{
	position: absolute;
	width: 18px;
	height: 18px;
	top:8px;
	right: 8px;
	display: block;
	background: url(../images/btn-close.png) no-repeat center;
	background-size: 80%;
	z-index: 999999;
}
.close{
	z-index: 999999;
}
/*.lottery-box a.to-circle {
    width: 2em;
    color: transparent;
    -webkit-transition: color 0.2s 0s, width 0.3s 0.2s;
    -moz-transition: color 0.2s 0s, width 0.3s 0.2s;
    transition: color 0.2s 0s, width 0.3s 0.2s;
}
.lottery-box .cd-modal-bg {
	display: inline-block;
    height: 2em;
    background-color: orange;
	position: absolute;
    left: 50%;
    bottom: -100%;
    width: 2em;
    border-radius: 50%;
    /*opacity: 0;*/
    /*visibility: hidden;
    -webkit-transform: translateX(-1em) scale(0);
    -moz-transform: translateX(-1em) scale(0);
    -ms-transform: translateX(-1em) scale(0);
    -o-transform: translateX(-1em) scale(0);
    transform: translateX(-1em) scale(0);
    -webkit-transition: all 0.8s 0.3s;
    -moz-transition: all 0.8s 0.3s;
    transition: all 0.8s 0.3s;
}*/
/*.lottery-box .cd-modal-bg.is-visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(-1em) scale(50);
    -webkit-transition: all 0.8s 0.3s;
    -moz-transition: all 0.8s 0.3s;
    transition: all 0.8s 0.3s;
}*/






@-webkit-keyframes rrule{
0% {
	-webkit-transform:translatey(-736px);
}
60% {
	-webkit-transform:translatey(50px);
}
90% {
	-webkit-transform:translatey(0);
}
}

@-webkit-keyframes grule{
0% {
	-webkit-transform:translatey(0);
}
50% {
	-webkit-transform:translatey(-30px);
}
100% {
	display:none;
	-webkit-transform:translatey(736px);
}
}

.dialog-lottery .btn-lottery{
	margin: 0 auto;
}

.error-content p{
	font-size: 20px;
	line-height: 32px;
	color: #ffe167;
	text-align: center;
}

.ticket-tips{
	font-size: 14px;
	color: white;
	text-align: center;
}
.award-tips{
	overflow: hidden;
}
.award-tips p{
	font-size: 18px;
	line-height: 34px;
	color: #ffe167;
	text-align: center;
}
.ticket{
	color: #485bb0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}


/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
.lost-content,.lottery-box {
	height: 66%;
	top:17%;
	left: 10%;
	padding: 10px 0;
}
.dialog-win{
	height: 60%;
	top:20%;
}
.dialog-shiwu{
	height: 88%;
	top:6%
}
#dialog-thanks {
	height: 62%;
	top:19%;
}
}
/* iPhone5 */
@media screen
and (min-device-width : 320px)
and (min-device-height : 500px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
.lost-content p.score,.lottery-box p.score{
	padding: 10px 30px;
}
.dialog-shiwu{
	height: 74%;
	top:13%
}
}
/* luo */
@media screen
and (min-device-width : 1000px)
and (min-device-height : 1000px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
#dialog-thanks {
	height: 52%;
	top:24%;
}
.lost-content p.score,.lottery-box p.score{
	padding: 12px 30px;
}
.dialog-shiwu{
	height: 74%;
	top:13%
}
}



/*
	loading
*/
.sk-cube-grid {
  width: 50px;
  height: 50px;
  margin: 0px auto;
}

.sk-cube-grid .sk-cube{
  width: 33%;
  height: 33%;
  background-color: #272e4e;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
/*
	END OF loading
*/