.nav-header{
	padding-left: 80%;
}
.logo{
	opacity: 0;
}
.nav-header a{
    display: inline-block;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 2px;
    margin-top: 10px;
}
.nav-header span{
	position: absolute;
	top:10px;
	left: 14px;
	width: 14%;
}
.nav-header span img{
	display: block;
	width: 100%;
}
.nav-section{
	padding: 4% 0 0;
}
.nav-btn{
	padding:4% 10%;
}
.btn-join{
	display: inline-block;
	width: 32%;
	color: #fff;
	padding: 6% 2%;
	text-align: center;
	font-size: 12px;
}

.btn-join i{
	width: 100%;
	display: block;
	padding:6%
}
.logo{
    display: block;
    width: 85%;
    margin: 16% auto 0;
}



@-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.3, 1.3, 1.3);
        transform: scale3d(1.3, 1.3, 1.3);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    80% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.3, 1.3, 1.3);
        transform: scale3d(1.3, 1.3, 1.3);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    80% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes wobble {
    0% {
        -webkit-transform: none;
        transform: none;
    }

    15% {
        -webkit-transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -7deg);
        transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -7deg);
    }

    30% {
        -webkit-transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
        transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
    }

    45% {
        -webkit-transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    60% {
        -webkit-transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
        transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
    }

    75% {
        -webkit-transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes wobble {
    0% {
        -webkit-transform: none;
        transform: none;
    }

    15% {
        -webkit-transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -7deg);
        transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -7deg);
    }

    30% {
        -webkit-transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
        transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
    }

    45% {
        -webkit-transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    60% {
        -webkit-transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
        transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
    }

    75% {
        -webkit-transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.wobble {
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}
@-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -200px, 0);
        transform: translate3d(0, -200px, 0);
    }

    40% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    65% {
    	 opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
    	 opacity: 1;
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
         opacity: 1;
    }
}

@keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0);
    }

    40% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    65% {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -10px, 0);
         opacity: 1;
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
         opacity: 1;
    }

    100% {
        -webkit-transform: none;
        transform: none;
         opacity: 1;
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    
}


.showme{
	 -webkit-animation-duration: 0.5s;
     animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: show;
    animation-name: show;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.bounceInDownJoin {
	-webkit-animation-delay: 0s;
    animation-delay: 0s;
	-webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: show;
	-webkit-animation-name: bounceInDownJoin;
	animation-name: bounceInDownJoin
}

@-webkit-keyframes show{
    0% {
        -webkit-transform: scale(0.3);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(1.4);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
@keyframes show{
    0% {
        -webkit-transform: scale(0.3);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(1.4);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes bounceInDownJoin {
	0%, 25%, 75%, 50%, 100% {
		-webkit-animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0)
	}
	25% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0)
	}
	50% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	75% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0)
	}
	100% {
		-webkit-transform: none;
		transform: none
	}
}
@keyframes bounceInDownJoin {
	0%, 25%, 75%, 50%, 100% {
		-webkit-animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0)
	}
	25% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0)
	}
	50% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	75% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0)
	}
	100% {
		-webkit-transform: none;
		transform: none
	}	
}
.bounceInDownJoin {
	-webkit-animation-delay: 0s;
    animation-delay: 0s;
	-webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: show;
	-webkit-animation-name: bounceInDownJoin;
	animation-name: bounceInDownJoin
}
@-webkit-keyframes bounceInDownJoin {
	0%, 25%, 75%, 50%, 100% {
		-webkit-animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0)
	}
	25% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0)
	}
	50% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	75% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0)
	}
	100% {
		-webkit-transform: none;
		transform: none
	}
}
@keyframes bounceInDownJoin {
	0%, 25%, 75%, 50%, 100% {
		-webkit-animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0)
	}
	25% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0)
	}
	50% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	75% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0)
	}
	100% {
		-webkit-transform: none;
		transform: none
	}	
}
#div_subscribe_area {
	width: 100%;
	height: 50px;
	overflow: hidden;
	position: relative;
	z-index: 9999;
}
.copyright{
	position: relative;
}
.follow-box {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	zoom: 1;
	clear: both;
	z-index: 9999;
}

@media screen 
and (min-device-width : 360px) 
and (min-device-height : 1100px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
}

@media screen 
and (min-device-width : 360px) 
and (min-device-height : 1200px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
}
/* iPhone6 */
@media screen
and (min-device-width : 360px)
and (max-device-width : 667px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
.btn-join{
	    padding: 2% 2%;
}
.logo {
    margin: 3% auto 0;
}
.nav-btn {
    padding: 0 10%;
}
}
/* iPhone5 */
@media screen
and (min-device-width : 320px)
and (min-device-height : 500px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
.logo {
    margin: 20% auto 0;
}

}
/* mi2*/
@media screen
and (min-device-width : 720px)
and (max-device-height : 1280px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
.nav-section {
    padding: 8% 0 0;
}
.logo {
    margin: 20% auto 0;
}
}

@media screen
and (min-device-width:1000px)
and (min-device-height:1000px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:3) {
.nav-section {
    padding: 6% 0 0;
}
.logo {
    margin: 12% auto 0;
}

}