body {
	background-color: #E4E4E4;
}

.main {
	background: none;
}

.ui-order {
	background-color: #fff;
	padding: 7px 0 0 11px;
	border-radius: 5px;
	margin: 0 6px;
}

.ui-order-info {
	position: relative;
	border-bottom: 1px dotted #EEEBEB;
	padding-bottom: 8px;
	min-height: 50px;
}

.info-title {
	width: 70%;
	font-size: 16px;
	line-height: 20px;
}

.info-standard {
	margin-top: 10px;
	color: #999999;
	font-size: 14px;
}

.info-price {
	position: absolute;
	right: 12px;
	top: 0px;
	color: #999999;
}

.info-num {
	position: absolute;
	right: 12px;
	top: 22px;
	color: #999999;
}

.info-num em {
	font-style: normal;
	font-size: 13px;
	margin-right: 5px;
}

.ui-order-item {
	border-bottom: 1px dotted #EEEBEB;
	font-size: 16px;
	min-height: 50px;
}

.ui-order-item label {
	display: inline-block;
	vertical-align: middle;
	width: 80px;
	height: 50px;
	line-height: 50px;
	color:#999;
}

.ui-order-item .item-content {
	margin-left: 86px;
	margin-top: -40px;
	margin-bottom: 4px;
}

.ui-item-address .item-content {
	margin-bottom: 5px;
}

.ui-order-total {
	padding: 10px 0 10px 0px;
	font-size: 16px;
	color: #f93838;
}

.total-money{
	font-size:20px;
	font-weight:bold;
}

.btn {
	margin: 0 auto;
}

.btn-submit {
	margin-top: 24px;
	width: 40%;
	height: 38px;
	line-height: 38px;
}

.btn-modify {
	margin-top: 24px;
	width: 40%;
	margin-left: 8%;
	margin-right: 2%;
}

.copyright.bottom {
	bottom: 0!important;
	z-index: -1;
}

.main.nobottom {
	padding-bottom: 0;
}