body {
  background: url(../images/index1.jpg) no-repeat top center;
  background-size: 100% 100vh;
  min-height: 100%;
}
header {
  writing-mode: lr-tb;
  writing-mode: tb-rl;
  width: 20px;
  letter-spacing: 1em;
  display: inline-block;
  word-break: break-all;
  font-size: 12px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  float: right;
}
header div.ctrls a {
  display: block;
  border: 1px solid #fff;
  padding: 5px 3px;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #0d3d9b), color-stop(100%, #1581f9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #0d3d9b 0%, #1581f9 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(45deg, #0d3d9b 0%, #1581f9 100%);
  /* W3C */
  color: #fff;
}
header div.ctrls a#btn-reserve {
  border-top: none;
  display: block;
}
section.bottom {
  position: absolute;
  top: 37%;
  left: 0;
  right: 0;
  text-align: center;
}
section.bottom img.logo {
  width: 70%;
  margin: 0 auto;
}
section.bottom img.logo.zoomIn {
  animation-duration: 0.9s;
  -webkit-animation: zoomIn 0.9s ease 600ms 1 both;
  animation-timing-function: ease;
  animation-delay: 600ms;
  animation-iteration-count: 1;
  animation-direction: initial;
  animation-fill-mode: both;
  animation-play-state: initial;
  -webkit-animation-play-state: initial;
  animation-name: zoomIn;
  -webkit-animation-name: zoomIn;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
  }
}
section.bottom footer {
  margin-top: 5%;
}
section.bottom footer a.yj, section.bottom footer a.card {
  display: inline-block;
  text-align: center;
  background: url(../images/index3.png) no-repeat;
  background-size: 130px auto;
  box-shadow: 8px -5px 25px rgba(0, 0, 0, 0.3);
  width: 130px;
  height: 40px;
}
section.bottom footer a.yj img, section.bottom footer a.card img {
  width: 80%;
}
section.bottom footer a.yj {
  margin-right: 20px;
}
section.bottom footer a.yj img {
  margin-top: 8px;
}
section.bottom footer a.yj.fadeInLeft {
  -webkit-animation: fadeInLeft 1s ease 900ms both;
  animation-delay: 900ms;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
section.bottom footer a.card img {
  margin-top: 6px;
}
section.bottom footer a.card.fadeInRight {
  -webkit-animation: fadeInRight 1s ease 900ms both;
  animation-delay: 900ms;
  animation-name: fadeInRight;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  section.bottom img.logo {
    width: 50%;
  }
}