body {
  background: url(../images/bg.jpg) no-repeat;
  background-size: 100% 100%;
}
.logo{
  width: 97%;
  margin: 20px auto 10px;
}
.go {
  position: relative;
}
.go img {
  display: block;
  margin: 0 auto;
}
.go img.redbao {
  width: 75%;
}
.go img.deatil {
  width: 46%;
  display: block;
  margin: 0 auto;
  width: 46%;
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
}
.go div.end {
  color: #C9A759;
  font-size: 18px;
  text-align: center;
}
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
}
.ddtj{
  display: inline-block;
  color: #CD1817;
  font-size: 14px;
  vertical-align: baseline;
  white-space: nowrap;
  width: 126px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ddtj-before{
  background: url(../images/redenve.png) 0 0 no-repeat;
  background-size: 20px;
  height: 26px;
  width: 20px;
  display: inline-block;
}
.ddtj-div{
  position: absolute;
  width: 100%;
  text-align: center;
  -webkit-transform: scale(0.85);
}
@-webkit-keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none;
  }

  15% {
    -webkit-transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -7deg);
    transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -7deg);
  }

  30% {
    -webkit-transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
    transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }

  45% {
    -webkit-transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  60% {
    -webkit-transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
    transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }

  75% {
    -webkit-transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none;
  }

  15% {
    -webkit-transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -7deg);
    transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -7deg);
  }

  30% {
    -webkit-transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
    transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }

  45% {
    -webkit-transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  60% {
    -webkit-transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
    transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }

  75% {
    -webkit-transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-0%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
}
@media screen
and (min-device-width:320px)
and (max-device-height:500px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:2) {
  .go img.redbao {
    width: 60%;
  }
  .go img.deatil {
    width: 31%;
  }
}
/* iPhone5 */
@media screen
and (min-device-height : 500px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
  .go img.redbao {
    width: 70%;
  }
  .go img.deatil {
    width: 43%;
    bottom: 26%;
  }
}
@media screen
and (min-device-width : 1000px)
and (min-device-height : 1000px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  .go img.redbao {
    width: 64%;
  }
  .go img.deatil {
    width: 41%;
  }
}