.modal {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	background-size: 100% 100% ;
	z-index: 100;
	color: #fff370;
	overflow: hidden;
}
.modal-rul{
	background: none;
}
.modal .dialog{
	width: 100%;
	height: 100%;
	text-align: center;
	overflow-y: auto;
	position: relative;
}
.modal .lottery-close{
    position: absolute;
    top: 16px;
    right: 20px;
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../images/icon-close.png) no-repeat;
	background-size:100% auto;
	z-index: 9999;
}
.redhongbao{
	width: 100%;
	height: 100%;
	background: url(../images/redbg.png) no-repeat;
	background-size: 100% 100%;

}
.gift-hongbao{
	position: relative;
	height: 56%;
	padding: 12% 0% 0;
	text-align: center;
	margin: 0 6%;
}
.gift-hongbao img{
	width: 100%;
}
.redhongbao .btn-a{
	display: inline-block;
	width: 70px; 
	height: 70px;
	border-radius: 50%;
	margin-top: 10px;
	border:none;
}
.redhongbao .open{ 
	background: url(../images/open-btn.png) no-repeat;
	background-size: 100%;
}

.redhongbao .get{ 
	background: url(../images/get-btn.png) no-repeat;
	background-size: 100%;
}


.lott{
	width: 90%;
	height: 74%;
	position: absolute;
	top:13%;
	left: 5%;
	background: url(../images/open-bg.png) no-repeat;
	background-size: 100% 100%;
	overflow-y: auto;
}
.not-lott{
	width: 100%;
	padding-top: 10%;
	height: 100%;
}
.not-lott .back-index{
	display: block;
	width: 60%;
	height: 16%;
	background: url(../images/yao-tip.png)no-repeat center;
	background-size: 100% auto;
	margin: 0 auto;
}

.not-lott .gift-text{
	height: 74%;
	width: 100%;
	padding: 0% 8%;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.not-lott .gift-text img{
	width: 100%;
}
.not-lott .ui-audio{
	display: inline-block;
	width: 60px;
	height: 52px;
	position: absolute;
	top:14%;
	right:14%;
	background: url(../images/voice.png)no-repeat center;
	background-size: 100% auto;
}

.not-lott .playing{
	background: url(../images/voice.gif)no-repeat center;
	background-size: 100% auto;
}
.all-goods{
	text-align: center;
	padding-top: 10%;
	overflow-y: auto;
}
.all-goods .tip {
	font-size: 17px;
	font-weight: bolder;
	margin-bottom: 5px;
}
.all-goods .gift {
	width: 80%;
	margin: 0 auto;
}
.all-goods .gift-text h4 {
	font-size: 13px;
	margin: 3px auto;
}
.all-goods .gift-text input {
  width: 100%;
  height: 33px;
  line-height: 33px;
  padding: 0px;
  border: 1px #fff solid;
  border-radius: 1px;
  text-indent: 5px;
  background: transparent;
  color: #fff;
  margin: 2px auto;
}
.all-goods .gift-text .good-btn {
	display: block;
	width: 56%;
	margin: 5px auto 0;
}
.all-goods .q-info {
	text-align: left;
	font-size: 14px;
	line-height: 20px;
	word-break: break-all;
}
.all-goods .gift-text .awarded-tip {
	margin-bottom: 10px;
}
.goods{
	text-align: center;
	padding-top: 14%;
	overflow-y: auto;
}
.goods .btn-a{
	display: block;
	height: 70px;
	width: 100%;
}
.goods #yaoBtnBoxa{
	background: url(../images/good-get.png) no-repeat center;
	background-size: 60% auto;
}
.goods #yaoBtnBoxb{
	background: url(../images/app-load.png) no-repeat center;
	background-size: 90% auto;
}
.goods h1{
	font-size: 17px;
	color: #d3b466;
	height: 52px;
	line-height: 26px;
	font-weight: normal;
	text-align: center;
	padding: 0 10%;
}
.goods .gift{
	padding: 2% 10%;
}
.goods .gift img{
	width: 100%;
}
.gift-text{ 
	padding:4% 10% 0;
	font-size: 14px;
	text-align: center;
}
.gift-text h2{
	font-size: 14px;
	color: #d3b466;
	height: 30px;
	line-height: 30px;
	font-weight: normal;
	text-align: center;
	
}
input.textphone{ 
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0px;
	border: 1px #fff solid;
	border-radius: 1px;
	text-indent: 5px;
	background: transparent;
	color: #fff;
}
p.textphone{
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #fff;
	text-align: center;
	font-size: 15px;
}
p.warm-tip{
	color: #fff;
	font-size: 12px;
}
.gift-hongbao span{
	position: absolute;
	top: 35%;
	left: 0;
	width: 100%;
	text-shadow:3px 0 0 #e02e2e;
	text-align: center;
	font-size: 18px;
	color: #fffda6;
}
.gift-hongbao span label{
	font-size: 26px;
}
.no-border{
	border:none!important;
}
.btn-b{ 
	width: 35%; 
	height: 35px;
	border-radius: 5px;
	border: none;
	background: #da2323;
	text-align: center;
	font-size: 16px;
	color: #fff;
	outline:none;
}


.rule-dialog {
	background: url(../images/open-bg.png)no-repeat;
	background-size: 100% 100%;
    color: #000000;
    height: 90%;
    text-align: left;
    overflow: hidden;
}
.rule-dialog h2{
	padding:0 6%;
	height: 26%;
	background: url(../images/rule-title.png)no-repeat center;
	background-size: 50% auto;
	
}
.rule-dialog .btn-close{
	position: absolute;
    top: 16px;
    right: 20px;
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../images/icon-close.png) no-repeat;
	background-size:100% auto;
	z-index: 9999;
}
.rule-dialog .rule-con{
	padding:0 8% 8%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;
	font-size:12px ;
	color: #fff;
	text-align: left;
}
.dialog-copyright {
    position: absolute;
    bottom: 30px;
    left: 5px;
    right: 5px;
    font-size: 10px;
    text-align: center;
    color: #fff;
    height: 60px;
    background: url(../images/dialog-copyright.png) no-repeat center;
    background-size: 80%;
}

.modal .guide-dialog {
	width: 80%;
	height: 70%;
	top:15%;
	left: 10%;
    background: url(../images/guide-dialog.png) no-repeat 0 0;
    background-size: 100% 100%;
}
.guide-dialog div {
  height: 69px;
  color: #de8200;
  text-align: center;
  font-size: 17px;
}
.guide-dialog .guide-content {
  color: #fff;
  text-align: left;
  font-size: 14px;
}
.guide-dialog img {
  display: block;
  width: 60%;
   margin: 5% auto 0;
}
.guide-dialog div h1 {
    font-size: 21px;
}

.guide-dialog p {
  border-bottom: 1px solid #fff2b5;
  height: 33px;
  line-height: 20px;
  margin: 10px 20px;
  font-size: 14px;
}
.guide-dialog label {
	
    margin-right: 5px;
}
.guide-dialog .btn {
  display: block;
  margin: 9px auto 0;
  width: 50%;
  height: 70px;
  line-height: 70px;
  font-size: 15px;
  background: url(../images/btn.png) no-repeat;
  background-size: 100% auto;
}


/*加载按钮 -s*/
.loader{
    margin: 0 auto;
    width: 72px;
}
.loader span{
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    background: #F26C0D;
    border-radius: 50px;
    margin: 0 2px;
    -webkit-animation: loader 1s infinite alternate;
    -moz-animation: loader 1s infinite alternate;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
}
.loader span:nth-of-type(4) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
.loader span:nth-of-type(5) {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
}
@-webkit-keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}
@-moz-keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}
.none{
	display: none;
}
.hidden{
	visibility: hidden;
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	 .modal .guide-dialog {
	    background: url(../images/guide-dialog.png) no-repeat 0 0;
	    background-size: 100% 100%;
	 }
	 .goods h1 {
	    font-size: 14px;
	    height: 36px;
	    line-height: 18px;
	 }
	 .goods .gift {
	    padding: 0% 10%;
	}
	.gift-text h2 {
	  font-size: 13px;
	  height: 20px;
	  line-height: 20px;
	}
	input.textphone{
	  height: 34px;
	  line-height: 34px;
	}
	p.textphone {
		height: 30px;
	    line-height: 30px;
	}
	 .guide-dialog img {
	    display: block;
	    width: 50%;
	    margin: 2% auto 0;
	}
	.guide-dialog p {
	    height: 33px;
	    line-height: 20px;
	    margin: 4px 20px;
	}
	.not-lott .gift-text img{
		width: 90%;
	}
	.goods .btn-a {
	  height: 36px;
	}
	.gift-text {
	  padding: 0% 10% 0;
	}
	.all-goods {
	  padding-top: 5%;
	}
	.all-goods .gift {
	  width: 64%;
	  margin: 0 auto;
	}
	.all-goods .tip {
	  font-size: 15px;
	  margin-bottom: 3px;
	}
	.all-goods .gift-text input {
	  height: 28px;
	  line-height: 26px;
	  margin: 2px auto;
	}
	.all-goods .gift-text .good-btn {
	  display: block;
	  width: 52%;
	  margin: 3px auto 0;
	}
}
/*iphone5*/
@media screen
and (min-device-width : 320px)
and (min-device-height : 500px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.goods .btn-a {
	  height: 50px;
	}
	p.textphone{
		height: 20px;
		line-height: 20px;
	}
	.gift-text {
	   padding: 0% 10% 0;

	}
}
/*dai*/
@media screen and (min-device-width:1000px) and (min-device-height:1000px) {
	.gift-text {
	   padding: 0% 10% 0;

	}
	.goods .btn-a {
	  	height: 50px;
	}
	.goods #yaoBtnBoxb {
	  background-size: 80% auto;
	}
	p.textphone{
		height: 20px;
		line-height: 20px;
	}
	.not-lott .gift-text{
		padding: 0 14%;
	}
	.not-lott .back-index{
		width: 50%;
	}
	.not-lott .ui-audio{
		right:20%;
	}
}

@media screen and (min-device-width:320px) and (min-device-height:860px) {
	.not-lott .gift-text{
		padding: 0 12%;
		height: 70%;
	}
	
	.not-lott .ui-audio{
		right:18%;
	}
	.not-lott .back-index{
		width: 50%;
	}
}










