.modal:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 100;
}
.dialog {
    position: absolute;
    color: #fdc728;
    border-radius: 6px;
    z-index: 1000;
    background: #FFFFEF;
    overflow: hidden;
}
.modal-guide {
	height: auto !important;
}
.modal .btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../images/icon-close.png) no-repeat;
    background-size:28px;
    z-index: 9999999999;
}

.rule-dialog {
    color: #333333;
    height: 90%;
    background: url(../images/rule-bg.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}
.rule-dialog h2 {
    height: 32px;
    text-align: center;
    color: #ff5e1d;
    font-size: 19px;
}
.rule-dialog .content {
    overflow-y: scroll;
    margin: 29% 7% 0;
    height: 68%;
    color: #fff;
}
.rule-dialog .rule {
    padding: 6% 0;
	
    font-size: 14px;
    line-height: 24px;
    max-height: 100%;
	min-height: 100%;
    overflow-y: auto;
}
.rule-dialog p {
	
}
.rule-dialog h3 {
    margin-top: 22px;

    font-size: 16px;
}
.rule-dialog .btn-back{
    background: url(../images/rule-back.png) 0 0 no-repeat;
    background-size: 100%;
    display: block;
    width: 45%;
    height: 40px;
    margin: 0 auto;
}



.lottery-dialog{
    background: none;
}
.lottery-dialog .btn-close{
    background: url(../images/lottery-close.png) no-repeat;
    background-size: 28px;
}
.lottery-dialog .lot-top{
    background: url(../images/lottery-top.png) 0 0 no-repeat;
    background-size: 100%;
    height: 40%;
}
.lottery-dialog .lot-top img{
    display: block;
    margin: 0% auto 0;
    width: 45%;
    padding-top: 10%;
}
.lottery-dialog .lot-top p{
    color: #fff;
    text-align: center;
    display: block;
    margin-top: 3%;
    height: 25%;
    border-bottom: 1px solid #992526;
}
.lottery-dialog .lot-bot{
    background: url(../images/lottery-bot.png) 0 0 no-repeat;
    background-size: 100% 100%;
    height: 75%;
    margin-top: -10%;
}
.lottery-dialog .lot-bot img{
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-top: 5%;
}
.lottery-dialog .lot-bot .code{
    color: #fff;
    text-align: center;
    display: block;
    margin: 2% auto;
}
.lottery-dialog .lot-bot .btn-sure{
    background: url(../images/lottery-sure.png) 0 0 no-repeat;
    background-size: 100%;
    display: block;
    width: 45%;
    height: 40px;
    margin: 2% auto 0;
}
.lottery-dialog .lot-bot .bot-p{
    text-align: center;
    display: block;
    position: absolute;
    bottom: 5px;
    width: 100%;
    color: #ead0d0;
    font-size: 13px;
}
.lottery-dialog .lot-top-thanks {
    background: url(../images/lottery-top.png) 0 0 no-repeat;
    background-size: 100%;
    height: 35%;
}
.lottery-dialog .lot-top-thanks img{
    display: block;
    margin: 0% auto 0;
    width: 45%;
    padding-top: 10%;
}
.lottery-dialog .lot-top-thanks p{
    color: #fff;
    text-align: center;
    display: block;
    margin-top: 1%;
    height: 25%;
    border-bottom: 1px solid #992526;
}
.lottery-dialog .lot-top-thanks .thanks-tt {
    display: block;
    margin: 0% auto 0;
    width: 70%;
    padding-top: 10%;
}
.lottery-dialog .lot-bot .qrcode {
    display: block;
    width: 76%;
    margin: 0 auto;
    padding-top: 5%;
}
.lottery-dialog .lot-bot .thanks-p {
    text-align: center;
    display: block;
    margin-top: 3%;
    width: 100%;
    color: #ead0d0;
    font-size: 13px;
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .rule-dialog .content {
        overflow-y: scroll;
        margin: 29% 7% 0;
        height: 60%;
        color: #fff;
    }

    .lottery-dialog .lot-top img{
        width: 40%;
        padding-top: 5%;
    }

    .lottery-dialog .lot-bot img{
        display: block;
        width: 70%;
        margin: 0 auto;
        padding-top: 2%;
    }
    .lottery-dialog .lot-bot .code{
        margin: 1% auto;
    }
    .lottery-dialog .lot-bot .qrcode {
        display: block;
        width: 66%;
        margin: 0 auto;
        padding-top: 5%;
    }
}
@media screen
and (min-device-width:1000px)
and (min-device-height:1000px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:3) {
    .rule-dialog .content {
        overflow-y: scroll;
        margin: 29% 7% 0;
        height: 60%;
        color: #fff;
    }

    .lottery-dialog .lot-bot .qrcode {
        display: block;
        width: 73%;
        margin: 0 auto;
        padding-top: 5%;
    }

}
/* iPhone5 */
@media screen
and (min-device-width : 320px)
and (min-device-height : 500px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
}
/*加载按钮 -s*/
.loader{
    margin: 0 auto;
    width: 72px;
}
.loader span{
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    background: #F26C0D;
    border-radius: 50px;
    margin: 0 2px;
    -webkit-animation: loader 1s infinite alternate;
    -moz-animation: loader 1s infinite alternate;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
}
.loader span:nth-of-type(4) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
.loader span:nth-of-type(5) {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
}
@-webkit-keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}
@-moz-keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

/*加载按钮 -e*/