
body {
  background: url(../images/bg.jpg) no-repeat fixed;
  background-size: cover;
}
.main {
	margin: 0 auto;
	overflow-x: hidden;
	font-size: 15px;
	padding-bottom: 30px;
}
.gift-timeline {
    position: relative;
	
    padding-left: 28px;
}
.gift-timeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 5px;
	background: #0597eb;
}
.gift-timeline li {
    padding-left: 27px;
	
    margin-top: 17px;
    position: relative;
}
.gift-timeline li:last-child:before {
	content: '';
	display: block;
	width: 5px;
	height: 100%;
	background: #0597eb;
	position: absolute;
	left: 0;
	top: 0;
}
.gift-time {
    color: #fff;
    padding-top: 5px;
}
.gift-icon {
    width: 26px;
	
    height: 26px;
    border: 2px solid #0597eb;
    border-radius: 50%;
    position: absolute;
    left: -12px;
    background: #fff;
}
.gift-icon:before {
	content: '';
	
	background: url(../images/gift-icon.png) no-repeat;
	background-size: 13px auto;
	width: 13px;
	height: 16px;
	display: block;
	margin-left: 5px;
	margin-top: 6px;
}
.gift-content {
    background: #fff;
	
    border-radius: 8px 0 0 8px;
    padding: 10px 14px;
    margin-top: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.gift-content h2 {
    color: #000;
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 6px;
    margin-bottom: 6px;
}
.gift-content p {
    color: #d10b1a;
	
    line-height: 24px;
}
p.gift-name{
	line-height: 30px;
	color: #d10b1a;
	border-bottom: 1px solid #dadada;
	margin-bottom: 10px;
}
.btn-loadmore{
    background: #D2CCC7;
}
.no-record{
	line-height: 200px;
	text-align: center;
	font-size: 18px;
	color: #fff;
}
.btn-back{
	width: 50%;
	background:transparent url(../images/back-btn.png) no-repeat center;
	background-size: 100% ;
	text-indent: -99999em;
	border-radius: 0;
}
.btn-back:hover,.btn-back:visited{
	background: transparent;
}
.spinner{
	position: static;
}
.empty{
	color: #fff;
	height: 200px;
	line-height: 200px;
	text-align: center;
}
