.modal:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 100;
}
.modal .btn-close {
    position: absolute;
    background: url(../images/icon-close.png) no-repeat 3px 3px;
    background-size: 22px auto;
    display: block;
    width: 30px;
    height: 30px;
    z-index: 10000;
}
.dialog {
    position: absolute;
    color: #fdc728;
    border-radius: 6px;
    z-index: 1000;
    /*background: #FEFFEF;*/
    overflow: hidden;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#7cfff7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#7cfff7 100%); /* Chrome10+,Safari5.1+ */
}
.dialog-inner {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    padding-bottom: 70%;
}
.modal-guide {
    height: auto !important;
}

.dialog-copyright {
    position: absolute;

    bottom: 13px;
    left: -5px;
    right: -5px;
    font-size: 12px;
    transform: scale(0.7);
    text-align: center;
    color: #fff;
}

.guide-dialog {
    width: 240px;

    height: 300px;
    left: 50%;
    right: auto;
    margin-left: -120px;
    top: 50%;
    bottom: auto;
    margin-top: -150px;
    background: #F6F6DE;
}
.guide-dialog h2 {
    background: url(../images/fu-tlt.png) no-repeat 0 0;
    margin-bottom: 15px;
    background-size: cover;
    height: 60px;
    border-radius: 5px 5px 0 0;
}
.guide-dialog p {
    color: #333;
    height: 52px;
    line-height: 50px;
    margin: 0 25px;
    font-size: 12px;
    border-bottom: 1px solid #C9CAC7;
    font-style: italic;
}
.guide-dialog p.fina{
    border-bottom: none;
}
.guide-dialog .fina:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 13px;
    width: 2px;
    background: transparent;
    z-index: -1;
}
.guide-dialog label:before{
    content: '';
    width: 30px;
    height: 27px;
    border-radius: 5px;
    -webkit-border-radius: 15px;
    text-align: center;
    padding-top: 4px;
    font-size:12px;
}
.guide-dialog .fir:before{
    content: url(../images/1.png);
}
.guide-dialog .sec:before{
    content: url(../images/2.png);
}
.guide-dialog .thir:before{
    content: url(../images/3.png);
}
.guide-dialog label {
    color: #fff;
    font-size: 16px;
    margin-right: 5px;
}
.guide-dialog .btn {
    display: block;
    width: 65%;
    height: 45px;
    line-height: 44px;
}
.my-zhidao{
    width: 80%;
}

.rule-dialog {

    padding-top: 4%;
    color: #000000;
    height: 90%;
}
.rule-dialog h2 {
  height: 36px;
  line-height: 22px;
  font-size: 18px;
  text-align: left;
  padding-left: 6%;
  border-bottom: 2px solid #818181;
}
.rule-dialog .content {
    margin: 2% 6%;
    height: 74%;
    overflow-y: auto;
}
.rule-dialog .rule {
    padding: 6% 0;

    font-size: 14px;
    line-height: 24px;
    max-height: 100%;  overflow-y: auto;
}
.rule-con{
    font-size: 14px;
}
.rule-con p {
    margin: 10px 0;
}
.rule-dialog h3 {
    margin-top: 22px;

    font-size: 16px;
}
.modal-rul{
    position: absolute;
    top: 0;
}
.rule-dialog .dialog-knowit {
  display: block;
  width: 36%;
  height: 42px;
  color: #FFF;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bolder;
  line-height: 42px;
  margin: 6% auto 0;
  text-align: center;
  border-bottom: 3px solid #e5801b;
  position: static;
  background: #f68b1f;
}

/* iPhone5 */
@media screen
and (min-device-width : 320px)
and (min-device-height : 570px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
.rule-dialog .content {
    height: 68%;
}
}

/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  .rule-dialog .content {
    height: 68%;
  }
}