.main {
}
.home-top{
	margin: 20px 20px 5px;
}
.home-top img{
	width: 30px;
}
.rule{
	text-decoration: underline;
	color: #00BAFF;
	font-size: 12px;
	text-align: center;
	display: block;
    margin: 15px 0 0;
}
.logo{
	width: 290px;
	margin: 0 auto 10px;
	display: block;
}
.zhufu{
	border:1px solid #fff;
	color: #ffffff;
	background: transparent;
	margin: 0px auto;
}
.card{
	display: block;
	background: url(../images/card.png) no-repeat;
	background-size:88px auto;
	height: 69px;
	width: 88px;
	margin:0 auto;
	font-size: 12px;
	color:#fff;
}
.my-card{
	text-align: center;
	padding-top: 2px;
}
.card p{
	margin: 20px 0 0 38px;
	text-align: center;
	width: 15px;
}
.not-started{
	color:#FAE005;
	font-size:14px;
	text-align: center;
	margin: 10px 0;
}
.not-started h1{
	width: 100px;
	margin: 0 auto;
}
.not-started p{
	width: 135px;
	margin: 5px auto 0;
}
.not-started label{
	display: inline-block;
}
.not-started label.dian{
	width: 13px;
	height: 32px;
	line-height: 32px;
	text-align: left;
}
.juli{
	font-size: 12px;
	color: #fff;
	margin-bottom: 10px;
	text-align: center;
}
.canyu{
	margin: 10px auto;
	text-align: center;
}

.wait-lot{
	display:block;
	font-size:21px!important;
}
.wait-marg{
	margin: 50px auto!important;
}

.from-logo{
	width: 245px;
	margin: 10px auto 0;
	display: block;
}
.from ul{
	font-size: 12px;
	color: #fff;
	width: 80%;
	display: block;
	margin: 40px auto 0;
}
.from ul li{
	border-bottom: 1px solid rgba(255,255,255,0.4);
	line-height: 20px;
	padding-left: 10px;
}
.from ul li:last-child{
	border-bottom:none;
}
.from ul li:before{
	content: '';
	display: inline-block;
	width: 10%;
	position: relative;
	top:2px;
}
.from ul li:first-child:before{
	background: url("../images/1.png") no-repeat;
	background-size: 10px;
	height: 12px;
}
.from ul li:nth-child(2):before{
	background: url("../images/2.png") no-repeat;
	background-size: 15px;
	height: 14px;
}
.from ul li:nth-child(3):before{
	background: url("../images/3.png") no-repeat;
	background-size:15px;
	height: 13px;
}
.from ul li:nth-child(4):before{
	background: url("../images/4.png") no-repeat;
	background-size: 15px;
	height: 12px;
	top: 2px;
}
.from ul li i{
	display: inline-block;
	margin: 10px auto;
	width: 90%;
}
.from a{
	margin: 10px auto;
}
.from.rotate{
	-webkit-animation-name: rota;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes rota {
	from{
		-webkit-transform: rotateZ(0deg) scale(1,1);
		transform: rotateZ(0deg) scale(1,1);
	}
	to{
		-webkit-transform: rotateZ(360deg) scale(0.5,0.5);
		transform: rotateZ(360deg) scale(0.5,0.5);
		opacity: 0;
	}
}
a.my-zhidao{
	color: #fff;
	font-size: 18px;
}
.online{
	font-size: 15px;
	color: #fff;
	text-align: center;
	margin: 0 auto 5px;
}
.main .btn-begin {
	border: 6px solid #fff;
	width: 90px;
	height: 90px;
	background: url(http://yao.holdfun.cn/portal/resources/news/images/blank.gif) no-repeat 0 0;
	background-size: 90px auto;
	background-color: #FAA105;
	-webkit-border-radius: 100%;
	padding: 22px 0 0;
	font-size: 26px;
	text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);
	text-align: center;
    margin-top: 12%;
	-webkit-animation-name: breathe;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 2700ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}
.main .btn-begined{
	background: #000;
}
@-webkit-keyframes breathe {
	0% {opacity: 0.8; box-shadow: 0px 0px 60px 8px rgba(255, 255, 255, 0.3);}
	100% {opacity: 1; box-shadow: 0px 0px 60px 15px rgba(255, 255, 255, 1);}
}

footer {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	text-align: center;
	z-index: 999999999;
}

footer #div_subscribe_area {
	width: 100%;
	opacity: 1!important;
}
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.logo{
		width: 190px!important;
	}
	.home-top {
		margin: 5px 20px 0!important;
	}
	.btn {
		width: 82%!important;
		height: 35px!important;
		line-height: 34px!important;
	}
	.main .btn-begin {
		width: 90px!important;
		height: 90px!important;
		font-size: 26px!important;
		padding: 12% 0 0!important;
	}
	.dialog-copyright {
		bottom: 0px!important;
		-webkit-transform: scale(0.9) !important;
	}
	.dialog-copyright .my-zhidao{
		margin-bottom: 20px;
	}
}

@media screen
and (min-device-width : 320px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.logo{
		width: 255px;
	}
	.home-top {
		margin: 10px 20px 5px;
	}
	.lottery-dialog .dialog-copyright {
		bottom: 10px;
	}
}

@media screen
and (min-device-width : 360px)
and (min-device-height : 1100px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.main .btn-begin {
		width: 120px;
		height: 120px;
		font-size: 32px;
		padding: 32px 0 0;
        margin-top: 12%;
	}
}
@media screen
and (min-device-width : 360px)
and (min-device-height : 1200px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.main .btn-begin {
		width: 138px;
		height: 138px;
		font-size: 38px;
		padding: 38px 0 0;
        margin-top: 12%;
	}
}
/* iPhone6 */
@media screen
and (min-device-width : 320px)
and (max-device-width : 667px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
	.main .logo {
		margin-top: -10px;
	}
	.main .btn-begin {
		width: 120px;
		height: 120px;
		font-size: 32px;
		padding: 32px 0 0;
        margin-top: 12%;
	}
}
@media screen and (min-device-width:1000px) and (min-device-height:1000px) {
	.home-top {
		margin: 5px 20px 1px;
	}
}