* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.modal {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999999999;
    color: #FFF;
    text-align: center;
    overflow: hidden;
    background: rgba(0, 0, 0, .6);
}

.modal .dialog {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 6px;
    z-index: 101;
}

#rule-dialog .btn-close,
#Redlottery-dialog .btn-close {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 30px;
    width: 52px;
    background: url(../images/icon-close.png) no-repeat top center;
    background-size: 100% 100%;
}

.modal .rule-dialog {
    color: #fff;
    width: 100%;
    height: 100%;
    background: url(../images/lottery-bg.png) no-repeat top center;
    background-size: 100% 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.modal .duobao-dialog {
    color: #fff;
    width: 100%;
    height: 100%;
    background: url(../images/duobao-bg.png) no-repeat top center;
    background-size: 100% 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#duobao-dialog .duobao-close {
    position: absolute;
    right: 1px;
    top: -24px;
    height: 34px;
    width: 43px;
    background: url(../images/duobao-close.png) no-repeat top center;
    background-size: 100% 100%;
    margin-top: 40%;
}

#duobao-dialog .content {
    text-align: center;
}

#duobao-dialog .duobao-btn-sure {
    display: block;
    background: #ffe051;
    width: 38%;
    margin: 76% auto 0px;
    margin-right: 22%;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    color: #ff134b;
    text-align: center;
}

.rule-dialog h2 {
    color: #FFF;
    height: 32px;
    line-height: 38px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

.rule-dialog .content {
    position: static;
    margin: 0 auto;
    padding: 10% 0 20%;
    width: 88%;
    height: 100%;
    word-break: break-all;
}

.rule-dialog .rule {
    font-size: 14px;
    line-height: 24px;
    max-height: 100%;
    overflow-y: auto;
    color: #FFF;
    margin-top: 0;
    height: 90%;
    padding-bottom: 6%;
}

.rule-dialog p {
    line-height: 22px;
}

.rule-dialog h3 {
    margin-top: 22px;
    font-size: 16px;
}

.rule-dialog .content .congrate {
    color: #fffc00;
    text-align: center;
    margin-top: 50px;
    font-size: 23px;
}

.rule-dialog .content .redpack {
    color: #fffc00;
    text-align: center;
    margin-top: 20px;
    font-size: 23px;
}

#lottery-dialog {
    overflow-y: scroll;
    z-index: 101;
}

.lottery-dialog {
    width: 100%;
    height: 100%;
    background: #fcfcfc;
    background-image: none;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
}

p.bussiness-phone {
    font-size: 16px;
    color: #c39346;
    text-align: center;
}

p.bussiness-infor {
    font-size: 13px;
    color: #c39346;
    text-align: center;
}

.lottery-dialog .btn-close,
.redlottery-dialog .btn-close,
.thanks-dialog .btn-close,
.tellottery-dialog .btn-close {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 32px;
    width: 50px;
    background: url(../images/icon-close.png) no-repeat top center;
    background-size: 100% 100%;
    z-index: 10;
}

.thanks-dialog {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.lottery-dialog .lottery-btn {
    display: block;
    width: 50%;
    bottom: 18px;
    left: 25%;
    position: absolute;
    background: #e3514e;
    height: 44px;
    line-height: 44px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border-radius: 44px;
}

.prizesList-dialog .lottery-btn {
    display: block;
    width: 100%;
    top: 0px;
    border-radius: 2px;
    position: absolute;
    background: url("../images/getluck-bg.jpg") top center no-repeat;
    height: 50px;
    background-size: 100% 100%;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-size: 22px;
}

.prizesList-dialog .list-context {
    overflow: auto;
    padding: 20px 10px;
    position: relative;
    margin-top: 50px;
    max-height: calc(100% - 70px);
    max-height: -webkit-calc(100% - 70px);
}

.list-context li {
    position: relative;
    text-align: center;
    padding: -1px 10px;
    margin: 5px;
    overflow: hidden;
}

.list-context img {
    position: relative;
    display: inline-block;
}

#Entlottery-dialog .lottery-dialog .lott-box {
    position: relative;
    width: 80%;
    color: #333;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.lottery-dialog .lott-box {
    width: 80%;
    height: 70%;
    margin: 30px auto;
    color: #333;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.lottery-dialog .lott-box .award-img {
    width: 85%;
    margin: 4% auto;
}

.lottery-dialog .lott-box .award-luck {
    color: #ffca2f;
    font-size: 17px;
    font-weight: bold;
}

.lottery-dialog .lott-box .award-luckEt {
    color: #fff;
    font-size: 15px;
}

.lottery-dialog #not-lott .ltp {
    font-size: 15px;
    color: #FFF;
}

.lottery-dialog .duijiangma {
    font-size: 16px;
    color: #fff;
}

.lottery-dialog .lott-box .inp .ple {
    color: #fff;
    display: block;
    width: 90%;
    text-align: left;
    margin: 2% auto;
    font-size: 13px;
}

.lottery-dialog .lott-box .inp {
    bottom: 0px;
    position: absolute;
    color: #fff;
    text-align: left;
    width: 100%;
}

.lottery-dialog .lott-box .inp p {
    display: block;
    margin: 3% auto;
    text-align: center;
}

.lottery-dialog .lott-box .inp p input {
    width: 90%;
    height: 32px;
    border-radius: 5px;
    border-style: none;
}

.lottery-dialog .lott-box .code .ple {
    color: #fff;
    font-size: 12px;
}

.lottery-dialog .lott-box .code .cd {
    color: #c5092b;
    display: block;
    margin: 3% auto;
    background: #fff;
    height: 28px;
    line-height: 28px;
    width: 90%;
    border-radius: 5px;
}

.lottery-dialog .lott-box .result .ple {
    color: #fff;
    font-size: 13px;
}

.lottery-dialog .lott-box .result .cd {
    color: #fff;
    display: block;
    margin: 3% auto;
    height: 22px;
    line-height: 22px;
    width: 90%;
    text-align: left;
    padding-left: 10%;
}

.lottery-dialog .lott-box .code .prize-desc {
    background: none;
    color: #B6B4B4;
    font-size: 12px;
    line-height: 15px;
    height: auto;
}

.redlottery-dialog,
.prizesList-dialog,
.tellottery-dialog {
    width: 100%;
    height: 100%;
    background: #fff;
    background-image: none;
    /*background: url(../images/lottery-bg.jpg) no-repeat;*/
    background-size: 100% 100%;
    text-align: center;
    border-radius: 2px;
}

.redlottery-dialog .award-lpt {
    color: #d32430;
    display: block;
    margin-top: 3%;
    text-align: center;
}

.tellottery-dialog .award-lpt {
    color: #d32430;
    display: block;
    margin-top: 3%;
    text-align: center;
}

.redlottery-dialog .bussiness-infor-img {
    max-width: 90%;
}

.redlottery-dialog .award-logo {
    display: block;
}

.tellottery-dialog .award-logo {
    display: block;
    width: 60%;
    margin: 8% auto 0;
}

.tellottery-dialog .phone {
    width: 100%;
    height: 38px;
    border-radius: 8px;
}

.tellottery-dialog .message {
    padding: 10px 20px;
    text-align: left;
}

.tellottery-dialog .message p {
    font-size: 14px;
    margin-bottom: 15px;
}
.dialog .top-bar {
    line-height: 35px;
    position: relative;
    height: 35px;
    padding: 10px 0px;
    background-image: -webkit-linear-gradient(top, #cf4444 0%, #eb5653 40%, #eb5653 60%, #cf4444 100%);
}

.redlottery-dialog .lott-box {
    width: 80%;
    height: 70%;
    margin: 30px auto;
    color: #333;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.tellottery-dialog .award-img {
    display: block;
    width: 65%;
    margin: 5% auto;
}

.redlottery-dialog .lottery-btn {
    display: block;
    width: 50%;
    bottom: 18px;
    left: 25%;
    position: absolute;
    background: #e3514e;
    height: 44px;
    line-height: 44px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border-radius: 44px;
}

.tellottery-dialog .lottery-btn {
    display: block;
    width: 50%;
    bottom: 18px;
    left: 25%;
    position: absolute;
    background: #e3514e;
    height: 44px;
    line-height: 44px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border-radius: 44px;
}

.redlottery-dialog .award-ly {
    display: block;
    margin-top: 5%;
    color: #fff;
    font-size: 12px;
    padding: 0px 10px;
}

.thanks-dialog img {
    width: 100%;
    position: absolute;
    z-index: 0;
    display: block;
}

#Entlottery-dialog {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

#Entlottery-dialog #ent-result .lottery-btn {
    display: inline-block;
    width: 140px;
    margin: 5% 5px;
}


/* iPhone4 */

@media screen and (min-device-width: 320px) and (max-device-height: 500px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .tellottery-dialog .message {
        overflow: auto;
        max-height: 100px;
    }
    .lottery-dialog .lott-box .inp p input {
        height: 28px;
    }
    .lottery-dialog .lott-box .inp .ple {
        margin: -1% auto 2%;
    }
    .lottery-dialog .lott-box {
        margin: 8% auto 0;
    }
    .lottery-dialog .lott-box .award-img {
        margin: 1% auto;
    }
    .lottery-dialog .lott-box .code .cd {
        margin: 1% auto;
    }
    .lottery-dialog .lott-box .result .cd {
        margin: 1% auto;
    }
    .redlottery-dialog .award-img {
        width: 60%;
        margin: 5% auto 0;
    }
    .redlottery-dialog .award-ly {
        margin-top: 5%;
    }
    #duobao-dialog .duobao-btn-sure {
        margin: 60% auto 0px;
        margin-right: 22%;
    }
    #duobao-dialog .duobao-close {
        margin-top: 36%;
    }
    .lottery-dialog .lottery-btn {
        bottom: 8px;
        height: 40px;
        line-height: 40px;
    }
    .redlottery-dialog .lottery-btn {
        bottom: 8px;
        height: 40px;
        line-height: 40px;
    }
}

@media screen and (min-device-width: 320px) and (min-device-height: 500px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .lottery-dialog .lottery-btn {
        bottom: 8px;
        height: 40px;
        line-height: 40px;
    }
    .redlottery-dialog .lottery-btn {
        bottom: 8px;
        height: 40px;
        line-height: 40px;
    }
}


/* luo */

@media screen and (min-device-width: 1000px) and (min-device-height: 1000px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {

}
