.coffee-flow {
	width: 50px;
	padding-top: 29px;
	height: 60px;
	margin-right: 10px;
}

.coffee-flow strong,.coffee-flow .audio-icon {
	display: block;
	height: 44px;
	line-height: 44px;
	vertical-align: middle;
}

.coffee-flow strong {
	font-size: 20px;
	color: #fff;
	opacity: 1;
	position: absolute;
	right: 8px;
	top: 70px;
	text-align: right;
}

.coffee-flow .audio-icon {
	width: 44px;
	height: 44px;
	background: url(../images/icon-audio.png) no-repeat 0px 0;
	background-size: 44px;
	position: absolute;
}
.coffee-flow .audio-icon.animated {
	-webkit-animation: reverseRotataZ 1.2s linear infinite;
}

@-webkit-keyframes reverseRotataZ { 
	0%{
		-webkit-transform: rotateZ(0deg);
	}
	100%{
		-webkit-transform :rotateZ(-360deg);
	}
}

.coffee-flow strong.hide {
	opacity: 0;
}

.coffee-flow strong.animated {
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.coffee-steam-box {
	left: 4px !important;
	top: -95px !important;
}

.coffee-steam img {
	width: 22px !important;
}