.copyright {
	position: absolute;
	bottom: 0px;
	z-index: 0;
	color: #000;
	z-index: 100;
}

.page {
	width: 100%;
	height: 100%;
}

.page:first-child {
	background: url(../images/bg.jpg) no-repeat center center;
	background-size: cover;
}
.ui-arrows {
    position: absolute;
	
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 85%;
}
.ui-arrows:before, .ui-arrows:after {
	content: '';
	display: block;
	width: 15px;
	height: 25px;
	background: url(../images/icon-arrows.png) no-repeat 0 0;
	background-size: 32px auto;
	position: absolute;
	left: 16px;
	top: 50%;
	opacity: 1;      
	-webkit-animation-name: harrow-left;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
}

.ui-arrows:after {
	left: auto;
	right: 17px;
	background-position: -17px;
	-webkit-animation-name: harrow-right;
}
.ui-arrows.left:after {
	display: none;
}

.ui-share {
    position: absolute;
	
    right: 10px;
    top: 10px;
    color: #fff;
	text-align: right;
}
.xs-wrapper {
    height: 48%;
    overflow: hidden;
    text-align: center;
	
    position: absolute;
    left: 0;
    right: 0;
    bottom: 28%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	background:#FFE9D7;
	margin: 0 auto;
	width:65%;
}
.xs-bot{
	font-size:15px;
	padding: 0 8px;
	height: 20%;
	line-height: 42px;
}
.xs-bot span{
	float: left;
}
.xs-bot label{
	float: right;
}
.xs-bot label:before{
	content: '';
	display: inline-block;
	background: url(../images/red-heart.png) no-repeat;
	background-size: 20px;
	width: 20px;
	height:18px;

}
.xs-wrapper img {
    max-width: 100%;
	padding: 8px;
    max-height: 80%;
    vertical-align: top;
}

.ctrl-wrapper {
    height: 32%;  
    z-index: 1000;  
    position: absolute;
	
    left: 0;
    right: 0;
    bottom: 0;
}

.cw-vote {
    padding-top: 0%;
	
}
.cw-vote .cw-btns {
    text-align: center;
	
    padding-top: 6%;
}
.cw-vote .cw-btns a {
    background: #FFAE00;
    width: 170px;
    height: 37px;
	line-height: 36px;
	-webkit-border-radius: 20px;
    display: -webkit-box;
    vertical-align: middle;
	margin: 0 auto 15px;
	font-size: 18px;
	color: #fff;
}
.cw-vote .cw-btns .btn-daiding {
    margin: 0 28px;
	
    background-position: -74px 0px;
}
.cw-vote .cw-btns .btn-jinji {
    position: relative;
	
}
.cw-vote .cw-btns .btn-jinji span {
	display: block;
	line-height: 17px;
    color: #fff;
    font-size: 18px;
}

.cw-vote .cw-btns .btn-jinji span:last-child{
	margin: 4px 0 0;
}
.cw-vote .cw-btns .btn-jinji.animated i {
	position: absolute;
    left: 24px;
    top: 14px;
    display: block;
    background: url(../images/red.png) no-repeat 0 0;
    background-size: 31px auto;
    width: 31px;
    height: 38px;
	-webkit-animation-name: shake;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	-webkit-animation-fill-mode: both;
}

.cw-vote .cw-btns .btn-jinji strong {
    font-weight: normal;
	
}
.cw-vote .cw-btns .btn-taotai {
    background-position: -148px 0;
	
}
.cw-vote .cw-ctrl {
    text-align: center;
	
    margin-top: 30px;
}
.tips a {
    color: #FCAE05;
	
    text-decoration: underline;
    font-size: 12px;
}


.cw-result {
    padding: 0 18px;
	
}

.cwr-ctrl {
    text-align: center;
	
    padding-bottom: 3%;
    padding-top: 0%;
}
.cwr-ctrl .tips {
    margin-top: 6%;
	
}

.arrow-box {
	position: relative;
	background: transparent;
	padding: 0 5px;
	border-radius: 8px;
	color: #fff;
	height: 30px;
	line-height: 40px;
	font-size: 12px;
	z-index: 100;
}

.logo{
	background: url(../images/logo-index.png) no-repeat;
	background-size: 300px;
	width: 300px;
	height: 320px;
	display: block;
	margin: 53px auto 15px;
}

.fir-con{
	position: fixed;
	bottom:50px;
	left: 0;
	right:0;
}

.page:first-child p{
	font-size: 14px;
	color:#FCAE05;
	text-align: center;
}

.page:first-child p:nth-child(2){
	margin-top: 15px;
}

.page:first-child p a{
	text-decoration: underline;
	font-size: 12px;
}

.cw-vote .cw-btns a:first-child:before{
	display: block;
	content: '';
	background:url(../images/wh-heart.png) no-repeat;
	background-size: 20px;
	width:20px;
	height:28px;
	margin: 10px 20px 0px 30px;
}

.cw-vote .cw-btns a:last-child{
	display: block;
}

.masking-box{
	position: fixed;
	width: 100%;
	height:100%;
	background: rgba(0,0,0,0.4);
	z-index: 88;
	top: 0;
	left: 0;
}

.cw-vote .cw-btns a.btn-disabled{
	background: #DDD8CC;
}
@-webkit-keyframes harrow-left {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -50%, 0);
		transform: translate3d(0, -50%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(-10px, -50%, 0);
		transform: translate3d(-10px, -50%, 0);
	}
}
@-webkit-keyframes harrow-right {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -50%, 0);
		transform: translate3d(0, -50%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(10px, -50%, 0);
		transform: translate3d(10px, -50%, 0);
	}
}

@-webkit-keyframes shake {
	0%, 30% {
		-webkit-transform: translate3d(0, 0, 0);
	            transform: translate3d(0, 0, 0);
	}

  	10%{
	    -webkit-transform: translate3d(-5px, 0, 0);
	            transform: translate3d(-5px, 0, 0);
  	}

  	20% {
	    -webkit-transform: translate3d(5px, 0, 0);
	            transform: translate3d(5px, 0, 0);
  	}
  	50% {
		opacity: 1;
		-webkit-transform: scale3d(3, 3, 3);
  	}
  	100% {
		opacity: 0;
		-webkit-transform: scale3d(3, 3, 3);
    	-webkit-transform: translate3d(0, -500%, 0);
            	transform: translate3d(0, -500%, 0);
  	}
}


@media screen
and (min-device-width : 700px)
and (max-device-height : 1280px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.xs-wrapper{
		height: 55% !important;
		bottom: 30% !important;
	}
}
@media screen
and (min-device-width : 320px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.xs-wrapper{
		height: 54%!important;
		bottom: 30%!important;
	}
	.btn-share {
		margin: 10px auto 10px!important;
	}
	.lott h2 {
		margin: 0 auto!important;
	}
	.giftbox {
		bottom: 75px!important;
	}
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.logo{
		margin: 10px auto 15px;
	}
	.fir-con {
		position: fixed;
		bottom: 20px;
	}
	.xs-wrapper{
		height: 72% !important;
		bottom: 19% !important;
	}
	.btn-share {
		width: 190px;
		height: 30px;
		line-height: 29px;
		margin: 1px auto!important;
	}
	.main:before {
		content: '';
		background: url(../images/logo.png) no-repeat 0 0!important;
		background-size: 50px auto!important;
		width: 50px!important;
		height: 27px!important;
	}
	.arrow-box{
		line-height: 10px!important;
	}
	.ctrl-wrapper{
		height: 20% !important;
	}
	.cw-vote .cw-btns a {
		height: 32px!important;
		line-height: 31px!important;
		margin: 1px auto 0!important;
	}
	.cw-vote .cw-btns {
		padding-top: 3%;
	}
	.cwr-ctrl .tips {
		margin-top: 5px;
	}
	.giftbox {
		bottom: 0px!important;
	}
}
@media screen
and (min-device-width : 360px)
and (max-device-width : 680px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
	.xs-wrapper{
		height: 54%!important;
		bottom: 30%!important;
	}
	.btn-share {
		margin: 40px auto 40px!important;
	}
	.xs-bot {
		line-height: 48px!important;
	}
	.giftbox {
		bottom: 250px!important;
	}
}

@media screen and (min-device-width:1000px) and (min-device-height:1000px) {
	.lott h2 {
		margin: 0 auto!important;
	}
}
.giftbox {
    width: 150px;
    height: 120px;
    position: absolute;
    bottom: 150px;
    left: 45%;
    margin-left: -50px;
    z-index: 10;
    cursor: pointer;
}

.giftbox::after {
    position: absolute;
    color: #fff;
    font-family: 'Peralta', serif;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
    z-index: 1000;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.giftbox > div {
    background: #D60225;
    position: absolute;
}

.giftbox .cover {
    top: -78px;
    left: 0;
    height: 25%;
    width: 100%;
    z-index: 2;
}

.giftbox .box {
    bottom: 60%;
    height: 80%;
    left: 5%;
    right: 5%;
    z-index: 10;
}

.giftbox > div::after,
.giftbox > div::before {
    content: '';
    position: absolute;
    top: 0;
}

/* ribbon */
.giftbox > div::before {
    background: #fdc56d;
    width: 20px;
    left: 50%;
    height: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* shadow */
.giftbox .box::after {
    background: rgba(0,0,0,0.1);
    left: 0;
    height: 10px;
    width: 100%;
}

.giftbox .cover div {
    position: absolute;
    height: 30px;
    width: 30px;
    bottom: 100%;
    left: 50%;
    margin-left: -15px;
}

.giftbox .cover div::before,
.giftbox .cover div::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: transparent;
    border-radius: 30px;
    box-shadow: inset 0 0 0 5px #fdc56d;
}

.giftbox .cover div::before {
    -webkit-transform: translateX(-45%) skewY(40deg);
    transform: translateX(-45%) skewY(40deg);
}

.giftbox .cover div::after {
    -webkit-transform: translateX(45%) skewY(-40deg);
    transform: translateX(45%) skewY(-40deg);
}


.step-1 .giftbox {
    -webkit-animation: wobble 0.5s linear infinite forwards;
    animation: wobble 0.5s linear infinite forwards;
}
.step-1 .giftbox .cover,
.step-1 .giftbox .cover div {
    -webkit-animation: wobble 0.5s 0.1s linear infinite forwards;
    animation: wobble 0.5s 0.1s linear infinite forwards;
}

.step-2 .giftbox .cover {
    transform-origin: 100% 100%;
    -webkit-animation: flyUp 1.3s ease-out forwards;
    animation: flyUp 1.3s ease-out forwards;
}

@-webkit-keyframes wobble {
    25% { -webkit-transform: rotate(10deg); }
    75% { -webkit-transform: rotate(-10deg);}
}

@-webkit-keyframes flyUp {
    75% { opacity: 1;}
    100% {
        -webkit-transform: translateY(-2000%) rotate(145deg);}
}
.page-a span{
    display: block;
    position: absolute;
    color: #000;
}
.page-a span:first-child{
    -webkit-transform: translate(150px,250px);
    -webkit-animation-name:f1;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-fill-mode:forwards;
    border-right: 3px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 13px solid #FFF9B1;
    width: 13px;
}

.page-a span:nth-child(2){
    -webkit-transform: translate(170px,250px);
    -webkit-animation-name:f2;
    -webkit-animation-duration: 1.1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-fill-mode:forwards;
    border-left: 5px solid transparent;
    border-right: 12px solid #6DC6B5;
    border-bottom: 2px solid transparent;
    border-top: 6px solid transparent;
    width: 2px;
    height: 11px;
}

.page-a span:nth-child(3){
    -webkit-transform: translate(200px,250px);
    -webkit-animation-name:f3;
    -webkit-animation-duration: 1.4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-fill-mode:forwards;
    border-left: 3px solid transparent;
    border-right: 2px solid #FF6633;
    border-bottom: 12px solid #FF6633;
    border-top: 0px solid transparent;
    width: 9px;
}
.page-a span:nth-child(4){
    -webkit-transform: translate(150px,250px);
    -webkit-animation-name:f4;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-fill-mode:forwards;
    border-right: 6px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 12px solid #FFF;
    width: 8px;
}
.page-a span:nth-child(5){
    -webkit-transform: translate(170px,250px);
    -webkit-animation-name:f5;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-fill-mode:forwards;
    border-left: 2px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 13px solid #FF85AE;
    border-top: 0px solid transparent;
    width: 8px;
}
.page-a span:nth-child(6){
    -webkit-transform: translate(220px,250px);
    -webkit-animation-name:f6;
    -webkit-animation-duration: 0.9s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-fill-mode:forwards;
    border-left: 2px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 13px solid #B3C14B;
    width: 8px;
    height: 3px;
}
@-webkit-keyframes f1 {
    0%{
        -webkit-transform: translate(150px,250px) rotateY(20deg) rotateZ(20deg);
    }
    25%{
        -webkit-transform: translate(50px,100px) rotateY(80deg) rotateZ(80deg);
    }
    50%{
        -webkit-transform: translate(0px,10px) rotateY(120deg) rotateZ(120deg);
    }
    75%{
        -webkit-transform: translate(-150px,-100px) rotateY(220deg) rotateZ(220deg);
    }
    100% {
        -webkit-transform: translate(-200px,-220px) rotateY(360deg) rotateZ(360deg);
    }
}
@-webkit-keyframes f2 {
    0%{
        -webkit-transform: translate(170px,250px) rotateX(20deg) rotateZ(-80deg);
    }
    50%{
        -webkit-transform: translate(70px,10px) rotateX(80deg) rotateZ(-180deg);
    }
    100% {
        -webkit-transform: translate(-100px,-250px)  rotateX(-120deg) rotateZ(-120deg);
    }
}
@-webkit-keyframes f3 {
    0%{
        -webkit-transform: translate(200px,250px) rotateY(20deg) rotateZ(-180deg);
    }
    75%{
        -webkit-transform: translate(130px,10px) rotateY(120deg) rotateZ(80deg);
    }
    100% {
        -webkit-transform: translate(100px,-250px) rotateY(320deg) rotateZ(380deg);
    }
}
@-webkit-keyframes f4 {
    0%{
        -webkit-transform: translate(150px,250px) rotateY(20deg) rotateZ(20deg);
    }
    25%{
        -webkit-transform: translate(200px,100px) rotateY(80deg) rotateZ(80deg);
    }
    50%{
        -webkit-transform: translate(230px,10px) rotateY(120deg) rotateZ(120deg);
    }
    75%{
        -webkit-transform: translate(250px,-100px) rotateY(220deg) rotateZ(220deg);
    }
    100% {
        -webkit-transform: translate(280px,-220px) rotateY(360deg) rotateZ(360deg);
    }
}
@-webkit-keyframes f5 {
    0%{
        -webkit-transform: translate(170px,250px) rotateX(20deg) rotateZ(-80deg);
    }
    50%{
        -webkit-transform: translate(330px,10px) rotateX(80deg) rotateZ(-180deg);
    }
    100% {
        -webkit-transform: translate(400px,-250px) rotateX(-120deg) rotateZ(-120deg);
    }
}
@-webkit-keyframes f6 {
    0%{
        -webkit-transform: translate(200px,250px) rotateY(20deg) rotateZ(-180deg);
    }
    75%{
        -webkit-transform: translate(270px,10px) rotateY(120deg) rotateZ(80deg);
    }
    100% {
        -webkit-transform: translate(350px,-250px) rotateY(320deg) rotateZ(380deg);
    }
}