body {
	width: 100%;
	overflow: hidden;
	background: #D7301E;
	height: 100%;
}
.header{
	background: url(../images/success-header.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 150px;
}
.header p{
	text-align: center;
	width: 100%;
	height: 100px;
	line-height: 100px;
	font-size: 40px;
	color: #fff;
}
.warpper{
	background: #AB2617;
	border-radius: 5px;
	width: 80%;
	margin: 5% auto 0px;
	height: 65%;
}
.warpper .red-box{
	background: url(../images/success-score.png) no-repeat;
	background-size: contain;
	background-position: center;
	width: 50%;
	margin-left: 25%;
	height: 230px;
}
.warpper .red-box span{
	color: #B72327;
	font-size: 40px;
	text-align: center;
	display: inline-block;
	width: 100%;
	line-height: 200px;
}
.warpper .red-phone{
	text-align: center;
	width: 100%;
	font-size: 14px;
	color: #fff;
	
}
.warpper .red-phone span{
	color: #FFFC00;
}
.warpper .btn-submit{
	background: #FFFC00;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #C05D11;
	width: 76%;
	margin-left: 12%;
	display: inline-block;
	border-radius: 8px;
	font-size: 13px;
	margin-top: 8%;
}

/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.header{
		height: 120px;
	}
	.header p{
		line-height: 80px;
	}
	.warpper{
		height: 65%;
	}
	.warpper .red-box{
		height: 170px;
	}
	.warpper .red-box span{
		line-height: 140px;
	}
}
/* iPhone6p */
@media screen
and (min-width : 400px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
}