body, html
{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: white;
}
.none
{
    display: none;
}
*
{
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    outline: 0 none;
}
.contain
{
 height:70%;    
}
.item_point
{
    position:absolute;
    width: 100%;
    height: 8px;
    text-align: center;
    bottom: -10px;
    z-index:9999;
}
.bottom_show
{
  height: 90px;
  color: White;
  text-align: center;
  width: 100%; 
  margin-top:10px;
  position:relative; 
  z-index:999;   
}
.b_swiper_bg
{
    position: relative;
    padding: 15px 15px;
    width: 90%;

}
@media  (max-height:480px)
{
    .b_swiper_bg
    {
      top:0px;
    }
  .contain
  {
     height:75%;    
   }
 
}

@media  (min-height:481px) and (max-height:568px)
{
    .b_swiper_bg
    {
      top:0px;
    }
    footer
   {
     opacity:0.5;
   }
   .contain
   {
    height:74%;    
   }
   .b_swiper_bg
   {
      width: 88%;  
   }

  
}

@media  (min-height:569px) and (max-height:667px)
{
    .b_swiper_bg
    {
      top:0px;
      
    }
   footer
   {
     opacity:0.5;
   }

   
}

@media (min-height:668px)  and (max-height:736px)
{
    .b_swiper_bg
    {
      top:0px;
     
    }
   footer
   {
     opacity:0.5;
   }
 
    
}

@media  (min-height:736px)
{
    .b_swiper_bg
    {
      top:0px;
     
    }
   footer
   {
     opacity:0.5;
   }
 
    
}




.swiper-container
{
    height: 100%;
    width: 100%;
    zoom: 1;
}
.swiper-slide
{
    height: 100%;
    opacity: 0.4;
    -webkit-transition: 300ms;
    transition: 300ms;
    -webkit-transform: scale(0);
    transform: scale(0); /* width: 80%; */
}
.swiper-slide-visible
{
    opacity: 0.5;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
.swiper-slide-visible .ui-order-item:before
{
    content: '';
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    border-radius: 5px;
}
.swiper-slide-active .ui-order-item:before
{
    display: none;
}
.swiper-slide-active
{
    top: 0;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}



.swiper_img
{
   border-radius:5px;  
}

.item_point_sub
{
    height: 8px;
    line-height: 8px;
    text-align: center;
}
.bottomDiv
{
    position: absolute;
    bottom: 0px;
    height: 120px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.swiper-pagination-bullet
{
    background-color: White !important;
    margin-left: 5px !important;
}
.swiper-pagination-bullet-active
{
    background-color: #22C064 !important;
}
.title
{
    color: White;
    text-align: left;
    margin-top: 5px;
    font-size: 14px;
}
.playtime
{
    color: White;
    text-align: left;
    text-indent: 5px;
    font-size: 14px;
}

.pre_btn,.bottom_btn
{
    position: absolute;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: Black;
    background-color: #22C064;
    left: 50%;
    margin-left: -50px;
    top: 55px;
    border-radius: 5px;
}
.bottom_btn
{
    height: 35px;
    line-height: 35px;
    opacity:1;
    top:45px;
}


.s_bg
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}


.jumpa
{
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
.f_img
{
 width:100%;
 height:100%;    
 position:absolute;
 top:0px;
 left:0px;
    
}
.fadein 
{
-webkit-animation-name: fadeout_a;
-webkit-animation-duration: 0.8s;
-webkit-animation-timing-function: ease;
-webkit-animation-iteration-count: 1;

 opacity:0.2;
}
@-webkit-keyframes fadeout_a {
 0% {
 opacity:0;
}
100% {
 opacity:0.2;
}
}
.gay
{
 background-color:Gray;    
}

.center_title
{
 text-align:center;
 font-size:16px;

}
.center_playtime
{
   text-align:center;
   font-size:14px;
}
footer
{
 position:fixed;
 bottom:0px;    
 width:100%;
 font-size:12px;
 color:White;
 text-align:center;
 opacity:0.1;
}