/*********************** »¶Ó­Ò³ ****************************/
#page-2 {
	background: url(http://cdn.holdfun.cn/ahtv/images/bg.jpg) no-repeat bottom  center;
	background-size: 100% 100%;
}
.actperon{
	background-color:rgba(0,0,0,0.7);
	position:absolute;
	border-radius:20px;
	top:2px;
	left:10px;
	height:24px;
	margin-top:10px;
	color: rgba(195,167,116,1);
	font-size:14px;

}
.packageimg{
	background:url(../images/ah_package.png) no-repeat center 0;
	background-size:cover;
	width:45px;
	height:60px;
	margin-top:-17px;
	float:left;
	margin-left:4px;
}
.package-word{
	height:20px;
	line-height:24px;
	text-align:center;
	margin:0px 8px;
}
.package-word span{
color:red;
}

.shadow{ 

	border-radius:20000px;
	background:rgba(153,153,153,0) center;
	-moz-box-shadow:0 4px 4px rgba(0, 0, 0, 0.4); 
	-webkit-box-shadow:0 4px 4px rgba(0, 0, 0, 0.4); 
	box-shadow:0 0 1000px 1000px rgba(0,0,0,0.6);
	position:absolute;
	bottom:22%;
	z-index:10;
} 


.main .tips {
    font-size: 16px;
    font-weight: bold;
	color:rgba(195,167,116,1);
    text-shadow: 1px 3px 1px rgba(0,0,0,0.8);
    text-align: left;
    line-height: 24px;
	position:absolute;
	left:20px;
	top:55px;
	
}
.main .botline{
	border-bottom:solid 1px rgba(195,167,116,1);
	margin-top:108px;
	margin-left:12px;
	margin-right:20px;
}
.star-list{
	text-align:center;
	margin-top:15px;
	margin-left: auto;
	margin-right: auto;
	width:90%;
	
}
.star-tr{
	width:100%;
	margin-left: auto;
	margin-right: auto;
	clear:both;
}
.star-td{
	margin-top:10px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width:25%;
	float:left;
}
.star-heard{
	margin-left: auto;
	margin-right: auto;
	border:solid 2px rgba(195,167,116,1);
	background: url(../images/star/90/%E9%99%88%E8%B5%AB.png) no-repeat center 0;
	background-size:contain;
	border-radius:200px;
	width:50px;
	height:50px;

}

.copyright
{
position:absolute;
margin:0 auto;
bottom:0%;
color:#e0140b;
z-index:900;
line-height:20px;
text-align:center;
font-size:11px;
width:100%;
}

.star-heard-audio{
	margin-left: auto;
	margin-right: auto;
	border:solid 2px rgba(195,167,116,1);
	background-color:rgba(149,88,43,1);
	border-radius:200px;
	width:50px;
	height:50px;

}

.star-name{
	margin-top:2px;
	color:red;
	font-size:12px;
}

.star-turn{
	margin-top:100px;
	background:url(../images/up_page.png)no-repeat center 0;
	background-size:contain;
	margin-left: auto;
	margin-right: auto;
	clear:both;
	width:30px;
	height:30px;
}
.btn-pack{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width:140px;
	background-color:rgba(195,167,116,1);
	color:white;
	font-size:18px;
	line-height:34px;
	border-radius:20px;
	border:solid 1px rgba(195,167,116,1);
	margin-top:20px;
}


.pack-gift-btn .btn
{
color:white;
}
.pack-gift-btn
{
	position:relative;
	text-align:center;
	width:130px;
	height:30px;
	border-radius:50px;
	background-color:#C3AF79;
	line-height:30px;
	color:white;
	font-size:15px;
	margin:0 auto;
	bottom:-80%;
	z-index:6;	
}
.pack-gift-word
{
	position:relative;
	text-align:center;
	margin:0 auto;
	bottom:-80%;	
	z-index:6;
}
.pack-gift-word span
{
line-height:16px;
width:175px;
font-size:11px;
color:red;
}


.ellipsis {
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
}


.modal .btn {
	color:white;
    display: block;
    margin: -7px auto ;
	text-align:center;
    width: 60%;
    height: 35px;
    line-height: 35px;
	background-color:red;
	border-radius: 15px;
}


.guide-top
{
background-color:#FF0000;
text-align:center;
border-radius: 10px 10px 0 0;
height:20%;

}

.guide-top p{
	color: white;
    font-style: italic;
	/*border-radius: 5px 5px 0 0;*/
    height: 20px;
    line-height: 22px;
	padding-top:5px;
    font-size: 18px;
	
}
 .guide-middle
{
top:10px;
height:50%;
background-color:#FFf6B4;
border-radius:  0 0 10px 10px ;
margin-top:5%;

}

.guide-middle label {
   	color: red;
    font-style: italic;
    font-size: 15px;
}


.guide-middle p
{
color: black;
padding-left:15px;
height:5px;
font-size: 13px;
line-height:5px;
text-align:justify;
}
 .guide-middle hr
{
width:90%;
margin-left:15px;
height:1px;
}

.lottery-confirm{
	
	background-color:red;
	margin:0 auto;
	width:130px;
	border-radius:20px;
	font-size:14px;
	color:white;
	line-height:34px;
	
}

.congratulations-word-image
{
	width:153.9px;
	height:162px;
}



.iphone-image
{
width:134px;
height:170px;
}

.word{
text-align:center;
position:relative ;
padding-top:45%;
font-family: 'Microsoft YaHei','ËÎÌå',Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
color:#FFf6B4;
font-size:17px;
z-index:5;
}

.to-draw 
{
position:absolute;
margin:0 auto;
bottom:10%;
width:100%;
color:#e0140b;
z-index:900;
line-height:20px;
text-align:right;
padding-right:15%;
font-size:14px;
margin-bottom:25px;
}


.draw-line img
{
	z-index: 999;
	width:17px;;
	height:100%;
	position: absolute;
	bottom:15%;
	right:12px;
}
.sz-click{
    width: 20px;
    height: 30px;
    z-index: 1000;
	width: 17px;  
    height: 10%;
	position: absolute;
	bottom: 15%;
	right: 12px;

}

.to-draw-light img
{
	z-index: 999;
	width:17px;;
	height:250px;
	position: absolute;
	bottom:25%;
	right:12px;
}


.congratulations-word-false
{
	z-index: 6;
	position: absolute;
	bottom:80%;
	text-align:center;
	font-size:18px;
	color:#FFf6B4;
	width:100%;
}

.vartual-prize-img
{
	z-index: 6;
	position: absolute;
	bottom:26%;
	text-align:center;
	width:100%;
}

.shadow-img
{
text-align:center;
position: absolute;
bottom:26%;
width:100%;
z-index:6;
}

.congratulations-word
{
	
	text-align:center;
	font-size:16px;
	color:#FFf6B4;
	line-height:19px;
	position: absolute;
	bottom:78%;
	text-align:center;
	width:100%;
	z-index:3;
}
.modal {
	z-index: 122;
	position:relative;
	margin:0 auto;
	bottom:0%;
}



.leftcurtain{
			width: 50%;
			height: 100%;
			top: 0px;
			left: 0px;
			position: absolute;
			z-index: 0;
		}
.rightcurtain{
			width: 51%;
			height: 100%;
			right: 0px;
			top: 0px;
			position: absolute;
			z-index: 0;
		}
		
.rightcurtain img{
			width: 100%;
			height: 100%;
			float:right;
}
.leftcurtain img{
			width: 100%;
			height: 100%;
			float:left;
			
}
.l-r-screen
{
	position: absolute;
	text-align:center;
	width:100%;
	height:100%;
	z-index:7;
	bottom:0px;
}

.logo {
	background: url(../images/logo.png) no-repeat 0 0;
	background-size: 85px auto;
	z-index: 20;
	width: 90px;
	height: 65px;
	position: absolute;
	right: 0px;
	top: 10px;
	display: inline-block;
	vertical-align: middle;
}


.person-join-count
{
	position: absolute;
	text-align:center;
	left:20px;
	background-color:#000000;
	height:25px;
	line-height:25px;
	padding:0 15px;
	z-index:19;
	top:25px;
	color:#FFFF99;
	font-size:1spx;
	border-radius:15px;
}

.person-join-count strong
{
color:#FF0000;
}
.modal{
	height:360px;
	width:200px;
}


.lottery-message{		
	border-radius:10px;
	margin:auto auto;
	background-color:#FFf6B4;
	z-index:900;
	text-align:center;
	position:absolute;
	
}

.lottery-prompt{
	clear:both;			
	font-size:12px;
	width:70%;
	text-align:left;
	margin:0 auto;
	color:#FFF;
	padding-top:30px;
}
.lottery-personinfo{
	line-height:36px;
	
}
.lottery-personinfo input{
	width:70%;
	height:28px;
	padding-left:5px;
	border-radius:6px;
	font-size:14px;
	border:0px;
}
