/*
 *	红包
 */
.hongbao{
	height: 100%;
	position: relative;
}

.hongbao-bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.hongbao-title{
	position: relative;
	z-index: 1;
	text-align: center;
}

.hongbao-click{
	display: block;
	position: absolute;
	text-align: center;
	font-size: 18px;
	color: white;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 1;
}

.hongbao-close{
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 48px;
	height: 48px;
	background: none;
	z-index: 1
}

/*
 *	END OF红包
 */
 
.hongbao-detail{
	overflow: hidden;
	position: relative;
}
.hongbao-title{
	color: white;
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.hongbao-shiwu{
	position: relative;
	z-index: 1;
	width: 80%;
	margin:0 auto;
	overflow: hidden;
	text-align: center;
}

.hongbao-shiwu img{
	
	max-height: 100%;
	max-width: 100%;
}
.hongbao-input{
	position: relative;
	z-index: 1;
	width: 80%;
	margin: 0 auto;
	padding-top: 10px;
}
.hongbao-input-wrapper{
	overflow: hidden;
	margin-bottom: 10px;
	background: #e6bab4;
}
.hongbao-input-wrapper label{
	display: block;
	float: left;
	width: 56px;
	line-height: 34px;
	height: 34px;
	text-align: center;
	color: #be4d3d;
	font-size: 14px;
}
.hongbao-input-wrapper .hongbao-input-inner-wrapper{
	margin-left: 56px;
	line-height: 0px;
}
.hongbao-input-wrapper .hongbao-input-inner-wrapper input{
	line-height: 34px;
	height: 34px;
	width: 100%;
	background: none;
	border: none;
	color: #be4d3d;
	font-size: 14px;
}

 /*
 *	实物奖品1
 */
 .shiwu-1-wrapper .hongbao-title img{
 	width: 100%;
 	height: 100%;
 }
 .shiwu-1-wrapper .hongbao-click-wrapper{
 	position: absolute;
 	bottom: 13%;
 	text-align: center;
 	width: 100%;
 }
 .shiwu-1-wrapper .hongbao-click{
 	display: block;
 	width: 52%;
 	line-height: 40px;
 	color: white;
 	font-size: 14px;
 	text-align: center;
 	margin:  0 auto;
 	background: #ff9313;
 }
 .shiwu-1-wrapper .hongbao-input-wrapper{
 	background: #f87d82;
 	color: white;
 	border-radius: 5px;
 }
 .shiwu-1-wrapper .hongbao-input-wrapper label,
 .shiwu-1-wrapper .hongbao-input-wrapper .hongbao-input-inner-wrapper input{
 	color: white;
 }
/*
 *	END OF 实物奖品1
 */