body{
	background-color: #000;
	background-image: url(../images/yao-center.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center center;
	min-height: 100vh;
	width: 100vmin;
	position: relative;
}
.yao-tlt{
	margin: 10px 20px 0;
	width: 28%;
	display: block;
	position: relative;
}
.zx-tt{
	position: absolute;
	top: 15%;
	left: 10%;
	color: #e8d5c3;
	font-size: 16px;
	text-shadow: 1px 1px 1px rgba(0,0,0,1);
}
.count{
	/*color: #FFE700;
	font-size: 12px;*/
}
.ad{
	width: 63%;
	margin: 12px auto 0;
	display: block;
}
.gototc{
	width: 40%;
	margin: 40% auto 0;
	display: block;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.out{
	color: #fff;
	/*font-size: 12px;*/
	text-decoration:  underline;
	position: absolute;
	top: 40%;
	height: 40px;
	width: 100%;
}
.out img{
	position: absolute;
	width: 8%;
	left: 30%;
	height: auto;
}
.out a{
	position: absolute;
	width: 62%;
	right: 0;
	height: 40px;
	line-height: 40px;
	text-align: left ;
	color: #f5f5f5;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.marquee {
	color: #fff;
	font-size: 13px;
	background: #5d5c5f;
	height: 20px;
	/*height: 20px;*/
	line-height: 20px;
	text-align: center;
	overflow: hidden;
	top: 0;
}
.countdown{
	position: absolute;
	top: 25%;
	width: 100%;
	height: 30px;
	line-height: 30px;
	/*margin: 20% 50% 2%;*/
	/*border-radius: 3px;*/
	text-align: center;
	font-size: 15px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	z-index: 2;
}
.countdown-tip{
	z-index: 2;
}
.countdown .detail-countdown{
	/*background: url(../images/biao.png) no-repeat;*/
	background-size: 30px auto;
	display: inline-block;
	padding-left: 2%;
	/*padding-top: 6%;*/
	margin-left: 2px;
	color: #fec836;
	z-index: 2;
}
.countdown .detail-countdown label {
	/*color: #fec836;*/
	font-weight: bolder;
	/*margin: 0 1px;*/
	/*padding: 2px 3px;*/
	/*border: 1px solid #000;*/
	/*border-top: 1px solid #706e6f;*/
	/*border-left: 1px solid #675151;*/
	border-radius: 2px;
	/*box-shadow: 2px 2px 1px rgba(0,0,0,.3);*/
	/*background-image: -webkit-linear-gradient(-90deg, #353334, #290b0b);*/
	background-color: #201e1e;
	color: #fec836;
}
.bak{
	position: absolute;
	top: 0;
	left: 15%;
	width: 70%;
	height: 30px;
	border-radius: 15px;
	background-color: #000000;
	opacity: 0.6;
	z-index: -1;
}
.copyright {
	position: relative;
	color: #fff;
	line-height: 13px;
	margin-top: 3px;
}
.footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
header {
	writing-mode: lr-tb;
	writing-mode: tb-rl;
	width: 20px;
	letter-spacing: 1em;
	display: inline-block;
	word-break: break-all;
	font-size: 12px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	float: right;
}
/*header div.ctrls a {*/
	/*display: block;*/
	/*border: 1px solid #fff;*/
	/*padding: 5px 3px;*/
	/*background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #0d3d9b), color-stop(100%, #1581f9));*/
	 /*Chrome,Safari4+*/
	/*background: -webkit-linear-gradient(45deg, #0d3d9b 0%, #1581f9 100%);*/
	 /*Chrome10+,Safari5.1+*/
	/*background: linear-gradient(45deg, #0d3d9b 0%, #1581f9 100%);*/
	 /*W3C*/
	/*color: #fff;*/
/*}*/
.ctrls a{
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 26%;
	background: url(../images/integral-btn.png) no-repeat;
	background-size: 100% 100%;
	height: 27px;
}
header div.ctrls a#btn-reserve {
	border-top: none;
	display: block;
}

/*yao-s*/
.home-box {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.main-top {
	position: absolute;
	top: 1px;
	width: 100%;
	height: 50%;
	background-image: url('../images/home_logo_a.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	box-sizing: border-box;
	-webkit-transition: -webkit-transform .2s ease;
}
/*.yao .m-t-b {
	animation-name: mtop;
	-webkit-animation-name: mtop;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
}
@-webkit-keyframes mtop {
	0%, 90% {
		-webkit-transform: translateY(0px);
	}
	50%, 30% {
		-webkit-transform: translateY(-100px);
	}
}*/
.main-foot {
	position: absolute;
	bottom: 2px;
	width: 100%;
	height: 50%;
	background-image: url('../images/home_logo_b.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	box-sizing: border-box;
	-webkit-transition: -webkit-transform .2s ease;
}
/*.yao .m-f-b {
	animation-name: mfoot;
	-webkit-animation-name: mfoot;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
}
@-webkit-keyframes mfoot {
	0%, 90% {
		-webkit-transform: translateY(0px);
	}
	30%, 50% {
		-webkit-transform: translateY(100px);
	}
}*/
.yao-text{
	position: absolute;
	bottom: 18%;
	width: 100%;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	/*margin: 22vh auto 0;*/
}
.yao-text p{
	position:relative;
	min-height: 30px;
	color: #FEE567;
}
.yao-text p.texta span{
	color: #DA2323;
	font-weight: bold;
	font-size: 17px;
}
.yao-text p:last-child span{
	position:relative;
	width:100%;
}
.yaonone-text{
	animation-name:nonetext;
	-webkit-animation-name:nonetext;
	animation-iteration-count:1;
	-webkit-animation-iteration-count:1;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s;
	animation-delay:0.1s;
	-webkit-animation-delay:0.1s;
	animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	display: block;
}
#test{
	/*visibility: hidden;*/
}
@keyframes nonetext{
	0%{
		top:-300px;
		opacity:0;
	}
	100%{
		top:0;
		opacity:1.0;
	}
}
@-webkit-keyframes nonetext{
	0%{
		top:-300px;
		opacity:0;
	}
	100%{
		top:0;
		opacity:1.0;
	}
}
/*yao-e*/

/*活动规则-s*/
.rule-section{
	position: fixed;
	z-index: 6666;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	padding: 30% 15%;
	color: #fff;
}
.rule-section div:first-child{
	height: 100%;
	border-radius: 5px;
	background: #fff;
	padding:7% 6% 0;
	position: relative;
}
.rule-section div.con h2{
	font-size: 18px;
	margin: 3% auto 2%;
	text-align: center;
	height: 7%;
	color: #fff;
}
.rule-section div a.close{
	display: inline-block;
	background: url(../images/index-rule-close.png) no-repeat;
	background-size: 32px auto;
	width: 32px;
	height: 32px;
	position: absolute;
	right: -10px;
	top: -10px;
}
.rule-section div div.con{
	height: 95%;
	overflow: hidden;
}
.rule-section div div.con img{
	height: 100%;
	margin: 0 auto;
	display: block;
}

.rule-section div div.con div.con-htm{
	height: 78%;
	margin-top: 6%;
	margin-bottom: 5%;
	overflow: auto;
}
.rule-section div:first-child a:last-child{
	margin: 0 auto;
	display: block;
	color: #3A66B6;
	background: #D7D7D7;
}
/*活动规则-e*/

/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.yao-text {
		margin: 26vh auto 0;
		font-size: 14px;
		line-height: 23px;
	}
	/*.countdown{*/
		/*-webkit-transform: scale(.8);*/
		/*margin: 0 18% 0;*/
	/*}*/
	.yao-text p {
		position: relative;
		min-height: inherit;
	}
	.copyright {
		line-height: 10px;
		-webkit-transform: scale(.9);
	}
	.ad{
		margin: 0 auto;
		width: 50%;
	}
	.gototc{
		margin: 30% auto;
	}
	.yao-tlt {
		width: 28%;
	}
	.rule-section {
		padding: 30% 21%;
	}
	.rule-section div div.con {
		padding-top: 0;
	}
}
/* iPhone5 */
@media screen
and (min-device-height : 500px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
	.yao-text {
		 margin: 25vh auto 0;
	}
}

@media screen
and (min-device-width:1000px)
and (min-device-height:1000px)
and (orientation : portrait){
	.yao-text {
		margin: 28vh auto 0;
	}
	.ad {
		margin: 8px auto 0;
	}
	.gototc{
		margin: 40% auto 0;
	}
	.zx-tt{
		top: 18%;
	}
}
/* iPhone6 */
@media screen
and (min-device-width : 400px)
and (max-device-width : 740px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
	.yao-text {
		margin: 25vh auto 0;
	}
}