.wrapper {
	
}
.form-item .upload-box {
	
    /* height: 52px; */
    margin-top: 8px;
    margin-bottom: 16px;
}

.upload-box form {
	height: 0;
	opacity: 0;
	position: absolute;
	top: -100px;
}
.upload-box form input {
    opacity: 0;
}
.upload-box .icon {
	display: inline-block;
vertical-align: top;
width: 52px;
height: 52px;
line-height: 52px;
border-radius: 10px;
text-align: center;

	background: url(../images/uploadbtn.png) center center no-repeat;
	background-size: 100% 100%;

}
.upload-box .icon:before {
	content: '';
	display: inline-block;
	vertical-align: -2px;

}

.upload-box .img-preview {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #2D89E2;
	border-radius: 10px;
	text-align: center;
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
	text-decoration:none;
}
.upload-box .img-preview .close {
	content: '';
	display: block;
	background: url(http://yao.holdfun.cn/portal/resources/news/images/close.png) no-repeat 0 0;
	background-size: 18px auto;
	width: 18px;
	height: 18px;
	position: absolute;
	right: -6px;
	top: -8px;
	cursor: pointer;
}
.upload-box .img-preview .uploading {
	display: none;
}
.upload-box .img-preview.loading .uploading {
	height: 40px;
	width: 40px;
	margin: 0px auto;
	position: relative;
	-webkit-animation: loading-rotation .6s infinite linear;
	animation: loading-rotation .6s infinite linear;
	border-left: 3px solid rgba(255, 153, 163, 0.55);
	border-right: 3px solid rgba(255, 153, 163, 0.55);
	border-bottom: 3px solid rgba(255, 153, 163, 0.55);
	border-top: 3px solid rgba(238,26,46,.85);
	border-radius: 100%;
	display: block;      
	line-height: 0;
	font-size: 0;
}
.upload-box .img-preview .lc {
	position: absolute;
	left: 4px;
	top: 4px;
}
.upload-box .img-preview .ic {
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 10px;
}
.upload-box .img-preview img {
	vertical-align: -11px;
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
}
.upload-box .btn-upload {
   
    margin-bottom: 10px;
}
.upload-box .btn-upload:before {
    width: 28px;
	
    height: 28px;
    background-position: -79px 0px;
    vertical-align: -7px;
}

.preview-box {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.8);
	z-index: 9999999;
	background-size: 320px auto;
	top: 0;
	left: 0;
}
@-webkit-keyframes loading-rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@keyframes loading-rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}
.previewVedio
{
 display:block;
 width:100%;
 height:100%;    
}
.progress-No
{
 margin: 0 auto; 
 width: 30px;
 height: 50px;
 line-height:50px;
 font-size:12px;
 text-decoration:none;
 color:#2D89E2;
}
