html, body {
	background: url(../images/index-bg.jpg) no-repeat top center;
	background-size: cover;
	overflow: hidden;
}
body {
	width: 100%;
	margin:0 auto;
	overflow:hidden;
}
header {
	position:absolute;
	top:0px;
	left:0;
	width:100%;
	z-index: 1;
}
header .ctrls {
	position:absolute;
	text-align:center;
	-webkit-animation-delay:2s;
	max-width:190px;
	right:10px;
	top:5px;
	padding:2px 5px 5px;
	background:#0b90db;
	border-radius:3px;
}
header .ctrls:after {
	content:'';
	bottom:100%;
	left:55%;
	border:solid transparent;
	height:0;
	width:0;
	position:absolute;
	pointer-events:none;
	border-color:transparent;
	border-bottom-color:#0b90db;
	border-width:5px;
	margin-left:10px;
}
header .ctrls a {
	color:#fff;
	display:block;
	border:1px solid #fff;
	font-size:12px;
	text-align:center;
	width:64px;
	height:22px;
	line-height:20px;
	border-radius:20px;
	margin:3px auto 0;
}
header .tvlogo {
	display:block;
	position:absolute;
	top:10px;
	left:10px;
	width:28%;
	height:50px;
	z-index:99;
	background:url(../images/tvlogo.png) no-repeat;
	background-size:100% auto;
}
section.main {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 0;
}
section.main .tv-tip {
	position: absolute;
	top: 10%;
	left: 21%;
	width: 58%;
}
section.main .build {
	position:absolute;
	top:10%;
	left:3%;
	width:94%;
	-webkit-transform-origin:bottom center;
	transform-origin:bottom center;
	-webkit-animation-name:zoom-in;
	animation-name:zoom-in;
}
section.main .logo {
	position:absolute;
	top: 22%;
	left: 12%;
	width: 76%;
	-webkit-animation-name:zoom-in;
	animation-name:zoom-in;
}
section.main .airplane {
	position:absolute;
	top: 10%;
	left: 11%;
	width: 100%;
	overflow: hidden;
	-webkit-animation-duration:2s;
	animation-duration:2s;
	-webkit-transform-origin:center center;
	transform-origin:center center;
	-webkit-animation-name:fly-in;
	animation-name:fly-in;
	-webkit-animation-delay:2s;
	animation-delay:2s;
}
footer {
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 0px;
    left: 0;
    overflow: hidden;
    background: url(../images/cloud.png) 0 0 no-repeat;
    background-size: 100% 100%;
    height: 43%;
}
footer article {
	color:#d8d8d8;
	text-align:center;
	font-size:16px;
	line-height:16px;
}
footer .join-box {
    position: relative;
    width: 100%;
    margin: 27% auto 0%;
    text-align: center;
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
    -webkit-animation-delay: 3.2s;
    animation-delay: 3.2s;
}
footer .join-box a {
	display: inline-block;
	width: 46%;
}
footer .btn-box {
	width:34%;
	margin:2% auto 0;
}
footer .join-box .countdown{
    color: #006c9e;
}
footer .btn-box a {
	display:inline-block;
}
footer .copyright {
	font-size: 12px;
	height: 28px;
	line-height: 13px;
	color: #75C3FA;
	opacity: 1;
	margin: 0 auto 3px;
}
footer #div_subscribe_area {
	height:50px;
	overflow:hidden;
}
.ani {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-animation-duration:1.2s;
	-webkit-animation-delay:0.5s;
	-webkit-animation-timing-function:ease;
	-webkit-animation-fill-mode:both;
	animation-duration:1.2s;
	animation-delay:0.5s;
	animation-timing-function:ease;
	animation-fill-mode:both;
	-webkit-transform-origin:top center;
	transform-origin:top center;
}
.container1 > div,.container2 > div,.container3 > div {
	background-color:#FFF;
}

@-webkit-keyframes bounceInUp {
	0% {opacity:0;-webkit-transform:translateY(2000px);}
	60% {opacity:1;-webkit-transform:translateY(-5px);}
	80% {-webkit-transform:translateY(15px);}
	100% {-webkit-transform:translateY(0);}
}
@keyframes bounceInUp {
	0% {opacity:0;transform:translateY(2000px);}
	60% {opacity:1;transform:translateY(-5px);}
	80% {transform:translateY(15px);}
	100% {transform:translateY(0);}
}
@-webkit-keyframes fly-in {
	0% {opacity:0;-webkit-transform:translateX(800px);}
	60% {opacity:1;-webkit-transform:translateX(-20px);}
	80% {-webkit-transform:translateX(10px);}
	100% {-webkit-transform:translateX(0);}
}
@keyframes fly-in {
	0% {opacity:0;transform:translateX(800px);}
	60% {opacity:1;transform:translateX(-20px);}
	80% {transform:translateX(10px);}
	100% {transform:translateX(0);}
}
@-webkit-keyframes zoom-in {
	0% {opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3);}
	50% {opacity:1;}
}
@keyframes zoom-in {
	0% {opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3);}
	50% {opacity:1;}
}
@-webkit-keyframes shake{
    0% {opacity:0;-webkit-transform:translateY(0);}
    10%,30%,50%,70%,90% {opacity:1;-webkit-transform:translateY(-6px);}
    20%,40%,60%,80% {-webkit-transform:translateY(6px);}
    100% {-webkit-transform:translateY(0);}
}
@keyframes shake{ 
    0% {opacity:0;transform:translateY(0);}
    10%,30%,50%,70%,90% {opacity:1;transform:translateY(-6px);}
    20%,40%,60%,80% {-transform:translateY(6px);}
    100% {transform:translateY(0);}
}
@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.follow-box {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    zoom: 1;
    clear: both;
}

/* iPhone4 */
@media screen
and (min-device-width:320px)
and (max-device-height:500px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:2) {
	section.main .build {
		left:10%;
		width:80%;
        top: 5%;
	}
	section.main .logo {
		top: 25%;
		left: 20%;
		width: 60%;
	}
	footer .join-box {
		margin: 8% auto 1%;
	}
}
/* luo */
@media screen
and (min-device-width : 1000px)
and (min-device-height : 1000px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    section.main .build {
        left:7%;
        width:85%;
    }
    section.main .logo {
        top: 30%;
        left: 18%;
        width: 64%;
    }
    footer .join-box {
        margin: 15% auto 1%;
    }
}