.dialog {
    position: absolute;
    color: #fdc728;
    border-radius: 6px;
    z-index: 1000;
    background: url(../images/bg-dialog.jpg) no-repeat 0 0;  background-size: cover;
    overflow: hidden;
}
/*.dialog .border:before {
	content: '';
	display: block;
	width: 110%;
	height: 2px;
	margin: 0 -5%;
	background-image: -webkit-linear-gradient(left, transparent 0%, #561817 40%, #561817 60%, transparent 100%);
	background-image: linear-gradient(to right, transparent 0%, #561817 40%, #561817 60%, transparent 100%);
}*/
.dialog-res {
    position: absolute;
    color: #fdc728;
    border-radius: 6px;
    z-index: 1000;
    background: url(http://cdn.holdfun.cn/ahtvcomedian/images/material/bg.jpg) no-repeat 0 0;  background-size: cover;
    overflow: hidden;
}
.dialog-inner {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	height: 100%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}
.modal-guide {
	height: auto !important;
}
.modal .btn-close {
    position: absolute;
    background: url(../images/icon-close.png) no-repeat 3px 3px;
    background-size: 22px auto;
    display: block;
    width: 30px;
    height: 30px;
    z-index: 10000;
}

.modal:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.75);
	z-index: 100;
}


.rank-dialog {
    color: #FFF;
    text-align: center;
}
.rank-dialog h2 {
      color: #FFF;
  background: url(../images/jf-bg.png) no-repeat center center;
  background-size: 60% auto;
  text-align: center;
  font-size: 22px;
  padding: 2% 0;
  margin-top: 15px;
}
.rank-dialog .list {
    height: 68%;
    
}
.rank-dialog .border {
    /*margin: 0 5%;*/

}
.rank-dialog h3 {
    text-align: center;
    margin: 8px auto;
}
.rank-dialog h3 .jf {
    margin-right: 20px;
	
}
.rank-dialog .list .content {
	overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
	/*padding-top: 4%;*/
}
.rank-dialog .list ul {
    /*padding-top: 8px;*/
	text-align: center;
}
.rank-dialog .list li {
    background-color: rgba(113,0,25,.3);
	margin: 1px 0;
      padding: 0 3%;
}
.rank-dialog .list span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
	text-align: left;
}
.rank-dialog .r-avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100%;
	border: 2px solid #bd6f80;
	overflow: hidden;
    margin: 2px 0;
}
.rank-dialog .r-avatar img {
    width: 38px;

    height: 38px;
    border-radius: 100%;
}
.rank-dialog .r-name {
    width: 50%;

    margin: 0 2%;
}

.rank-dialog .r-rank {
	width: 18%;
	text-align: right !important;
}



.rule-dialog {
	
    padding-top: 6%;
    color: #fff;
    height: 90%;
}
.rule-dialog h2 {
    color: #FFF;
	  background: url(../images/jf-bg.png) no-repeat center center;
  background-size: 60% auto;
    height: 32px;
    text-align: center;
    font-size: 20px;
}
.rule-dialog .content {
  padding: 0;
  height: 88%;
  width: 94%;
  left: 4%;
}
.rank-dialog p {
    text-align: center;
  font-size: 13px;
  padding: 0 3%;
}
.rule-dialog .rule {
	
    font-size: 14px;
    line-height: 24px;
    max-height: 100%;
    overflow-y: auto;
    color: #FFF;
    margin-top: 8%;
}
.rule-dialog p {
    line-height: 22px;
	
}
.rule-dialog h3 {
    margin-top: 22px;
	
    font-size: 16px;
}
#fudai-dialog .fudai {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 400px;
  background: url(../images/fudai.png) no-repeat;
  background-size: 100% auto;
  z-index: 199;
}
#fudai-dialog .fudai-round {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 400px;
  background: url(../images/fudai-round.png) no-repeat;
  background-size: 100% auto;
  z-index: 189;
  -webkit-animation-name: fudai-zoom;
          animation-name: fudai-zoom;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes fudai-zoom {
  0% {
    opacity: 0.4;
    -webkit-transform:scale(0);
  }
  
  100% {
    opacity: 1;
    -webkit-transform:scale(1);
  }
}

@keyframes fudai-zoom {
  0% {
    opacity: 0.4;
    transform:scale(0);
  }
  
  100% {
    opacity: 1;
    transform:scale(1);
  }
}
#fudai-dialog .btn-close {
    right: 5% !important;
    top: 18% !important;
    background: url(../images/icon-close-roll.png) no-repeat;
    background-size: 100% auto;
}
.dialog-copyright {
	position: absolute;
	bottom: 0;
	left: -5px;
	right: -5px;
	font-size: 14px;
	text-align: center;
	color: #f00;
}

.guide-dialog {
  width: 240px;
  height: 310px;
  left: 50%;
  right: auto;
  margin-left: -120px;
  top: 50%;
  bottom: auto;
  margin-top: -150px;
  background: #FFF;
  color: #960a28;
}
.guide-dialog div {
  background-size: cover;
  background: url(../images/bg-dialog.jpg) no-repeat 0 center;
  height: 80px;
  border-radius: 5px 5px 0 0;
  color: #FFF;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  font-size: 14px;
}
.guide-dialog div h1 {
    font-size: 20px;
    font-weight: bold;
}

.guide-dialog p {
  
    border-bottom: 1px solid #666;
    height: 48px;
    line-height: 48px;
    margin: 0 15px;
    font-size: 14px;
}
.guide-dialog label {
  
    margin-right: 5px;
}
.guide-dialog .btn {
  display: block;
  margin: 16px auto 0;
  width: 70%;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  background: url(../images/try-btn.png) no-repeat;
  border-radius: 0;
  background-size: 100%;
}

/** 抽奖  */
.lottery-dialog {
    
	background-size: cover;
	width: 100%;
	height: 100%;
	color: #fdc728;
}
.lottery-dialog {

}
.lottery-dialog .award-none {
    height: 75%;    margin: 0 4% !important;  position: relative;
	
}
.lottery-dialog .award-none .btn-close {
    position: static;
	
    display: block;
    background: #ec7220;
    width: 50%;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 38px;
    color: #fff;
    margin: 10% auto 0;
}
.lottery-dialog .award-none h5 {
    color: #FFF;
	
    text-align: center;
}
.lottery-none .award-win {
	display: none;
}
.lottery-none .award-none {
    display: block !important;
    padding-top: 40%;
}
.lottery-dialog h2 {
  text-align: center;
  color: #FFF;
  padding: 8% 0;
  font-weight: bold;
  font-size: 18px;
}

.lottery-dialog .content {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  position: relative;
}
.lottery-dialog .content .cover {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}
.lottery-dialog .content .cover.zshow {
	opacity: 1;
}
.lottery-dialog .content .cover p {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #000;
	font-size: 14px;
	text-shadow: 1px 1px 10px #FF9F00;
}
.lotteried .lottery-dialog .content .cover,
.lottery-none .lottery-dialog .content .cover,
.lotteried .lottery-dialog .content .cover {
	display: none;
}
.lottery-dialog .content .cover .btn-corner {
    position: absolute;
	
    left: 0;
    bottom: 0;
    width: 45%;
    height: 25%;
    /* background: red; */
}

.lottery-dialog h3 {
color: #FFF;
  text-align: center;
  padding-top: 13%;
  font-size: 15px;
  line-height: 17px;
}
.lottery-dialog .award-img {
    width: 80%;
    height: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 2% 0;
	overflow: hidden;
}
.lottery-dialog .award-img img {
	max-width: 90%;
	max-height: 120px;
	vertical-align: top;
}
.lottery-dialog .contact {

    padding: 2% 6%;
}
.lottery-dialog .contact h4 {
    color: #FFF;

    font-size: 12px;
}

.lottery-dialog .contact h4.award-tip {

}
.lottery-dialog .contact h4.awarded-tip {
    display: none;

}
.lottery-awarded .contact h4 {

}
.lottery-awarded .contact h4.award-tip {
    display: none;

}
.lottery-awarded .contact h4.awarded-tip {
    display: block;

}
#lottery-dialog .contact p {
     margin-top: 6px;
  color: #FFF;
  font-size: 15px;
  line-height: 18px;
  margin: 15px auto;
}

#lottery-dialog .contact input {
    background: #fff;
    border: 0 none;
    border-radius: 4px;
    height: 30px;
    padding: 0 6px;
    width: 100%;
    outline: 0 none;
}

.lottery-dialog .contact .btn {
    margin: 4% auto;

    background: #ec7220;
}
.lottery-dialog .contact .btn-award {
    display: block;
    color: #FFF;
	
}
/*.lottery-dialog .contact .share {
    text-align: center;
    font-size: 14px;
    color: #FFF;
}*/
/*.lottery-dialog .contact .btn-share {
    display: none;
    font-size: 13px;
    line-height: 13px;
    color: #c47e88;
    font-weight: bolder;
}*/

.lottery-awarded .contact .btn-award {
    display: none;

}
.lottery-awarded .award-win .contact .btn-share {
    display: block;
    color: #FFF;
}

.lotteried .contact .btn-share {
  display: none;
}


.award-dialog .box {
	height: 48%;
	position: relative;
	overflow: hidden;
}
.award-dialog .prize {
    background: url(http://cdn.holdfun.cn/ahtvcomedian/images/material/bg-prize.png) no-repeat center center;
    background-size: cover;
	
    height: 100%;
    margin: 0 -10%;
    text-align: center;
    padding-top: 10%;  
    padding-bottom: 10%;
    overflow: hidden;
}
.award-dialog .prize:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.award-dialog .prize img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.award-dialog .prize.p1 img {
    max-width: 80%;
}

.award-dialog .ctrl {
    color: #fff;
    padding-top: 5%;
    text-align: center;
}
.award-dialog .ctrl h2 {
    text-align: center;
    font-size: 16px;
	margin: 0 6%;
}
.award-dialog .content {
    width: 88%;
    margin: 0 auto;
    padding-top: 8px;
}

.award-dialog .content p {
    font-size: 12px;
    text-align: left;
}
.award-dialog .content input {
    width: 100%;
    border: 0 none;
    background: #fff;
    height: 36px;
    font-size: 16px;
    padding: 0 0 0 10px;
    border-radius: 5px;
    margin-top: 8px;
    color: #979797;
    outline: none;
}
.award-dialog .ctrl .btn {
    display: inline-block;
    vertical-align: middle;
    margin: 23px 5px 0 5px;
    width: 35%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    letter-spacing: 0px;
    border-radius: 20px;
}
.award-dialog .award-succ {
	display: none;
}
.award-dialog .award-succ.ctrl {
	
}
.award-dialog .award-succ h2 {
    text-align: left;
    text-indent: 2em;
    padding: 0 6%;
}
.award-dialog .award-succ h3 {
    text-align: center;
    margin-top: 10%;
    color: #FDC728;
}
.award-dialog .award-succ .btn {
    margin-top: 10px;
    letter-spacing: 0;
}
.award-succ-dialog .prize img {
	display: none;
}
.award-succ-dialog .prize:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	background: url(http://cdn.holdfun.cn/ahtvcomedian/images/material/icon-ljsu.png) no-repeat center center;
	background-size: cover;
	width: 80%;
	height: 80%;
}

.award-succ-dialog .ctrl {
	display: none;
}
.award-succ-dialog .award-succ {
	display: block;
}
.award-succ-dialog .dialog-inner {
	height: 100%;
	padding-bottom: 0;
}

#confirm-dialog {  
}
#confirm-dialog:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 10000;
}
.confirm-dialog {
    width: 72%;
	
    height: 130px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    position: absolute;  
    background-size: 260px auto;
    border-radius: 6px;
    z-index: 100000;
    color: #FFF;
}
.confirm-dialog .content {
	
    margin: 5% 8% 5%;
    font-size: 16px;
}
.confirm-dialog .ctrl {
    text-align: center;
	
    margin-right: -10px;
}
.confirm-dialog .ctrl .btn {
    margin-right: 10px;
	
    background: rgba(86, 24, 23, 0.8);
}


.tip-dialog {
    width: 220px;
	
    height: 200px;
    background: url(http://cdn.holdfun.cn/ahtvcomedian/images/material/bg-dialog.jpg) no-repeat 0 0;
    background-size: cover;
    left: 50%;
    right: 0;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    bottom: 0;
}
.tip-dialog h2 {
    background: url(http://cdn.holdfun.cn/ahtvcomedian/images/material/icon-tips.png) no-repeat center center;
	
    background-size: 170px auto;
    height: 80px;
    margin-top: 35px;
}
.tip-dialog .btn {
    display: block;
	
    position: static;
    width: 60%;
    height: 40px;
    line-height: 40px;
    letter-spacing: 5px;
    background: #FF3535;
    border: 1px solid #fff;
    margin: 10% auto 0;
}

/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  .rank-dialog .list {
    height: 62%;
  }
	.result-dialog .img {
		height: 18%;
		background-size: 30%;
		margin-top: 3%;
	}
	.result-dialog li h4 {
		font-size: 24px;
	}
	.award-dialog .box {
		height: 45%;
	}
	.award-dialog .content input {
	    height: 25px;  margin-top: 6px;
	}
	.award-dialog .ctrl .btn {
	    height: 30px;
	    line-height: 30px;
	    font-size: 14px;
	    margin-top: 2%;
	}
	.lottery-dialog h2 {
		font-size: 14px;
		padding: 3% 0;
	}
	.lottery-dialog .contact input {
   		height: 26px;
	}
	.lottery-dialog .award-img {
    	height: 100px;
	}
	.lottery-dialog .award-img img {
		max-height: 100px;
	}
	.lottery-dialog .content {
    	height: 80%;
	}
	.lottery-dialog .contact .btn {
	    height: 28px;
	    line-height: 28px;
	
	    font-size: 14px;
}
}

.star-list{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	
}
.star-tr{
	width:100%;
	margin-left: auto;
	margin-right: auto;
	clear:both;
	padding-top:10px;
}
.star-td{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width:25%;
	float:left;
}
.star-heard{
	margin-left: auto;
	margin-right: auto;
	border:solid 2px white;
	background: url(http://yaotv-test.oss-cn-shenzhen.aliyuncs.com/ahtvcomedian/20141116/xs-wl.png) no-repeat center 0;
	background-size:contain;
	border-radius:200px;
	width:50px;
	height:50px;
	margin-bottom: 5px;
	background-color: rgba(110,67,46,1);

}
.star-heard img{
	width: 40px;
	height: 20px;
	display: inline-block;
	position: relative;
	bottom: -59%;
	right: -10px;
}

.star-heard-audio{
	margin-left: auto;
	margin-right: auto;
	border:solid 2px white;
	background-color:white;
	border-radius:200px;
	width:50px;
	height:50px;

}

.star-name{
	color:orange;
	font-size:12px;
	margin-top:-2px;
}
.star-mes{
	color:yellow;
	font-size:12px;
	margin-top:-2px;
}

.star-turn{
	margin-top:100px;
	background:url(../images/up_page.png)no-repeat center 0;
	background-size:contain;
	margin-left: auto;
	margin-right: auto;
	clear:both;
	width:30px;
	height:30px;
}
.btn-pack{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width:140px;
	background-color:rgba(195,167,116,1);
	color:white;
	font-size:18px;
	line-height:34px;
	border-radius:20px;
	border:solid 1px rgba(195,167,116,1);
	margin-top:20px;
}
.jf-tips {
  font-size: 15px;
  line-height: 16px;
}