/*
 *	红包
 */
.hongbao{
	height: 100%;
	position: relative;
}

.hongbao-bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.hongbao-title{
	position: relative;
	z-index: 1;
	text-align: center;
}

.hongbao-click{
	display: block;
	position: absolute;
	text-align: center;
	font-size: 18px;
	color: white;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 1;
}

.hongbao-close{
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 48px;
	height: 48px;
	background: none;
	z-index: 1;
}

/*
 *	END OF红包
 */

/*
 *	现金红包
 */
 .hongbao-cash{
	margin: 0px 10%;
	overflow: hidden;
	position: relative;
	z-index: 1;
	color: #ffcccc;
	font-size: 48px;
	text-align: center;
}
.hongbao-cash .hongbao-cash-unit{
	font-size: 24px;
}
/*
 *	END OF 现金红包
 */

 /*
 *	现金红包1
 */
 .cash-1-wrapper .hongbao-title img{
 	width: 100%;
 	height: 100%;
 }
 .cash-1-wrapper .hongbao-click-wrapper{
 	position: absolute;
 	bottom: 13%;
 	text-align: center;
 	width: 100%;
 }
 .cash-1-wrapper .hongbao-click-wrapper .hongbao-btn{
 	display: block;
 	width: 52%;
 	line-height: 40px;
 	color: white;
 	font-size: 14px;
 	text-align: center;
 	margin:  0 auto;
 	background: #ff9313;
 }
/*
 *	END OF 现金红包1
 */