html, body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
    background: url(../images/bg.jpg) no-repeat center center #ECF6FF;
	background-size: 100% 100%;
}
.swiper-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 9;
}
.swiper-wrapper{
    height: 100%;
}
.swiper-container .swiper-wrapper .swiper-slide {
	width:100%;
	height:100%;
	/*overflow: hidden;*/
}
.swiper-container .swiper-wrapper .swiper-slide2 {
    width: 100%;
    height: 100%;
    background: url(../images/bg-yao-default.jpg) no-repeat center center #a5010c;
    background-size: 100% auto;
}
@-webkit-keyframes hide{
	0%{opacity:1}
	100%{opacity:0}
}
@-webkit-keyframes flipInX{
	0%{-webkit-transform:perspective(400px) rotateX(90deg);opacity:0}
	40%{-webkit-transform:perspective(400px) rotateX(-10deg)}
	70%{-webkit-transform:perspective(400px) rotateX(10deg)}
	100%{-webkit-transform:perspective(400px) rotateX(0deg);opacity:1}
}
@-webkit-keyframes fadeInDownBig {
    0% {opacity: 0;-webkit-transform: translateY(-2000px);transform: translateY(-2000px)}
    60% {opacity: 1;-webkit-transform: translateY(30px);transform: translateY(30px)}
    80% {-webkit-transform: translateY(-10px);transform: translateY(-10px)}
    100% {-webkit-transform: translateY(0);transform: translateY(0)}
}
@-webkit-keyframes shine {
    from {background-position: 150%;}
    to {background-position: -50%;}
}
@-webkit-keyframes wobble {
    0% { -webkit-transform: translateX(0%); }
    15% { -webkit-transform: translateX(-25%) rotate(-5deg); }
    30% { -webkit-transform: translateX(20%) rotate(3deg); }
    45% { -webkit-transform: translateX(-15%) rotate(-3deg); }
    60% { -webkit-transform: translateX(10%) rotate(2deg); }
    75% { -webkit-transform: translateX(-5%) rotate(-1deg); }
    100% { -webkit-transform: translateX(0%); }
}
@keyframes wobble {
    0% { transform: translateX(0%); }
    15% { transform: translateX(-25%) rotate(-5deg); }
    30% { transform: translateX(20%) rotate(3deg); }
    45% { transform: translateX(-15%) rotate(-3deg); }
    60% { transform: translateX(10%) rotate(2deg); }
    75% { transform: translateX(-5%) rotate(-1deg); }
    100% { transform: translateX(0%); }
}
::-webkit-input-placeholder {
    color: #FFF;
}
@-webkit-keyframes greenPulse {
	from{-webkit-box-shadow:0 0 9px#000;}
	50%{-webkit-box-shadow:0 0 18px #999;}
	to{-webkit-box-shadow:0 0 9px #000;}
}
@-webkit-keyframes hue {
	from {-webkit-filter: hue-rotate(0deg);}
	to {-webkit-filter: hue-rotate(-360deg);}
}
@-webkit-keyframes rubberBand {
    0% {-webkit-transform: scale3d(1,1,1);transform: scale3d(1,1,1)}
    30% {-webkit-transform: scale3d(1.25,.75,1);transform: scale3d(1.25,.75,1)}
    40% {-webkit-transform: scale3d(0.75,1.25,1);transform: scale3d(0.75,1.25,1)}
    50% {-webkit-transform: scale3d(1.15,.85,1);transform: scale3d(1.15,.85,1)}
    65% {-webkit-transform: scale3d(.95,1.05,1);transform: scale3d(.95,1.05,1)}
    75% {-webkit-transform: scale3d(1.05,.95,1);transform: scale3d(1.05,.95,1)}
    100% {-webkit-transform: scale3d(1,1,1);transform: scale3d(1,1,1)}
}
@-webkit-keyframes hero {
    0% {-webkit-transform: translate3d(0,-200%,0) skewY(-30deg) scale(0.3,0.3); opacity: 0;}
    60% {-webkit-transform: skewY(20deg) scale(0.3,0.3); opacity: 1;}
    80% {-webkit-transform: skewY(-5deg) scale(2,2); opacity: 1;}
    100% {-webkit-transform: skewY(0deg) scale(1,1); opacity: 1;}
}
@-webkit-keyframes spin {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes shake-box {
	0% {-webkit-transform:translate(0px,0px) rotate(0deg);}
	10% {-webkit-transform:translate(5px,7px) rotate(2.5deg);}
	20% {-webkit-transform:translate(-4px,-3px) rotate(-1.5deg);}
	30% {-webkit-transform:translate(-1px,8px) rotate(1.5deg);}
	40% {-webkit-transform:translate(7px,0px) rotate(-0.5deg);}
	50% {-webkit-transform:translate(8px,8px) rotate(-3.5deg);}
	60% {-webkit-transform:translate(-4px,-3px) rotate(-1.5deg);}
	70% {-webkit-transform:translate(5px,0px) rotate(-2.5deg);}
	80% {-webkit-transform:translate(-10px,-3px) rotate(-3.5deg);}
	90% {-webkit-transform:translate(5px,7px) rotate(2.5deg);}
}
a.hover {
    color:#FFF;
}
.home-box {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    overflow:hidden;
    z-index: 10;
}
.home-box .bg-yao {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    opacity: 1;
}
.home-box .yao-top {
    bottom: 0;
}
.home-box .yao-bottom {
    top: 0;
}
.main-top {
    position:absolute;
    top:0px;
    width:100%;
    height:50%;
    background: url(../images/bg-lottery-top.jpg) no-repeat bottom center;
    background-size:cover;
    text-align: center;
    box-sizing:border-box;
    -webkit-transition: -webkit-transform .2s ease;
}
.main-top .info-box {
    position: relative;
    width: 100%;
}
.main-top .lottery-back{
    position: absolute;
    background: url(../images/lottery-back.png) 0 0 no-repeat;
    background-size: 100%;
    width: 12%;
    top: 0;
    right: 10px;
    height: 17%;
}
.main-top .count{
    position: absolute;
    background: url(../images/count-bg.png) 0 0 no-repeat;
    background-size: 100%;
    width: 55%;
    top: 5%;
    height: 35%;
    left: 22.5%;
    padding-top: 11%;
    font-size: 14px;
    color: #fff;
    padding-left: 15%;
}
.countdown {
    position: relative;
    display: inline-block;
    text-align: center;
    color: #d5000c;
    font-size: 16px;
    font-weight: bolder;
    z-index: 98;
    margin-bottom: 1%;
}
.countdown .countdown-tip {
    color: #ff3378;
}
.countdown .detail-countdown{
    color: #ff3378;
    margin-top: 10px;
    display: block;
}
.countdown .detail-countdown span {
    color: #fff;
    font-weight: bolder;
    margin: 0 5px;
    padding: 2px 3px;
    border-top: 1px solid #ffb2cc;
    border-left: 1px solid #f94d88;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(-90deg, #ff5991, #ff3378);
}
.main-top .hidden {
    visibility:hidden;
}
.main-top .yao-text {
    line-height: 30px;
    margin: 16% 0 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.main-top .yao-text p {
    position:relative;
    min-height: 37px;
    z-index: 30;
}
.main-top .yao-text p span {
    font-size: 16px;
    font-weight: bolder;
    color: #b73c3a;
}
.main-top .yao-text p span i {
    font-size: 32px;
    color: #D83D3A;
    display: inline-block;
    font-style: normal;
    font-weight: bolder;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.main-foot {
    position:absolute;
    bottom:1px;
    width:100%;
    height:50%;
    background: url(../images/bg-lottery-bottom.jpg) no-repeat top center;
    background-size:cover;
    box-sizing:border-box;
    -webkit-transition: -webkit-transform .2s ease;
    text-align: center;
}
.main-foot .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    z-index: 8;
}
.main-foot .marquee {
    display: block;
    width: 100%;
    font-size: 16px;
    height: 25px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
    padding: 0 10px;
    color: #ff236d;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 7%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(245,255,135,.2)), color-stop(0.5, #f5ff87), to(rgba(245,255,135,.2)));
}
.main-foot .marquee ul li{
    height: 26px;
    line-height: 26px;
    overflow:hidden;
    text-overflow: ellipsis;
}
.main-foot .marquee ul li i{
    background: url(../images/icon-record.png) 0 0 no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 7%;
    height: 23px;
    margin-right: 5px;
    vertical-align: middle;
}
.main-foot .comments-btn{
    display: block;
    position: absolute;
    width: 17%;
    left: 5%;
    top: 50%;
    z-index: 99;
}
.thanks-tips {
    position: absolute;
    font-size: 20px;
    color: #ff568f;
    overflow: hidden;
     opacity: 0;
    -webkit-backface-visibility: hidden;
    top: 40%;
    width: 100%;
    text-align: center;
}
.thanks-tips.show {
    opacity: 1;
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1.0s;
    animation-duration: 1.0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    -webkit-backface-visibility:hidden;
}
.copyright{
    color: #3871a5!important;
}
.icon-lotterytip {
    width: 92%;
    clear: both;
    margin: 15% auto 0;
}
@-webkit-keyframes wobble {
    0% { -webkit-transform: translateX(0%); }
    15% { -webkit-transform: translateX(-25%) rotate(-5deg); }
    30% { -webkit-transform: translateX(20%) rotate(3deg); }
    45% { -webkit-transform: translateX(-15%) rotate(-3deg); }
    60% { -webkit-transform: translateX(10%) rotate(2deg); }
    75% { -webkit-transform: translateX(-5%) rotate(-1deg); }
    100% { -webkit-transform: translateX(0%); }
}
@keyframes wobble {
    0% { transform: translateX(0%); }
    15% { transform: translateX(-25%) rotate(-5deg); }
    30% { transform: translateX(20%) rotate(3deg); }
    45% { transform: translateX(-15%) rotate(-3deg); }
    60% { transform: translateX(10%) rotate(2deg); }
    75% { transform: translateX(-5%) rotate(-1deg); }
    100% { transform: translateX(0%); }
}
@-webkit-keyframes sponsor-show {
    0%, 100% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(.9); }
}
@keyframes sponsor-show {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(.9); }
}
@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}
@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}


.comments{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 99999;
}
.comments .comments-close{
    display: block;
    position: absolute;
    border: 2px solid #fff;
    border-radius: 28px;
    color: #fff;
    top: 0px;
    right: 10px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
.comments ul{
    height: 80%;
    margin-top: 14%;
    color: #fff;
    overflow: auto;
}
.comments ul li{
    width: 100%;
}
.fr{
    float: right;
}
.fr .comments-con{
    float: right;
}
.fr .comments-con img{
    float: right;
}
.comments ul li .comments-con{
    padding: 5px;
    background-color: rgba(255,255,255,.25);
    border-radius: 5px;
    margin: 4px;
    display: inline-table;
}
.comments ul li img{
    width: 30px;
    border: 2px solid #d5d5d5;
    border-radius: 18px;
    display: inline-block;
    vertical-align: top;
}
.comments ul li span{
    display: inline-block;
    max-width: 84%;
    word-break: break-all;
    padding-left: 5px;
    padding-right: 5px;
}
.comments .msg-tip{
    position: absolute;
    right: 0px;
    bottom: 12%;
    display: block;
    width: 32%;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    color: #9a9a9a;
    opacity: 0;
    text-align: center;
}
.comments .bottom{
    width: 100%;
    text-align: center;
}
.comments .bottom .comments-input{
    background: none;
    border: 2px solid red;
    width: 75%;
    border-radius: 5px;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 25px;
    padding-left: 5px;
    display: inline-block;
    color: #fff;
}
.comments .bottom .comments-send{
    background: url("../images/comments-send.png") 0 0 no-repeat;
    background-size: 100% 100%;
    width: 13%;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeOutDown {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .home-box .bg-yao {
        width: 60%;
        left: 20%;
    }
	.swiper-container .swiper-wrapper .swiper-slide1 .content .icon-slogan {
		width: 48%;
        padding-top: 20%;
		margin: 0 auto 2%;
	}
	.swiper-container .swiper-wrapper .swiper-slide1 .content .icon-logo {
		position: relative;
		width: 80%;
		margin: 0 auto;
		z-index: 11;
	}
    .modal .dialog {
        top: 70px !important;
    }
    .modal .dialog .dialog-content .award-luckTips img, .modal .dialog .dialog-content .award-img {
        width: 78%;
    }
    .modal .dialog .dialog-content .input-box input {
        width: 86%;
        padding: 2px 8px;
        line-height: 22px;
        font-size: 13px;
        margin: 2px 0;
    }
}

@media screen
and (min-device-width : 1000px)
and (min-device-height : 1000px) {
    .main-top .count{
        padding-top: 13%;
    }
}