/*app下载弹层*/
#app-download
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  background-size: 100% 100% ;
  z-index: 9999;
  color: #fff370;
  overflow: hidden;
}



/*下拉菜单start*/
.tag{
    width:100%;
    height:100px;
    border:1px solid #c4c3c3;
    position:absolute;
    background-color:rgba(255,255,255,0.9);
    color:#000;
    z-index:4;
    font-size:18px;
    border-radius: 5px;
    padding: 15px;
    margin-top:20px;
    text-align: left;
    line-height: 33px;
}
.tag p
{
  height:35px;
  line-height: 35px;
}
.tag p:first-child
{
  border-bottom:1px solid #c4c3c3;
}
.tag:before,.tag:after{
    content:"";
    display:block;
    border-width:10px;
    position:absolute; 
    top:-20px;
    right:20px;
    border-style:solid dashed dashed;
    border-color:transparent transparent #c4c3c3;
    font-size:0;
    line-height:0;
}
.tag:after{
    top:-18px;
    border-color:transparent transparent #EEEEEE;
}
.weixincaidan
{
    display: inline-block;
    height: 32px;
    width: 30px;
    background: rgba(35,43,46,0.8);
    float: left; 
    position: relative;
}
.weixincaidan:before
{
  content:"";
  height:6px;
  width:6px;
  background: rgba(255,255,255,1);
  position: absolute;
  border-radius: 100%;
  top:10px;
  left:12px;
}
.weixincaidan:after
{
  content:"";
  height:6px;
  width:6px;
  background: rgba(255,255,255,1);
  position: absolute;
  border-radius: 100%;
  top:20px;
  left:12px;
}
.tag span
{
  float: left; 
}


#app-infor
{
  height:100%;
  width:100%;
  position: fixed;
  top:0px;
  z-index:1000;
  background: #eeeeee;
  font-size: 16px;
}
#app-infor .infor-header
{
  background:#c53336;
  height:44px;
  line-height: 44px;
  color:#ffffff;
}

div .back-icon
{
    display: inline-block;
    height: 16px;
    width: 10px;
    background: url('../images/arrowleft.png') top center;
    background-size: 100% 100%;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.task-back
{
  position:absolute;
  height:40px;
  left:10px;
  font-size: 16px;
  z-index: 10;
  top:2px;
  width:60px;
}
.infor-header h3
{
  text-align: center;
  width:100%;
  height:100%;
  z-index: 0;
  position: relative;
}
.app-infor-main
{
  overflow: auto;
  height: calc(100% - 50px);
  height: -webkit-calc(100% - 50px)

}
.app-infor-main .divide-line
{
  height: 70px;
  width: 100%;
  border-bottom: 1px inset #ffffff;

}
.app-infor-main h4
{
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}
.app-infor-main .divive-content
{
  position: relative;
  padding:0px 15px;
  clear:both;
}

.theme-content p
{
  padding-left:9px;
}
.grey-content p,.app-download p
{
  padding-left:6px;
}
.theme-content,.grey-content
{
  position: relative;
}
.grey-content
{
  color:#999999;
}
.app-download
{
  position: relative;
}
.divive-content>p
{
  padding-left:4px;
}
/*.grey-content>h5
{
  margin:5% 0px;
  font-size: 15px;
}*/

.app-download>h5
{
  margin:5% 0px;
  font-size: 15px;
}
.app-download p
{
  margin-bottom:15px;
}
.app-back
{
  position: absolute;
  text-align: center;
  bottom:20px;
  width:100%;
}
.back-btn
{
  max-width: 32%;
}
a.app-go-task
{
  border-radius: 5px;
  line-height: 34px;
  position: relative;
  margin:0px auto;
  display: block;
  text-align: center;
}

.divide-line img
{
  height: 50px;
  width: 50px;
  margin-top:10px;
}
.divide-line div
{
  float:left;
  padding-left:10px;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  padding: 0px 15px;
  width:100%;
}
.divide-line .app-name
{
  display: inline-block;
  position: absolute;
  top:10px;
  font-size: 16px;
  margin-left:10px;
}
.divide-line .app-tips
{
  display: inline-block;
  position: absolute;
  bottom:10px;
  margin-left:10px;
  font-size: 14px;
  color:#c53336!important;
}
.prize-style
{
  color:#999999;
}
/*二维码弹层*/
#app-qc
{
  height:100%;
  width:100%;
  position: fixed;
  top:0px;
  z-index:1000;
  background: url("../images/app-qt-bg.jpg") top center no-repeat;
  background-size: 100% 100%;
  font-size: 16px;
}
.qc-code
{
  position: absolute;
  top:40%;
  width:100%;
  text-align: center;
}
.qc-code img
{
  max-width: 60%;
}
.qc-code .icon-close
{
    position: absolute;
    display: block;
    max-width: 12%;
    right: 20%;
    top: -15px;
    margin-right: -12px;
}
.close-btn
{
  position: absolute;
  top:0px;
  left:0px;
}
.close-btn img
{
  max-width: 46%;
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 480px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  #app-infor
  {
    font-size: 14px;
  }

}
/* iPhone5 */
@media screen
and (min-device-width : 320px)
and (min-device-height : 500px)
and (max-device-height : 568px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
  #app-infor
  {
    font-size: 15px;
  }
}