html {
	height: inherit;
	background-color: #F3F2F1;
}
body{
	background-color: #F3F2F1;
	background-image: none;
	height:100%;
	
}
.main {
	background: url(../images/bg-top.png) top;
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 0 auto;
	overflow-x: hidden;
	font-size: 15px;
	
}
.gift-timeline {
    position: relative;
    padding-left: 28px;
}
.gift-timeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 5px;
	background: #E7141A;
}
.gift-timeline li {
    padding-left: 27px;
	
    margin-top: 17px;
    position: relative;
}
.gift-timeline li:last-child:before {
	content: '';
	display: block;
	width: 5px;
	height: 100%;
	background: #E7141A;
	position: absolute;
	left: 0;
	top: 0;
}
.gift-time {
    color: #E7141A;
    padding-top: 5px;
}
.copyright {
	position: relative;
	color: #CCCCCC;
}
.gift-icon {
    width: 26px;
	
    height: 26px;
    border: 2px solid #94CDF3;
    border-radius: 50%;
    position: absolute;
    left: -12px;
    background: #fff;
}
.gift-icon:before {
	content: '';
	
	background: url(../images/gift-icon.png) no-repeat;
	background-size: 13px auto;
	width: 13px;
	height: 16px;
	display: block;
	margin-left: 7px;
	margin-top: 5px;
}
.gift-content {
    background: #fff;
	
    border-radius: 8px 0 0 8px;
    padding: 10px 14px;
    margin-top: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.gift-content h2 {
    color: #000;
	
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 6px;
    margin-bottom: 6px;
}
.gift-content p {
    color: #888888;
	
    line-height: 24px;
}
.btn-back {
	margin-top: 30px;
	background: #E7141A;
	color: #fff;
}
.btn-loadmore{
    background: #D2CCC7;
}