
.tab {
    text-align: center;
    height: 24px;
    line-height: 24px;
	-webkit-transform-style: preserve-3d !important;
	-webkit-backface-visibility: hidden;
}
.tab span {
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	height: 16px;
	line-height: 16px;
	margin: 0 20px;
	color: #fff;
	-webkit-backface-visibility: hidden;
}
.tab a {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	text-align: center;
	height: 16px;
	line-height: 16px;
	-webkit-backface-visibility: hidden;
}
.tab a:hover {
	text-decoration: underline;
}
.tab .jifen {
	position: relative;
}
.tab .jifen.news:after {
	content: '';
	display: block;
	width: 11px;
	height: 11px;
	background: #FFEF00;
	border-radius: 10px;
	position: absolute;
	right: -12px;
	top: -5px;
}
.index-btn{
	margin-top: 10px;
}
.follow-box {
	position: absolute;
	width: 100%;
	bottom: 0;
	clear: both;
}
#div_subscribe_area {
	width: 100%;
	height: 50px;
	overflow: hidden;
}
.copyright {
	position: static;
}
@media screen 
and (min-device-width : 360px) 
and (min-device-height : 1100px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {

}

@media screen 
and (min-device-width : 360px) 
and (min-device-height : 1200px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.btn-back {
		height: 40px;
		line-height: 40px;
	}
	.index-btn{
		margin-top: -20px;
	}
}
/* iPhone6 */
@media screen
and (min-device-width : 360px)
and (max-device-width : 667px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {

}

/* iPhone5 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
	
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.btn-back {
		height: 32px;
		line-height: 32px;
	}
	.index-btn {
		margin-top: -30px;
	}
	.btn-back {
		margin: 5px auto;
		width: 48%;
	}
	.home-logo{
		padding-top: 0;
	}
	.tab {
		line-height: 0px;
	}
	.tab span {
		margin: 0 8px;
	}
	.copyright {
		line-height: 9px;
		-webkit-transform: scale(0.7);
		bottom: -1px;
	}
}
@media screen
and (min-device-width : 720px)
and (max-device-height : 1280px)
and (orientation : portrait)
and (device-aspect-ratio:16/9) and (device-aspect-ratio:16/10) and (device-aspect-ratio:4/3)
and (-webkit-min-device-pixel-ratio : 0) {
	.index-btn {
		margin-top: -10px;
	}
}

@media screen and (min-device-width:1000px) and (min-device-height:1000px) {
	.index-btn {
		margin-top: -10px;
	}
	.btn-back {
		margin: 5px auto;
	}
}
