a:link, a:visited {
    color: #FFF;
}
html{
	height: 100%
}
body{
    width: 100%;
    height: auto;
    min-height: 100%;
    background: url(../images/index-bg.jpg) no-repeat bottom center fixed;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
header {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
header .tvlogo {
    width: 25%;
    margin: 12px;
}
.title{
	display: block;
	width: 33%;
	margin: 0 auto;
}
.gift-url a {
    display: inline-block;
    color: #ff4954 !important;
    font-size: 13px;
    font-weight: bolder;
    margin-top: 5px;
    padding-bottom: 2px;
    border-bottom: 1px solid #ff4954;
}
.content {
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 6% 0 0 10%;
    color: #ff4954;
    padding-bottom: 80px;
}
.content ul, .content ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.content ul {
    border-left: 4px solid #ff748d;
    padding-left: 8%;
}
.content ul li {
    position: relative;
    padding-bottom: 8%;
}
.content ul li .gift-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: calc(-8% - 19px);
    left: -webkit-calc(-8% - 19px);
    background-color: #FFF;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid #ff748d;
}
.content ul li .gift-icon:after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 4px;
    left: 3px;
    background: url(../images/icon-gift.png) no-repeat;
    background-size: cover;
}
.content ul li .gift-time {
    color: #1587bc;
    font-size: 16px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
}
.content ul li .gift-content {
    position: relative;
    background: #c3efff;

    font-size: 14px;
    padding: 3% 5%;
    font-weight: bolder;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
}
.content ul li .gift-content .gift-status{
	position: absolute;
	right: 5%;
	top: 50%;
	margin-top: -10px;
	font-size: 15px;
}
.content ul li .gift-content .unaward{
	color: #068400;
}
.content ul li .gift-content .award{
	color: #d21d28;
}
.content ul li .gift-content .gift-name{
    color: #ff4954;
    font-size: 13px;
    line-height: 20px;
    padding: 3px 60px 3px 0;
}
.content ul li .gift-content label {
    word-break: break-all;
    font-weight: bolder;
}
.content ul li .gift-content p:last-child {
    border-bottom: 0 none;
}
.empty {
    font-size: 16px;
    color: #ff4954;
    font-weight: bolder;
    text-align: center;
    margin: 40% auto;
    padding-right: 10%;
}
.trim {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.trim span, .trim img {
    display: block;
}

footer {
	position: absolute;
    width: 100%;
    left: 0;
	bottom: 0;
    z-index: 50;
}
.btn-go2index {
    display: block;
    margin: 10px auto 20px;
    width: 33%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #0ba2c3;
    border-radius: 6px;
    font-size: 15px;
}
footer .copyright {
    width: 100%;
    height: 26px;
    line-height: 13px;
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	
}
/* huawei honor-6 */
@media screen
and (min-device-width:1000px)
and (min-device-height:1000px) {
}