body{
    background: #F8F8F8;
    width: 100%;
    height: 100%;
}
a,a:hover {
    color: #fff;
    text-decoration: none;
}
.main {
    margin: 0 auto;
    overflow-x: hidden;
    font-size: 15px;
    padding-bottom: 50px;
}
.cover {
    min-height: 180px;
    text-align: center;
    margin-top: 50px;
    max-height: 180px;
    overflow: hidden;
}
.cover img {
    max-height: 100%;
    max-width: 100%;
}
.info {
    text-align: center;
    padding: 5px 18px 12px;
}
.info h2 {
    margin-bottom: 3px;
    color: #333333;
}
.info .jf {
    color: #C52424;

    margin-right: 10px;
}
.info .jf strong {
    margin-right: 3px;
}
.info .price {
    color: #4C4C4C;

    font-size: 12px;
    text-decoration: line-through;
}
.info .kc {
    font-size: 12px;
    margin-left: 10px;
    color: #4C4C4C;
}
.info .price strong {

}
.detail-list {
    color: #666666;

}
.detail-list li {
    padding: 10px;

    line-height: 24px;
}
.ctrl {
    background: rgba(87, 135, 220, 1);
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 10px 0;
}
.ctrl .btn-minus,
.ctrl .btn-plus,
.ctrl.block .btn-close i {
    background: url(http://yao.holdfun.cn/portal/resources/news/images/icons-add.png?20140905) no-repeat -84px -76px;
    background-size: 218px auto;
    display: inline-block;
    vertical-align: -3px;
}
.ctrl .btn-minus,
.ctrl .btn-plus {
    font-size: 25px;
    width: 11px;
    height: 14px;
    color: #000;
    padding: 2px 4px;
    margin: 0 6px;
}
.ctrl .btn-plus {
    background-position: -104px -76px;
}
.ctrl .btn-minus:hover {
    background-position: -129px -76px;
}

.ctrl .btn-plus:hover {
    background-position: -104px -76px;;
}
.ctrl .btn {
    width: 115px;
    height: 30px;
    line-height: 30px;
    margin-top: 8px;
}
.ctrl p,
.ctrl .btn-exchangenow,
.ctrl.block .btn-exchange {
    display: none;
}
.ctrl.block {
    padding: 10px 0;
}
.ctrl.block .btn-close {
    padding: 5px 8px;

    float: left;
    position: absolute;
    left: 1px;
    top: 1px;
}
.ctrl.block .btn-close i {
    width: 16px;
    height: 15px;
    background-position: -52px -75px;
}
.ctrl.block p {
    display: block;
    line-height: 30px;
}
.ctrl.block .btn-exchangenow {
    display: inline-block;
}

.ctrl .name,.ctrl .mobile,.ctrl .address {
    width: 120px;
    border-radius: 9px;
    padding: 2px;
    border: 0 none;
}
.ctrl .amount {
    width: 50px;
    border-radius: 9px;
    padding: 2px;
    text-align: center;
    border: 0 none;
    vertical-align: -1px;
}
.nav {
    background: #fff;
    position: relative;
    height: 42px;
}
.nav:before {
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 6px;
    background: #E7E7E7;
}
.nav li {
    width: 50%;
    height: 42px;
    line-height: 42px;
    float: left;
    text-align: center;
    background: rgba(87, 135, 220, 0.4);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, .1);
}
.nav a {
    display: block;
    color: #979797;
}
.nav a.curr, .nav a:hover {
    color: #DA2323;
    border-bottom: 1px solid #DA2323;
}
.btn-back{
    font-size: 12px;
    background-color: #3A66B6;
    width: 55px;
    height: 20px;
    line-height: 20px;
    margin: 6px;
    float: right;
    border-radius: 5px;
    text-align: center;
}

/*加载按钮 -s*/
.loader span{
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    background: #F26C0D;
    border-radius: 50px;
    margin: 0 2px;
    -webkit-animation: loader 1s infinite alternate;
    -moz-animation: loader 1s infinite alternate;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
}
.loader span:nth-of-type(4) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
.loader span:nth-of-type(5) {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
}
@-webkit-keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}
@-moz-keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

/*加载按钮 -e*/