body {
    background: url("../images/new-bottom.jpg") no-repeat 0px bottom, #F8F8F8 repeat-y 0 0;
    background-size: contain;
    width: 100%;
    min-height: 100vh;
}
.main {
    margin: 0 auto;
    overflow-x: hidden;
}
h1 {
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    padding: 0 10px;
    color: #fff;
    background: rgba(0,0,0,0.3);
}
h1:before{
    content: '';
    display: inline-block;
    background: url(../images/jifen-logo.png) no-repeat;
    background-size: 15px auto;
    width: 15px;
    height: 13px;
    margin-right: 10px;
}
.btn-loadmore {
    background: #F3F3F3;

    color: #bbb;
}
.btn-loadmore:hover {
    background: #eee;

}
.tips {
    background: #EDEDED;

    color: #5f5f5f;
    line-height: 28px;
    padding: 8px 10px;
    font-size: 12px;
}
.tips h2 {

}
.tips p {
    line-height: 24px;

    text-indent: 2em;
}
.list {
    font-size: 15px;

}
.list li {
    overflow: hidden;
    padding: 14px 0;
}
.list li:nth-child(n){
    background: rgba(87, 135, 220, 0.4);
}
.list li:nth-child(2n){
    background: rgba(58, 102, 182, 0.16);
}

.list li a {
    display: block;
    text-decoration: none;
    padding: 0 12px;
    min-height: 90px;
}
.list li a:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(http://yao.holdfun.cn/portal/resources/news/images/icons.png) no-repeat -208px 9px;
    background-size: 218px auto;
    width: 12px;
    height: 23px;
    float: right;
    margin-top: 30px;
}
.list .left {
    width: 125px;

    height: 90px;
    border: 1px solid #EDEDED;
    text-align: center;
}
.list .right {

    min-height: 78px;
    float: left;
    padding-top: 12px;
    max-width: 145px;
}
.list .right h2 {
    color: #fff;

    margin-bottom: 5px;
}
.list img {
    max-width: 125px;

    max-height: 90px;
    margin-right: 10px;
    float: left;
}

.list p {
    color: #8C592E;
    text-decoration: none;
    word-wrap: break-word;
    word-break: break-all;
}
.list .price {
    font-size: 12px;
    color: #fff;
    text-decoration: line-through;
    margin-left: 10px;
}
.list .btn-exchange {
    background: #1eb5c2;

    color: #fff;
    text-decoration: none;
    width: 95px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    border-radius: 5px;
}
.list .btn-exchange:hover {
    background: #1198a4;
}
.gift-tip {
    font-size: 16px;
    color: #3A66B6;
    margin-left: 12px;
    display: block;
    text-align: center;
    margin-top: 10px;
}
a.btn-back {
    margin: 20px auto 40px;
    display: block;
    color: #fff;
}
a.btn-back:hover {
    color: #fff;
}
.lodd{
    position:static;
    margin-top: 20px;
}