
.modal {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: rgba(0,0,0,.6);
	z-index: 100;
	color: #fff370;
	text-align: right;
}
.modal .dialog{
	width: 100%;
	height: 100%;
	position: absolute;
}
.modal .btn-close{
    position: absolute;
    top: 8%;
    right: 2%;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../images/icon-close.png) no-repeat;
    background-size: 30px;
}
.lottery-dialog{
    background: url(../images/lottery-bg.png) no-repeat;
    background-size: 100%;
}
.lottery-dialog .lott{
    width: 68%;
    margin: 64% auto 0;
    overflow: hidden;
}
.lottery-dialog .btn-award{
    display: block;
    color: #e13850;
    background: #fff95f;
    width: 45%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin: 5% auto 0;
    border-radius: 5px;
    box-shadow: 1px 3px 3px rgba(0,0,0,.3);
}
.rule-dialog{
	background: url(../images/rule_bg.png) no-repeat;
	background-size: 100% 100%;
	color: #ad4100;
	
}
.rule-dialog .btn-close{
	position: absolute;
    top: 10px;
    right: 10px;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/close.png) no-repeat;
	background-size:16px ;
}
.rule-dialog h2{
    padding-top: 20px;
    padding-bottom: 5px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-bottom: 1px solid;
	
}
.rule-dialog .content{
    padding: 10px 20px;
    text-align: left;
    font-size: 14px;
    height: 65%;
    word-break: break-all;
    color: #fff;
}
.rule-dialog .rule-con{
	height: 100%;
	overflow: auto;
}

.thanks-dialog{
    background: url(../images/thanks-bg.png) no-repeat;
    background-size: 100%;
}
.thanks-dialog .con{
    display: block;
    width: 78%;
    margin-top: 64%;
    margin-left: 11%;
    font-size: 16px;
    text-align: center;
    color: #cc6500;
}
.thanks-dialog .thanks-close{
    display: block;
    color: #e13850;
    background: #fff95f;
    width: 30%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin: 10% auto 0;
    border-radius: 5px;
    box-shadow: 1px 3px 3px rgba(0,0,0,.3);
}
.bounceInDown {
    -webkit-animation-name: bounceInDown;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -webkit-backface-visibility:hidden;
}
.bounceOutDown {
    -webkit-animation-name: bounceOutDown;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -webkit-backface-visibility:hidden;
}
@-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes bounceOutDown {
    20% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    40%, 45% {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.rule-dialog h2 {
		padding-top: 30px;
		line-height: 20px;
	}
	.lott{
		padding-top: 0px;
    }
    .not-lott{
    	padding-top: 20%;
    }
    .modal .btn-close{
	    top: 10px;
	    right: 14px;
	}
	.lott .redBao{
		padding-top: 30px;
	}
	.lott .redBao img {
	    width: 56%;
	}
}


















