.ad-box {
	opacity: 0;
	transition: opacity .6s ease;
  	-webkit-transition: opacity .6s ease;
}
.ad-box i {
  font-size: 14px;
  padding: 6px 16px;
  background: rgba(0,0,0,0.2);
  color: #FFF;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  right: 10px;
  font-style: normal;
}
.pre-ad {
	display: block;
}
footer {
	width: 100%;
	overflow: auto;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: opacity .6s ease;
  	-webkit-transition: opacity .6s ease;
}
.tips {
	font-size: 16px;
	padding: 10px 20px;
	background: rgba(0,0,0,.2);
	color: #FFF;
	font-weight: bolder;
	border-radius: 5px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0,0,0,.5);
	margin-bottom: 8%;
}
#div_subscribe_area {
	width: 100%;
	overflow: hidden;
}
.copyright {
	font-size: 13px;
	color: #FFF;
	position: static;
	opacity: 1;
	line-height: 14px;
	margin-bottom: 3px;
	text-shadow: 0 0 3px rgba(0,0,0,.9);
	text-align: center;
}