body {
    overflow: hidden;
    margin: 0 auto;
    background: url(../images/bg.jpg) top center no-repeat;
    background-size: cover;
}
header {
    position: relative;
    overflow: hidden;
}
header .total {
    position: absolute;
    left: 8px;
    top: 8px;
    color: #FFF;
    font-size: 14px;
}
header .btn-rule {
    position: absolute;
    left: 100px;
    top: 32px;
    border: 1px solid #8e8886;
    color: #8e8886;
    border-radius: 20px;
    font-size: 12px;
    padding: 0px 5px;
}
/*header .ranking {
  display: none !important;
}*/
header .ranking {
    /*display: block;*/
    /*position: absolute;*/
    /*right: 18px;*/
    /*top: 10px;*/
    /*text-align: center;*/
    /*color: #fff;*/
    /*width: 26%;*/
    /*padding: 4px 0px 6px;*/
    /*overflow: auto;*/
    /*font-size: 13px;*/
    /*background: url(../images/btn-bg.png) no-repeat;*/
    /*background-size: 100% 100%;*/
}
.rankbar{
    position: absolute;
    width: 80px;
    height: 30px;
    right: 8px;
    top: 8px;
    border: 2px solid #ffffff;
    /*font-size: 12px;*/
    /*line-height: 30px;*/
    /*text-align: center;*/
    /*color: #ffffff;*/
}
.rankbar>a{
    position: absolute;
    width: 80px;
    height: 30px;
    font-size: 14px;
    color: #ffffff;
    line-height: 26px;
    text-align: center;
}
/*header .ranking span {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 20%;
  color: #FFF;
  font-size: 13px;
}
.ranking p {
    font-size: 12px;
	
    margin-top: -6px;
}*/
header h2 {
    width: 30%;
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
}

header .qa-wrapper {
	width: 1005;
	height: 100%;
	line-height: 100%;
	color: #fff;
	text-align: center;
	background: url(../images/cor-title.png) no-repeat center;
	background-size: 80%;
}
.btn-back-index{
    display: inline-block;
    width: 34%;
    height: 70px;
    background: url(../images/return.png)no-repeat center;
    background-size: 100%;
    position: absolute;
    top:10px;
    right: 10px;
}

header .qa-wrapper .cor-content{
    width: 100%;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    padding: 0 30px;
    word-wrap: break-word;
}

.outer{
    font-size: 13px;
    color: #830f15;
    position: absolute;
    top: 44px;
    right:6px;
}
.outer:hover,.outer:visited{
    color: #830f15;
}
.qa-wrapper .c-item {

}
.qa-wrapper .question {

}
.funnyimg {
    display: inline-block;
    height: 28px;
}
.timer .wait-next {
    display: block;
    font-size: 15px;

}
.qa-wrapper .question dt {
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.qa-wrapper .question ul {

}
.qa-wrapper .question li {
    text-align: center;

}
.qa-wrapper .question dd {
    display: inline-block;
    vertical-align: middle;
}
.qa-wrapper .question dd a {
    display: block;
    background: #8c0000;
    color: #FFF;
    text-align: center;
    border-radius: 20px;
    padding: 4px 21px;
    margin: 10px 5px 0;
}
.qa-wrapper .answered {
    color: #970020;
    text-align: center;
    position: relative;
}
.qa-wrapper .answered .timer {
    display: inline-block;
    padding: 8px 20px;
    font-size: 13px;
}
.qa-wrapper .answered .timer .timer-tips {
    height: 40px;
    padding: 7px 0px;
    position: relative;
}
.qa-wrapper .answered .timer-tips  h4 {
    font-size: 15px;
    color: #970020;
    height: 26px;
    background: #fff;
    height: 26px;
    line-height: 26px;
    background: #fff;
    border-radius: 20px;
    padding-left: 46px;
    padding-right: 10px;

}
.qa-wrapper .answered .timer .timer-tips i{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: url(../images/player.png) no-repeat center;
    background-size: 100%;
    position: absolute;
    top:0px;
    left: 0px;

}
.qa-wrapper .answered .timer .timer-tips {

}
.qa-wrapper .answered h3 {
    font-size: 16px;
    color: #fff;
}
.qa-wrapper .answered.error h3 {
    display: block;
}
.qa-wrapper .answered .btn-reserve {
    display: none;
    background: #ffcd02;
    color: #3b0505;
    text-align: center;
    border-radius: 20px;
    padding: 2px 15px;
    width: 40%;
    margin: 10px auto 0;
}
.qa-wrapper .answered .reserved .btn-reserve {
    display: block;
}
.qa-wrapper .answered h5 {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}
.qa-wrapper .answered h5 span {
    display: inline-block;
    vertical-align: middle;
    /*width: 34px;*/
}
.qa-wrapper .answered h5 i {
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    width: 8px;
    text-align: center;
}
article {
    position: relative;
    overflow: hidden;
}
article:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(250,250,250,0.1)), color-stop(0.5, rgba(250,250,250,1)), to(rgba(250,250,250,0.2)));
}
article .ctrls {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #00628f;
    border-top: 1px solid rgba(250,250,250,0.5);
}
.ctrls p {
    position: relative;
    margin: 6px 70px 6px 10px;
}
.ctrls p input {
    width: 100%;
    height: 38px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0 5px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    outline: none;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    opacity: 0.4;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #fff;
}
.ctrls p input.error {
    border: 1px solid #f00;
}
.ctrls a {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 38px;
    line-height: 38px;
    background: url(../images/send-btn.png) no-repeat center;
    background-size: 100% 100%;
    border: 1px solid rgba(250,250,250,0.5);
    border-left: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    position: absolute;
    right: -60px;
    top: 0px;
}
.copyright {
    color: #0092C7;
    line-height: 13px;
    height: auto;
}
.me {
    border: 2px solid #FFF;
    border-radius: 30px !important;
    height: 36px!important;
}
.comments {
    position: absolute;
    width: 100%;
    overflow: hidden;
    /*background: rgba(255,255,255,0.2);*/
}
.c_topic {
    color: White;
    word-wrap: break-word;
    padding: 5px 5px;
    padding-left: 10px;
    min-height: 28px;
}
.me .c_head_img {
    top: 2px;
    left: 8px;
    font-size: 16px!important;
}
.c_head_img {
    width: 28px;
    height: 28px;
    border-radius: 28px;
    overflow: hidden;
    float: left;
    margin-right: 5px;
}
.c_head_img_img {
    width: 28px;
    margin-right: 4px;
}
.comment_item {
    border-radius: 2px;
    padding: 2px 5px 0;
}
.container1 > div, .container2 > div, .container3 > div {
    background-color: #FFF;
}
.fadein {
    -webkit-animation-name: fadein_a;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes fadein_a {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.Transparent {
    background-color: rgba(255,255,255,0.5);
}
.fadeout {
    -webkit-animation-name: fadeout_a;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes fadeout_a {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
.pass_barrage {
    -webkit-animation-name: pass_barrage_a;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes pass_barrage_a {
    100% {
        -webkit-transform:translateX(-300px);
    }
}
::-webkit-input-placeholder {
    color: #FFF;
}

#lottery-dialog ::-webkit-input-placeholder {
    color: #333;
}
.ctrls .funny-box {
    width: 100%;
    height: 50px;
    text-align: center;
    overflow: hidden;
}
.ctrls .funny-box img {
    height: 70%;
    width: auto;
    display: inline-block;
    margin: 6px 10px;
}
.ctrls .funny-box img.funny1 {
    height: 80%;
}
.funnyshow {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    left: 5px;
}
.funnyshow img {
    width: auto !important;
    height: 100% !important;
    border-radius: 0 !important;
}
.copyright {
    color: #0092C7;
    line-height: 13px;
    height: auto;
}
.me {
    border: 2px solid #FFF;
    border-radius: 30px !important;
    margin-right: 5px;
}
@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
	50% {
		-webkit-transform: scale3d(1.4, 1.4, 1.4);
		transform: scale3d(1.4, 1.4, 1.4)
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}
@keyframes pulse {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
	50% {
		-webkit-transform: scale3d(1.4, 1.4, 1.4);
		transform: scale3d(1.4, 1.4, 1.4)
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}
.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	animation-iteration-count:5;
	-webkit-animation-iteration-count:5;
	animation-duration:1s;
	-webkit-animation-duration:1s;
	animation-delay:1s;
	-webkit-animation-delay:1s;
	animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .qa-wrapper .answered .timer {
        margin-top: 0;
        padding: 4px 0;
    }
    .qa-wrapper .question dt {
        margin-bottom: 2px;
    }
    .qa-wrapper .answered h5 {
        margin-top: 0;
    }
    header .qa-wrapper {
        padding:0;
    }
    header .hd-wrapper {
        margin-bottom: 0px;
        padding-top: 4px;
    }
    .qa-wrapper .answered h5 {
        font-size: 18px;
    }

}
/* iPhone5 */
@media screen
and (min-device-width : 320px)
and (min-device-height : 570px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
    .qa-wrapper .answered .timer {
        margin-top: 2%;
    }
    .qa-wrapper .answered h5 {
        margin-top: 0;
    }

}