body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 { 
	font-family: 'Microsoft YaHei','宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
html{
	height: 100%;
	-webkit-font-smoothing: antialiased;
}
body{
	height: auto;
	min-height: 100%;
	position: relative;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}
img {
	display: block;
}
div,a,a:focus {
	outline: 0 none;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:link, a:visited, a:hover, a:active {
	color: #FFF;
}
.ellipsis {
	white-space: nowrap;
	word-break: break-all;
	overflow: hidden;
}
.noscroll {
	overflow: hidden !important;
}
.none {
	display: none !important;
}
.hidden {
	visibility: hidden !important;
}
.hide {
	opacity: 0 !important;
}
.zlow {
	z-index: -1 !important;
}
.btn-loadmore {
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 18px;
	display: block;
	border-radius: 30px;
	margin-top: 20px;
	text-align: center;
	margin: 20px auto 10px;
	border: 1px solid #D2CCC7;
	width: 66%;
	background: #EE1B2E;
}
.btn-loadmore:hover {
    background: #cf1022;
}
.isempty {
  opacity: 0 !important;
}
.btn-loadmore i {
	visibility: hidden;
}
.btn-loadmore.loading i {
	visibility: visible;
	display: inline-block;
	vertical-align: middle;
	background: url(http://yao.holdfun.cn/portal/resources/news/images/loading.png) no-repeat 0 -1px;
	background-size: 15px auto;
	width: 15px;
	height: 16px;
	margin-right: 6px;
	-webkit-animation-name: loading;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes loading {
	0%   {-webkit-transform: rotate3d(0, 0, 1, 0deg);}
	100%   {-webkit-transform:rotate3d(0, 0, 1, 360deg);}
}

.share-box {
	width: 100%;
	height: 100%;
	position: fixed;
	background: url(../images/sharebg.png) no-repeat right 4px rgba(0,0,0,0.8);
	z-index: 9999999;
	background-size: 320px auto;
	top: 0;
	left: 0;
}

.spinner {
	position: absolute;
	max-width: 360px;
	margin: 0 auto;
	text-align: center;
	z-index: 1000;
}
.spinner .spinner-wrapper {
	width: 50px;
	height: 50px;
	position: relative;
	margin: 0 auto;
}
 
.container1 > div, .container2 > div, .container3 > div {
  width: 10px;
  height: 10px;
  background-color: #999;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
 
.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
 
.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
 
.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }
 
.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
 
.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
 
.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
 
.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
 
.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
 
.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
 
.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
 
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
	0%, 80%, 100% { 
    	transform: scale(0.0);
    	-webkit-transform: scale(0.0);
  	} 
  	40% { 
    	transform: scale(1.0);
    	-webkit-transform: scale(1.0);
  	}
}

.spinner-loading {
	height: 20px;
	width: 20px;
	margin: 0px auto;
	position: relative;
	-webkit-animation: loading-rotation 1s infinite linear;
	animation: loading-rotation 1s infinite linear;
	border-left: 4px solid rgba(243, 81, 114, 0.15);
	border-right: 4px solid rgba(243, 81, 114, 0.15);
	border-bottom: 4px solid rgba(243, 81, 114, 0.15);
	border-top: 4px solid rgba(239, 0, 48, 0.8);
	border-radius: 100%;
}

@-webkit-keyframes loading-rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@keyframes loading-rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}
.copyright {
	z-index: 0;
	color: #FFF;
	opacity: .7;
	font-size: 10px;
	line-height: 13px;
	margin-bottom: 3px;
	text-align: center;
	clear: both;
	width: 100%;
}
.btn-simple {
	background: none;
	border-radius: 38px;
	color: #f93838;
	font-size: 16px;
	text-align: center;
}
.btn-border {
	border:1px solid #f93838;
	background: none;
	color: #f93838;
}
.bg-white {
	background-color: #fff;
	border-radius: 5px;
	margin: 10px 6px;
}
.icon-sprites {
	display: inline-block;
	vertical-align: middle;
	background: url(../images/icons.png) no-repeat 0 0;
	background-size: 88px auto;
	width: 15px;
	height: 15px;
}
.zhufu {
	border: 1px solid #fff;
	color: #ffffff;
	background: transparent;
	margin: 0px auto 20px;
	height: 43px;
	line-height: 42px;
}
.hour .fetal-H {
  display: none;
}
#div_subscribe_area {
  overflow: hidden;
}
.requesting {
  -webkit-animation-name: ft;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-backface-visibility:hidden;
}
.bounceIn {
  -webkit-animation-name: bounceInDown;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-backface-visibility:hidden;
}
.bounceOut {
  -webkit-animation-name: disphide;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-backface-visibility:hidden;
}
.bounceInDown {
  -webkit-animation-name: dispshow;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-backface-visibility:hidden;
}
.bounceOutDown {
  -webkit-animation-name: disphide;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-backface-visibility:hidden;
}
.waggle {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
	-webkit-animation: 3s waggle;
  animation: 3s waggle;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: -1;
  animation-delay: -1;
}
@-webkit-keyframes start {
  0%,30% {opacity: 0;-webkit-transform: translate(0,10px);}
  60% {opacity: 1;-webkit-transform: translate(0,0);}
  100% {opacity: 0;-webkit-transform: translate(0,-8px);}
}
@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }

  20% {
    -webkit-transform: scale3d(1.6, 1.6, 1.6);
    transform: scale3d(1.6, 1.6, 1.6);
  }

  40% {
    -webkit-transform: scale3d(.7, .7, .7);
    transform: scale3d(.7, .7, .7);
  }

  60% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }

  80% {
    -webkit-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  40%, 45% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
}
@-webkit-keyframes ft {
	0%{
		transform: scale(1,1) ;-webkit-transform: scale(1,1);
	}
	10%{
		transform: scale(1.5,0.7) ;-webkit-transform: scale(1.5,0.7);
	}
	40%{
		transform: scale(0.7,1.5) ;-webkit-transform: scale(0.7,1.5);
	}
	60%{
		transform: scale(1.5,0.7) ;-webkit-transform: scale(1.5,0.7);
	}
	80%{
		transform: scale(0.7,1.5) ;-webkit-transform: scale(0.7,1.5);
	}
	100% {
		transform: scale(1,1) ;-webkit-transform: scale(1,1);
	}
}

@-webkit-keyframes scl {
	0%{
		transform: rotate(720deg) scale(1,1);-webkit-transform:rotate(720deg) scale(1,1);
		opacity: 1;
	}
	50%{
		transform: rotate(360deg) scale(1.5,1.5);-webkit-transform:rotate(360deg) scale(1.5,1.5);
		opacity: 0.5;
	}
	100% {
		transform: rotate(720deg) scale(1,1);-webkit-transform:rotate(720deg) scale(1,1);
		opacity: 1;
	}
}

@-webkit-keyframes justshow {
	0% {
		opacity: 0;
		transform: scale(0.7,0.7) ;-webkit-transform: scale(0.7,0.7);
	}
	80%{
		opacity: 0.8;
		transform: scale(0.95,0.95) ;-webkit-transform: scale(0.95,0.95);
	}
	100% {
		opacity: 1;
		transform: scale(1,1) ;-webkit-transform: scale(1,1);
	}
}
@-webkit-keyframes justhide {
	0% {
		opacity: 1;
	}
	35%{
		opacity: 0.8;
		transform: scale(0.7,1) ;-webkit-transform: scale(0.7,1);
		top: -25%;
	}
	100% {
		opacity: 0;
		transform: scale(0.3,1) ;-webkit-transform: scale(0.3,1);
		top: -120%;
	}
}

@-webkit-keyframes dispshow {
	0% {opacity: 0; -webkit-transform: scale(1.3,1.3)}
	100% {opacity: 1; -webkit-transform: scale(1,1)}
}

@-webkit-keyframes disphide {
	0% {opacity: 1; -webkit-transform: scale(1,1)}
	100% {opacity: 0; -webkit-transform: scale(1.3,1.3)}
}
@-webkit-keyframes waggle {
0%, 7% {
    transform: rotateZ(0);
    -webkit-transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
    -webkit-transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
    -webkit-transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
    -webkit-transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
    -webkit-transform: rotateZ(0);
  }
}