body {
	position: relative;
	width: 100%;
	min-height: 100%;
	background: url(../images/bg-index.jpg) no-repeat bottom center ;
	background-size: cover;
	overflow: hidden;
}
header {
	position: relative;
	width: 100%;
}
header .tvlogo {
	position: absolute;
	width: 25%;
	top: 10px;
	left: 8px;
}
header .btn-box {
	position: absolute;
	top: 5px;
	right: 5px;
}
.main {
	width: 92%;
	margin: 32% auto 0;
}
.cloud {
	width: 100%;
	height: 100%;
}
.cloud img {
	position: absolute;
	display: block;
}
.cloud .icon-cloud-left {
	width: 11%;
	top: 10%;
	left: 15%;
    animation:shake 60s linear infinite;
    -webkit-animation:shake 60s linear infinite;
}
.cloud .icon-cloud-right {
	width: 26%;
	top: 13%;
	right: 6%;
    animation:shake 120s linear infinite;
    -webkit-animation:shake 120s linear infinite;
}
.btn {
	display: block;
	margin: 3px auto;
	padding: 4px 16px;
	border-radius: 20px;
	border: 2px solid #212a54;
	color: #FFF;
	font-size: 12px;
	background-image: -webkit-linear-gradient(-90deg, #4f65b7, #2b396d);
}
.rl{
	position: absolute;
	width: 66%;
	left: 19%;
	top: 22%;
	height: 50%;
	overflow-y: scroll;
	color: #FFF;
	font-size: 12px;
}
.mz{
	position: absolute;
	width: 66%;
	left: 19%;
	top: 77%;
	height: 8%;
	font-size: 12px;
	color: #FFF;
}
footer {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
}
footer .join-box {
	position: relative;
	width: 100%;
	margin-bottom: 20%;
}
footer .join-box .icon-car {
	position: absolute;
	width: 33%;
	bottom: 32%;
	left: 13%;
}
footer .join-box .icon-flower {
	position: absolute;
	bottom: -5px;
	right: 18%;
}
footer .join-box .icon-playguide {
	position: absolute;
	width: 42%;
	left: 29%;
	bottom: -80%;
}
footer #div_subscribe_area {
	width: 100%;
	overflow: hidden;
}
.ADlogo{
	position: absolute;
	width: 95%;
	top: 12%;
	left: 0;
}
.btnin{
	position: absolute;
	width: 38%;
	bottom: 16%;
	left: 31%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.black{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.6;
	z-index: 80;
	display: none;
}
.index-rl{
	position: absolute;
	width: 102%;
	height: 100%;
	top: 0;
	left: -1%;
	background: url(../images/index-rl.png) no-repeat;
	background-size: 100% 100%;
	z-index: 100;
	display: none;
}
.index-rl>p{
	position: absolute;
	width: 18%;
	height: 10%;
	right: 6%;
	top: 10%;
}
.index-rl .btn-rule2 {
	display: block;
	margin: 3px auto;
	padding: 5px 16px;
	border-radius: 20px;
	border: 2px solid #212a54;
	color: #FFF;
	font-size: 14px;
	background-image: -webkit-linear-gradient(-90deg, #4f65b7, #2b396d);
	position: absolute;
	text-align: center;
	width: 30%;
	left: 35%;
	top: 72%;
}
.cprt{
	width: 100%;
	position: absolute;
	bottom: 0;
}
@keyframes shake { 
    0%{transform:translateX(0);}
    10%,30%,50%,70%,90%{transform:translateX(-60px);}
    20%,40%,60%,80%{transform:translateX(100px);}
    100%{transform:translateX(0);}
}
@-webkit-keyframes shake {
    0%{-webkit-transform:translateX(0);}
    10%,30%,50%,70%,90%{-webkit-transform:translateX(-60px);}
    20%,40%,60%,80%{-webkit-transform:translateX(100px);}
    100%{-webkit-transform:translateX(0);}
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	body {
		background: url(../images/bg-index.jpg) no-repeat center center ;
		background-size: cover;
	}
	.index-rl {
		position: absolute;
		width: 102%;
		height: 112%;
		top: -6%;
		left: -1%;
		background: url(../images/index-rl.png) no-repeat;
		background-size: 100% 100%;
		z-index: 100;
		display: none;
	}
	.ADlogo {
		position: absolute;
		width: 82%;
		top: 9%;
		left: 1%;
	}
	.main {
		margin: 22% auto 0;
	}
	footer .join-box {
		margin-bottom: 12%;
	}
	.btnin{
		position: absolute;
		width: 36%;
		bottom: 10%;
		left: 32%;
	}
}
@media screen
and (min-device-width : 1000px)
and (min-device-height : 1000px) {
	.ADlogo {
		position: absolute;
		width: 82%;
		top: 8%;
	}
}