*{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html{
    height: 100%;
}
body{
  width: 100%;
  height: 100%;
  /*background: url(../images/talk-bg.jpg) no-repeat;*/
  /*background-size: 100% auto;*/
    /*background-position: 0 0;*/
    /*background-attachment: fixed;*/
    overflow: hidden;
}
.talkbg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: url("../images/talk-bg.jpg") no-repeat;
    background-size: 100% 100%;
}

.back-btn{
    display: block;
    background: url(../images/talk-back.png) 0 0 no-repeat;
    background-size: 100%;
    width: 20%;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.chkbox{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    z-index: 1300;
}
.chkbox>div{
    position: relative;
    height: 100%;
    width: 50%;
    float: left;
    background-color: #d17d15;
    text-align: center;
    line-height: 45px;
    color: #ffffff;
}
.handimg{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 5px;
    left: 10px;
    border-radius: 35px;
}
.chkbox>.r{
    /*text-align: center;*/
    background-color: #673508;
}
.chkbox>.l{
}
.chkbox>img{
    position: absolute;
    width: 50%;
    top: -5px;
    height: 5px;
    left: 0;
}
.r>img,.l>img{
    position: absolute;
    width: 35px;
    height: 25px;
    top: 10px;
}

.footer{
    display: block;
    position: fixed;
    width: 100%;
    background: #90480a;
    height: 45px;
    padding-top: 5px;
    float: left;
    bottom: 45px;
    z-index: 1200;
}
.footer input{
    width: 66%;
    margin-left: 55px;
    background: #b65f15;
    color: #ffffff;
    border: none;
    height: 35px;
    border-radius: 7px;
    display: inline-block;
    float: left;
    padding-left: 5px;
}
.footer a{
    display: inline-block;
    /*background: #00a4b4;*/
    width: 18%;
    margin-left: 10px;
    height: 35px;
    position:absolute;
    right: 1%;
    line-height: 33px;
    padding-left: 10px;
    /*border-bottom-right-radius: 7px;*/
    /*border-top-right-radius: 7px;*/
    /*color: #fff;*/
}
.footer a>img{
    width: 90%;
    height: 100%;
}
.talkroom{
    margin-top: 38px;
}

.talkroom .talk-title{
    background: #fff;
    border: 5px solid #00a4b4;
    margin-left: 5%;
    width: 90%;
    border-radius: 10px;
}
.talkroom .talk-title img{
    display: inline-block;
    width: 20%;
    border-radius: 35px;
    border: 3px solid #d4d4d4;
    margin-top: 2%;
    margin-left: 5%;
}
.talkroom .talk-title .content{
    display: inline-block;
    max-width: 70%;
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 5%;
}
.talkroom .talk-title .content .per{
    color: #00464d;
    font-size: 14px;
}
.talkroom .talk-title .content .que{
    color: #007a86;
}


 .body{
     position: fixed;
     top: 32%;
     width: 90%;
     left: 50%;
     margin-left: -45%;
     /*margin-left: 5%;*/
     /*float: left;*/
     /*border: 1px solid #00aff0;*/
     /*margin-top: 3%;*/
     height: 50%;
     overflow-y: auto;
     z-index: 1000;
}
.content{
    width: 100%;
}
.content li{
    margin-bottom: 15px;
}
.content li .ron{
    display: inline-block;
    width: 75%;
    margin-left: 2%;
}
.content li .ron p{

    color: #fff;
}
.content li .ron .tar{
    width: 100%;
    text-align: right;
}
.content li img{
    width: 50px;
    border-radius: 30px;
    display: inline-block;
}
.content li .triangle {
    position: relative;
    display: inline-block;
    float: left;
    margin-top: 3%;
    margin-left: 5px;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-left: none;
    border-right: 8px solid #ffffff;
}
.content li .triangle-top{
    position: relative;
    display: inline-block;
    float: left;
    margin-top: 23%;
    margin-left: -13%;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    border-bottom: 8px solid #fff;
    border-top: none;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.content li .triangle-right{
    position: relative;
    display: inline-block;
    float: right;
    margin-top: 4%;
    margin-right: 2%;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right: none;
    border-left: 8px solid #7e9d00;
}
.content li .article {
    max-width: 85%;
    display: inline-block;
    zoom: 1;
    padding: 5px 10px;
    background: #ffffff;
    border-radius: 5px;
    color: #000000;
    word-break: break-all;
}
.content li .article-right {
    max-width: 85%;
    display: inline-block;
    zoom: 1;
    padding: 5px 10px;
    background: #7e9d00;
    border-radius: 5px;
    color: #fff;
    word-break: break-all;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.mesg-tip{
    display: block;
    position: absolute;
    bottom: 90px;
    color: #000000;
    /*background: rgba(0,0,0,.7);*/
    background-color: #ffffff;
    border-radius: 8px;
    width: 80px;
    right: 5%;
    height: 36px;
    line-height: 36px;
    /*background: url("../images/talk-havenew.png") no-repeat;*/
    /*background-size: 100% 100%;*/
    text-align: center;
    opacity: 0;
    z-index: 1600;
}
.queshow{
    position: fixed;
    width: 100%;
    top: 68px;
    height: 100px;
    z-index: 50;
    /*background-color: #00aff0;*/
}
.queshow>img{
    width: 100%;
}
.queshow>.queshow-que{
    position: absolute;
    top: 20px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    width: 40%;
    left: 30%;
    overflow-x: hidden;
}
.queshow>.goque{
    position: absolute;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    top: 20px;
    right: 10%;
    display: none;
    color: #ffffff;
    background-color: #ffc000;
}
/* iPhone4 */
@media screen
and (min-device-width:320px)
and (max-device-height:500px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:2) {
    /*.body {*/
        /*height: 50%;*/
        /*z-index: 1000;*/
    /*}*/
    .mesg-tip{
        z-index: 1600;
    }
}