.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  z-index: 100;
  overflow-y: auto;
}
.modal .btn-close {
	  position: absolute;
    background:#f16c4d url(../images/close-icon.png) center no-repeat;
	  background-size:50% auto;
    display: block;
    width: 30px;
    height: 30px;
    z-index: 10000;
    top:0px;
    right:0px;
    border-radius: 50%;
}
.dialog {
  position: absolute;
  color: #D6305A;
  border-radius: 6px;
  z-index: 1000;
  overflow: hidden;

}
.lott{
	width: 100%;
	height: 100%;
}
.dialog-assist{
	width: 100%;
	height: 100%;
	background:#f16c4d;
	border-radius: 8px;
	overflow-x: hidden;
	overflow-y: auto;
}

.rule-dialog {
	position: absolute;
	color:#fff;
	width: 92%;
	height: 76%;
	left: 4%;
	top:12%;
	padding: 2%;
}

.rule-dialog h1 {
	color:#FFF;
	height:38px;
	line-height:38px;
	text-align:center;
	font-size:17px;
	font-weight:bolder;
	width: 50%;
	text-shadow:2px 2px 4px #000000;
	letter-spacing: 2px;
	padding-bottom: 8px;
	position: relative;
	margin: 0 auto;
}
.rule-dialog h1::after{
	content: "";
	display: block;
	position: absolute;
	height: 1px;
	width: 100%;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,0.4);
	box-shadow: 0px -1px 1px rgba(0,0,0,0.6);
}
.rule-dialog .content {
	position:static;
	margin:0 auto;
	padding:8% 6% 8%;
	width:88%;
	height:100%;
}
.rule-dialog .rule {
	font-size:14px;
	line-height:24px;
	height:80%;
	overflow-y:auto;
	color:#FFF;
	margin-top:9%;
	padding: 0 2%;
	
}
.rule-dialog p {
	line-height:16px;
}

@keyframes closeRotato
{
  0%
  {   transform-origin:center center;
      transform:rotateZ(0deg);
  }
  100%
  {   transform-origin:center center;
      transform:rotateZ(360deg);
  }
}
@-webkit-keyframes closeRotato
{
  0%
  {   -webkit-transform-origin:center center;
      -webkit-transform:rotateZ(0deg);
  }
  100%
  {   -webkit-transform-origin:center center;
      -webkit-transform:rotateZ(360deg);
  }
}
.lottery-good{
	width: 100%;
	height: 100%;
	overflow-y:auto ;
	position: relative;

	padding: 5%;
}
.lottery-good .award-tip{
	color: #fff;
	text-align: center;
	font-size: 12px;
	padding: 0 14% 2%;
}
.lottery-good .warm-tip{
	color: #fff;
	text-align: left;
	font-size: 12px;
}
.lottery-good .award-img {
  width: 48%;
  margin: -20px auto 0;
}
.lottery-good .contact {
  position: relative;
  padding: 0;
  z-index: 9999;
  margin-top: 3%;
  text-align: center;
  padding-left:20px;
  padding-right:20px;
}


.lottery-good .contact p {
    color: #f16c4d;
    font-size: 15px;
    line-height: 18px;
    border-radius: 6px;
    margin: 6px auto;
    text-align: left;
}

.lottery-good .contact input {
    height: 36px;
    padding: 2px 10px;
    width: 100%;
    color: #f16c4d;
    border: none;
    outline: none;
    border-radius: 6px;
    background: #fff;
}
.lottery-card{
		width: 100%;
		height: 80%;
		overflow-y:auto ;
		position: absolute;
		top: 10%;
		padding: 5%;
}
.lottery-card .award-img {
  width: 52%;
  margin: -20px auto 20px;
}
.lottery-dialog .award-img img {
  width: 100%;
}
.not-lott{
	width: 100%;
  height: 60%;
  position: absolute;
	top: 20%;

	padding: 5%;
}
.notLott-assist{
	height: 100%;
	width: 100%;
	background:#f16c4d;
	border-radius: 8px;
}
.notLlott-title{
	width: 100%;
}
.lottery-tip{
	width: 90%;
	margin: 0 auto;
}
.lottery-tip img{
	display: block;
	width: 100%;
}
.lottery-dialog .current-btn{
	display: block;
	font-size: 20px;
	margin: 0 auto;
	border-radius: 6px;
	width: 50%;
	height: 34px;
	line-height: 34px;
	background:#ffed23;
	color: #ab2000;
	text-align: center;
	font-size: 17px;
}
.not-lott .current-btn{
	margin-top: 26px;
}
.lottery-dialog .line{
	display: block;
	width: 90%;
	height: 2px;
	margin: 0 auto;
	background: -webkit-gradient(linear, left top, right top, from(rgba(250,250,250,0.1)), color-stop(0.5, rgba(250,250,250,1)), to(rgba(250,250,250,0.2)));
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #f16c4d;
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
.lottery-card{
		height: 80%;
		top: 10%;
		padding: 3%;
}
.lottery-card .award-img {
	width: 44%;
}
.lottery-good{
	padding: 3%;
}
.lott .lottery-tip {
	width: 68%;
	margin: 0 auto;
}
.lottery-good .award-img {
	margin: -24px auto 0;
	width: 32%;
}
.lottery-good .contact input {
    height: 30px;
    line-height: 30px;
}

.lottery-good .contact{
	margin-top: 2%;
}
.lottery-dialog .current-btn {
    width: 40%;
    height: 30px;
    line-height: 30px;
}

.not-lott{
  height: 80%;
	top: 10%;
}
}
/* iPhone5 */
@media screen
and (min-device-width : 320px)
and (min-device-height : 550px)
and (max-device-height : 568px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
.lott .lottery-tip {
	width: 84%;
	margin: 0 auto;
}
.lottery-good .contact input {
    height: 32px;
    line-height: 32px;
}
.lottery-good .award-img {
	width: 44%;
}
}




/*dai*/
@media screen and (min-device-width:1000px)
and (min-device-height:1000px)
and (orientation : portrait){
.lott .lottery-tip {
	width: 84%;
	margin: 0 auto;
}
.lottery-card .award-img {
	width: 46%;
}
.lottery-good .award-img {
	width: 44%;
}
.lottery-good .contact input {
    height: 32px;
    line-height: 32px;
}
}
@-webkit-keyframes toggle {
    0% {
        opacity: 1;
    }
    50%{
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes dispshow {
    0% {
        opacity: 0; -webkit-transform: scale(0.8,0.8)
    }
    100% {
        opacity: 1; -webkit-transform: scale(1,1)
    }
}

@-webkit-keyframes disphide {
    0% {
        opacity: 1; -webkit-transform: scale(1,1)
    }
    100% {
        opacity: 0; -webkit-transform: scale(0.8,0.8)
    }
}