.modal {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.6);
	z-index: 999;
	color: #FFF;
	text-align: center;
}
.modal .dialog {
	width: 100%;
	height: 100%;
	position: relative;
    overflow-y: scroll;
    padding-bottom: 3px;
}
#thanks-dialog {
    overflow: hidden !important;
}
.modal .btn-close {
    position: absolute;
    top: 0;
    right: 0;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../images/btn-close.png) no-repeat;
	background-size:30px;
	z-index: 9999999999;
}
.redlottery-dialog {
    width: 100%;
    height: 100%;
    background: url(../images/red-bg.jpg) no-repeat;
    background-size: 100% 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    border-radius: 10px;
}
.redlottery-dialog .award-lpt{
    color: #d32430;
    display: block;
    margin-top: 3%;
}
.redlottery-dialog .award-logo{
    display: block;
    width: 35%;
    margin: 8% auto 0;
}
.redlottery-dialog .award-img{
    display: block;
    width: 65%;
    margin: 15% auto 0;
}
.redlottery-dialog .lottery-btn{
    display: block;
    background: #ebcf76;
    width: 35%;
    margin: 20% auto 0;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    color: #ab1921;
}
.redlottery-dialog .award-ly{
    display: block;
    margin-top: 5%;
    color: #fff;
    font-size: 12px;
    padding: 0px 10px;
}
.thanks-dialog{
    width: 100%;
    height: 100%;
    background: url(../images/lottery-bg.png) no-repeat;
    background-size: 100% 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden !important;
    overflow-y: scroll !important;
}
.thanks-dialog .thanks-title{
    display: block;
    width: 80%;
    margin: 15% auto 0;
}
.thanks-dialog .thanks-bg{
    display: block;
    width: 80%;
    margin: 10% auto 0;
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .thanks-dialog img{
        width: 90%;
        margin: 25% auto 0;
        display: block;
    }
    .redlottery-dialog .award-logo{
        margin: 6% auto 0;
    }
    .redlottery-dialog .award-img{
        width: 60%;
        margin: 5% auto 0;
    }
    .redlottery-dialog .lottery-btn{
        margin: 10% auto 0;
    }
    .redlottery-dialog .award-ly{
        margin-top: 5%;
    }
    .thanks-dialog .thanks-title{
        margin: 10% auto 0;
    }
    .thanks-dialog .thanks-bg{
        display: block;
        width: 80%;
        margin: 5% auto 0;
    }
}
/* luo */
@media screen
and (min-device-width : 1000px)
and (min-device-height : 1000px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .redlottery-dialog .award-logo{
        width: 35%;
        margin: 6% auto 0;
    }
    .redlottery-dialog .award-img{
        width: 60%;
        margin: 10% auto 0;
    }
    .redlottery-dialog .lottery-btn{
        margin: 15% auto 0;
    }
    .thanks-dialog .thanks-title{
        margin: 10% auto 0;
    }
    .thanks-dialog .thanks-bg{
        display: block;
        width: 80%;
        margin: 5% auto 0;
    }
}