body, html {
	background-color: #fff;
	background-image: url('../images/guide_bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}
.none {
	display: none;
}
* {
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
	outline: 0 none;
}
.guide-box{

}
.guide-earth{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:60%;
	background-image: url('../images/guide_01.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size:contain;
	-webkit-transform:scale(0, 0);
	-webkit-animation-name: earth;
	-webkit-animation-delay:0.2s;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes earth{
0% {
	-webkit-transform:scale(0, 0);
}
100% {
	-webkit-transform:scale(1, 1);
}
}
.guide-logo{
	position:absolute;
	top:0;
	left:18%;
	width:64%;
	height:18%;
	margin:0 auto;
	background-image: url('../images/guide_02.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size:contain;
	opacity:0;
	-webkit-animation-name: g-logo;
	-webkit-animation-delay:0.8s;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes g-logo{
0% {
	opacity:0;
	top:0;
}
100% {
	opacity:1;
	top:28%;
}
}
.plane{
	position:absolute;
	bottom:6%;
	left:31%;
	width:38%;
	height:22%;
	background-image: url('../images/plane.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size:contain;
	z-index:99;
}
.go-play{
	-webkit-animation-name: play;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes play{
0% {
	bottom:20%;
}
100% {
	bottom:120%;
}
}
.footer{
	position:fixed;
	bottom:0;
	width:100%;
	min-height:40px;
	line-height:18px;
	margin:10px 0 0;
	text-align:center;
	font-size:12px;
	color:rgba(255,255,255,0.8);
}
.guide-pop:before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.7);
	z-index:99;
}
.guide-yao{
	position:absolute;
	top:15%;
	left:9%;
	width:82%;
	height:46%;
	border:8px #ff7200 solid;
	border-radius:8px;
	box-shadow:0 2px 4px #babaac inset;
	background-color:#ffffee;
	background-image: url('../images/guide_pop.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size:100% auto;
	z-index:99;
}
.guide-btn{
	position:absolute;
	bottom:15%;
	left:20%;
	width:60%;
	height:50px;
	line-height:50px;
	border-radius:25px;
	border:2px #0d9dc5 solid;
	box-shadow:0 0 10px #00ccff;
	background:rgba(0,0,0,0.7);
	text-align:center;
	font-size:18px;
	color:#fff;
	z-index:99;
}