body, html {
	background-color: #fff;
	background-image: url('../images/home_bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}
.none {
	display: none;
}
* {
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
	outline: 0 none;
}
.rule-bt{
	position:absolute;
	top:0;
	right:10px;
	width:16%;
	height:9%;
	background-image: url('../images/rule.png');
	background-repeat: no-repeat;
	background-position: top center;
	background-size:contain;
	-webkit-animation-name: ruleimg;
	-webkit-animation-duration: 1.8s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes ruleimg{
0% {
	top:0;
}
40% {
	top:-5px;
}
60% {
	top:-5px;
}
100% {
	top:0;
}
}
.surprise{
	position:absolute;
	top:16%;
	left:15%;
	width:70%;
	height:7%;
	background-image: url('../images/surprise.png');
	background-repeat: no-repeat;
	background-position: top center;
	background-size:contain;
}
.yao-con{
	position:absolute;
	top:29%;
	left:17%;
	width:66%;
	height:42%;
	background-image: url('../images/yao_bg.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size:contain;
}
.yaoing{
	-webkit-animation-name: yao;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;
}
@-webkit-keyframes yao{
0% {
	-webkit-transform:rotate(0);
}
50% {
	-webkit-transform:rotate(-60deg);
}
100% {
	-webkit-transform:rotate(0);
}
}
.menu{
	position:fixed;
	bottom:0;
	width:100%;
	height:42px;
	background:#f41582;
	text-align:center;
}
.menu span{
	position:relative;
	float:left;
	width:33%;
	height:42px;
	line-height:42px;
	box-sizing:border-box;
	color:#fff;
}
.menu span:nth-child(2){
	width:34%;
	border-left:1px #fff solid;
	border-right:1px #fff solid;
}
.menu span.on{
	background:#8c8c8c;
}
.menu span:active{
	background:#b4005d;
}
.menu span.on:active{
	background:#8c8c8c;
}
.main-pop:before{
	content:"";
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.7);
}
.pop-redbao,
.pop-kj{
	position:absolute;
	top:30%;
	left:7%;
	width:86%;
	height:40%;
	background-image: url('../images/red_bao.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size:100% 100%;
	-webkit-animation-name: pcon-ing;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
}
.pop-kj{
	top:28%;
	height:44%;
	background-image: url('../images/lottery_bg.png');
}
.pop-redbao p{
	position:absolute;
	top:50%;
	width:100%;
	text-align:center;
	font-size:21px;
	font-weight:bold;
	color:#feea00;
}
.pop-kj h2{
	margin:20px 10px 0;
	text-align:center;
	font-size:14px;
	text-overflow:ellipsis;
    white-space:nowrap;
	overflow:hidden;
	color:#fff;
}
.pop-kj p{
	display:block;
	width:80%;
	height:35%;
	margin:15px auto 0;
	text-align:center;
	background-repeat: no-repeat;
	background-position: top center;
	background-size:contain;
}
.pop-kj p.none{
	display:none;
}
.pop-kj h3{
	margin:5px 0 0;
	text-align:center;
	font-size:12px;
	color:#eac709;
}
.pop-kj h4,
.pop-kj h6{
	margin:10% 0 0;
	text-align:center;
	font-weight:bold;
	font-size:18px;
	color:#fff;
}
.pop-kj h5{
	line-height:20px;
	margin:8% 15px 0;
	text-align:center;
	font-size:14px;
	color:#eac709;
}
.pop-kj h6{
	color:#fae500;
}
a.btn-a,
a.btn-b{
	position:absolute;
	bottom:12%;
	left:25%;
	width:50%;
	height:40px;
	line-height:40px;
	margin:0 auto;
	border-radius:20px;
	background:#ffeb08;
	text-align:center;
	box-shadow:0 0 3px #b40000;
	text-decoration:none;
	font-size:18px;
	font-weight:bold;
	color:#e7000b;
}
a.btn-b{
	bottom:8%;
	height:38px;
	line-height:38px;
	font-size:18px;
}
a.btn-a:active,
a.btn-b:active{
	background:#dfb800;
}
a.xzq-tg{
	position:relative;
	display:block;
	margin:8% 0 0;
	text-align:center;
	font-size:14px;
	color:#eac709;
}
@media screen and (min-device-height :480px) and (max-device-height :499px) and (orientation :portrait) and (-webkit-min-device-pixel-ratio:2) {
.pop-kj{
	height:40%;
}
.pop-kj p{
	margin:10px auto 0;
}
.pop-kj h5{
	font-size:12px;
}
}
a.p-close{
	display:block;
	position:absolute;
	top:8px;
	right:8px;
	width:18px;
	height:18px;
	background-image: url('../images/close.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size:90%;
	text-decoration:none;
	z-index:999
}
.ruel-pop:before{
	content:"";
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
}
.ruel-con{
	position:absolute;
	top:10%;
	left:7%;
	width:86%;
	height:80%;
	padding:8px;
	border-radius:8px;
	background-image: url('../images/tips_bg.jpg');
	background-repeat: repeat;
	background-position: center;
	-webkit-animation-name: pcon-ing;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes pcon-ing {
 0% {
 -webkit-transform:scale(1, 1);
}
 50% {
 -webkit-transform:scale(0.9, 0.9);
}
 100% {
 -webkit-transform:scale(1, 1);
}
}
.ruel-text{
	height:100%;
	padding:10px;
	border-radius:8px;
	background: #ffedf3;
	box-shadow:0 0 4px rgba(200,0,98,0.6);
}
.ruel-text h2{
	height:40px;
	line-height:30px;
	text-align:center;
	font-weight:bold;
	font-size:18px;
	color:#dc0062;
}
.ruel-list{
	height:90%;
	line-height:20px;
	color:#dc0062;
	overflow:hidden;
	overflow-y:auto;
}
a.r-close{
	position:absolute;
	top:15px;
	right:15px;
	width:20px;
	height:20px;
	background-image: url('../images/r-close.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:80%;
}
.jm-tips{
	position:absolute;
	bottom:70px;
	left:13%;
	width:74%;
	height:35px;
	line-height:35px;
	border-radius:15px;
	border:1px #f41582 dashed;
	background:rgba(255,255,255,0.7);
	text-align:center;
	font-size:12px;
	color:#f41582;
}