footer {
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 0;
    left: 0;
    text-align: center;
}

.detail-countdown label {}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    background-size: 100% 100%;
    overflow: hidden;
    background: #000;
}

.fail-bg {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 210px;
    margin-top: -105px;
    overflow: hidden;
    background: url(../images/thank-bg.jpg) no-repeat;
    background-size: 100% 100%;
}
.weizhongjang
{
  margin:30% auto 0px;
  text-align: center;
}
.yao-cool-tips {
    margin-bottom: 20%;
   
    font-weight: bolder;
}
.yao-cool-tips span
{
    background:rgba(0,0,0,0.35);
    color: #fff;
    padding: 5px 25px;
    border-radius: 20px;
}
.btn-back {
    position: absolute;
    display: inline-block;
    width: 26%;
    top: 15px;
    padding: 8px 0;
    border-radius: 20px;
    text-align: center;
    color: #FFF;
    font-weight: bolder;
}

.yao-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #130F38;
}

.main-top {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 1px;
    background: url(../images/bg-lottery-top.jpg) no-repeat bottom center;
    background-size: cover;
    box-sizing: border-box;
    z-index: 1;
    -webkit-transition: -webkit-transform .2s ease;
}

.main-foot {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50%;
    background: url(../images/bg-lottery-bottom.jpg) no-repeat top center;
    background-size: cover;
    box-sizing: border-box;
    z-index: 1;
    -webkit-transition: -webkit-transform .2s ease;
}

.marquee {
    font-size: 13px;
    background: #dd9c34;
    height: 8%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    width: 100%;
}

.marquee ul li {
    color: rgba(255, 255, 255, 0.8);
}


/*倒计时*/

.countdown {
    position: relative;
    font-size: 12px;
    line-height: 34px;
    z-index: 2;
    margin: 10% auto;
    width: 86%;
    height: 34px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    background: #ff8635;
}

.countdown-tip {
    z-index: 2;
    margin-left: -10px;
}

.countdown .detail-countdown {
    z-index: 2;
    /*background-size: 30px auto;*/
    display: inline-block;
    font-weight: bolder;
    color: #fff;
}

.countdown .yao-hand {
    position: relative;
    height: 50px;
    width: 55px;
    border-radius: 100%;
    margin-top: -10px;
    margin-left: -2px;
    float: left;
}
.top-btn
{
  position: relative;
  width:100%;
  height:60px;
}
.yao-theme
{
    max-width: 70%;
    margin-left: 15%;
}
.prize-show {
    max-height: 90px;
    width: 26%;
    /*background: -webkit-linear-gradient(215deg, #1582F9 0%, #0C3D9A 100%);*/
    color: #fff;
    float: right;
    text-align: center;
    right: 0px;
    position: absolute;
    top: 20px;
    padding: 2px 0px;
}
.info-box
{
  position: relative;
  text-align: left;
  color:#d86103;
  padding-left:10px;
  font-weight: bolder;
  margin:4px 0px 10px;
}
.test {
    height: 90px;
    width: 28px;
    background: -webkit-linear-gradient(top, #1582F9 0%, #0C3D9A 100%);
    color: #fff;
    float: left;
    text-align: center;
    left: 10px;
    position: relative;
    z-index: 1000;
}
#tttj {
    top: 26px;
    position: absolute;
    display: inline-block;
    z-index: 9;
    text-align: center;
    left: 42%;
    text-align: center;
}
#tttj img {
    display: inline-block;
    width: 16px;
    margin: 0 auto;
}
#tttj span{
    display: inline-block;
    color: red;
    font-size: 13px;
    font-weight: bolder;
}

/*倒计时红包动画*/

.wobble {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-animation: 3s waggle;
    animation: 3s waggle;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-delay: -1;
    animation-delay: -1;
}

@-webkit-keyframes waggle {
    0%, 7% {
        transform: rotateZ(0);
        -webkit-transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
        -webkit-transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
        -webkit-transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
        -webkit-transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
        -webkit-transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
        -webkit-transform: rotateZ(0);
    }
}


/* iPhone4 */

@media screen and (min-device-width: 320px) and (max-device-height: 500px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .prize-show
    {
        width:20%;
        top:21px;
    }
    .btn-back
    {
        width:20%;
        top:15px;
    }
    .info-box
    {
        margin:0px;
    }
    .count
    {
        font-size: 14px;
    }
    .top-btn
    {
      height:50px;
    }
    #tttj {
        top:22px;
    }
    .yao-theme {
        max-width: 50%;
        margin-left: 25%;
    }
}

.none-tips {
    opacity: 0;
    animation-name: nonetips;
    -webkit-animation-name: nonetips;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    display: block;
}

@keyframes nonetips {
    0% {
        transform: translate(-10px, 0px);
        opacity: 0;
    }
    20% {
        transform: translate(10px, 0px);
        opacity: 1;
    }
    40% {
        transform: translate(-10px, 0px);
        opacity: 1;
    }
    60% {
        transform: translate(10px, 0px);
        opacity: 1;
    }
    80% {
        transform: translate(-10px, 0px);
        opacity: 1;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

@-webkit-keyframes nonetips {
    0% {
        -webkit-transform: translate(-10px, 0px);
        opacity: 0;
    }
    20% {
        -webkit-transform: translate(10px, 0px);
        opacity: 1;
    }
    40% {
        -webkit-transform: translate(-10px, 0px);
        opacity: 1;
    }
    60% {
        -webkit-transform: translate(10px, 0px);
        opacity: 1;
    }
    80% {
        -webkit-transform: translate(-10px, 0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        opacity: 1;
    }
}

@media screen and (min-device-width: 320px) and (min-device-height: 500px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    
    .top-btn
    {
        height:54px;
    }
}
@media screen and (min-device-width: 320px) and (min-device-height: 500px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    
   .info-box
   {
    margin:2px 0px 4px;
   }
}

/*iphone4*/
@media screen and (min-device-width: 320px) and (max-device-height: 500px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    
   .yao-cool-tips {
        margin-bottom: 12%;
   }

}

/* luo */

@media screen and (min-device-width: 1000px) and (min-device-height: 1000px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {

}