.vote{
	background: url("../images/vote-bg.jpg") 0 0 no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width:100%;
}
.page-top{
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	background: url(../images/page-top.jpg) 0 0 no-repeat;
	background-size: 100% 100%;
	z-index: 9999;
	padding-bottom: 5px;
	text-align: center;
}
.vote .border{
	background: url("../images/border-bg.png") 0 0 no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width:100%;
}
.countdown{
	color: #23c2e0;
	font-size: 16px;
	width: 100%;
	text-align: center;
	text-shadow: 0px 1px 0px #fff;
	z-index: 9;
	margin-top: 15px;
}
.countdown .countdown-tip{
	line-height: 30px;
}
.countdown .detail-countdown label{
	display: inline-block;
	padding: 6px 8px;
	background: url(../images/icon-num-bg.png) no-repeat;
	background-size: 100% 100%;
	margin: 0 1px;
	color: #fff;
	text-shadow: none;
}
.vote-num{
	position: absolute;
	top: 10%;
	left: 10%;
}
.vote-num .tip{
	background-color: rgba(247,79,253,.5);
	color: #fff;
	padding: 2px 8px;
	border-radius: 5px;
	transform: skewX(-10deg);
}
.vote-num .num{
	text-align: center;
	color: #da08cd;
	padding-top: 3px;
	font-size: 20px;
	transform: skewX(-10deg);
}
.comments{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.comments .inp{
	width: 100%;
	margin-bottom: 4%;
}
.comments .inp input{
	width: 66%;
	margin-left: 10%;
	line-height: 2.5em;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 0px 9px #969696;
	padding: 0 10px;
}
.comments .inp a{
	background: -webkit-gradient(linear,left top,left bottom,from(#fd93f6),to(#ab11a1));
	line-height: 2.5em;
	display: inline-block;
	padding: 0 8px;
	border-radius: 5px;
	color: #fff;
}
.comments ul{
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 1%;
	overflow: hidden;
}
.comments ul li{
	display: block;
}
.comments ul li div{
	display: inline-block;
	background-color: #fff;
	margin: 1px auto;
	border-radius: 5px;
	padding: 6px;
	word-break: break-all;
}
/*.comments ul li:nth-child(1){*/
	/*opacity: .2;*/
/*}*/
/*.comments ul li:nth-child(2){*/
	/*opacity: .4;*/
/*}*/
/*.comments ul li:nth-child(3){*/
	/*opacity: .6;*/
/*}*/
/*.comments ul li:nth-child(4){*/
	/*opacity: .8;*/
/*}*/
/*.comments ul li:nth-child(5){*/
	/*opacity: 1;*/
/*}*/
.comments ul li .ni{
	font-size: 16px;
}
.comments ul li .con{
	font-size: 14px;
}
.pink{
	background-color: #f37df3!important;
}
.pink .ni{
	color: #ffff7f;
}
.pink .con{
	color: #c72025;
}
.green{
	background-color: #84f384!important;
}
.green .ni{
	color: #1a911a;
}
.green .con{
	color: #e04e61;
}
.blue{
	background-color: #56bcff!important;
}
.blue .ni{
	color: #076eb1;
}
.blue .con{
	color: #ffffff;
}
.red{
	background-color: #fb5479!important;
}
.red .ni{
	color: #6d0111;
}
.red .con{
	color: #ffffff;
}
.brown{
	background-color: #d9b57b!important;
}
.brown .ni{
	color: #291020;
}
.brown .con{
	color: #a97c4a;
}
.heart1{
	background: url("../images/icon-hart1.png") 0 0 no-repeat;
	background-size: 100% 100%;
	width: 9%;
	height: 33px;
	position: absolute;
	bottom: 12%;
	right: 17%;
	opacity:0;
}
.heart2{
	background: url("../images/icon-hart2.png") 0 0 no-repeat;
	background-size: 100% 100%;
	width: 9%;
	height: 33px;
	position: absolute;
	bottom: 12%;
	right: 17%;
	opacity:0;
}
.heart3{
	background: url("../images/icon-hart3.png") 0 0 no-repeat;
	background-size: 100% 100%;
	width: 9%;
	height: 30px;
	position: absolute;
	bottom: 12%;
	right: 17%;
	opacity:0;
}
.heart4{
	background: url("../images/icon-hart4.png") 0 0 no-repeat;
	background-size: 100% 100%;
	width: 6%;
	height: 20px;
	position: absolute;
	bottom: 13%;
	right: 16%;
	opacity:0;
}
.heart5{
	background: url("../images/icon-hart2.png") 0 0 no-repeat;
	background-size: 100% 100%;
	width: 6%;
	height: 23px;
	position: absolute;
	bottom: 13%;
	right: 16%;
	opacity:0;
}
.heart6{
	background: url("../images/icon-hart1.png") 0 0 no-repeat;
	background-size: 100% 100%;
	width: 6%;
	height: 23px;
	position: absolute;
	bottom: 13%;
	right: 16%;
	opacity:0;
}
.f1{
	animation-name:f1;
	-webkit-animation-name:f1;
	animation-duration: 3s;
	-webkit-animation-duration: 3s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-iteration-count:1;
	-webkit-animation-iteration-count:1;
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
}
.f2{
	animation-name:f2;
	-webkit-animation-name:f2;
	animation-duration: 3s;
	-webkit-animation-duration: 3s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-iteration-count:1;
	-webkit-animation-iteration-count:1;
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
}
.f3{
	animation-name:f3;
	-webkit-animation-name:f3;
	animation-duration: 3s;
	-webkit-animation-duration: 3s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-iteration-count:1;
	-webkit-animation-iteration-count:1;
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
}
.f4{
	animation-name:f4;
	-webkit-animation-name:f4;
	animation-duration: 3s;
	-webkit-animation-duration: 3s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-iteration-count:1;
	-webkit-animation-iteration-count:1;
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes f1 {
	0%{
		opacity: 1;-webkit-transform: translate(10px,-10px);
	}
	25%{
		opacity: 1;-webkit-transform: translate(30px,-80px);
	}
	50%{
		-webkit-transform: translate(50px,-160px);
	}
	75%{
		-webkit-transform: translate(20px,-240px);
	}
	100% {
		opacity: 0;-webkit-transform: translate(10px,-320px);
	}
}
@-webkit-keyframes f2 {
	0%{
		opacity: 1;-webkit-transform: translate(-10px,-0px);
	}
	20%{
		opacity: 1;-webkit-transform: translate(-20px,-100px);
	}
	40%{
		-webkit-transform: translate(-20px,-160px);
	}
	60%{
		-webkit-transform: translate(-10px,-200px);
	}
	80% {
		-webkit-transform: translate(-10px,-320px);
	}
	100% {
		opacity: 0;-webkit-transform: translate(0px,-380px);
	}
}
@-webkit-keyframes f3 {
	0%{
		opacity: 1;-webkit-transform: translate(0px,-10px);
	}
	25%{
		opacity: 1;-webkit-transform: translate(10px,-80px);
	}
	50%{
		-webkit-transform: translate(0px,-150px);
	}
	75%{
		-webkit-transform: translate(-10px,-220px);
	}
	100% {
		opacity: 0;-webkit-transform: translate(0px,-290px);
	}
}
@-webkit-keyframes f4 {
	0%{
		opacity: 1;-webkit-transform: translate(0px,-0px);
	}
	20%{
		opacity: 1;-webkit-transform: translate(10px,-60px);
	}
	40%{
		-webkit-transform: translate(0px,-120px);
	}
	60%{
		-webkit-transform: translate(-10px,-180px);
	}
	80% {
		-webkit-transform: translate(0,-240px);
	}
	100% {
		opacity: 0;-webkit-transform: translate(5px,-300px);
	}
}
.swiper-container{
	width: 80%;
	margin: auto;
	position: absolute;
	z-index: 999;
	top: 21%;
	left: 10%;
	border: 2px solid #fff;
	border-radius: 2px;
	box-shadow: 0 0 15px 5px #840680;
}
.swiper-container .swiper-slide img{
	display: block;
}
.swiper-pagination-bullet-active {
	opacity: 1;
	background: #fff;
}
.swiper-button-prev{
	background-image: url('../images/swiper-button-prev.png');
}
.swiper-button-next{
	background-image: url('../images/swiper-button-next.png');
}
.apply-btn{
	display: inline-block;
	color: #fff;
	background: linear-gradient(to bottom,#fc91f5,#ae16a5);
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 14px;
	margin: 5px 0 0 25%;
}
.tolottery-btn{
	display: inline-block;
	color: #fff;
	background: linear-gradient(to bottom,#fc91f5,#ae16a5);
	padding: 5px 20px;
	border-radius: 5px;
	font-size: 14px;
}
.guess-btn{
	display: block;
	position: absolute;
	color: #fff;
	border-radius: 20px;
	border: 2px solid #fff;
	top: 11%;
	left: 35%;
	padding: 5px 20px;
	font-size: 14px;
	background-color: rgba(218,8,205,.3);
	box-shadow: inset 0 0 15px 5px #840680,0 0 15px 5px #840680;
}
.voted{
	color: #7c637a!important;
	border: 2px solid #7c637a!important;
}
.waiting{
	color: #7c637a!important;
	border: 2px solid #7c637a!important;
}
.over{
	color: #7c637a!important;
	border: 2px solid #7c637a!important;
}
.vote-countdown{
	position: absolute;
	display: block;
	width: 100%;
	color: #fff;
	text-align: center;
	top: 49%;
	z-index: 9999;
}
/* iPhone4 */
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {

}