
.coffee-flow {
	display: block;
	width: 100%;
	padding-left: 24%;
	/* margin-right: 10px; */
}

.coffee-flow strong {
	display: block;
	height: 44px;
	line-height: 44px;
	vertical-align: middle;
}

.coffee-flow strong {
	font-size: 20px;
	color: #000;
	opacity: 1;
	position: absolute;
	right: 8px;
	top: 70px;
	text-align: right;
}

.coffee-flow .audio-icon {
	display: block;
	width: 42%;
	background: url(../images/icon-audio.png) no-repeat left center;
	background-size: 100%;
	position: absolute;
	text-align: right;
}
.audio-icon span{
	  font-size: 14px;
      color: #666666;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      right: 6px;
      top :50%;
      margin-top: -10px;
      
}
.coffee-flow .audio-icon.animated {
	-webkit-animation: reverseRotataZ 1.2s linear infinite;
}

@-webkit-keyframes reverseRotataZ { 
	0%{
		-webkit-transform: rotateZ(0deg);
	}
	100%{
		-webkit-transform :rotateZ(-360deg);
	}
}

.coffee-flow strong.hide {
	opacity: 0;
}

.coffee-flow strong.animated {
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.coffee-steam-box {
	left: 30% !important;
	top: -125px !important;
}

.coffee-steam img {
	width: 22px !important;
}
/*self*/
@media screen and (min-device-width:320px) and (min-device-height:860px) {
	.audio-icon span{
      margin-top: -6px;
	}
}
/*dai*/
@media screen and (min-device-width:1000px) and (min-device-height:1000px) {
	.audio-icon span{
      	margin-top: -6px;
	}
}