body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 { 
	font-family: 'Microsoft YaHei','宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
a,a:focus {
	outline: 0 none;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.ellipsis {
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
}
.noscroll {
	overflow: hidden !important;
}
.none {
	display: none !important;
}
.hidden {
	visibility: hidden !important;
}
.hide {
	opacity: 0 !important;
}
.zlow {
	z-index: -1 !important;
}
.btn-red {
	display: block;
	width: 66%;
	height: 50px;
	line-height: 50px;
	background: #EE1B2E;
	border-radius: 30px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
.btn-back {
    display: block;
    width: 66%;
    height: 50px;
    line-height: 50px;
    background: #EE1B2E;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 40px auto 20px;
}
.btn-back:hover {
	background: #cf1022;
}
.btn-back-simple {
    display: block;
    height: 43px;
    line-height: 43px;
    border-radius: 10px;
    color: #ff0000;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 18px auto 20px;
    background: none;
}
.btn-back-simple:hover {
    text-decoration: underline;
}

.btn-loadmore {
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 18px;
	display: block;
	border-radius: 30px;
	margin-top: 20px;
	text-align: center;
	margin: 20px auto 10px;
	border: 1px solid #D2CCC7;
	width: 66%;
	background: #EE1B2E;
}
.btn-loadmore:hover {
    background: #cf1022;
	
}
.btn-loadmore i {
	visibility: hidden;
}
.btn-loadmore.loading i {
	visibility: visible;
	display: inline-block;
	vertical-align: middle;
	background: url(http://yao.holdfun.cn/portal/resources/news/images/loading.png) no-repeat 0 -1px;
	background-size: 15px auto;
	width: 15px;
	height: 16px;
	margin-right: 6px;
	-webkit-animation-name: loading;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes loading {
	0%   {-webkit-transform: rotate3d(0, 0, 1, 0deg);}
	100%   {-webkit-transform:rotate3d(0, 0, 1, 360deg);}
}

.share_box {
	width: 100%;
	height: 100%;
	position: fixed;
	background: url(http://yao.holdfun.cn/portal/resources/news/images/sharebg.png) no-repeat right 4px rgba(0,0,0,0.5);
	z-index: 9999999;
	background-size: 320px auto;
	top: 0;
	left: 0;
}
.share_box .back_btn {
	position: absolute;
	left: 10px;
	top: auto;
	bottom: 5px;
	border: 0;
	width: 31px;
	height: 31px;
	background: url(http://yao.holdfun.cn/portal/resources/news/images/back.png) no-repeat center center;
	display: block;
}
.share_box .refresh_btn {
	width: 31px;
	height: 31px;
	background: url(http://yao.holdfun.cn/portal/resources/news/images/ref.png) no-repeat center center;
	display: block;
	position: absolute;
	top: auto;
	right: 10px;
	bottom: 5px;
}

.spinner {
	position: absolute;
	max-width: 360px;
	margin: 0 auto;
	text-align: center;
	z-index: 1000;
}
.spinner .spinner-wrapper {
	width: 50px;
	height: 50px;
	position: relative;
	margin: 0 auto;
}
 
.container1 > div, .container2 > div, .container3 > div {
  width: 10px;
  height: 10px;
  background-color: #999;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
 
.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
 
.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
 
.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }
 
.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
 
.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
 
.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
 
.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
 
.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
 
.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
 
.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
 
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
	0%, 80%, 100% { 
    	transform: scale(0.0);
    	-webkit-transform: scale(0.0);
  	} 
  	40% { 
    	transform: scale(1.0);
    	-webkit-transform: scale(1.0);
  	}
}

.spinner-loading {
	height: 20px;
	width: 20px;
	margin: 0px auto;
	position: relative;
	-webkit-animation: loading-rotation 1s infinite linear;
	animation: loading-rotation 1s infinite linear;
	border-left: 4px solid rgba(243, 81, 114, 0.15);
	border-right: 4px solid rgba(243, 81, 114, 0.15);
	border-bottom: 4px solid rgba(243, 81, 114, 0.15);
	border-top: 4px solid rgba(239, 0, 48, 0.8);
	border-radius: 100%;
}

@-webkit-keyframes loading-rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@keyframes loading-rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

.copyright {
	font-size: 10px;
	position: relative;
	color: #fff;
	height: 20px;
	line-height: 20px;
	bottom: 0px;
	opacity: 0.6;
	text-align: center;
	clear: both;
	width: 100%;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	width: 125px;
	height: 38px;
	line-height: 38px;
	border-radius: 38px;
	background: #FF3535;
	color: #fff;
	font-size: 16px;
	text-align: center;
}
.btn.btn-disabled {
	background: #787878;
}

.main {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background: url(http://cdn.holdfun.cn/cctv/images/bg.jpg) no-repeat center center;  
	background-size: cover;
	overflow: hidden;
}
.main:before {
	content: '';
	background: url(../images/logo-humor.png) no-repeat 0 0;
	background-size: 90px auto;
	width: 140px;
	height: 75px;
	position: absolute;
	left: -2px;
	top: 2px;
	display: inline-block;
	vertical-align: middle;
}
.ui-outer-top, .ui-inner-top {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 100;
}
.logo-tv {
	background: url(../images/logo.png) no-repeat 0 0;
	background-size: 80px auto;
	
	width: 80px;
	height: 22px;
	position: absolute;
	left: 13px;
	top: 18px;
	display: inline-block;
	vertical-align: middle;
}

.ui-audio {
	position: absolute;
	top: -15px;
	right: 2px;
	width: 50px;
	height: 70px;
	z-index: 200;
	-webkit-transform: scale(0.5);
}

.btn-audio {
	width: 50px;
	padding-top: 29px;
	height: 60px;
	margin-right: 10px;
}

.btn-audio strong,.btn-audio .audio-icon {
	display: block;
	height: 44px;
	line-height: 44px;
	vertical-align: middle;
}

.btn-audio strong {
	font-size: 20px;
	color: #fff;
	opacity: 1;
	position: absolute;
	right: 8px;
	top: 70px;
	text-align: right;
}

.btn-audio .audio-icon {
	width: 44px;
	height: 44px;
	background-size: 44px;
	position: absolute;
}
.btn-audio .audio-icon.animated {
	-webkit-animation: reverseRotataZ 1.2s linear infinite;
}

@-webkit-keyframes reverseRotataZ { 
	0%{
		-webkit-transform: rotateZ(0deg);
	}
	100%{
		-webkit-transform :rotateZ(-360deg);
	}
}

.btn-audio strong.hide {
	opacity: 0;
}

.btn-audio strong.animated {
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.coffee-steam-box {
	left: 4px !important;
	top: -95px !important;
}

.coffee-steam img {
	width: 22px !important;
}

/** 视频块 */
.movie {
	background: #7D1718;
    margin-top: 10px;
    
	padding: 6px 6px;
}
.movie .cover {
    /* background: url(http://cdn.holdfun.cn/ahtvcomedian/images/material/bg-movie.jpg) no-repeat 0 0; 
    background-size: cover;*/
    width: 40%;
    height: 78px;
    text-align: center;
    position: relative;
    background: #371113 url(../images/logo-humor.png) no-repeat center 0px;
    background-size: 100px auto;
}
.movie .cover:before {
    background-size: 40px auto;
    margin-left: -20px;
    margin-top: -20px;
}
.movie .cover:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	background: url(../images/icon-player.png) no-repeat 0 0;
	background-size: 38px auto;
	width: 38px;
	height: 38px;
	position: relative;
	z-index: 1;
	display: none;
}
.movie .cover img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
}
.movie .content {
    margin-left: 40%;
	
    margin-top: -80px;
    height: 80px;
    padding-left: 8px;
    position: relative;
    color: #fff;
    overflow: hidden;
}
.movie h3 {
    font-size: 16px;
	
    margin-left: -2px;
    word-wrap: break-word;
    word-break: break-all;
}
.movie h3 span {
    font-size: 12px;
	
}
.movie p {
    margin-top: 12px;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
}
.movie a {
    position: absolute;
    right: -3px;
    bottom: 4px;
    background: #D76900;
    border-radius: 30px;
    font-size: 9px;
    color: #fff;
    -webkit-transform: scale(0.9);
    padding: 2px 7px;
}


.ctrl .btn {
	
    height: 28px;
    line-height: 28px;
    width: 80px;
    background: #ffb11d;
    font-size: 14px;
}

.border:before, .border:after {
	content: '';
	display: block;
	width: 100%;
	height: 10px;
	background: url(../images/border-top.png) no-repeat 0 0;
	background-size: contain;
}
.border:before, .border-inner:after {
    -webkit-transform: scaleY(-1);      
    transform: scaleY(-1);
}
.border-inner:before {
	-webkit-transform: scaleY(1);      
    transform: scaleY(1);
}

dl.vote-result {
    padding: 3% 10%;
	
}
.vote-result dt {
    color: #f2831a;
	
    font-size: 12px;
    margin-bottom: 7px;
}
.vote-result dd {
    color: #fff;
	
    margin-bottom: 0;
}
.vote-result dd label {
    display: inline-block;
	
    vertical-align: middle;
    width: 35px;
    height: 22px;
    line-height: 22px;
    font-size: 13px;
}
.vote-result dd label:last-child {
	float: right;
	margin-top: -16px;
	margin-left: 10px;
	text-align: right;
	width: 40px;
}
.vote-result dd .cv-progress {
	
    background: rgba(0,0,0,0.45);
    height: 10px;
    margin: -16px 40px 0 35px;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3) inset,0px -1px 1px rgba(0,0,0,0.3) inset;
}
.cv-progress p {
    width: 0px;
	background: #F61919;
	border-radius: 8px;
	height: 100%;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5) inset,0px 1px 0px rgba(0,0,0,0.5) inset,0px -1px 0px rgba(0,0,0,0.6) inset;
}
.cv-progress-dd p {
    background: #FEC000;
	
    width: 0;
}
.cv-progress-tt p {
    background: #6EAD16;
	
    width: 0;
}

.copyright {
	position: absolute;
	bottom: 0px;
	z-index: 0;
	color: #e0140b;
}
