.back_home a{
    font-size: 12px;
    color:#fff;
    float: right;
    margin: 20px 15px auto;
}
.main {
    background: url(../images/bg.jpg) repeat-y;
    background-size: cover;
}
.info{
    margin: 90px 20px 10px;
    font-size: 14px;
}
.home{
    width: 80%;
    display: block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border:1px solid #FF3535;
    background: transparent;
    margin: 10px auto;
}
.copyright {
    position: relative;
}