/* 通用弹层样式_S */
.modal {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999999999;
    color: #FFF;
    text-align: center;
    overflow: hidden;
    overflow-y: scroll;
}
.modal:after {
    content:'';
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.6);
    z-index:99;
}
.modal-vote:after {
    content:'';
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:transparent;
    z-index:99;
}
.modal .flash-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    -webkit-animation-name: bounceIn;
    -webkit-animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    -webkit-backface-visibility:hidden;
}
.modal .flash-box .icon-flash {
    width: 100%;
    height: 50%;
}
.modal .dialog {
    position: absolute;
    width: 80%;
    height: auto;
    margin-bottom: 50px;
    /*overflow: hidden;*/
    z-index: 999;
}
.modal .dialog .btn-dialog-close {
    display: inline-block;
    position: absolute;
    top: -55px;
    right: 0%;
    width: 30px;
    height: 55px;
    background: url(../images/btn-close.png) no-repeat;
    background-size: 100% 100%;
    z-index: 9999999999;
}
.record-dialog .dialog-close{
    display: inline-block!important;
    position: absolute;
    top: 0%;
    right: -2%;
    width: 40px;
    height: 40px;
    z-index: 9999999999;
    font-size: 25px;
}
.modal .dialog .bg-dialog-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal .dialog .bg-dialog-footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.modal .dialog .global-header {
    position: relative;
    width: 100%;
    font-size: 0;
}
.modal .dialog .global-header .icon-redbag-gold, .modal .dialog .global-header .icon-redbag-prev {
    position: absolute;
    top: 0;
    left: 0;
}
.modal .dialog .global-header .icon-luckytips {
    position: absolute;
    width: 76%;
    top: 8%;
    left: 12%;
}
.modal .dialog .global-header .icon-lottery-yhlogo {
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 9999;
    left: 50%;
    margin-left: -40px;
    bottom: -30px;
    background-color: #ab1921;
    border-radius: 100%;
    padding: 6px;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.modal .dialog .global-header .icon-lottery-denglong {
    position: absolute;
    z-index: 9999;
    top: 70%;
    right: -6%;
    width: 18%;
}
.modal .dialog .dialog-content {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    z-index: 999;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 0;
}
.modal .dialog .dialog-content .info-qrcode {
    font-size: 13px;
    line-height: 16px;
    margin-top: 6px;
    text-align: center;
}
.modal .dialog .dialog-content .icon-congrats {
    width: 86%;
    margin: 0 auto 2%;
}
.modal .dialog .dialog-content .award-luckTips {
    width: 92%;
    margin: 5px auto 1%;
    font-size: 16px;
    overflow: hidden;
    text-align: center;
}
.modal .dialog .dialog-content .award-luckTips img, .modal .dialog .dialog-content .award-img {
    width: 100%;
    margin: 0% auto 0;
}
.modal .dialog .dialog-content .award-nameTips {
    width: 80%;
    margin: 0 auto 2%;
    font-size: 20px;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
}
.modal .dialog .dialog-content .award-keyTips {
    width: 100%;
    margin: 0 auto 2%;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    color: red;
    padding-left: 6%;
}
.modal .dialog .dialog-content .input-box {
    width: 100%;
    font-size: 12px;
    color: #FFF;
    margin-bottom: 3%;
}
.modal .dialog .dialog-content .input-box .label {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin-right: 5px;
    vertical-align: middle;
}
.modal .dialog .dialog-content .input-box p {
    width: 100%;
    margin: 6px 0 0;
}
.modal .dialog .dialog-content .input-box span {
    display: inline-block;
    color: #666666;
}
.modal .dialog .dialog-content .input-box input {
    display: inline-block;
    width: 70%;
    padding: 3px 8px;
    line-height: 23px;
    border: 1px solid #cfcfcf;
    box-shadow: 0px 2px 3px #cfcfcf;
    border-radius: 3px;
    font-size: 15px;
    color: #666;
    background-color: #FBFBFB;
}
.modal .dialog .dialog-content .input-box input::-webkit-input-placeholder {
    color: #666 !important;
}
.modal .dialog .dialog-content .info-box {
    text-align: left;
    width: 88%;
    margin: 6% auto 0;
    font-size: 13px;
    line-height: 18px;
    color: #FFF;
}
.modal .dialog .dialog-content .btn-lottery {
    display: inline-block;
    margin: 6% auto 0;
    width: 136px;
    height: 40px;
    line-height: 40px;
    background: url(../images/dialog-bg.png) no-repeat;
    background-size: 100% auto;
    font-size: 16px;
    color: #010822!important;
    text-shadow: 1px 1px 1px #FFF;
}
.modal .dialog .dialog-content .btn-lottery-box {
    width: 100%;
    position: absolute;
    bottom: 16%;
}
.modal .dialog .dialog-content .btn-lottery-box .btn-lottery {
    display: inline-block;
    margin: 0 6px;
}
.modal .dialog .dialog-content .award-img-box {
    position: relative;
    width: 100%;
}
.modal .dialog .dialog-content .award-img-box .award-img {
    position: relative;
    z-index: 2;
}
.modal .dialog .dialog-content .award-img-box .icon-paper {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation-name: paper;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    z-index: 1;
}
.modal .dialog .dialog-content .icon-ok {
    width: 52%;
    margin: 0 auto 1%;
}
.modal .dialog .dialog-content .qrcode-tips {
    font-size: 15px !important;
    color: #FFF !important;
    font-weight: normal !important;
    color: #F5F5F5;
    margin-bottom: 5%;
}
.modal .dialog .dialog-content .qrcode-box {
    position: relative;
    width: 82%;
    margin: 0 auto 5%;
    padding: 0 0 36px;
    background-color: #FFF;
    overflow: hidden;
}
.modal .dialog .dialog-content .qrcode-box p {
    position: absolute;
    width: 100%;
    height: 36px;
    left: 0;
    bottom: 0;
    font-size: 13px;
    font-weight: bolder;
    color: #6b0001;
    overflow: hidden;
    text-align: center;
    padding: 0 6%;
}
.modal .dialog .dialog-content .dialog-bottom{
    margin-top: -12%;
    float: left;
}
.modal .dialog .dialog-content .dialog-bottom .icon-cw{
    opacity: .5;
    margin-top: -6%;
}
/* 通用弹层样式_E */
.modal .shiwu-dialog .dialog-content{
    overflow: inherit!important;
}
/* 活动规则_S */
#rule-dialog .dialog {
    width: 80% !important;
    height: 66% !important;
    top: 10% !important;
    left: 10% !important;
    min-height: initial !important;
    margin-bottom: 0 !important;
    overflow: visible;
    color: #FFF;
    border-radius: 6px;
}
#rule-dialog .dialog .btn-dialog-close {
    display: block !important;
    position: absolute;
    top: 12px;
    right: 8px;
    display: inline-block;
    width: 38px;
    height: 38px;
    background: url(../images/btn-rule-close.png) no-repeat;
    background-size: 100% 100%;
    z-index: 9999999999;
}
#rule-dialog .dialog .dialog-content {
    width: 100%;
    height: 100%;
    background: url(../images/bg-dialog-body.png) no-repeat center center;
    background-size: 100% 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0 5%;
    margin: 0 auto;
    overflow: hidden;
    color: #FFF;
}
#rule-dialog .dialog .dialog-content .icon-rule {
    width: 50%;
    margin: 0 auto;
}
#rule-dialog .dialog .dialog-content h1 {
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    line-height: 26px;
    padding: 5px 0;
    border-bottom: 1px solid #FFF;
}
#rule-dialog .dialog .dialog-content .rule-content {
    width: 100%;
    height: 92%;
    margin-top: 5%;
    padding: 0 4%;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    overflow-y: scroll;
    word-break: break-all;
    text-align: left;
}
#rule-dialog .dialog .dialog-content .rule-content * {
    color: #FFF !important;
    font-size: 14px !important;
    line-height: 20px !important;
}
/* 活动规则_E */
#link-dialog .dialog .dialog-content .award-luckTips {
    margin: 5px auto 3%;
}
#link-dialog .dialog .dialog-content .award-keyTips {
    margin: 2% auto;
}
#thanks-dialog .dialog .global-header .icon-lottery-yhlogo {
    bottom: 10%;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}
#thanks-dialog .dialog .dialog-content .tips-thanks {
    width: 82%;
    margin: 0 auto;
}
#thanks-dialog .dialog .dialog-content .icon-qrcode {
    width: 60%;
    margin: 5% auto 0;
}

.vote .dialog .global-header .icon-lottery-yhlogo {
    bottom: -56px;
}
.vote .dialog .dialog-content {
    padding-top: 65px;
}
.vote .dialog .dialog-content .award-keyTips {
    margin: 6% auto 2%;
}
.record-dialog{
    background: url(../images/record-dialog-bg.png) 0 0 no-repeat;
    background-size: cover;
    background-color: #9d0100;
}
.record-dialog .record-content{
}
.record-dialog .record-content .lucky-tips{
    width: 55%;
    margin: -8% auto 0%;
}
.record-dialog .record-content .icon-cw{
    opacity: .5;
    width: 95%;
    margin: 0 auto;
}
.record-dialog .record-content .record-table{
    display: block;
    margin: 3% auto 0;
    width: 90%;
    border-top: 2px solid #fff;
}
.record-dialog .record-content .record-list{
    height: 180px;
    overflow: scroll;
}
.record-dialog .record-content .record-table span{
    display: inline-block;
}
.record-dialog .record-content .header{
    font-size: 18px;
    margin: 7px auto 0;
    border-bottom: 1px solid #fff;
    border-bottom-color: rgba(255,255,255,.5);
    padding-bottom: 7px;

}
.record-dialog .record-content .content-tr{
    border-bottom: 1px dotted #fff;
    border-bottom-color: rgba(255,255,255,.5);
    padding: 10px;
}
.record-dialog .record-content .record-table .t-head{
    width: 30%;
    text-align: center;
    display: inline-block;
}
.record-dialog .record-content .record-table .t-nickname{
    width: 30%;
    text-align: center;
    display: inline-block;
}
.record-dialog .record-content .record-table .t-prize{
    width: 40%;
    text-align: center;
    display: inline-block;
}
.record-dialog .record-content .record-table .head{
    width: 30%;
}
.record-dialog .record-content .record-table .head img{
    display: inline-block;
    width: 60%;
    border-radius: 30px;
    border: 2px solid #fff;
    vertical-align: middle;
}
.record-dialog .record-content .record-table .nickname{
    width: 30%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}
.record-dialog .record-content .record-table .prize{
    width: 40%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .modal .dialog .dialog-content .award-luckTips img, .modal .dialog .dialog-content .award-img {
        width: 72%;
        margin: 0 auto;
    }
    .modal .dialog .dialog-content .input-box p {
        margin: 5px 0 0;
    }
    .modal .dialog .dialog-content .input-box input {
        display: inline-block;
        width: 70%;
        padding: 2px 8px;
        line-height: 20px;
        border: 0 none;
        border-radius: 3px;
        font-size: 13px;
        color: #666;
        background-color: #FBFBFB;
    }
    #shiwu-dialog .dialog {
        top: 15px !important;
    }
    #link-dialog .dialog {
        top: 40px !important;
    }
    #redbag-dialog .dialog {
        top: 30px !important;
    }
}
@media screen
and (min-device-width : 1000px)
and (max-device-height : 1000px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .record-dialog .record-content .record-list{
        height: 200px;
        overflow: scroll;
    }
}
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    /*iphone 6*/
    .record-dialog .record-content .record-list{
        height: 215px;
    }
}
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    /*iphone 6 plus*/
    .record-dialog .record-content .record-list{
        height: 215px;
    }
}