/*公共样式S*/
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  z-index: 9999;
  overflow-y: auto;
}
.modal .btn-close {
	position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    z-index: 10000;
    top:0px;
    right:0px;
	border-radius: 50%;
}
.dialog {
  position: absolute;
  color: #D6305A;
  padding:0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;

}
.dialog-assist {
	padding:8% 7%;
	width: 100%;
	height: auto;
	background: url(../images/icon-wd.jpg) no-repeat center;
	background-size: 100% 100%;
}
.dialog .btn-dia {
	display: block;
	width: 44%;
	height: 32px;
	line-height: 32px;
	margin: 6px auto 0;
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 28%;
	background-color: #bb6800;
	border-radius: 20px;
	color: #fff;
	z-index: 9999;
	font-size: 13px;
}
.dialog .btn-dia img{
	display: inline-block;
	width: auto;
	height: 100%;
}
/*公共样式E*/
.dialog-assist img{
	display: block;
	width: 100%;
}

/*谢谢参与弹层S*/
.thank-dialog {
	position: absolute;
	color:#fff;
	width: 82%;
	height: 60%;
	left: 9%;
	top : 20%;
	padding: 3%;
}
.thank-dialog h1 {
	text-align:center;
	width: 100%;
	padding: 10px 20px;
	
}
.thank-dialog h1 img{
	display: block;
	width: 100%;
}
.thank-dialog .dialog-assist{
	width: 100%;
	padding:6% 4%;
}
.thank-dialog .dialog-assist img{
	display: block;
	width: 68%;
	margin: 0 auto 6px;
}
.thank-dialog p{
	color: #ffffff;
	font-size: 12px;
	text-align: center;
}
.thank-dialog .btn-close{
	top: 0px;
    right: 0px;
}
.thank-dialog .btn-crm {
	display: block;
	color: #fff;
	width: 50%;
	height: 36px;
	line-height: 34px;
	margin: 10px auto 0;
	text-align: center;
	border: 1px solid #c8a75d;
	border-radius: 16px;
}

/*谢谢参与弹层E*/
/*规则弹层S*/
#rule-dialog .dialog-assist{
	height: 84%;
	width: 100%;
	overflow: hidden;
}
#rule-dialog .rule-content{
	width: 100%;
	height: 100%;
	background: url(../images/rule-bg.jpg) no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
	padding: 6% 6% 8%;
}
#rule-dialog .rule{
	width: 100%;
	height: 100%;
	color: #b29a7e;
	overflow-y: auto;	
}
/*规则弹层E*/
/*中奖弹层S*/
.lottery-dialog{
	overflow-x: hidden;
	overflow-y: auto;
}
.lott-title{
	width: 60%;
	margin: 0 auto;
	padding: 0 0 14px;
}

.dialog-assist .award-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
  

}
.dialog-assist .award-img img {
   display: block;
   
}
.dialog-assist .contact {
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 5%;
  padding-bottom: 48px;
  z-index: 9999;
  text-align: center;

}
.dialog-assist .contact h4{
	color: #a16614;
	font-size: 12px;
	text-align: left;
}
.dialog-assist .contact p {
	width: 100%;
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    border-radius: 6px;
    margin: 4px auto;
    text-align: left;
}
.dialog-assist .contact input {
	display: inline-block;
	width: 100%;
    height: 28px;
    padding: 2px 10px;
    color: #000;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.9);  ;
    background-size: 100% 100%;
    font-size: 14px;
    border-radius: 4px; 
    border:1px solid #d0ccbc;
    -webkit-appearance: none;
    -webkit-text-fill-color:#000;
    -webkit-opacity:1;
}
.lottery-dialog .contact input:disabled {
    background: rgba(255,255,255,0.4);
    color: #000;
}
 
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #4e4e4e;
}
/*中奖弹层E*/
.dispshow {
  -webkit-animation-name: dispshow;
  -webkit-animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  -webkit-backface-visibility:hidden;
}
.disphide {
  -webkit-animation-name: disphide;
  -webkit-animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  -webkit-backface-visibility:hidden;

}
@-webkit-keyframes dispshow {
    0% {opacity: 1; -webkit-transform: scale(1,0.01)}
    100% {opacity: 1; -webkit-transform: scale(1)}
}
@-webkit-keyframes disphide {
    0% {opacity: 1; -webkit-transform: scale(1)}
    100% {opacity: 1; -webkit-transform: scale(1,0.01)}
}
/* iPhone4 */
@media screen
and (min-device-width:320px)
and (max-device-height:500px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:2) {

}
/* iPhone5 */
@media screen
and (min-device-width : 320px)
and (min-device-height : 500px)
and (max-device-height : 570px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
.dialog {
  padding: 5% 2% 0;
}
.dialog .btn-dia {
    height: 32px;
    line-height: 32px;
    bottom: 4px;
}
.dialog-assist .contact {
    padding-bottom: 38px;
}
}
/* iPhone6 */
@media screen
and (min-device-width : 360px)
and (max-device-width : 667px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
 
}
/* shang 华为---适用分辨率在 1280*720 */
@media screen and (device-width : 720px)
and (device-height : 1280px){
	
}
/* huawei honor-6 */
@media screen and (min-device-width:1000px) and (min-device-height:1000px) {
.dialog {
  padding: 5% 5% 0;
}
.dialog-assist .contact {
  bottom: 36px;
  padding: 0 10px;
}
.dialog-assist .contact input {
    height: 28px;
}
.dialog-assist .contact p {
    margin: 2px auto;
}
.dialog .btn-dia {
    margin: 4px auto 0;
}
}
@media screen and (device-width : 360px) {
	.dialog {
	    padding: 5% 6% 0;
	}
	.dialog-assist .contact {
	  bottom: 36px;
	  padding: 0 10px;
	}
	.dialog-assist .contact input {
	    height: 24px;
	}
	.dialog-assist .contact p {
	    margin: 2px auto;
	}
	.dialog .btn-dia {
	    height: 28px;
	    line-height: 28px;
	    bottom: 6px;
	}
}
/* mi2*/
@media screen
and (min-device-width : 720px)
and (max-device-height : 1280px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
.dialog {
	padding: 0% 3% 0;
}
}
@-webkit-keyframes toggle {
    0% {
        opacity: 1;
    }
    50%{
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}
